<ids-segmented-control [(ngModel)]="selection">
  <ids-segmented-control-item value="list" [label]="'EXAMPLES.SEGMENTED_CONTROL.ICONS.CONTENT.LIST' | translate">
    <ids-icon fontIcon="format-list-bulleted" />
  </ids-segmented-control-item>
  <ids-segmented-control-item value="grid" [label]="'EXAMPLES.SEGMENTED_CONTROL.ICONS.CONTENT.GRID' | translate">
    <ids-icon fontIcon="view-grid" />
  </ids-segmented-control-item>
  <ids-segmented-control-item value="map" [label]="'EXAMPLES.SEGMENTED_CONTROL.ICONS.CONTENT.MAP' | translate">
    <ids-icon fontIcon="map" />
  </ids-segmented-control-item>
</ids-segmented-control>
