<div class="flex flex-col gap-ids-container-gap-16 w-80">
  <div class="flex flex-col gap-ids-container-gap-8">
    <span>{{ "EXAMPLES.SELECT.SIZES.CONTENT.DENSE" | translate }}</span>
    <ids-form-field size="dense">
      <ids-label>{{ "EXAMPLES.SELECT.COMMON.FRUIT" | translate }}</ids-label>
      <ids-select [placeholder]="'EXAMPLES.SELECT.COMMON.PLACEHOLDER' | translate" [(ngModel)]="denseValue">
        <ids-option value="APPLE" [viewValue]="'EXAMPLES.SELECT.FRUITS.APPLE' | translate">
          {{ "EXAMPLES.SELECT.FRUITS.APPLE" | translate }}
        </ids-option>
        <ids-option value="BANANA" [viewValue]="'EXAMPLES.SELECT.FRUITS.BANANA' | translate">
          {{ "EXAMPLES.SELECT.FRUITS.BANANA" | translate }}
        </ids-option>
      </ids-select>
    </ids-form-field>
  </div>

  <div class="flex flex-col gap-ids-container-gap-8">
    <span>{{ "EXAMPLES.SELECT.SIZES.CONTENT.COMPACT" | translate }}</span>
    <ids-form-field size="compact">
      <ids-label>{{ "EXAMPLES.SELECT.COMMON.FRUIT" | translate }}</ids-label>
      <ids-select [placeholder]="'EXAMPLES.SELECT.COMMON.PLACEHOLDER' | translate" [(ngModel)]="compactValue">
        <ids-option value="APPLE" [viewValue]="'EXAMPLES.SELECT.FRUITS.APPLE' | translate">
          {{ "EXAMPLES.SELECT.FRUITS.APPLE" | translate }}
        </ids-option>
        <ids-option value="BANANA" [viewValue]="'EXAMPLES.SELECT.FRUITS.BANANA' | translate">
          {{ "EXAMPLES.SELECT.FRUITS.BANANA" | translate }}
        </ids-option>
      </ids-select>
    </ids-form-field>
  </div>

  <div class="flex flex-col gap-ids-container-gap-8">
    <span>{{ "EXAMPLES.SELECT.SIZES.CONTENT.COMFORTABLE" | translate }}</span>
    <ids-form-field size="comfortable">
      <ids-label>{{ "EXAMPLES.SELECT.COMMON.FRUIT" | translate }}</ids-label>
      <ids-select [placeholder]="'EXAMPLES.SELECT.COMMON.PLACEHOLDER' | translate" [(ngModel)]="comfortableValue">
        <ids-option value="APPLE" [viewValue]="'EXAMPLES.SELECT.FRUITS.APPLE' | translate">
          {{ "EXAMPLES.SELECT.FRUITS.APPLE" | translate }}
        </ids-option>
        <ids-option value="BANANA" [viewValue]="'EXAMPLES.SELECT.FRUITS.BANANA' | translate">
          {{ "EXAMPLES.SELECT.FRUITS.BANANA" | translate }}
        </ids-option>
      </ids-select>
    </ids-form-field>
  </div>

  <div class="flex flex-col gap-ids-container-gap-8">
    <span>{{ "EXAMPLES.SELECT.SIZES.CONTENT.SPACIOUS" | translate }}</span>
    <ids-form-field size="spacious">
      <ids-label>{{ "EXAMPLES.SELECT.COMMON.FRUIT" | translate }}</ids-label>
      <ids-select [placeholder]="'EXAMPLES.SELECT.COMMON.PLACEHOLDER' | translate" [(ngModel)]="spaciousValue">
        <ids-option value="APPLE" [viewValue]="'EXAMPLES.SELECT.FRUITS.APPLE' | translate">
          {{ "EXAMPLES.SELECT.FRUITS.APPLE" | translate }}
        </ids-option>
        <ids-option value="BANANA" [viewValue]="'EXAMPLES.SELECT.FRUITS.BANANA' | translate">
          {{ "EXAMPLES.SELECT.FRUITS.BANANA" | translate }}
        </ids-option>
      </ids-select>
    </ids-form-field>
  </div>
</div>
