<div class="flex flex-col gap-ids-container-gap-16">
  <div class="flex gap-ids-container-gap-24">
    <div idsBadge badgeVariant="primary" badgeLabel="8">Inbox</div>
    <div idsBadge badgeVariant="secondary" badgeLabel="8">Inbox</div>
    <div idsBadge badgeVariant="brand" badgeLabel="8">Inbox</div>
    <div idsBadge badgeVariant="surface" badgeLabel="8">Inbox</div>
    <div idsBadge badgeVariant="success" badgeLabel="8">Inbox</div>
  </div>
  <div class="flex gap-ids-container-gap-24">
    <div idsBadge badgeVariant="warning" badgeLabel="8">Inbox</div>
    <div idsBadge badgeVariant="error" badgeLabel="8">Inbox</div>
    <div idsBadge badgeVariant="light" badgeLabel="8">Inbox</div>
    <div idsBadge badgeVariant="dark" badgeLabel="8">Inbox</div>
  </div>
</div>
