<div class="ids-paginator__navigation-container">
  <button
    type="button"
    class="ids-paginator__page-link ids-paginator__page-link__arrow first"
    [disabled]="isPreviousLinkDisabled()"
    (click)="stepFirstPage()"
  >
    <ids-icon [icon]="navigationIcon.first" [size]="size()" />
  </button>

  <button
    type="button"
    class="ids-paginator__page-link ids-paginator__page-link__arrow previous"
    [disabled]="isPreviousLinkDisabled()"
    (click)="stepPreviousPage()"
  >
    <ids-icon [icon]="navigationIcon.prev" [size]="size()" />
  </button>

  <div class="ids-paginator__page-link-container">
    @for (pageLink of pageLinks(); track $index) {
      @if (pageLink === "...") {
        <ids-icon class="ids-paginator__page-link__dots" [icon]="navigationIcon.dots" [size]="size()" />
      } @else {
        <button
          type="button"
          class="ids-paginator__page-link"
          [class.active]="+pageLink === pageIndex + 1"
          (click)="stepPage(+pageLink - 1)"
        >
          <span>{{ pageLink }}</span>
        </button>
      }
    }
  </div>

  <button
    type="button"
    class="ids-paginator__page-link ids-paginator__page-link__arrow next"
    [disabled]="isNextLinkDisabled()"
    (click)="stepNextPage()"
  >
    <ids-icon [icon]="navigationIcon.next" [size]="size()" />
  </button>

  <button
    type="button"
    class="ids-paginator__page-link ids-paginator__page-link__arrow last"
    [disabled]="isNextLinkDisabled()"
    (click)="stepLastPage()"
  >
    <ids-icon [icon]="navigationIcon.last" [size]="size()" />
  </button>
</div>

<span class="ids-paginator__help-text">{{ intl.getRangeLabel(pageIndex, safePageSize(), length()) }}</span>
