<div class="ids-paginator__navigation-container">
  <button
    type="button"
    class="ids-paginator__page-button ids-paginator__page-button__arrow first"
    [disabled]="isPreviousButtonDisabled()"
    (click)="stepFirstPage()"
  >
    <ids-icon [icon]="navigationIcon.first" [size]="size()" />
  </button>

  <button
    type="button"
    class="ids-paginator__page-button ids-paginator__page-button__arrow previous"
    [disabled]="isPreviousButtonDisabled()"
    (click)="stepPreviousPage()"
  >
    <ids-icon [icon]="navigationIcon.prev" [size]="size()" />
  </button>

  <div class="ids-paginator__page-button-container">
    @for (pageButton of pageButtons(); track $index) {
      @if (pageButton === "...") {
        <ids-icon class="ids-paginator__page-button__dots" [icon]="navigationIcon.dots" [size]="size()" />
      } @else {
        <button
          type="button"
          class="ids-paginator__page-button"
          [class.active]="+pageButton === pageIndex + 1"
          (click)="stepPage(+pageButton - 1)"
        >
          <span>{{ pageButton }}</span>
        </button>
      }
    }
  </div>

  <button
    type="button"
    class="ids-paginator__page-button ids-paginator__page-button__arrow next"
    [disabled]="isNextButtonDisabled()"
    (click)="stepNextPage()"
  >
    <ids-icon [icon]="navigationIcon.next" [size]="size()" />
  </button>

  <button
    type="button"
    class="ids-paginator__page-button ids-paginator__page-button__arrow last"
    [disabled]="isNextButtonDisabled()"
    (click)="stepLastPage()"
  >
    <ids-icon [icon]="navigationIcon.last" [size]="size()" />
  </button>
</div>

<span class="ids-paginator__help-text">{{ intl.getRangeLabel(pageIndex, safePageSize(), length()) }}</span>
