<nav class="ids-paginator__navigation-container">
  @if (showFirstLastButton()) {
    <button
      type="button"
      class="ids-paginator__page-button-arrow first"
      [class]="pageButtonClasses()"
      [disabled]="isPreviousButtonDisabled()"
      [attr.aria-label]="intl.firstPageAriaLabel"
      (click)="stepFirstPage()"
    >
      <ids-icon fontIcon="chevron-double-left" [size]="size()" />
    </button>
  }

  <button
    type="button"
    class="ids-paginator__page-button-arrow previous"
    [class]="pageButtonClasses()"
    [disabled]="isPreviousButtonDisabled()"
    [attr.aria-label]="intl.previousPageAriaLabel"
    (click)="stepPreviousPage()"
  >
    <ids-icon fontIcon="chevron-left" [size]="size()" />
    @if (showPrevNextLabel() && compactLayout()) {
      <span class="ids-paginator__page-button-arrow__label">{{ intl.previousPageLabel }}</span>
    }
  </button>

  @if (showPageButtons() && !compactLayout()) {
    <ul class="ids-paginator__page-button-container">
      @for (pageButtonLabel of pageButtonLabels(); track pageButtonLabel) {
        <li>
          @if (pageButtonLabel === "tl" || pageButtonLabel === "tr") {
            <button type="button" disabled class="ids-paginator__page-button-truncation" [class]="pageButtonClasses()">
              <ids-icon fontIcon="more-horizontal" [size]="size()" />
            </button>
          } @else {
            <button
              #pageButtonElement
              type="button"
              class="ids-paginator__page-button"
              [id]="pageButtonIdPrefix() + pageButtonLabel"
              [disabled]="disabled()"
              [class]="pageButtonClasses()"
              [class.active]="+pageButtonLabel === _pageIndex() + 1"
              [attr.aria-label]="intl.getPageAriaLabel(pageButtonLabel)"
              [attr.aria-current]="+pageButtonLabel === _pageIndex() + 1 ? 'page' : null"
              (click)="stepPage(+pageButtonLabel - 1)"
            >
              <span>{{ pageButtonLabel }}</span>
            </button>
          }
        </li>
      }
    </ul>
  }

  <button
    type="button"
    class="ids-paginator__page-button-arrow next"
    [class]="pageButtonClasses()"
    [disabled]="isNextButtonDisabled()"
    [attr.aria-label]="intl.nextPageAriaLabel"
    (click)="stepNextPage()"
  >
    @if (showPrevNextLabel() && compactLayout()) {
      <span class="ids-paginator__page-button-arrow__label">{{ intl.nextPageLabel }}</span>
    }
    <ids-icon fontIcon="chevron-right" [size]="size()" />
  </button>

  @if (showFirstLastButton()) {
    <button
      type="button"
      class="ids-paginator__page-button-arrow last"
      [class]="pageButtonClasses()"
      [disabled]="isNextButtonDisabled()"
      [attr.aria-label]="intl.lastPageAriaLabel"
      (click)="stepLastPage()"
    >
      <ids-icon fontIcon="chevron-double-right" [size]="size()" />
    </button>
  }

  <span class="ids-paginator__help-text" [class.sr-only]="!showPageInfo()">{{
    intl.getRangeLabel(_pageIndex(), safePageSizeData().safePageSize, length())
  }}</span>
</nav>
