<div class="ids-radio__input-wrapper">
  <div class="ids-radio__touch-target" (click)="touchTargetClick()"></div>
  <input
    #input
    class="ids-radio__native-control"
    type="radio"
    [id]="inputId()"
    [checked]="selected()"
    [disabled]="isDisabled()"
    [attr.name]="name()"
    [attr.value]="value()"
    [required]="required()"
    [attr.aria-label]="ariaLabel()"
    [attr.aria-labelledby]="ariaLabelledBy()"
    [attr.aria-describedby]="ariaDescribedBy()"
    (change)="onChange()"
  />
  <div class="ids-radio__inner-circle" (click)="innerCircleClick()"></div>
</div>
<label class="ids-radio__label" [for]="inputId()">
  <ng-content />
</label>
