<ids-form-field class="w-80">
  <ids-label>{{ "EXAMPLES.AUTOCOMPLETE.COMMON.FRUIT" | translate }}</ids-label>
  <input
    #autocompleteTrigger="idsAutocompleteTrigger"
    type="text"
    [placeholder]="'EXAMPLES.AUTOCOMPLETE.COMMON.PLACEHOLDER' | translate"
    [idsAutocompleteTriggerFor]="autoComplete"
    (input)="onInput($event)"
  />
  <ids-autocomplete
    #autoComplete="idsAutocomplete"
    [ariaLabelClear]="'EXAMPLES.AUTOCOMPLETE.COMMON.CLEAR' | translate"
    [trigger]="autocompleteTrigger"
    [(ngModel)]="value"
  >
    @if (!canSearch) {
      <ids-autocomplete-hint>
        {{ "EXAMPLES.AUTOCOMPLETE.MIN_CHARS.CONTENT.HINT" | translate: { count: minChars } }}
      </ids-autocomplete-hint>
    } @else if (!filteredOptions.length) {
      <ids-autocomplete-hint>{{ "EXAMPLES.AUTOCOMPLETE.COMMON.NO_RESULTS" | translate }}</ids-autocomplete-hint>
    } @else {
      @for (option of filteredOptions; track option) {
        <ids-option [value]="option" [viewValue]="getFruitLabel(option)">{{ getFruitLabel(option) }}</ids-option>
      }
    }
  </ids-autocomplete>
  <ids-hint-message>
    {{ "EXAMPLES.AUTOCOMPLETE.MIN_CHARS.CONTENT.FIELD_HINT" | translate: { count: minChars } }}
  </ids-hint-message>
</ids-form-field>
