<div class="flex flex-col gap-8 max-w-md w-full">
  <fieldset idsFieldset size="dense" legend="Dense">
    <ids-fieldset-row>
      <ids-form-field>
        <ids-label>{{ "EXAMPLES.FIELDSET.SIZES.CONTENT.LABEL" | translate }}</ids-label>
        <input idsInput [(ngModel)]="label" />
      </ids-form-field>
    </ids-fieldset-row>
  </fieldset>

  <fieldset idsFieldset size="compact" legend="Compact">
    <ids-fieldset-row>
      <ids-form-field>
        <ids-label>{{ "EXAMPLES.FIELDSET.SIZES.CONTENT.LABEL" | translate }}</ids-label>
        <input idsInput [(ngModel)]="label" />
      </ids-form-field>
    </ids-fieldset-row>
  </fieldset>

  <fieldset idsFieldset size="comfortable" legend="Comfortable">
    <ids-fieldset-row>
      <ids-form-field>
        <ids-label>{{ "EXAMPLES.FIELDSET.SIZES.CONTENT.LABEL" | translate }}</ids-label>
        <input idsInput [(ngModel)]="label" />
      </ids-form-field>
    </ids-fieldset-row>
  </fieldset>

  <fieldset idsFieldset size="spacious" legend="Spacious">
    <ids-fieldset-row>
      <ids-form-field>
        <ids-label>{{ "EXAMPLES.FIELDSET.SIZES.CONTENT.LABEL" | translate }}</ids-label>
        <input idsInput [(ngModel)]="label" />
      </ids-form-field>
    </ids-fieldset-row>
  </fieldset>
</div>
