<app-tryout [title]="'COMPONENTS.FIELDSET' | translate" [variant]="model.variant" (resetted)="reset()">
  <ng-container component>
    <fieldset idsFieldset [legend]="model.legend" [size]="model.size" [variant]="model.variant">
      @if (helperModel.showMessage) {
        <span idsFieldsetMessage>This is a fieldset message</span>
      }
      <ids-fieldset-row>
        <ids-form-field>
          <ids-label>First name</ids-label>
          <input idsInput placeholder="E.g Steve" required [(ngModel)]="first" />
          <ids-hint-message>Type your first name</ids-hint-message>
          <ids-error-message>Name is mandatory</ids-error-message>
        </ids-form-field>
      </ids-fieldset-row>

      <ids-fieldset-row>
        <ids-form-field>
          <ids-label>Last name</ids-label>
          <input idsInput placeholder="E.g Smith" required [(ngModel)]="last" />
          <ids-hint-message>Type your last name</ids-hint-message>
          <ids-error-message>Name is mandatory</ids-error-message>
        </ids-form-field>
        <ids-form-field>
          <ids-label>Middle name</ids-label>
          <input idsInput placeholder="E.g Adam" required [(ngModel)]="middle" />
          <ids-hint-message>Type your middle name</ids-hint-message>
          <ids-error-message>Name is mandatory</ids-error-message>
        </ids-form-field>
      </ids-fieldset-row>
    </fieldset>
  </ng-container>

  <app-control-table controls [configType]="'input'" [controlConfig]="_inputControlConfig" [(model)]="model" (resetted)="reset()" />
  <app-control-table controls [configType]="'helper'" [controlConfig]="_helperControlConfig" [(model)]="helperModel" (resetted)="reset()" />
</app-tryout>
