<div class="flex flex-col gap-ids-container-gap-4">
  <ids-checkbox-group [label]="'EXAMPLES.CHECKBOX_GROUP.ORIENTATION.CONTENT.VERTICAL' | translate" orientation="vertical">
    <ids-checkbox [(ngModel)]="vertical.a">{{ "EXAMPLES.CHECKBOX_GROUP.ORIENTATION.CONTENT.OPTION_A" | translate }}</ids-checkbox>
    <ids-checkbox [(ngModel)]="vertical.b">{{ "EXAMPLES.CHECKBOX_GROUP.ORIENTATION.CONTENT.OPTION_B" | translate }}</ids-checkbox>
  </ids-checkbox-group>

  <ids-checkbox-group [label]="'EXAMPLES.CHECKBOX_GROUP.ORIENTATION.CONTENT.HORIZONTAL' | translate" orientation="horizontal">
    <ids-checkbox [(ngModel)]="horizontal.a">{{ "EXAMPLES.CHECKBOX_GROUP.ORIENTATION.CONTENT.OPTION_A" | translate }}</ids-checkbox>
    <ids-checkbox [(ngModel)]="horizontal.b">{{ "EXAMPLES.CHECKBOX_GROUP.ORIENTATION.CONTENT.OPTION_B" | translate }}</ids-checkbox>
  </ids-checkbox-group>
</div>
