<h2>Accordion</h2>
@for (appearance of appearances; track $index) {
  @for (size of sizes; track $index) {
    <details idsAccordion summary="{{ appearance + '-' + size + ' accordion' }}" [appearance]="appearance" [size]="size">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
      since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </details>
  }
}
