@let templateDrivenFieldName = 'FORM_FIELD.LABEL.DATE_TEMPLATE' | translate;
@let modelDrivenFieldName = 'FORM_FIELD.LABEL.DATE_MODEL' | translate;

<app-tryout [title]="'COMPONENTS.DATEPICKER' | translate" (resetted)="reset()">
  <div component class="datepicker-grid">
    <div>
      <ids-form-field [size]="formFieldModel.size" [variant]="'surface'">
        <ids-label>{{ templateDrivenFieldName }}</ids-label>
        <input
          #inputFieldModel="ngModel"
          #datepicker1="idsDatepicker"
          idsInput
          idsDatepicker
          [minDate]="datepickerModel.minDate"
          [maxDate]="datepickerModel.maxDate"
          [view]="datepickerModel.view"
          [(ngModel)]="input"
        />
        <ids-datepicker-trigger idsSuffix [for]="datepicker1" />
        <ids-error-message>
          <ids-error-def code="idsDateFormat">{{ 'FORM_FIELD.ERROR.DATE_FORMAT' | translate: { fieldName: templateDrivenFieldName } }}</ids-error-def>
          <ids-error-def code="idsDateMin">{{ 'FORM_FIELD.ERROR.DATE_MIN' | translate: { fieldName: templateDrivenFieldName } }}</ids-error-def>
          <ids-error-def code="idsDateMax">{{ 'FORM_FIELD.ERROR.DATE_MAX' | translate: { fieldName: templateDrivenFieldName } }}</ids-error-def>
        </ids-error-message>
      </ids-form-field>
    </div>

    <div>
      <ids-form-field [size]="formFieldModel.size" [variant]="'surface'">
        <ids-label>{{ modelDrivenFieldName }}</ids-label>
        <input
          #datepicker2="idsDatepicker"
          idsInput
          idsDatepicker
          [minDate]="datepickerModel.minDate"
          [maxDate]="datepickerModel.maxDate"
          [view]="datepickerModel.view"
          [formControl]="control"
        />
        <ids-datepicker-trigger idsSuffix [for]="datepicker2" />
        <ids-error-message>
          <ids-error-def code="idsDateFormat">{{ 'FORM_FIELD.ERROR.DATE_FORMAT' | translate: { fieldName: modelDrivenFieldName } }}</ids-error-def>
          <ids-error-def code="idsDateMin">{{ 'FORM_FIELD.ERROR.DATE_MIN' | translate: { fieldName: modelDrivenFieldName } }}</ids-error-def>
          <ids-error-def code="idsDateMax">{{ 'FORM_FIELD.ERROR.DATE_MAX' | translate: { fieldName: modelDrivenFieldName } }}</ids-error-def>
        </ids-error-message>
      </ids-form-field>
    </div>
  </div>

  <app-control-table
    controls
    [controlName]="'Form field'"
    [configType]="'input'"
    [controlConfig]="_formFieldInputControlConfig"
    [(model)]="formFieldModel"
    (resetted)="reset()"
  />
  <app-control-table
    controls
    [controlName]="'Datepicker'"
    [configType]="'input'"
    [controlConfig]="_datepickerInputControlConfig"
    [(model)]="datepickerModel"
    (resetted)="reset()"
  />
</app-tryout>
