@if (multi()) {
  <div class="ids-accordion-controls">
    <button
      type="button"
      idsButton
      [appearance]="btnAppearance()"
      [disabled]="disabled()"
      [variant]="btnVariant()"
      [size]="btnSize()"
      (click)="openAll()"
    >
      {{ expandBtnLabel() }}
    </button>
    <button
      type="button"
      idsButton
      [appearance]="btnAppearance()"
      [disabled]="disabled()"
      [variant]="btnVariant()"
      [size]="btnSize()"
      (click)="closeAll()"
    >
      {{ collapseBtnLabel() }}
    </button>
  </div>
}
<ng-content />
