<div class="flex flex-row w-80">
  <span>start</span>
  <ids-tab-group tabAlignment="start" [stretchTabs]="false">
    <ids-tab [label]="'EXAMPLES.TAB.COMMON.TAB_1' | translate">{{ "EXAMPLES.TAB.COMMON.CONTENT_1" | translate }}</ids-tab>
    <ids-tab [label]="'EXAMPLES.TAB.COMMON.TAB_2' | translate">{{ "EXAMPLES.TAB.COMMON.CONTENT_2" | translate }}</ids-tab>
  </ids-tab-group>

  <span>center</span>
  <ids-tab-group tabAlignment="center" [stretchTabs]="false">
    <ids-tab [label]="'EXAMPLES.TAB.COMMON.TAB_1' | translate">{{ "EXAMPLES.TAB.COMMON.CONTENT_1" | translate }}</ids-tab>
    <ids-tab [label]="'EXAMPLES.TAB.COMMON.TAB_2' | translate">{{ "EXAMPLES.TAB.COMMON.CONTENT_2" | translate }}</ids-tab>
  </ids-tab-group>

  <span>end</span>
  <ids-tab-group tabAlignment="end" [stretchTabs]="false">
    <ids-tab [label]="'EXAMPLES.TAB.COMMON.TAB_1' | translate">{{ "EXAMPLES.TAB.COMMON.CONTENT_1" | translate }}</ids-tab>
    <ids-tab [label]="'EXAMPLES.TAB.COMMON.TAB_2' | translate">{{ "EXAMPLES.TAB.COMMON.CONTENT_2" | translate }}</ids-tab>
  </ids-tab-group>
</div>
