:root {
    --ids-smc-colors-brand-darker-10: light-dark(#3130ab, #647aff);
    --ids-smc-colors-brand-darker-20: light-dark(#2b2695, #929eff);
    --ids-smc-colors-brand-darker-30: light-dark(#261d84, #a2b1ff);
    --ids-smc-colors-brand-darker-40: light-dark(#23197b, #aebfff);
    --ids-smc-colors-brand-darker-50: light-dark(#201673, #c4d3ff);
    --ids-smc-colors-brand-darker-60: light-dark(#1f146f, #e3ecff);
    --ids-smc-colors-brand-darker-70: light-dark(#1c1066, #ecf3ff);
    --ids-smc-colors-brand-darker-80: light-dark(#180c5b, #f4f8ff);
    --ids-smc-colors-brand-darker-90: light-dark(#160b56, #f4f8ff);
    --ids-smc-colors-brand-darker-100: light-dark(#110749, #f4f8ff);
    --ids-smc-colors-brand-default: light-dark(#4258ed, #929eff);
    --ids-smc-colors-brand-fixed-darker-10: light-dark(#a2b1ff, #a2b1ff);
    --ids-smc-colors-brand-fixed-darker-20: light-dark(#929eff, #929eff);
    --ids-smc-colors-brand-fixed-darker-30: light-dark(#647aff, #647aff);
    --ids-smc-colors-brand-fixed-darker-40: light-dark(#4964fb, #4964fb);
    --ids-smc-colors-brand-fixed-darker-50: light-dark(undefined, undefined);
    --ids-smc-colors-brand-fixed-default: light-dark(#aebfff, #aebfff);
    --ids-smc-colors-brand-fixed-lighter-10: light-dark(#c4d3ff, #c4d3ff);
    --ids-smc-colors-brand-fixed-lighter-20: light-dark(#e3ecff, #e3ecff);
    --ids-smc-colors-brand-fixed-lighter-30: light-dark(#ecf3ff, #ecf3ff);
    --ids-smc-colors-brand-fixed-lighter-40: light-dark(#f4f8ff, #f4f8ff);
    --ids-smc-colors-brand-fixed-lighter-50: light-dark(undefined, undefined);
    --ids-smc-colors-brand-lighter-10: light-dark(#4964fb, #3130ab);
    --ids-smc-colors-brand-lighter-20: light-dark(#647aff, #2b2695);
    --ids-smc-colors-brand-lighter-30: light-dark(#929eff, #261d84);
    --ids-smc-colors-brand-lighter-40: light-dark(#a2b1ff, #23197b);
    --ids-smc-colors-brand-lighter-50: light-dark(#aebfff, #201673);
    --ids-smc-colors-brand-lighter-60: light-dark(#c4d3ff, #1f146f);
    --ids-smc-colors-brand-lighter-70: light-dark(#e3ecff, #180c5b);
    --ids-smc-colors-brand-lighter-80: light-dark(#ecf3ff, #160b56);
    --ids-smc-colors-brand-lighter-90: light-dark(#f4f8ff, #110749);
    --ids-smc-colors-brand-lighter-100: light-dark(#ffffff, #000000);
    --ids-smc-colors-brand-variant-darker-50: light-dark(undefined, light-dark(#353b46, #707a8a));
    --ids-smc-colors-error-darker-10: light-dark(#8e0000, #f84227);
    --ids-smc-colors-error-darker-20: light-dark(#790000, #ff8169);
    --ids-smc-colors-error-darker-30: light-dark(#680000, #ff9c86);
    --ids-smc-colors-error-darker-40: light-dark(#600000, #ffad99);
    --ids-smc-colors-error-darker-50: light-dark(#590000, #ffc6b8);
    --ids-smc-colors-error-darker-60: light-dark(#550000, #ffe6df);
    --ids-smc-colors-error-darker-70: light-dark(#4d0000, #ffede9);
    --ids-smc-colors-error-darker-80: light-dark(#440000, #fff5f2);
    --ids-smc-colors-error-darker-90: light-dark(#400000, #fff5f2);
    --ids-smc-colors-error-darker-100: light-dark(#340000, #fff5f2);
    --ids-smc-colors-error-default: light-dark(#d40d00, #ff8169);
    --ids-smc-colors-error-fixed-darker-10: light-dark(#ff9c86, #ff9c86);
    --ids-smc-colors-error-fixed-darker-20: light-dark(#ff8169, #ff8169);
    --ids-smc-colors-error-fixed-darker-30: light-dark(#f84227, #f84227);
    --ids-smc-colors-error-fixed-darker-40: light-dark(#e32100, #e32100);
    --ids-smc-colors-error-fixed-darker-50: light-dark(undefined, undefined);
    --ids-smc-colors-error-fixed-default: light-dark(#ffad99, #ffad99);
    --ids-smc-colors-error-fixed-lighter-10: light-dark(#ffc6b8, #ffc6b8);
    --ids-smc-colors-error-fixed-lighter-20: light-dark(#ffe6df, #ffe6df);
    --ids-smc-colors-error-fixed-lighter-30: light-dark(#ffede9, #ffede9);
    --ids-smc-colors-error-fixed-lighter-40: light-dark(#fff5f2, #fff5f2);
    --ids-smc-colors-error-fixed-lighter-50: light-dark(undefined, undefined);
    --ids-smc-colors-error-lighter-10: light-dark(#e32100, #8e0000);
    --ids-smc-colors-error-lighter-20: light-dark(#f84227, #790000);
    --ids-smc-colors-error-lighter-30: light-dark(#ff8169, #680000);
    --ids-smc-colors-error-lighter-40: light-dark(#ff9c86, #600000);
    --ids-smc-colors-error-lighter-50: light-dark(#ffad99, #590000);
    --ids-smc-colors-error-lighter-60: light-dark(#ffc6b8, #550000);
    --ids-smc-colors-error-lighter-70: light-dark(#ffe6df, #4d0000);
    --ids-smc-colors-error-lighter-80: light-dark(#ffede9, #440000);
    --ids-smc-colors-error-lighter-90: light-dark(#fff5f2, #400000);
    --ids-smc-colors-error-lighter-100: light-dark(#ffffff, #000000);
    --ids-smc-colors-facebook-darker-10: light-dark(#0052d6, #0052d6);
    --ids-smc-colors-facebook-darker-20: light-dark(#0042ad, #0042ad);
    --ids-smc-colors-facebook-default: light-dark(#0866ff, #0866ff);
    --ids-smc-colors-facebook-lighter-10: light-dark(#3481ff, #3481ff);
    --ids-smc-colors-facebook-lighter-20: light-dark(#619dff, #619dff);
    --ids-smc-colors-facebook-lighter-30: light-dark(#8db8ff, #8db8ff);
    --ids-smc-colors-github-darker-10: light-dark(#262626, #262626);
    --ids-smc-colors-github-darker-20: light-dark(#191919, #191919);
    --ids-smc-colors-github-default: light-dark(#333333, #333333);
    --ids-smc-colors-github-lighter-10: light-dark(#3f3f3f, #3f3f3f);
    --ids-smc-colors-github-lighter-20: light-dark(#4c4c4c, #4c4c4c);
    --ids-smc-colors-github-lighter-30: light-dark(#595959, #595959);
    --ids-smc-colors-gmail-darker-10: light-dark(#c82f23, #c82f23);
    --ids-smc-colors-gmail-darker-20: light-dark(#a61f14, #a61f14);
    --ids-smc-colors-gmail-default: light-dark(#ea4335, #ea4335);
    --ids-smc-colors-gmail-lighter-10: light-dark(#ff5647, #ff5647);
    --ids-smc-colors-gmail-lighter-20: light-dark(#ff7c71, #ff7c71);
    --ids-smc-colors-gmail-lighter-30: light-dark(#ffa29a, #ffa29a);
    --ids-smc-colors-highlight-darker-10: light-dark(#0891b2, #67e8f9);
    --ids-smc-colors-highlight-darker-20: light-dark(#0e7490, #a5f3fc);
    --ids-smc-colors-highlight-darker-30: light-dark(#155e75, #cffafe);
    --ids-smc-colors-highlight-darker-40: light-dark(#164e63, #cffafe);
    --ids-smc-colors-highlight-darker-50: light-dark(#083344, #ecfeff);
    --ids-smc-colors-highlight-default: light-dark(#06b6d4, #22d3ee);
    --ids-smc-colors-highlight-fixed-darker-10: light-dark(#0891b2, #0891b2);
    --ids-smc-colors-highlight-fixed-darker-20: light-dark(#0e7490, #0e7490);
    --ids-smc-colors-highlight-fixed-darker-30: light-dark(#155e75, #155e75);
    --ids-smc-colors-highlight-fixed-darker-40: light-dark(#164e63, #164e63);
    --ids-smc-colors-highlight-fixed-darker-50: light-dark(#083344, #083344);
    --ids-smc-colors-highlight-fixed-default: light-dark(#06b6d4, #06b6d4);
    --ids-smc-colors-highlight-fixed-lighter-10: light-dark(#22d3ee, #22d3ee);
    --ids-smc-colors-highlight-fixed-lighter-20: light-dark(#67e8f9, #67e8f9);
    --ids-smc-colors-highlight-fixed-lighter-30: light-dark(#a5f3fc, #a5f3fc);
    --ids-smc-colors-highlight-fixed-lighter-40: light-dark(#cffafe, #cffafe);
    --ids-smc-colors-highlight-fixed-lighter-50: light-dark(#ecfeff, #ecfeff);
    --ids-smc-colors-highlight-lighter-10: light-dark(#22d3ee, #0891b2);
    --ids-smc-colors-highlight-lighter-20: light-dark(#67e8f9, #0e7490);
    --ids-smc-colors-highlight-lighter-30: light-dark(#a5f3fc, #155e75);
    --ids-smc-colors-highlight-lighter-40: light-dark(#cffafe, #164e63);
    --ids-smc-colors-highlight-lighter-50: light-dark(#ecfeff, #083344);
    --ids-smc-colors-info-darker-10: light-dark(#004773, #068ed0);
    --ids-smc-colors-info-darker-20: light-dark(#003b62, #51aeeb);
    --ids-smc-colors-info-darker-30: light-dark(#003255, #70bef3);
    --ids-smc-colors-info-darker-40: light-dark(#002e4e, #86c9f7);
    --ids-smc-colors-info-darker-50: light-dark(#002a48, #acdafc);
    --ids-smc-colors-info-darker-60: light-dark(#002844, #dceffd);
    --ids-smc-colors-info-darker-70: light-dark(#00233e, #e8f4fd);
    --ids-smc-colors-info-darker-80: light-dark(#001e36, #f0f8fe);
    --ids-smc-colors-info-darker-90: light-dark(#001c33, #f0f8fe);
    --ids-smc-colors-info-darker-100: light-dark(#00162a, #f0f8fe);
    --ids-smc-colors-info-default: light-dark(#006faa, #51aeeb);
    --ids-smc-colors-info-fixed-darker-10: light-dark(#70bef3, #70bef3);
    --ids-smc-colors-info-fixed-darker-20: light-dark(#51aeeb, #51aeeb);
    --ids-smc-colors-info-fixed-darker-30: light-dark(#068ed0, #068ed0);
    --ids-smc-colors-info-fixed-darker-40: light-dark(#007ab9, #007ab9);
    --ids-smc-colors-info-fixed-darker-50: light-dark(undefined, undefined);
    --ids-smc-colors-info-fixed-default: light-dark(#86c9f7, #86c9f7);
    --ids-smc-colors-info-fixed-lighter-10: light-dark(#acdafc, #acdafc);
    --ids-smc-colors-info-fixed-lighter-20: light-dark(#dceffd, #dceffd);
    --ids-smc-colors-info-fixed-lighter-30: light-dark(#e8f4fd, #e8f4fd);
    --ids-smc-colors-info-fixed-lighter-40: light-dark(#f0f8fe, #f0f8fe);
    --ids-smc-colors-info-fixed-lighter-50: light-dark(undefined, undefined);
    --ids-smc-colors-info-lighter-10: light-dark(#007ab9, #004773);
    --ids-smc-colors-info-lighter-20: light-dark(#068ed0, #003b62);
    --ids-smc-colors-info-lighter-30: light-dark(#51aeeb, #003255);
    --ids-smc-colors-info-lighter-40: light-dark(#70bef3, #002e4e);
    --ids-smc-colors-info-lighter-50: light-dark(#86c9f7, #002a48);
    --ids-smc-colors-info-lighter-60: light-dark(#acdafc, #002844);
    --ids-smc-colors-info-lighter-70: light-dark(#dceffd, #00233e);
    --ids-smc-colors-info-lighter-80: light-dark(#e8f4fd, #001e36);
    --ids-smc-colors-info-lighter-90: light-dark(#f0f8fe, #001c33);
    --ids-smc-colors-info-lighter-100: light-dark(#ffffff, #000000);
    --ids-smc-colors-linkedin-darker-10: light-dark(#004182, #004182);
    --ids-smc-colors-linkedin-darker-20: light-dark(#053059, #053059);
    --ids-smc-colors-linkedin-default: light-dark(#0a66c2, #0a66c2);
    --ids-smc-colors-linkedin-lighter-10: light-dark(#378fe9, #378fe9);
    --ids-smc-colors-linkedin-lighter-20: light-dark(#71b7fb, #71b7fb);
    --ids-smc-colors-linkedin-lighter-30: light-dark(#aad6ff, #aad6ff);
    --ids-smc-colors-opacity-cool-50: light-dark(#648cb40d, #ffffff0d);
    --ids-smc-colors-opacity-cool-100: light-dark(#648cb41a, #ffffff1a);
    --ids-smc-colors-opacity-cool-150: light-dark(#648cb426, #ffffff26);
    --ids-smc-colors-opacity-cool-200: light-dark(#648cb433, #ffffff33);
    --ids-smc-colors-opacity-cool-250: light-dark(#648cb440, #ffffff40);
    --ids-smc-colors-opacity-cool-300: light-dark(#648cb44d, #ffffff4d);
    --ids-smc-colors-opacity-cool-400: light-dark(#648cb466, #ffffff66);
    --ids-smc-colors-opacity-cool-500: light-dark(#648cb480, #ffffff80);
    --ids-smc-colors-opacity-cool-600: light-dark(#648cb499, #ffffff99);
    --ids-smc-colors-opacity-cool-700: light-dark(#648cb4b3, #ffffffb3);
    --ids-smc-colors-opacity-cool-800: light-dark(#648cb4cc, #ffffffcc);
    --ids-smc-colors-opacity-cool-900: light-dark(#648cb4e6, #ffffffe6);
    --ids-smc-colors-opacity-cool-950: light-dark(#648cb4f2, #fffffff2);
    --ids-smc-colors-opacity-dark-50: light-dark(#0000000d, #ffffff0d);
    --ids-smc-colors-opacity-dark-100: light-dark(#0000001a, #ffffff1a);
    --ids-smc-colors-opacity-dark-150: light-dark(#00000026, #ffffff26);
    --ids-smc-colors-opacity-dark-200: light-dark(#00000033, #ffffff33);
    --ids-smc-colors-opacity-dark-250: light-dark(#00000040, #ffffff40);
    --ids-smc-colors-opacity-dark-300: light-dark(#0000004d, #ffffff4d);
    --ids-smc-colors-opacity-dark-400: light-dark(#00000066, #ffffff66);
    --ids-smc-colors-opacity-dark-500: light-dark(#00000080, #ffffff80);
    --ids-smc-colors-opacity-dark-600: light-dark(#00000099, #ffffff99);
    --ids-smc-colors-opacity-dark-700: light-dark(#000000b3, #ffffffb3);
    --ids-smc-colors-opacity-dark-800: light-dark(#000000cc, #ffffffcc);
    --ids-smc-colors-opacity-dark-900: light-dark(#000000e6, #ffffffe6);
    --ids-smc-colors-opacity-dark-950: light-dark(#000000f2, #fffffff2);
    --ids-smc-colors-opacity-dark-cool-50: light-dark(#0206170d, #ffffff0d);
    --ids-smc-colors-opacity-dark-cool-100: light-dark(#0206171a, #ffffff1a);
    --ids-smc-colors-opacity-dark-cool-150: light-dark(#02061726, #ffffff26);
    --ids-smc-colors-opacity-dark-cool-200: light-dark(#02061733, #ffffff33);
    --ids-smc-colors-opacity-dark-cool-250: light-dark(#02061740, #ffffff40);
    --ids-smc-colors-opacity-dark-cool-300: light-dark(#0206174d, #ffffff4d);
    --ids-smc-colors-opacity-dark-cool-400: light-dark(#02061766, #ffffff66);
    --ids-smc-colors-opacity-dark-cool-500: light-dark(#02061780, #ffffff80);
    --ids-smc-colors-opacity-dark-cool-600: light-dark(#02061799, #ffffff99);
    --ids-smc-colors-opacity-dark-cool-700: light-dark(#020617b3, #ffffffb3);
    --ids-smc-colors-opacity-dark-cool-800: light-dark(#020617cc, #ffffffcc);
    --ids-smc-colors-opacity-dark-cool-900: light-dark(#020617e6, #ffffffe6);
    --ids-smc-colors-opacity-dark-cool-950: light-dark(#020617f2, #fffffff2);
    --ids-smc-colors-opacity-dark-cool-variant-default: light-dark(#02061740, #020617b3);
    --ids-smc-colors-opacity-light-50: light-dark(#ffffff0d, #ffffff0d);
    --ids-smc-colors-opacity-light-100: light-dark(#ffffff1a, #ffffff1a);
    --ids-smc-colors-opacity-light-150: light-dark(#ffffff26, #ffffff26);
    --ids-smc-colors-opacity-light-200: light-dark(#ffffff33, #ffffff33);
    --ids-smc-colors-opacity-light-250: light-dark(#ffffff40, #ffffff40);
    --ids-smc-colors-opacity-light-300: light-dark(#ffffff4d, #ffffff4d);
    --ids-smc-colors-opacity-light-400: light-dark(#ffffff66, #ffffff66);
    --ids-smc-colors-opacity-light-500: light-dark(#ffffff80, #ffffff80);
    --ids-smc-colors-opacity-light-600: light-dark(#ffffff99, #ffffff99);
    --ids-smc-colors-opacity-light-700: light-dark(#ffffffb3, #ffffffb3);
    --ids-smc-colors-opacity-light-800: light-dark(#ffffffcc, #ffffffcc);
    --ids-smc-colors-opacity-light-900: light-dark(#ffffffe6, #ffffffe6);
    --ids-smc-colors-opacity-light-950: light-dark(#fffffff2, #fffffff2);
    --ids-smc-colors-primary-darker-10: light-dark(#3130ab, #647aff);
    --ids-smc-colors-primary-darker-20: light-dark(#2b2695, #929eff);
    --ids-smc-colors-primary-darker-30: light-dark(#261d84, #a2b1ff);
    --ids-smc-colors-primary-darker-40: light-dark(#23197b, #aebfff);
    --ids-smc-colors-primary-darker-50: light-dark(#201673, #c4d3ff);
    --ids-smc-colors-primary-darker-60: light-dark(#1f146f, #e3ecff);
    --ids-smc-colors-primary-darker-70: light-dark(#1c1066, #ecf3ff);
    --ids-smc-colors-primary-darker-80: light-dark(#180c5b, #f4f8ff);
    --ids-smc-colors-primary-darker-90: light-dark(#160b56, #f4f8ff);
    --ids-smc-colors-primary-darker-100: light-dark(#110749, #f4f8ff);
    --ids-smc-colors-primary-default: light-dark(#4258ed, #929eff);
    --ids-smc-colors-primary-fixed-darker-10: light-dark(#3130ab, #3130ab);
    --ids-smc-colors-primary-fixed-darker-20: light-dark(#2b2695, #2b2695);
    --ids-smc-colors-primary-fixed-darker-30: light-dark(#261d84, #261d84);
    --ids-smc-colors-primary-fixed-darker-40: light-dark(#23197b, #23197b);
    --ids-smc-colors-primary-fixed-darker-50: light-dark(#201673, #201673);
    --ids-smc-colors-primary-fixed-darker-60: light-dark(#1f146f, #1f146f);
    --ids-smc-colors-primary-fixed-darker-70: light-dark(#1c1066, #1c1066);
    --ids-smc-colors-primary-fixed-darker-80: light-dark(#180c5b, #180c5b);
    --ids-smc-colors-primary-fixed-darker-90: light-dark(#160b56, #160b56);
    --ids-smc-colors-primary-fixed-darker-100: light-dark(#110749, #110749);
    --ids-smc-colors-primary-fixed-default: light-dark(#4258ed, #4258ed);
    --ids-smc-colors-primary-fixed-lighter-10: light-dark(#4964fb, #4964fb);
    --ids-smc-colors-primary-fixed-lighter-20: light-dark(#647aff, #647aff);
    --ids-smc-colors-primary-fixed-lighter-30: light-dark(#929eff, #929eff);
    --ids-smc-colors-primary-fixed-lighter-40: light-dark(#a2b1ff, #a2b1ff);
    --ids-smc-colors-primary-fixed-lighter-50: light-dark(#aebfff, #aebfff);
    --ids-smc-colors-primary-fixed-lighter-60: light-dark(#c4d3ff, #c4d3ff);
    --ids-smc-colors-primary-fixed-lighter-70: light-dark(#e3ecff, #e3ecff);
    --ids-smc-colors-primary-fixed-lighter-80: light-dark(#ecf3ff, #ecf3ff);
    --ids-smc-colors-primary-fixed-lighter-90: light-dark(#f4f8ff, #f4f8ff);
    --ids-smc-colors-primary-fixed-lighter-100: light-dark(#ffffff, #ffffff);
    --ids-smc-colors-primary-lighter-10: light-dark(#4964fb, #3130ab);
    --ids-smc-colors-primary-lighter-20: light-dark(#647aff, #2b2695);
    --ids-smc-colors-primary-lighter-30: light-dark(#929eff, #261d84);
    --ids-smc-colors-primary-lighter-40: light-dark(#a2b1ff, #23197b);
    --ids-smc-colors-primary-lighter-50: light-dark(#aebfff, #201673);
    --ids-smc-colors-primary-lighter-60: light-dark(#c4d3ff, #1f146f);
    --ids-smc-colors-primary-lighter-70: light-dark(#e3ecff, #180c5b);
    --ids-smc-colors-primary-lighter-80: light-dark(#ecf3ff, #160b56);
    --ids-smc-colors-primary-lighter-90: light-dark(#f4f8ff, #110749);
    --ids-smc-colors-primary-lighter-100: light-dark(#ffffff, #000000);
    --ids-smc-colors-primary-variant-darker-50: light-dark(undefined, light-dark(#353b46, #707a8a));
    --ids-smc-colors-secondary-darker-10: light-dark(#475569, #cbd5e1);
    --ids-smc-colors-secondary-darker-20: light-dark(#334155, #e2e8f0);
    --ids-smc-colors-secondary-darker-30: light-dark(#1e293b, #f1f5f9);
    --ids-smc-colors-secondary-darker-40: light-dark(#0f172a, #f1f5f9);
    --ids-smc-colors-secondary-darker-50: light-dark(#020617, #f8fafc);
    --ids-smc-colors-secondary-default: light-dark(#64748b, #94a3b8);
    --ids-smc-colors-secondary-fixed-darker-10: light-dark(#475569, #475569);
    --ids-smc-colors-secondary-fixed-darker-20: light-dark(#334155, #334155);
    --ids-smc-colors-secondary-fixed-darker-30: light-dark(#1e293b, #1e293b);
    --ids-smc-colors-secondary-fixed-darker-40: light-dark(#0f172a, #0f172a);
    --ids-smc-colors-secondary-fixed-darker-50: light-dark(#020617, #020617);
    --ids-smc-colors-secondary-fixed-default: light-dark(#64748b, #64748b);
    --ids-smc-colors-secondary-fixed-lighter-10: light-dark(#94a3b8, #94a3b8);
    --ids-smc-colors-secondary-fixed-lighter-20: light-dark(#cbd5e1, #cbd5e1);
    --ids-smc-colors-secondary-fixed-lighter-30: light-dark(#e2e8f0, #e2e8f0);
    --ids-smc-colors-secondary-fixed-lighter-40: light-dark(#f1f5f9, #f1f5f9);
    --ids-smc-colors-secondary-fixed-lighter-50: light-dark(#f8fafc, #f8fafc);
    --ids-smc-colors-secondary-lighter-10: light-dark(#94a3b8, #475569);
    --ids-smc-colors-secondary-lighter-20: light-dark(#cbd5e1, #334155);
    --ids-smc-colors-secondary-lighter-30: light-dark(#e2e8f0, #1e293b);
    --ids-smc-colors-secondary-lighter-40: light-dark(#f1f5f9, #0f172a);
    --ids-smc-colors-secondary-lighter-50: light-dark(#f8fafc, #020617);
    --ids-smc-colors-success-darker-10: light-dark(#005012, #009b37);
    --ids-smc-colors-success-darker-20: light-dark(#00430d, #00bf53);
    --ids-smc-colors-success-darker-30: light-dark(#00390a, #00d164);
    --ids-smc-colors-success-darker-40: light-dark(#003408, #00dd72);
    --ids-smc-colors-success-darker-50: light-dark(#002f07, #22f18f);
    --ids-smc-colors-success-darker-60: light-dark(#002d06, #dbffef);
    --ids-smc-colors-success-darker-70: light-dark(#002905, #e5fff3);
    --ids-smc-colors-success-darker-80: light-dark(#002304, #f0fff8);
    --ids-smc-colors-success-darker-90: light-dark(#002103, #f0fff8);
    --ids-smc-colors-success-darker-100: light-dark(#001a02, #f0fff8);
    --ids-smc-colors-success-default: light-dark(#007b24, #00bf53);
    --ids-smc-colors-success-fixed-darker-10: light-dark(#00bf53, #00bf53);
    --ids-smc-colors-success-fixed-darker-20: light-dark(#009b37, #009b37);
    --ids-smc-colors-success-fixed-darker-30: light-dark(#00872a, #00872a);
    --ids-smc-colors-success-fixed-darker-40: light-dark(#007b24, #007b24);
    --ids-smc-colors-success-fixed-darker-50: light-dark(#005012, #005012);
    --ids-smc-colors-success-fixed-default: light-dark(#00d164, #00d164);
    --ids-smc-colors-success-fixed-lighter-10: light-dark(#00dd72, #00dd72);
    --ids-smc-colors-success-fixed-lighter-20: light-dark(#22f18f, #22f18f);
    --ids-smc-colors-success-fixed-lighter-30: light-dark(#dbffef, #dbffef);
    --ids-smc-colors-success-fixed-lighter-40: light-dark(#e5fff3, #e5fff3);
    --ids-smc-colors-success-fixed-lighter-50: light-dark(#f0fff8, #f0fff8);
    --ids-smc-colors-success-lighter-10: light-dark(#00872a, #005012);
    --ids-smc-colors-success-lighter-20: light-dark(#009b37, #00430d);
    --ids-smc-colors-success-lighter-30: light-dark(#00bf53, #00390a);
    --ids-smc-colors-success-lighter-40: light-dark(#00d164, #003408);
    --ids-smc-colors-success-lighter-50: light-dark(#00dd72, #002f07);
    --ids-smc-colors-success-lighter-60: light-dark(#22f18f, #002d06);
    --ids-smc-colors-success-lighter-70: light-dark(#dbffef, #002905);
    --ids-smc-colors-success-lighter-80: light-dark(#e5fff3, #002304);
    --ids-smc-colors-success-lighter-90: light-dark(#f0fff8, #002103);
    --ids-smc-colors-success-lighter-100: light-dark(#ffffff, #000000);
    --ids-smc-colors-surface-darker-10: light-dark(#eef2f6, #15181f);
    --ids-smc-colors-surface-darker-20: light-dark(#e9edf2, #181b22);
    --ids-smc-colors-surface-darker-30: light-dark(#d1d7df, #1c1f26);
    --ids-smc-colors-surface-darker-40: light-dark(#bfc6d1, #20242c);
    --ids-smc-colors-surface-darker-50: light-dark(#b2b9c6, #242830);
    --ids-smc-colors-surface-darker-60: light-dark(#a3abba, #282c35);
    --ids-smc-colors-surface-darker-70: light-dark(#7e8797, #2b3039);
    --ids-smc-colors-surface-darker-80: light-dark(#707a8a, #353b46);
    --ids-smc-colors-surface-darker-90: light-dark(#606b7a, #404753);
    --ids-smc-colors-surface-darker-95: light-dark(#020617, #f8fafc);
    --ids-smc-colors-surface-darker-100: light-dark(#404753, #606b7a);
    --ids-smc-colors-surface-darker-200: light-dark(#353b46, #707a8a);
    --ids-smc-colors-surface-darker-300: light-dark(#2b3039, #7e8797);
    --ids-smc-colors-surface-darker-400: light-dark(#282c35, #a3abba);
    --ids-smc-colors-surface-darker-500: light-dark(#242830, #b2b9c6);
    --ids-smc-colors-surface-darker-600: light-dark(#20242c, #bfc6d1);
    --ids-smc-colors-surface-darker-700: light-dark(#1c1f26, #d1d7df);
    --ids-smc-colors-surface-darker-800: light-dark(#181b22, #eef2f6);
    --ids-smc-colors-surface-darker-900: light-dark(#15181f, #f5f7fa);
    --ids-smc-colors-surface-darker-1000: light-dark(#0f1115, #ffffff);
    --ids-smc-colors-surface-default: light-dark(#f5f7fa, #0f1115);
    --ids-smc-colors-surface-fixed-darker-10: light-dark(#f1f5f9, #f1f5f9);
    --ids-smc-colors-surface-fixed-darker-20: light-dark(#e2e8f0, #e2e8f0);
    --ids-smc-colors-surface-fixed-darker-30: light-dark(#cbd5e1, #cbd5e1);
    --ids-smc-colors-surface-fixed-darker-40: light-dark(#94a3b8, #94a3b8);
    --ids-smc-colors-surface-fixed-darker-50: light-dark(#64748b, #64748b);
    --ids-smc-colors-surface-fixed-darker-60: light-dark(#475569, #475569);
    --ids-smc-colors-surface-fixed-darker-70: light-dark(#334155, #334155);
    --ids-smc-colors-surface-fixed-darker-80: light-dark(#1e293b, #1e293b);
    --ids-smc-colors-surface-fixed-darker-90: light-dark(#0f172a, #0f172a);
    --ids-smc-colors-surface-fixed-darker-95: light-dark(#020617, #020617);
    --ids-smc-colors-surface-fixed-darker-100: light-dark(#000000, #000000);
    --ids-smc-colors-surface-fixed-default: light-dark(#f8fafc, #f8fafc);
    --ids-smc-colors-surface-fixed-lighter-10: light-dark(#ffffff, #ffffff);
    --ids-smc-colors-surface-lighter-10: light-dark(#ffffff, #000000);
    --ids-smc-colors-surface-variant-darker-10: light-dark(#f8fafc, #1e293b);
    --ids-smc-colors-surface-variant-default: light-dark(#f8fafc, #475569);
    --ids-smc-colors-surface-variant-lighter-30: light-dark(#ffffff, #64748b);
    --ids-smc-colors-surface-variant-lighter-40: light-dark(#ffffff, #1e293b);
    --ids-smc-colors-warning-darker-10: light-dark(#6f3300, #d06b00);
    --ids-smc-colors-warning-darker-20: light-dark(#5e2a00, #f98900);
    --ids-smc-colors-warning-darker-30: light-dark(#512300, #ffa034);
    --ids-smc-colors-warning-darker-40: light-dark(#4a2000, #ffb156);
    --ids-smc-colors-warning-darker-50: light-dark(#441d00, #ffca89);
    --ids-smc-colors-warning-darker-60: light-dark(#411b00, #ffefdb);
    --ids-smc-colors-warning-darker-70: light-dark(#3b1800, #fff4e5);
    --ids-smc-colors-warning-darker-80: light-dark(#341400, #fff6ec);
    --ids-smc-colors-warning-darker-90: light-dark(#301300, #fff6ec);
    --ids-smc-colors-warning-darker-100: light-dark(#270e00, #fff6ec);
    --ids-smc-colors-warning-default: light-dark(#a65200, #f98900);
    --ids-smc-colors-warning-fixed-darker-10: light-dark(#ffa034, #ffa034);
    --ids-smc-colors-warning-fixed-darker-20: light-dark(#f98900, #f98900);
    --ids-smc-colors-warning-fixed-darker-30: light-dark(#d06b00, #d06b00);
    --ids-smc-colors-warning-fixed-darker-40: light-dark(#b65b00, #b65b00);
    --ids-smc-colors-warning-fixed-darker-50: light-dark(undefined, undefined);
    --ids-smc-colors-warning-fixed-default: light-dark(#ffb156, #ffb156);
    --ids-smc-colors-warning-fixed-lighter-10: light-dark(#ffca89, #ffca89);
    --ids-smc-colors-warning-fixed-lighter-20: light-dark(#ffefdb, #ffefdb);
    --ids-smc-colors-warning-fixed-lighter-30: light-dark(#fff4e5, #fff4e5);
    --ids-smc-colors-warning-fixed-lighter-40: light-dark(#fff6ec, #fff6ec);
    --ids-smc-colors-warning-fixed-lighter-50: light-dark(undefined, undefined);
    --ids-smc-colors-warning-lighter-10: light-dark(#b65b00, #6f3300);
    --ids-smc-colors-warning-lighter-20: light-dark(#d06b00, #5e2a00);
    --ids-smc-colors-warning-lighter-30: light-dark(#f98900, #512300);
    --ids-smc-colors-warning-lighter-40: light-dark(#ffa034, #4a2000);
    --ids-smc-colors-warning-lighter-50: light-dark(#ffb156, #441d00);
    --ids-smc-colors-warning-lighter-60: light-dark(#ffca89, #411b00);
    --ids-smc-colors-warning-lighter-70: light-dark(#ffefdb, #3b1800);
    --ids-smc-colors-warning-lighter-80: light-dark(#fff4e5, #341400);
    --ids-smc-colors-warning-lighter-90: light-dark(#fff6ec, #301300);
    --ids-smc-colors-warning-lighter-100: light-dark(#ffffff, #000000)
}