:root {
    --ids-smc-colors-brand-darker-10: light-dark(#3130ab, #a2b1ff);
    --ids-smc-colors-brand-darker-20: light-dark(#2b2695, #aebfff);
    --ids-smc-colors-brand-darker-30: light-dark(#261d84, #c4d3ff);
    --ids-smc-colors-brand-darker-31: light-dark(#23197b, #e3ecff);
    --ids-smc-colors-brand-darker-32: light-dark(#201673, #ecf3ff);
    --ids-smc-colors-brand-darker-33: light-dark(#1f146f, #f4f8ff);
    --ids-smc-colors-brand-darker-34: light-dark(#1c1066, #f4f8ff);
    --ids-smc-colors-brand-darker-35: light-dark(#180c5b, #f4f8ff);
    --ids-smc-colors-brand-darker-40: light-dark(#160b56, #f4f8ff);
    --ids-smc-colors-brand-darker-50: light-dark(#110749, #f4f8ff);
    --ids-smc-colors-brand-default: light-dark(#4258ed, #929eff);
    --ids-smc-colors-brand-fixed-darker-10: light-dark(#3130ab, #3130ab);
    --ids-smc-colors-brand-fixed-darker-20: light-dark(#2b2695, #2b2695);
    --ids-smc-colors-brand-fixed-darker-30: light-dark(#261d84, #261d84);
    --ids-smc-colors-brand-fixed-darker-31: light-dark(#23197b, #23197b);
    --ids-smc-colors-brand-fixed-darker-32: light-dark(#201673, #201673);
    --ids-smc-colors-brand-fixed-darker-33: light-dark(#1f146f, #1f146f);
    --ids-smc-colors-brand-fixed-darker-34: light-dark(#1c1066, #1c1066);
    --ids-smc-colors-brand-fixed-darker-35: light-dark(#180c5b, #180c5b);
    --ids-smc-colors-brand-fixed-darker-40: light-dark(#160b56, #160b56);
    --ids-smc-colors-brand-fixed-darker-50: light-dark(#110749, #110749);
    --ids-smc-colors-brand-fixed-default: light-dark(#4258ed, #4258ed);
    --ids-smc-colors-brand-fixed-lighter-10: light-dark(#4964fb, #4964fb);
    --ids-smc-colors-brand-fixed-lighter-20: light-dark(#647aff, #647aff);
    --ids-smc-colors-brand-fixed-lighter-30: light-dark(#929eff, #929eff);
    --ids-smc-colors-brand-fixed-lighter-40: light-dark(#a2b1ff, #a2b1ff);
    --ids-smc-colors-brand-fixed-lighter-42: light-dark(#aebfff, #aebfff);
    --ids-smc-colors-brand-fixed-lighter-44: light-dark(#c4d3ff, #c4d3ff);
    --ids-smc-colors-brand-fixed-lighter-46: light-dark(#e3ecff, #e3ecff);
    --ids-smc-colors-brand-fixed-lighter-48: light-dark(#ecf3ff, #ecf3ff);
    --ids-smc-colors-brand-fixed-lighter-50: light-dark(#f4f8ff, #f4f8ff);
    --ids-smc-colors-brand-lighter-10: light-dark(#4964fb, #3130ab);
    --ids-smc-colors-brand-lighter-20: light-dark(#647aff, #2b2695);
    --ids-smc-colors-brand-lighter-30: light-dark(#929eff, #3130ab);
    --ids-smc-colors-brand-lighter-40: light-dark(#a2b1ff, #23197b);
    --ids-smc-colors-brand-lighter-42: light-dark(#aebfff, #1f146f);
    --ids-smc-colors-brand-lighter-44: light-dark(#c4d3ff, #1c1066);
    --ids-smc-colors-brand-lighter-46: light-dark(#e3ecff, #180c5b);
    --ids-smc-colors-brand-lighter-48: light-dark(#ecf3ff, #160b56);
    --ids-smc-colors-brand-lighter-50: light-dark(#f4f8ff, #110749);
    --ids-smc-colors-error-darker-10: light-dark(#8e0000, #ff8169);
    --ids-smc-colors-error-darker-20: light-dark(#790000, #ff9c86);
    --ids-smc-colors-error-darker-30: light-dark(#680000, #ffad99);
    --ids-smc-colors-error-darker-31: light-dark(#600000, #ffc6b8);
    --ids-smc-colors-error-darker-32: light-dark(#590000, #ffe6df);
    --ids-smc-colors-error-darker-33: light-dark(#550000, #ffede9);
    --ids-smc-colors-error-darker-34: light-dark(#4d0000, #fff5f2);
    --ids-smc-colors-error-darker-35: light-dark(#440000, #fff5f2);
    --ids-smc-colors-error-darker-40: light-dark(#400000, #fff5f2);
    --ids-smc-colors-error-darker-50: light-dark(#340000, #fff5f2);
    --ids-smc-colors-error-default: light-dark(#d40d00, #f84227);
    --ids-smc-colors-error-fixed-darker-10: light-dark(#8e0000, #8e0000);
    --ids-smc-colors-error-fixed-darker-20: light-dark(#790000, #790000);
    --ids-smc-colors-error-fixed-darker-30: light-dark(#680000, #680000);
    --ids-smc-colors-error-fixed-darker-31: light-dark(#600000, #600000);
    --ids-smc-colors-error-fixed-darker-32: light-dark(#590000, #590000);
    --ids-smc-colors-error-fixed-darker-33: light-dark(#550000, #550000);
    --ids-smc-colors-error-fixed-darker-34: light-dark(#4d0000, #4d0000);
    --ids-smc-colors-error-fixed-darker-35: light-dark(#440000, #440000);
    --ids-smc-colors-error-fixed-darker-40: light-dark(#400000, #400000);
    --ids-smc-colors-error-fixed-darker-50: light-dark(#340000, #340000);
    --ids-smc-colors-error-fixed-default: light-dark(#d40d00, #d40d00);
    --ids-smc-colors-error-fixed-lighter-10: light-dark(#e32100, #e32100);
    --ids-smc-colors-error-fixed-lighter-20: light-dark(#f84227, #f84227);
    --ids-smc-colors-error-fixed-lighter-30: light-dark(#ff8169, #ff8169);
    --ids-smc-colors-error-fixed-lighter-40: light-dark(#ff9c86, #ff9c86);
    --ids-smc-colors-error-fixed-lighter-42: light-dark(#ffad99, #ffad99);
    --ids-smc-colors-error-fixed-lighter-44: light-dark(#ffc6b8, #ffc6b8);
    --ids-smc-colors-error-fixed-lighter-46: light-dark(#ffe6df, #ffe6df);
    --ids-smc-colors-error-fixed-lighter-48: light-dark(#ffede9, #ffede9);
    --ids-smc-colors-error-fixed-lighter-50: light-dark(#fff5f2, #fff5f2);
    --ids-smc-colors-error-lighter-10: light-dark(#e32100, #8e0000);
    --ids-smc-colors-error-lighter-20: light-dark(#f84227, #790000);
    --ids-smc-colors-error-lighter-30: light-dark(#ff8169, #8e0000);
    --ids-smc-colors-error-lighter-40: light-dark(#ff9c86, #600000);
    --ids-smc-colors-error-lighter-42: light-dark(#ffad99, #550000);
    --ids-smc-colors-error-lighter-44: light-dark(#ffc6b8, #4d0000);
    --ids-smc-colors-error-lighter-46: light-dark(#ffe6df, #440000);
    --ids-smc-colors-error-lighter-48: light-dark(#ffede9, #400000);
    --ids-smc-colors-error-lighter-50: light-dark(#fff5f2, #340000);
    --ids-smc-colors-facebook-darker-10: light-dark(#0052d6, #0052d6);
    --ids-smc-colors-facebook-darker-20: light-dark(#0042ad, #0042ad);
    --ids-smc-colors-facebook-default: light-dark(#0866ff, #0866ff);
    --ids-smc-colors-facebook-lighter-10: light-dark(#3481ff, #3481ff);
    --ids-smc-colors-facebook-lighter-20: light-dark(#619dff, #619dff);
    --ids-smc-colors-facebook-lighter-30: light-dark(#8db8ff, #8db8ff);
    --ids-smc-colors-github-darker-10: light-dark(#262626, #262626);
    --ids-smc-colors-github-darker-20: light-dark(#191919, #191919);
    --ids-smc-colors-github-default: light-dark(#333333, #333333);
    --ids-smc-colors-github-lighter-10: light-dark(#3f3f3f, #3f3f3f);
    --ids-smc-colors-github-lighter-20: light-dark(#4c4c4c, #4c4c4c);
    --ids-smc-colors-github-lighter-30: light-dark(#595959, #595959);
    --ids-smc-colors-gmail-darker-10: light-dark(#c82f23, #c82f23);
    --ids-smc-colors-gmail-darker-20: light-dark(#a61f14, #a61f14);
    --ids-smc-colors-gmail-default: light-dark(#ea4335, #ea4335);
    --ids-smc-colors-gmail-lighter-10: light-dark(#ff5647, #ff5647);
    --ids-smc-colors-gmail-lighter-20: light-dark(#ff7c71, #ff7c71);
    --ids-smc-colors-gmail-lighter-30: light-dark(#ffa29a, #ffa29a);
    --ids-smc-colors-highlight-darker-10: light-dark(#014966, #14c8e1);
    --ids-smc-colors-highlight-darker-20: light-dark(#013d55, #17d4eb);
    --ids-smc-colors-highlight-darker-30: light-dark(#003449, #63e5f4);
    --ids-smc-colors-highlight-darker-31: light-dark(#003043, #def9fd);
    --ids-smc-colors-highlight-darker-32: light-dark(#002b3c, #e7fbfd);
    --ids-smc-colors-highlight-darker-33: light-dark(#00293a, #f1fdfe);
    --ids-smc-colors-highlight-darker-34: light-dark(#002534, #f1fdfe);
    --ids-smc-colors-highlight-darker-35: light-dark(#00202d, #f1fdfe);
    --ids-smc-colors-highlight-darker-40: light-dark(#001e2a, #f1fdfe);
    --ids-smc-colors-highlight-darker-50: light-dark(#001721, #f1fdfe);
    --ids-smc-colors-highlight-default: light-dark(#01719d, #10b5d3);
    --ids-smc-colors-highlight-fixed-darker-10: light-dark(#014966, #014966);
    --ids-smc-colors-highlight-fixed-darker-20: light-dark(#013d55, #013d55);
    --ids-smc-colors-highlight-fixed-darker-30: light-dark(#003449, #003449);
    --ids-smc-colors-highlight-fixed-darker-31: light-dark(#003043, #003043);
    --ids-smc-colors-highlight-fixed-darker-32: light-dark(#002b3c, #002b3c);
    --ids-smc-colors-highlight-fixed-darker-33: light-dark(#00293a, #00293a);
    --ids-smc-colors-highlight-fixed-darker-34: light-dark(#002534, #002534);
    --ids-smc-colors-highlight-fixed-darker-35: light-dark(#00202d, #00202d);
    --ids-smc-colors-highlight-fixed-darker-40: light-dark(#001e2a, #001e2a);
    --ids-smc-colors-highlight-fixed-darker-50: light-dark(#001721, #001721);
    --ids-smc-colors-highlight-fixed-default: light-dark(#01719d, #01719d);
    --ids-smc-colors-highlight-fixed-lighter-10: light-dark(#047da7, #047da7);
    --ids-smc-colors-highlight-fixed-lighter-20: light-dark(#0892b7, #0892b7);
    --ids-smc-colors-highlight-fixed-lighter-30: light-dark(#10b5d3, #10b5d3);
    --ids-smc-colors-highlight-fixed-lighter-40: light-dark(#14c8e1, #14c8e1);
    --ids-smc-colors-highlight-fixed-lighter-42: light-dark(#17d4eb, #17d4eb);
    --ids-smc-colors-highlight-fixed-lighter-44: light-dark(#63e5f4, #63e5f4);
    --ids-smc-colors-highlight-fixed-lighter-46: light-dark(#def9fd, #def9fd);
    --ids-smc-colors-highlight-fixed-lighter-48: light-dark(#e7fbfd, #e7fbfd);
    --ids-smc-colors-highlight-fixed-lighter-50: light-dark(#f1fdfe, #f1fdfe);
    --ids-smc-colors-highlight-lighter-10: light-dark(#047da7, #014966);
    --ids-smc-colors-highlight-lighter-20: light-dark(#0892b7, #013d55);
    --ids-smc-colors-highlight-lighter-30: light-dark(#10b5d3, #014966);
    --ids-smc-colors-highlight-lighter-40: light-dark(#14c8e1, #003043);
    --ids-smc-colors-highlight-lighter-42: light-dark(#17d4eb, #00293a);
    --ids-smc-colors-highlight-lighter-44: light-dark(#63e5f4, #002534);
    --ids-smc-colors-highlight-lighter-46: light-dark(#def9fd, #00202d);
    --ids-smc-colors-highlight-lighter-48: light-dark(#e7fbfd, #001e2a);
    --ids-smc-colors-highlight-lighter-50: light-dark(#f1fdfe, #001721);
    --ids-smc-colors-info-darker-10: light-dark(#004773, #70bef3);
    --ids-smc-colors-info-darker-20: light-dark(#003b62, #86c9f7);
    --ids-smc-colors-info-darker-30: light-dark(#003255, #acdafc);
    --ids-smc-colors-info-darker-31: light-dark(#002e4e, #dceffd);
    --ids-smc-colors-info-darker-32: light-dark(#002a48, #e8f4fd);
    --ids-smc-colors-info-darker-33: light-dark(#002844, #f0f8fe);
    --ids-smc-colors-info-darker-34: light-dark(#00233e, #f0f8fe);
    --ids-smc-colors-info-darker-35: light-dark(#001e36, #f0f8fe);
    --ids-smc-colors-info-darker-40: light-dark(#001c33, #f0f8fe);
    --ids-smc-colors-info-darker-50: light-dark(#00162a, #f0f8fe);
    --ids-smc-colors-info-default: light-dark(#006faa, #51aeeb);
    --ids-smc-colors-info-fixed-darker-10: light-dark(#004773, #004773);
    --ids-smc-colors-info-fixed-darker-20: light-dark(#003b62, #003b62);
    --ids-smc-colors-info-fixed-darker-30: light-dark(#003255, #003255);
    --ids-smc-colors-info-fixed-darker-31: light-dark(#002e4e, #002e4e);
    --ids-smc-colors-info-fixed-darker-32: light-dark(#002a48, #002a48);
    --ids-smc-colors-info-fixed-darker-33: light-dark(#002844, #002844);
    --ids-smc-colors-info-fixed-darker-34: light-dark(#00233e, #00233e);
    --ids-smc-colors-info-fixed-darker-35: light-dark(#001e36, #001e36);
    --ids-smc-colors-info-fixed-darker-40: light-dark(#001c33, #001c33);
    --ids-smc-colors-info-fixed-darker-50: light-dark(#00162a, #00162a);
    --ids-smc-colors-info-fixed-default: light-dark(#006faa, #006faa);
    --ids-smc-colors-info-fixed-lighter-10: light-dark(#007ab9, #007ab9);
    --ids-smc-colors-info-fixed-lighter-20: light-dark(#068ed0, #068ed0);
    --ids-smc-colors-info-fixed-lighter-30: light-dark(#51aeeb, #51aeeb);
    --ids-smc-colors-info-fixed-lighter-40: light-dark(#70bef3, #70bef3);
    --ids-smc-colors-info-fixed-lighter-42: light-dark(#86c9f7, #86c9f7);
    --ids-smc-colors-info-fixed-lighter-44: light-dark(#acdafc, #acdafc);
    --ids-smc-colors-info-fixed-lighter-46: light-dark(#dceffd, #dceffd);
    --ids-smc-colors-info-fixed-lighter-48: light-dark(#e8f4fd, #e8f4fd);
    --ids-smc-colors-info-fixed-lighter-50: light-dark(#f0f8fe, #f0f8fe);
    --ids-smc-colors-info-lighter-10: light-dark(#007ab9, #004773);
    --ids-smc-colors-info-lighter-20: light-dark(#068ed0, #003b62);
    --ids-smc-colors-info-lighter-30: light-dark(#51aeeb, #004773);
    --ids-smc-colors-info-lighter-40: light-dark(#70bef3, #002e4e);
    --ids-smc-colors-info-lighter-42: light-dark(#86c9f7, #002844);
    --ids-smc-colors-info-lighter-44: light-dark(#acdafc, #00233e);
    --ids-smc-colors-info-lighter-46: light-dark(#dceffd, #001e36);
    --ids-smc-colors-info-lighter-48: light-dark(#e8f4fd, #001c33);
    --ids-smc-colors-info-lighter-50: light-dark(#f0f8fe, #00162a);
    --ids-smc-colors-linkedin-darker-10: light-dark(#004182, #004182);
    --ids-smc-colors-linkedin-darker-20: light-dark(#053059, #053059);
    --ids-smc-colors-linkedin-default: light-dark(#0a66c2, #0a66c2);
    --ids-smc-colors-linkedin-lighter-10: light-dark(#378fe9, #378fe9);
    --ids-smc-colors-linkedin-lighter-20: light-dark(#71b7fb, #71b7fb);
    --ids-smc-colors-linkedin-lighter-30: light-dark(#aad6ff, #aad6ff);
    --ids-smc-colors-opacity-brand-50: light-dark(#003cff0d, #ffffff0d);
    --ids-smc-colors-opacity-brand-100: light-dark(#003cff1a, #ffffff1a);
    --ids-smc-colors-opacity-brand-200: light-dark(#003cff33, #ffffff33);
    --ids-smc-colors-opacity-brand-300: light-dark(#003cff33, #ffffff4d);
    --ids-smc-colors-opacity-brand-400: light-dark(#003cff66, #ffffff66);
    --ids-smc-colors-opacity-brand-500: light-dark(#003cff80, #ffffff80);
    --ids-smc-colors-opacity-brand-600: light-dark(#003cff99, #ffffff99);
    --ids-smc-colors-opacity-brand-700: light-dark(#003cffb3, #ffffffb3);
    --ids-smc-colors-opacity-brand-800: light-dark(#003cffcc, #ffffffcc);
    --ids-smc-colors-opacity-brand-900: light-dark(#003cffe6, #ffffffe6);
    --ids-smc-colors-opacity-brand-1000: light-dark(#4258ed, #ffffff);
    --ids-smc-colors-opacity-brand-fixed-50: light-dark(#003cff0d, #003cff0d);
    --ids-smc-colors-opacity-brand-fixed-100: light-dark(#003cff1a, #003cff1a);
    --ids-smc-colors-opacity-brand-fixed-200: light-dark(#003cff33, #003cff33);
    --ids-smc-colors-opacity-brand-fixed-300: light-dark(#003cff4d, #003cff4d);
    --ids-smc-colors-opacity-brand-fixed-400: light-dark(#003cff66, #003cff66);
    --ids-smc-colors-opacity-brand-fixed-500: light-dark(#003cff80, #003cff80);
    --ids-smc-colors-opacity-brand-fixed-600: light-dark(#003cff99, #003cff99);
    --ids-smc-colors-opacity-brand-fixed-700: light-dark(#003cffb3, #003cffb3);
    --ids-smc-colors-opacity-brand-fixed-800: light-dark(#003cffcc, #003cffcc);
    --ids-smc-colors-opacity-brand-fixed-900: light-dark(#003cffe6, #003cffe6);
    --ids-smc-colors-opacity-brand-fixed-1000: light-dark(#4258ed, #4258ed);
    --ids-smc-colors-opacity-cool-2-50: light-dark(#606b7a0d, #ffffff0d);
    --ids-smc-colors-opacity-cool-2-100: light-dark(#606b7a1a, #ffffff1a);
    --ids-smc-colors-opacity-cool-2-200: light-dark(#606b7a33, #ffffff33);
    --ids-smc-colors-opacity-cool-2-300: light-dark(#606b7a4d, #ffffff4d);
    --ids-smc-colors-opacity-cool-2-400: light-dark(#606b7a66, #ffffff66);
    --ids-smc-colors-opacity-cool-2-500: light-dark(#606b7a80, #ffffff80);
    --ids-smc-colors-opacity-cool-2-600: light-dark(#606b7a99, #ffffff99);
    --ids-smc-colors-opacity-cool-2-700: light-dark(#606b7ab3, #ffffffb3);
    --ids-smc-colors-opacity-cool-2-800: light-dark(#606b7acc, #ffffffcc);
    --ids-smc-colors-opacity-cool-2-900: light-dark(#606b7ae6, #ffffffe6);
    --ids-smc-colors-opacity-cool-2-1000: light-dark(#606b7a, #ffffff);
    --ids-smc-colors-opacity-cool-2-fixed-50: light-dark(#606b7a0d, #606b7a0d);
    --ids-smc-colors-opacity-cool-2-fixed-100: light-dark(#606b7a1a, #606b7a1a);
    --ids-smc-colors-opacity-cool-2-fixed-200: light-dark(#606b7a33, #606b7a33);
    --ids-smc-colors-opacity-cool-2-fixed-300: light-dark(#606b7a4d, #606b7a4d);
    --ids-smc-colors-opacity-cool-2-fixed-400: light-dark(#606b7a66, #606b7a66);
    --ids-smc-colors-opacity-cool-2-fixed-500: light-dark(#606b7a80, #606b7a80);
    --ids-smc-colors-opacity-cool-2-fixed-600: light-dark(#606b7a99, #606b7a99);
    --ids-smc-colors-opacity-cool-2-fixed-700: light-dark(#606b7ab3, #606b7ab3);
    --ids-smc-colors-opacity-cool-2-fixed-800: light-dark(#606b7acc, #606b7acc);
    --ids-smc-colors-opacity-cool-2-fixed-900: light-dark(#606b7ae6, #606b7ae6);
    --ids-smc-colors-opacity-cool-2-fixed-1000: light-dark(#606b7a, #606b7a);
    --ids-smc-colors-opacity-cool-50: light-dark(#648cb40d, #ffffff0d);
    --ids-smc-colors-opacity-cool-100: light-dark(#648cb41a, #ffffff1a);
    --ids-smc-colors-opacity-cool-150: light-dark(#648cb426, #ffffff26);
    --ids-smc-colors-opacity-cool-200: light-dark(#648cb433, #ffffff33);
    --ids-smc-colors-opacity-cool-250: light-dark(#648cb440, #ffffff40);
    --ids-smc-colors-opacity-cool-300: light-dark(#648cb44d, #ffffff4d);
    --ids-smc-colors-opacity-cool-400: light-dark(#648cb466, #ffffff66);
    --ids-smc-colors-opacity-cool-500: light-dark(#648cb480, #ffffff80);
    --ids-smc-colors-opacity-cool-600: light-dark(#648cb499, #ffffff99);
    --ids-smc-colors-opacity-cool-700: light-dark(#648cb4b3, #ffffffb3);
    --ids-smc-colors-opacity-cool-800: light-dark(#648cb4cc, #ffffffcc);
    --ids-smc-colors-opacity-cool-900: light-dark(#648cb4e6, #ffffffe6);
    --ids-smc-colors-opacity-cool-950: light-dark(#648cb4f2, #fffffff2);
    --ids-smc-colors-opacity-dark-50: light-dark(#0000000d, #ffffff0d);
    --ids-smc-colors-opacity-dark-100: light-dark(#0000001a, #ffffff1a);
    --ids-smc-colors-opacity-dark-150: light-dark(#00000026, #ffffff26);
    --ids-smc-colors-opacity-dark-200: light-dark(#00000033, #ffffff33);
    --ids-smc-colors-opacity-dark-250: light-dark(#00000040, #ffffff40);
    --ids-smc-colors-opacity-dark-300: light-dark(#0000004d, #ffffff4d);
    --ids-smc-colors-opacity-dark-400: light-dark(#00000066, #ffffff66);
    --ids-smc-colors-opacity-dark-500: light-dark(#00000080, #ffffff80);
    --ids-smc-colors-opacity-dark-600: light-dark(#00000099, #ffffff99);
    --ids-smc-colors-opacity-dark-700: light-dark(#000000b3, #ffffffb3);
    --ids-smc-colors-opacity-dark-800: light-dark(#000000cc, #ffffffcc);
    --ids-smc-colors-opacity-dark-900: light-dark(#000000e6, #ffffffe6);
    --ids-smc-colors-opacity-dark-950: light-dark(#000000f2, #fffffff2);
    --ids-smc-colors-opacity-dark-cool-50: light-dark(#0206170d, #ffffff0d);
    --ids-smc-colors-opacity-dark-cool-100: light-dark(#0206171a, #ffffff1a);
    --ids-smc-colors-opacity-dark-cool-150: light-dark(#02061726, #ffffff26);
    --ids-smc-colors-opacity-dark-cool-200: light-dark(#02061733, #ffffff33);
    --ids-smc-colors-opacity-dark-cool-250: light-dark(#02061740, #ffffff40);
    --ids-smc-colors-opacity-dark-cool-300: light-dark(#0206174d, #ffffff4d);
    --ids-smc-colors-opacity-dark-cool-400: light-dark(#02061766, #ffffff66);
    --ids-smc-colors-opacity-dark-cool-500: light-dark(#02061780, #ffffff80);
    --ids-smc-colors-opacity-dark-cool-600: light-dark(#02061799, #ffffff99);
    --ids-smc-colors-opacity-dark-cool-700: light-dark(#020617b3, #ffffffb3);
    --ids-smc-colors-opacity-dark-cool-800: light-dark(#020617cc, #ffffffcc);
    --ids-smc-colors-opacity-dark-cool-900: light-dark(#020617e6, #ffffffe6);
    --ids-smc-colors-opacity-dark-cool-950: light-dark(#020617f2, #fffffff2);
    --ids-smc-colors-opacity-dark-cool-variant-default: light-dark(#02061740, #020617b3);
    --ids-smc-colors-opacity-error-50: light-dark(#d40d000d, #ffffff0d);
    --ids-smc-colors-opacity-error-100: light-dark(#d40d001a, #ffffff1a);
    --ids-smc-colors-opacity-error-200: light-dark(#d40d0033, #ffffff33);
    --ids-smc-colors-opacity-error-300: light-dark(#d40d004d, #ffffff4d);
    --ids-smc-colors-opacity-error-400: light-dark(#d40d0066, #ffffff66);
    --ids-smc-colors-opacity-error-500: light-dark(#d40d0080, #ffffff80);
    --ids-smc-colors-opacity-error-600: light-dark(#d40d0099, #ffffff99);
    --ids-smc-colors-opacity-error-700: light-dark(#d40d00b3, #ffffffb3);
    --ids-smc-colors-opacity-error-800: light-dark(#d40d00cc, #ffffffcc);
    --ids-smc-colors-opacity-error-900: light-dark(#d40d00e6, #ffffffe6);
    --ids-smc-colors-opacity-error-1000: light-dark(#d40d00, #ffffff);
    --ids-smc-colors-opacity-error-fixed-50: light-dark(#d40d000d, #d40d000d);
    --ids-smc-colors-opacity-error-fixed-100: light-dark(#d40d001a, #d40d001a);
    --ids-smc-colors-opacity-error-fixed-200: light-dark(#d40d0033, #d40d004d);
    --ids-smc-colors-opacity-error-fixed-300: light-dark(#d40d004d, #d40d0066);
    --ids-smc-colors-opacity-error-fixed-400: light-dark(#d40d0066, #d40d0080);
    --ids-smc-colors-opacity-error-fixed-500: light-dark(#d40d0080, #d40d0099);
    --ids-smc-colors-opacity-error-fixed-600: light-dark(#d40d0099, #d40d00b3);
    --ids-smc-colors-opacity-error-fixed-700: light-dark(#d40d00b3, #d40d00cc);
    --ids-smc-colors-opacity-error-fixed-800: light-dark(#d40d00cc, #d40d00e6);
    --ids-smc-colors-opacity-error-fixed-900: light-dark(#d40d00e6, #d40d00e6);
    --ids-smc-colors-opacity-error-fixed-1000: light-dark(#d40d00, #d40d00);
    --ids-smc-colors-opacity-highlight-50: light-dark(#06b6d40d, #ffffff0d);
    --ids-smc-colors-opacity-highlight-100: light-dark(#06b6d41a, #ffffff1a);
    --ids-smc-colors-opacity-highlight-200: light-dark(#06b6d433, #ffffff33);
    --ids-smc-colors-opacity-highlight-300: light-dark(#06b6d44d, #ffffff4d);
    --ids-smc-colors-opacity-highlight-400: light-dark(#06b6d466, #ffffff66);
    --ids-smc-colors-opacity-highlight-500: light-dark(#06b6d480, #ffffff80);
    --ids-smc-colors-opacity-highlight-600: light-dark(#06b6d499, #ffffff99);
    --ids-smc-colors-opacity-highlight-700: light-dark(#06b6d4b3, #ffffffb3);
    --ids-smc-colors-opacity-highlight-800: light-dark(#06b6d4cc, #ffffffcc);
    --ids-smc-colors-opacity-highlight-900: light-dark(#06b6d4e6, #ffffffe6);
    --ids-smc-colors-opacity-highlight-1000: light-dark(#01719d, #ffffff);
    --ids-smc-colors-opacity-highlight-fixed-50: light-dark(#06b6d40d, #06b6d40d);
    --ids-smc-colors-opacity-highlight-fixed-100: light-dark(#06b6d41a, #06b6d41a);
    --ids-smc-colors-opacity-highlight-fixed-200: light-dark(#06b6d433, #06b6d433);
    --ids-smc-colors-opacity-highlight-fixed-300: light-dark(#06b6d44d, #06b6d44d);
    --ids-smc-colors-opacity-highlight-fixed-400: light-dark(#06b6d466, #06b6d466);
    --ids-smc-colors-opacity-highlight-fixed-500: light-dark(#06b6d480, #06b6d480);
    --ids-smc-colors-opacity-highlight-fixed-600: light-dark(#06b6d499, #06b6d499);
    --ids-smc-colors-opacity-highlight-fixed-700: light-dark(#06b6d4b3, #06b6d4b3);
    --ids-smc-colors-opacity-highlight-fixed-800: light-dark(#06b6d4cc, #06b6d4cc);
    --ids-smc-colors-opacity-highlight-fixed-900: light-dark(#06b6d4e6, #06b6d4e6);
    --ids-smc-colors-opacity-highlight-fixed-1000: light-dark(#01719d, #01719d);
    --ids-smc-colors-opacity-info-50: light-dark(#006faa0d, #ffffff0d);
    --ids-smc-colors-opacity-info-100: light-dark(#006faa1a, #ffffff1a);
    --ids-smc-colors-opacity-info-200: light-dark(#006faa33, #ffffff33);
    --ids-smc-colors-opacity-info-300: light-dark(#006faa4d, #ffffff4d);
    --ids-smc-colors-opacity-info-400: light-dark(#006faa66, #ffffff66);
    --ids-smc-colors-opacity-info-500: light-dark(#006faa80, #ffffff80);
    --ids-smc-colors-opacity-info-600: light-dark(#006faa99, #ffffff99);
    --ids-smc-colors-opacity-info-700: light-dark(#006faab3, #ffffffb3);
    --ids-smc-colors-opacity-info-800: light-dark(#006faacc, #ffffffcc);
    --ids-smc-colors-opacity-info-900: light-dark(#006faae6, #ffffffe6);
    --ids-smc-colors-opacity-info-1000: light-dark(#006faa, #ffffff);
    --ids-smc-colors-opacity-info-fixed-50: light-dark(#006faa0d, #006faa0d);
    --ids-smc-colors-opacity-info-fixed-100: light-dark(#006faa1a, #006faa1a);
    --ids-smc-colors-opacity-info-fixed-200: light-dark(#006faa33, #006faa33);
    --ids-smc-colors-opacity-info-fixed-300: light-dark(#006faa4d, #006faa4d);
    --ids-smc-colors-opacity-info-fixed-400: light-dark(#006faa66, #006faa66);
    --ids-smc-colors-opacity-info-fixed-500: light-dark(#006faa80, #006faa80);
    --ids-smc-colors-opacity-info-fixed-600: light-dark(#006faa99, #006faa99);
    --ids-smc-colors-opacity-info-fixed-700: light-dark(#006faab3, #006faab3);
    --ids-smc-colors-opacity-info-fixed-800: light-dark(#006faacc, #006faacc);
    --ids-smc-colors-opacity-info-fixed-900: light-dark(#006faae6, #006faae6);
    --ids-smc-colors-opacity-info-fixed-1000: light-dark(#006faa, #006faa);
    --ids-smc-colors-opacity-light-50: light-dark(#ffffff0d, #ffffff0d);
    --ids-smc-colors-opacity-light-100: light-dark(#ffffff1a, #ffffff1a);
    --ids-smc-colors-opacity-light-150: light-dark(#ffffff26, #ffffff26);
    --ids-smc-colors-opacity-light-200: light-dark(#ffffff33, #ffffff33);
    --ids-smc-colors-opacity-light-250: light-dark(#ffffff40, #ffffff40);
    --ids-smc-colors-opacity-light-300: light-dark(#ffffff4d, #ffffff4d);
    --ids-smc-colors-opacity-light-400: light-dark(#ffffff66, #ffffff66);
    --ids-smc-colors-opacity-light-500: light-dark(#ffffff80, #ffffff80);
    --ids-smc-colors-opacity-light-600: light-dark(#ffffff99, #ffffff99);
    --ids-smc-colors-opacity-light-700: light-dark(#ffffffb3, #ffffffb3);
    --ids-smc-colors-opacity-light-800: light-dark(#ffffffcc, #ffffffcc);
    --ids-smc-colors-opacity-light-900: light-dark(#ffffffe6, #ffffffe6);
    --ids-smc-colors-opacity-light-950: light-dark(#fffffff2, #fffffff2);
    --ids-smc-colors-opacity-primary-50: light-dark(#003cff0d, #ffffff0d);
    --ids-smc-colors-opacity-primary-100: light-dark(#003cff1a, #ffffff1a);
    --ids-smc-colors-opacity-primary-200: light-dark(#003cff33, #ffffff33);
    --ids-smc-colors-opacity-primary-300: light-dark(#003cff33, #ffffff4d);
    --ids-smc-colors-opacity-primary-400: light-dark(#003cff66, #ffffff66);
    --ids-smc-colors-opacity-primary-500: light-dark(#003cff80, #ffffff80);
    --ids-smc-colors-opacity-primary-600: light-dark(#003cff99, #ffffff99);
    --ids-smc-colors-opacity-primary-700: light-dark(#003cffb3, #ffffffb3);
    --ids-smc-colors-opacity-primary-800: light-dark(#003cffcc, #ffffffcc);
    --ids-smc-colors-opacity-primary-900: light-dark(#003cffe6, #ffffffe6);
    --ids-smc-colors-opacity-primary-1000: light-dark(#4258ed, #ffffff);
    --ids-smc-colors-opacity-primary-fixed-50: light-dark(#003cff0d, #003cff0d);
    --ids-smc-colors-opacity-primary-fixed-100: light-dark(#003cff1a, #003cff1a);
    --ids-smc-colors-opacity-primary-fixed-200: light-dark(#003cff33, #003cff33);
    --ids-smc-colors-opacity-primary-fixed-300: light-dark(#003cff4d, #003cff4d);
    --ids-smc-colors-opacity-primary-fixed-400: light-dark(#003cff66, #003cff66);
    --ids-smc-colors-opacity-primary-fixed-500: light-dark(#003cff80, #003cff80);
    --ids-smc-colors-opacity-primary-fixed-600: light-dark(#003cff99, #003cff99);
    --ids-smc-colors-opacity-primary-fixed-700: light-dark(#003cffb3, #003cffb3);
    --ids-smc-colors-opacity-primary-fixed-800: light-dark(#003cffcc, #003cffcc);
    --ids-smc-colors-opacity-primary-fixed-900: light-dark(#003cffe6, #003cffe6);
    --ids-smc-colors-opacity-primary-fixed-1000: light-dark(#4258ed, #4258ed);
    --ids-smc-colors-opacity-secondary-50: light-dark(#64748b0d, #ffffff0d);
    --ids-smc-colors-opacity-secondary-100: light-dark(#64748b1a, #ffffff1a);
    --ids-smc-colors-opacity-secondary-200: light-dark(#64748b33, #ffffff33);
    --ids-smc-colors-opacity-secondary-300: light-dark(#64748b4d, #ffffff4d);
    --ids-smc-colors-opacity-secondary-400: light-dark(#64748b66, #ffffff66);
    --ids-smc-colors-opacity-secondary-500: light-dark(#64748b80, #ffffff80);
    --ids-smc-colors-opacity-secondary-600: light-dark(#64748b99, #ffffff99);
    --ids-smc-colors-opacity-secondary-700: light-dark(#64748bb3, #ffffffb3);
    --ids-smc-colors-opacity-secondary-800: light-dark(#64748bcc, #ffffffcc);
    --ids-smc-colors-opacity-secondary-900: light-dark(#64748be6, #ffffffe6);
    --ids-smc-colors-opacity-secondary-1000: light-dark(#64748b, #ffffff);
    --ids-smc-colors-opacity-secondary-fixed-50: light-dark(#64748b0d, #64748b0d);
    --ids-smc-colors-opacity-secondary-fixed-100: light-dark(#64748b1a, #64748b1a);
    --ids-smc-colors-opacity-secondary-fixed-200: light-dark(#64748b33, #64748b33);
    --ids-smc-colors-opacity-secondary-fixed-300: light-dark(#64748b4d, #64748b4d);
    --ids-smc-colors-opacity-secondary-fixed-400: light-dark(#64748b66, #64748b66);
    --ids-smc-colors-opacity-secondary-fixed-500: light-dark(#64748b80, #64748b80);
    --ids-smc-colors-opacity-secondary-fixed-600: light-dark(#64748b99, #64748b99);
    --ids-smc-colors-opacity-secondary-fixed-700: light-dark(#64748bb3, #64748bb3);
    --ids-smc-colors-opacity-secondary-fixed-800: light-dark(#64748bcc, #64748bcc);
    --ids-smc-colors-opacity-secondary-fixed-900: light-dark(#64748be6, #64748be6);
    --ids-smc-colors-opacity-secondary-fixed-1000: light-dark(#64748b, #64748b);
    --ids-smc-colors-opacity-success-50: light-dark(#007b240d, #ffffff0d);
    --ids-smc-colors-opacity-success-100: light-dark(#007b241a, #ffffff1a);
    --ids-smc-colors-opacity-success-200: light-dark(#007b2433, #ffffff33);
    --ids-smc-colors-opacity-success-300: light-dark(#007b244d, #ffffff4d);
    --ids-smc-colors-opacity-success-400: light-dark(#007b2466, #ffffff66);
    --ids-smc-colors-opacity-success-500: light-dark(#007b2480, #ffffff80);
    --ids-smc-colors-opacity-success-600: light-dark(#007b2499, #ffffff99);
    --ids-smc-colors-opacity-success-700: light-dark(#007b24b3, #ffffffb3);
    --ids-smc-colors-opacity-success-800: light-dark(#007b24cc, #ffffffcc);
    --ids-smc-colors-opacity-success-900: light-dark(#007b24e6, #ffffffe6);
    --ids-smc-colors-opacity-success-1000: light-dark(#007b24, #ffffff);
    --ids-smc-colors-opacity-success-fixed-50: light-dark(#007b240d, #007b240d);
    --ids-smc-colors-opacity-success-fixed-100: light-dark(#007b241a, #007b241a);
    --ids-smc-colors-opacity-success-fixed-200: light-dark(#007b2433, #007b2433);
    --ids-smc-colors-opacity-success-fixed-300: light-dark(#007b244d, #007b244d);
    --ids-smc-colors-opacity-success-fixed-400: light-dark(#007b2466, #007b2466);
    --ids-smc-colors-opacity-success-fixed-500: light-dark(#007b2480, #007b2480);
    --ids-smc-colors-opacity-success-fixed-600: light-dark(#007b2499, #007b2499);
    --ids-smc-colors-opacity-success-fixed-700: light-dark(#007b24b3, #007b24b3);
    --ids-smc-colors-opacity-success-fixed-800: light-dark(#007b24cc, #007b24cc);
    --ids-smc-colors-opacity-success-fixed-900: light-dark(#007b24e6, #007b24e6);
    --ids-smc-colors-opacity-success-fixed-1000: light-dark(light-dark(#007b24, #ffffff), #007b24);
    --ids-smc-colors-opacity-warning-50: light-dark(#a652000d, #ffffff0d);
    --ids-smc-colors-opacity-warning-100: light-dark(#a652001a, #ffffff1a);
    --ids-smc-colors-opacity-warning-200: light-dark(#a6520033, #ffffff33);
    --ids-smc-colors-opacity-warning-300: light-dark(#a652004d, #ffffff4d);
    --ids-smc-colors-opacity-warning-400: light-dark(#a6520066, #ffffff66);
    --ids-smc-colors-opacity-warning-500: light-dark(#a6520080, #ffffff80);
    --ids-smc-colors-opacity-warning-600: light-dark(#a6520099, #ffffff99);
    --ids-smc-colors-opacity-warning-700: light-dark(#a65200b3, #ffffffb3);
    --ids-smc-colors-opacity-warning-800: light-dark(#a65200cc, #ffffffcc);
    --ids-smc-colors-opacity-warning-900: light-dark(#a65200e6, #ffffffe6);
    --ids-smc-colors-opacity-warning-1000: light-dark(#a65200, #ffffff);
    --ids-smc-colors-opacity-warning-fixed-50: light-dark(#a652000d, #a652000d);
    --ids-smc-colors-opacity-warning-fixed-100: light-dark(#a652001a, #a652001a);
    --ids-smc-colors-opacity-warning-fixed-200: light-dark(#a6520033, #a6520033);
    --ids-smc-colors-opacity-warning-fixed-300: light-dark(#a652004d, #a652004d);
    --ids-smc-colors-opacity-warning-fixed-400: light-dark(#a6520066, #a6520066);
    --ids-smc-colors-opacity-warning-fixed-500: light-dark(#a6520080, #a6520080);
    --ids-smc-colors-opacity-warning-fixed-600: light-dark(#a6520099, #a6520099);
    --ids-smc-colors-opacity-warning-fixed-700: light-dark(#a65200b3, #a65200b3);
    --ids-smc-colors-opacity-warning-fixed-800: light-dark(#a65200cc, #a65200cc);
    --ids-smc-colors-opacity-warning-fixed-900: light-dark(#a65200e6, #a65200e6);
    --ids-smc-colors-opacity-warning-fixed-1000: light-dark(#a65200, #a65200);
    --ids-smc-colors-primary-darker-10: light-dark(#3130ab, #a2b1ff);
    --ids-smc-colors-primary-darker-20: light-dark(#2b2695, #aebfff);
    --ids-smc-colors-primary-darker-30: light-dark(#261d84, #c4d3ff);
    --ids-smc-colors-primary-darker-31: light-dark(#23197b, #e3ecff);
    --ids-smc-colors-primary-darker-32: light-dark(#201673, #ecf3ff);
    --ids-smc-colors-primary-darker-33: light-dark(#1f146f, #f4f8ff);
    --ids-smc-colors-primary-darker-34: light-dark(#1c1066, #f4f8ff);
    --ids-smc-colors-primary-darker-35: light-dark(#180c5b, #f4f8ff);
    --ids-smc-colors-primary-darker-40: light-dark(#160b56, #f4f8ff);
    --ids-smc-colors-primary-darker-50: light-dark(#110749, #f4f8ff);
    --ids-smc-colors-primary-default: light-dark(#4258ed, #929eff);
    --ids-smc-colors-primary-fixed-darker-10: light-dark(#3130ab, #3130ab);
    --ids-smc-colors-primary-fixed-darker-20: light-dark(#2b2695, #2b2695);
    --ids-smc-colors-primary-fixed-darker-30: light-dark(#261d84, #261d84);
    --ids-smc-colors-primary-fixed-darker-31: light-dark(#23197b, #23197b);
    --ids-smc-colors-primary-fixed-darker-32: light-dark(#201673, #201673);
    --ids-smc-colors-primary-fixed-darker-33: light-dark(#1f146f, #1f146f);
    --ids-smc-colors-primary-fixed-darker-34: light-dark(#1c1066, #1c1066);
    --ids-smc-colors-primary-fixed-darker-35: light-dark(#180c5b, #180c5b);
    --ids-smc-colors-primary-fixed-darker-40: light-dark(#160b56, #160b56);
    --ids-smc-colors-primary-fixed-darker-50: light-dark(#110749, #110749);
    --ids-smc-colors-primary-fixed-default: light-dark(#4258ed, #4258ed);
    --ids-smc-colors-primary-fixed-lighter-10: light-dark(#4964fb, #4964fb);
    --ids-smc-colors-primary-fixed-lighter-20: light-dark(#647aff, #647aff);
    --ids-smc-colors-primary-fixed-lighter-30: light-dark(#929eff, #929eff);
    --ids-smc-colors-primary-fixed-lighter-40: light-dark(#a2b1ff, #a2b1ff);
    --ids-smc-colors-primary-fixed-lighter-42: light-dark(#aebfff, #aebfff);
    --ids-smc-colors-primary-fixed-lighter-44: light-dark(#c4d3ff, #c4d3ff);
    --ids-smc-colors-primary-fixed-lighter-46: light-dark(#e3ecff, #e3ecff);
    --ids-smc-colors-primary-fixed-lighter-48: light-dark(#ecf3ff, #ecf3ff);
    --ids-smc-colors-primary-fixed-lighter-50: light-dark(#f4f8ff, #f4f8ff);
    --ids-smc-colors-primary-lighter-10: light-dark(#4964fb, #3130ab);
    --ids-smc-colors-primary-lighter-20: light-dark(#647aff, #2b2695);
    --ids-smc-colors-primary-lighter-30: light-dark(#929eff, #3130ab);
    --ids-smc-colors-primary-lighter-40: light-dark(#a2b1ff, #23197b);
    --ids-smc-colors-primary-lighter-42: light-dark(#aebfff, #1f146f);
    --ids-smc-colors-primary-lighter-44: light-dark(#c4d3ff, #1c1066);
    --ids-smc-colors-primary-lighter-46: light-dark(#e3ecff, #180c5b);
    --ids-smc-colors-primary-lighter-48: light-dark(#ecf3ff, #160b56);
    --ids-smc-colors-primary-lighter-50: light-dark(#f4f8ff, #110749);
    --ids-smc-colors-primary-variant-darker-50: light-dark(#110749, light-dark(#000000, #ffffff));
    --ids-smc-colors-secondary-darker-10: light-dark(#475569, #f1f5f9);
    --ids-smc-colors-secondary-darker-20: light-dark(#334155, #f2f6fa);
    --ids-smc-colors-secondary-darker-30: light-dark(#1e293b, #f4f7fa);
    --ids-smc-colors-secondary-darker-31: light-dark(#1b2638, #f5f8fb);
    --ids-smc-colors-secondary-darker-32: light-dark(#192335, #f7f9fb);
    --ids-smc-colors-secondary-darker-33: light-dark(#162032, #f8fafc);
    --ids-smc-colors-secondary-darker-34: light-dark(#141d30, #f8fafc);
    --ids-smc-colors-secondary-darker-35: light-dark(#111a2d, #f8fafc);
    --ids-smc-colors-secondary-darker-40: light-dark(#0f172a, #f8fafc);
    --ids-smc-colors-secondary-darker-50: light-dark(#020617, undefined);
    --ids-smc-colors-secondary-default: light-dark(#64748b, #e2e8f0);
    --ids-smc-colors-secondary-fixed-darker-10: light-dark(#475569, #475569);
    --ids-smc-colors-secondary-fixed-darker-20: light-dark(#334155, #334155);
    --ids-smc-colors-secondary-fixed-darker-30: light-dark(#1e293b, #1e293b);
    --ids-smc-colors-secondary-fixed-darker-31: light-dark(#1b2638, #1b2638);
    --ids-smc-colors-secondary-fixed-darker-32: light-dark(#192335, #192335);
    --ids-smc-colors-secondary-fixed-darker-33: light-dark(#162032, #162032);
    --ids-smc-colors-secondary-fixed-darker-34: light-dark(#141d30, #141d30);
    --ids-smc-colors-secondary-fixed-darker-35: light-dark(#111a2d, #111a2d);
    --ids-smc-colors-secondary-fixed-darker-40: light-dark(#0f172a, #0f172a);
    --ids-smc-colors-secondary-fixed-darker-50: light-dark(#020617, #020617);
    --ids-smc-colors-secondary-fixed-default: light-dark(#64748b, #64748b);
    --ids-smc-colors-secondary-fixed-lighter-10: light-dark(#94a3b8, #94a3b8);
    --ids-smc-colors-secondary-fixed-lighter-20: light-dark(#cbd5e1, #cbd5e1);
    --ids-smc-colors-secondary-fixed-lighter-30: light-dark(#e2e8f0, #e2e8f0);
    --ids-smc-colors-secondary-fixed-lighter-40: light-dark(#f1f5f9, #f1f5f9);
    --ids-smc-colors-secondary-fixed-lighter-42: light-dark(#f2f6fa, #f2f6fa);
    --ids-smc-colors-secondary-fixed-lighter-44: light-dark(#f4f7fa, #f4f7fa);
    --ids-smc-colors-secondary-fixed-lighter-46: light-dark(#f5f8fb, #f5f8fb);
    --ids-smc-colors-secondary-fixed-lighter-48: light-dark(#f7f9fb, #f7f9fb);
    --ids-smc-colors-secondary-fixed-lighter-50: light-dark(#f8fafc, #f8fafc);
    --ids-smc-colors-secondary-lighter-10: light-dark(#94a3b8, #475569);
    --ids-smc-colors-secondary-lighter-20: light-dark(#cbd5e1, #334155);
    --ids-smc-colors-secondary-lighter-30: light-dark(#e2e8f0, #475569);
    --ids-smc-colors-secondary-lighter-40: light-dark(#f1f5f9, #1b2638);
    --ids-smc-colors-secondary-lighter-42: light-dark(#f2f6fa, #162032);
    --ids-smc-colors-secondary-lighter-44: light-dark(#f4f7fa, #141d30);
    --ids-smc-colors-secondary-lighter-46: light-dark(#f5f8fb, #111a2d);
    --ids-smc-colors-secondary-lighter-48: light-dark(#f7f9fb, #0f172a);
    --ids-smc-colors-secondary-lighter-50: light-dark(#f8fafc, #020617);
    --ids-smc-colors-success-darker-10: light-dark(#005012, #00d164);
    --ids-smc-colors-success-darker-20: light-dark(#00430d, #00dd72);
    --ids-smc-colors-success-darker-30: light-dark(#00390a, #22f18f);
    --ids-smc-colors-success-darker-31: light-dark(#003408, #dbffef);
    --ids-smc-colors-success-darker-32: light-dark(#002f07, #e5fff3);
    --ids-smc-colors-success-darker-33: light-dark(#002d06, #f0fff8);
    --ids-smc-colors-success-darker-34: light-dark(#002905, #f0fff8);
    --ids-smc-colors-success-darker-35: light-dark(#002304, #f0fff8);
    --ids-smc-colors-success-darker-40: light-dark(#002103, #f0fff8);
    --ids-smc-colors-success-darker-50: light-dark(#001a02, #f0fff8);
    --ids-smc-colors-success-default: light-dark(#007b24, #00bf53);
    --ids-smc-colors-success-fixed-darker-10: light-dark(#005012, #005012);
    --ids-smc-colors-success-fixed-darker-20: light-dark(#00430d, #00430d);
    --ids-smc-colors-success-fixed-darker-30: light-dark(#00390a, #00390a);
    --ids-smc-colors-success-fixed-darker-31: light-dark(#003408, #003408);
    --ids-smc-colors-success-fixed-darker-32: light-dark(#002f07, #002f07);
    --ids-smc-colors-success-fixed-darker-33: light-dark(#002d06, #002d06);
    --ids-smc-colors-success-fixed-darker-34: light-dark(#002905, #002905);
    --ids-smc-colors-success-fixed-darker-35: light-dark(#002304, #002304);
    --ids-smc-colors-success-fixed-darker-40: light-dark(#002103, #002103);
    --ids-smc-colors-success-fixed-darker-50: light-dark(#001a02, #001a02);
    --ids-smc-colors-success-fixed-default: light-dark(#007b24, #007b24);
    --ids-smc-colors-success-fixed-lighter-10: light-dark(#00872a, #00872a);
    --ids-smc-colors-success-fixed-lighter-20: light-dark(#009b37, #009b37);
    --ids-smc-colors-success-fixed-lighter-30: light-dark(#00bf53, #00bf53);
    --ids-smc-colors-success-fixed-lighter-40: light-dark(#00d164, #00d164);
    --ids-smc-colors-success-fixed-lighter-42: light-dark(#00dd72, #00dd72);
    --ids-smc-colors-success-fixed-lighter-44: light-dark(#22f18f, #22f18f);
    --ids-smc-colors-success-fixed-lighter-46: light-dark(#dbffef, #dbffef);
    --ids-smc-colors-success-fixed-lighter-48: light-dark(#e5fff3, #e5fff3);
    --ids-smc-colors-success-fixed-lighter-50: light-dark(#f0fff8, #f0fff8);
    --ids-smc-colors-success-lighter-10: light-dark(#00872a, #005012);
    --ids-smc-colors-success-lighter-20: light-dark(#009b37, #00430d);
    --ids-smc-colors-success-lighter-30: light-dark(#00bf53, #005012);
    --ids-smc-colors-success-lighter-40: light-dark(#00d164, #003408);
    --ids-smc-colors-success-lighter-42: light-dark(#00dd72, #002d06);
    --ids-smc-colors-success-lighter-44: light-dark(#22f18f, #002905);
    --ids-smc-colors-success-lighter-46: light-dark(#dbffef, #002304);
    --ids-smc-colors-success-lighter-48: light-dark(#e5fff3, #002103);
    --ids-smc-colors-success-lighter-50: light-dark(#f0fff8, #001a02);
    --ids-smc-colors-surface-darker-2: light-dark(#eef2f6, #15181f);
    --ids-smc-colors-surface-darker-4: light-dark(#e9edf2, #181b22);
    --ids-smc-colors-surface-darker-6: light-dark(#d1d7df, #1c1f26);
    --ids-smc-colors-surface-darker-8: light-dark(#bfc6d1, #20242c);
    --ids-smc-colors-surface-darker-10: light-dark(#b2b9c6, #242830);
    --ids-smc-colors-surface-darker-20: light-dark(#a3abba, #2b3039);
    --ids-smc-colors-surface-darker-30: light-dark(#7e8797, #353b46);
    --ids-smc-colors-surface-darker-40: light-dark(#707a8a, #404753);
    --ids-smc-colors-surface-darker-50: light-dark(#606b7a, #a3abba);
    --ids-smc-colors-surface-darker-60: light-dark(#404753, #bfc6d1);
    --ids-smc-colors-surface-darker-70: light-dark(#353b46, #d1d7df);
    --ids-smc-colors-surface-darker-80: light-dark(#2b3039, #d1d7df);
    --ids-smc-colors-surface-darker-90: light-dark(#282c35, #e9edf2);
    --ids-smc-colors-surface-darker-91: light-dark(#242830, #eef2f6);
    --ids-smc-colors-surface-darker-92: light-dark(#20242c, #eef2f6);
    --ids-smc-colors-surface-darker-93: light-dark(#1c1f26, #eef2f6);
    --ids-smc-colors-surface-darker-94: light-dark(#181b22, #f5f7fa);
    --ids-smc-colors-surface-darker-95: light-dark(#15181f, #f5f7fa);
    --ids-smc-colors-surface-darker-96: light-dark(#0f1115, #f5f7fa);
    --ids-smc-colors-surface-darker-100: light-dark(#000000, #ffffff);
    --ids-smc-colors-surface-default: light-dark(#f5f7fa, #0f1115);
    --ids-smc-colors-surface-fixed-darker-2: light-dark(#eef2f6, #eef2f6);
    --ids-smc-colors-surface-fixed-darker-4: light-dark(#e9edf2, #e9edf2);
    --ids-smc-colors-surface-fixed-darker-6: light-dark(#d1d7df, #d1d7df);
    --ids-smc-colors-surface-fixed-darker-8: light-dark(#bfc6d1, #bfc6d1);
    --ids-smc-colors-surface-fixed-darker-10: light-dark(#b2b9c6, #b2b9c6);
    --ids-smc-colors-surface-fixed-darker-20: light-dark(#a3abba, #a3abba);
    --ids-smc-colors-surface-fixed-darker-30: light-dark(#7e8797, #7e8797);
    --ids-smc-colors-surface-fixed-darker-40: light-dark(#707a8a, #707a8a);
    --ids-smc-colors-surface-fixed-darker-50: light-dark(#606b7a, #606b7a);
    --ids-smc-colors-surface-fixed-darker-60: light-dark(#404753, #404753);
    --ids-smc-colors-surface-fixed-darker-70: light-dark(#353b46, #353b46);
    --ids-smc-colors-surface-fixed-darker-80: light-dark(#2b3039, #2b3039);
    --ids-smc-colors-surface-fixed-darker-90: light-dark(#282c35, #282c35);
    --ids-smc-colors-surface-fixed-darker-91: light-dark(#242830, #242830);
    --ids-smc-colors-surface-fixed-darker-92: light-dark(#20242c, #20242c);
    --ids-smc-colors-surface-fixed-darker-93: light-dark(#1c1f26, #1c1f26);
    --ids-smc-colors-surface-fixed-darker-94: light-dark(#181b22, #181b22);
    --ids-smc-colors-surface-fixed-darker-95: light-dark(#0f1115, #15181f);
    --ids-smc-colors-surface-fixed-darker-96: light-dark(#0f1115, #0f1115);
    --ids-smc-colors-surface-fixed-darker-100: light-dark(#000000, #000000);
    --ids-smc-colors-surface-fixed-default: light-dark(#f5f7fa, #f5f7fa);
    --ids-smc-colors-surface-fixed-lighter-10: light-dark(#ffffff, #ffffff);
    --ids-smc-colors-surface-lighter-10: light-dark(#ffffff, #000000);
    --ids-smc-colors-surface-variant-darker-10: light-dark(#f5f7fa, #2b3039);
    --ids-smc-colors-surface-variant-default: light-dark(#f5f7fa, #404753);
    --ids-smc-colors-surface-variant-lighter-30: light-dark(#ffffff, #606b7a);
    --ids-smc-colors-surface-variant-lighter-40: light-dark(#ffffff, #2b3039);
    --ids-smc-colors-warning-darker-10: light-dark(#6f3300, #ffa034);
    --ids-smc-colors-warning-darker-20: light-dark(#5e2a00, #ffb156);
    --ids-smc-colors-warning-darker-30: light-dark(#512300, #ffca89);
    --ids-smc-colors-warning-darker-31: light-dark(#4a2000, #ffefdb);
    --ids-smc-colors-warning-darker-32: light-dark(#441d00, #fff4e5);
    --ids-smc-colors-warning-darker-33: light-dark(#411b00, #fff6ec);
    --ids-smc-colors-warning-darker-34: light-dark(#3b1800, #fff6ec);
    --ids-smc-colors-warning-darker-35: light-dark(#341400, #fff6ec);
    --ids-smc-colors-warning-darker-40: light-dark(#301300, #fff6ec);
    --ids-smc-colors-warning-darker-50: light-dark(#270e00, #fff6ec);
    --ids-smc-colors-warning-default: light-dark(#a65200, #f98900);
    --ids-smc-colors-warning-fixed-darker-10: light-dark(#6f3300, #6f3300);
    --ids-smc-colors-warning-fixed-darker-20: light-dark(#5e2a00, #5e2a00);
    --ids-smc-colors-warning-fixed-darker-30: light-dark(#512300, #512300);
    --ids-smc-colors-warning-fixed-darker-31: light-dark(#4a2000, #4a2000);
    --ids-smc-colors-warning-fixed-darker-32: light-dark(#441d00, #441d00);
    --ids-smc-colors-warning-fixed-darker-33: light-dark(#411b00, #411b00);
    --ids-smc-colors-warning-fixed-darker-34: light-dark(#3b1800, #3b1800);
    --ids-smc-colors-warning-fixed-darker-35: light-dark(#341400, #341400);
    --ids-smc-colors-warning-fixed-darker-40: light-dark(#301300, #301300);
    --ids-smc-colors-warning-fixed-darker-50: light-dark(#270e00, #270e00);
    --ids-smc-colors-warning-fixed-default: light-dark(#a65200, #a65200);
    --ids-smc-colors-warning-fixed-lighter-10: light-dark(#b65b00, #b65b00);
    --ids-smc-colors-warning-fixed-lighter-20: light-dark(#d06b00, #d06b00);
    --ids-smc-colors-warning-fixed-lighter-30: light-dark(#f98900, #f98900);
    --ids-smc-colors-warning-fixed-lighter-40: light-dark(#ffa034, #ffa034);
    --ids-smc-colors-warning-fixed-lighter-42: light-dark(#ffb156, #ffb156);
    --ids-smc-colors-warning-fixed-lighter-44: light-dark(#ffca89, #ffca89);
    --ids-smc-colors-warning-fixed-lighter-46: light-dark(#ffefdb, #ffefdb);
    --ids-smc-colors-warning-fixed-lighter-48: light-dark(#fff4e5, #fff4e5);
    --ids-smc-colors-warning-fixed-lighter-50: light-dark(#fff6ec, #fff6ec);
    --ids-smc-colors-warning-lighter-10: light-dark(#b65b00, #6f3300);
    --ids-smc-colors-warning-lighter-20: light-dark(#d06b00, #5e2a00);
    --ids-smc-colors-warning-lighter-30: light-dark(#f98900, #6f3300);
    --ids-smc-colors-warning-lighter-40: light-dark(#ffa034, #4a2000);
    --ids-smc-colors-warning-lighter-42: light-dark(#ffb156, #411b00);
    --ids-smc-colors-warning-lighter-44: light-dark(#ffca89, #3b1800);
    --ids-smc-colors-warning-lighter-46: light-dark(#ffefdb, #341400);
    --ids-smc-colors-warning-lighter-48: light-dark(#fff4e5, #301300);
    --ids-smc-colors-warning-lighter-50: light-dark(#fff6ec, #270e00)
}