<ids-tab-group [stretchTabs]="false">
  <ids-tab-item label="Alma 0">Alma 0</ids-tab-item>
  <ids-tab-item label="Alma 1" leadingIcon="user" [hasLeadingIcon]="true">Alma 1</ids-tab-item>
  <ids-tab-item label="Alma 2" trailingIcon="moon" [hasTrailingIcon]="true"
    >Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum consequuntur voluptas numquam omnis dolorum iure, odio debitis sequi aut
    fugit magni, ullam eos natus quibusdam, ratione at repellendus harum eum.</ids-tab-item
  >
  <ids-tab-item label="Alma 3" leadingIcon="user" trailingIcon="moon" [hasLeadingIcon]="true" [hasTrailingIcon]="true">Alma 3</ids-tab-item>
</ids-tab-group>

<ids-tab-group [orientation]="'vertical'">
  <ids-tab-item label="Alma 0">Alma 0</ids-tab-item>
  <ids-tab-item label="Alma 1" leadingIcon="user" [hasLeadingIcon]="true"
    >Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum consequuntur voluptas numquam omnis dolorum iure, odio debitis sequi aut
    fugit magni, ullam eos natus quibusdam, ratione at repellendus harum eum.</ids-tab-item
  >
  <ids-tab-item label="Alma 2" trailingIcon="moon" [hasTrailingIcon]="true">Alma 2</ids-tab-item>
  <ids-tab-item label="Alma 3" leadingIcon="user" trailingIcon="moon" [hasLeadingIcon]="true" [hasTrailingIcon]="true">Alma 3</ids-tab-item>
</ids-tab-group>
