<div class="flex gap-ids-container-gap-4 items-center">
  <button type="button" idsIconButton size="dense">
    <ids-icon aria-hidden="true" alt="" fontIcon="search" />
  </button>
  <button type="button" idsIconButton size="compact">
    <ids-icon aria-hidden="true" alt="" fontIcon="search" />
  </button>
  <button type="button" idsIconButton size="comfortable">
    <ids-icon aria-hidden="true" alt="" fontIcon="search" />
  </button>
  <button type="button" idsIconButton size="spacious">
    <ids-icon aria-hidden="true" alt="" fontIcon="search" />
  </button>
</div>
