<div class="flex items-start gap-ids-container-gap-12">
  <ids-card size="dense" appearance="elevated"
    ><ids-card-body>{{ "EXAMPLES.CARD.SIZES.CONTENT.DENSE" | translate }}</ids-card-body></ids-card
  >
  <ids-card size="compact" appearance="elevated"
    ><ids-card-body>{{ "EXAMPLES.CARD.SIZES.CONTENT.COMPACT" | translate }}</ids-card-body></ids-card
  >
  <ids-card size="comfortable" appearance="elevated"
    ><ids-card-body>{{ "EXAMPLES.CARD.SIZES.CONTENT.COMFORTABLE" | translate }}</ids-card-body></ids-card
  >
  <ids-card size="spacious" appearance="elevated"
    ><ids-card-body>{{ "EXAMPLES.CARD.SIZES.CONTENT.SPACIOUS" | translate }}</ids-card-body></ids-card
  >
</div>
