<details #details>
  <summary></summary>
  <ul>
    @for (child of menuItem().children!; track $index) {
      <li class="side-nav__list-item">
        <a class="sidenav-element" [class.light]="hasDarkBackground()" [routerLink]="child.path" [routerLinkActive]="['active']">
          @if (child.leadingIcon) {
            <span class="icon">
              <ids-icon [fontIcon]="child.leadingIcon" />
            </span>
          }
          <span class="name">{{ child.name! | translate }}</span>
          @if (child.trailingIcon) {
            <span class="icon">
              <ids-icon [fontIcon]="child.trailingIcon" />
            </span>
          }
        </a>
      </li>
    }
  </ul>
</details>
