<div class="flex flex-col gap-4 w-full">
  <span>dense</span>
  <ids-tab-group size="dense">
    <ids-tab [label]="'EXAMPLES.TAB.COMMON.TAB_1' | translate">{{ "EXAMPLES.TAB.COMMON.CONTENT_1" | translate }}</ids-tab>
    <ids-tab [label]="'EXAMPLES.TAB.COMMON.TAB_2' | translate">{{ "EXAMPLES.TAB.COMMON.CONTENT_2" | translate }}</ids-tab>
  </ids-tab-group>

  <span>compact</span>
  <ids-tab-group size="compact">
    <ids-tab [label]="'EXAMPLES.TAB.COMMON.TAB_1' | translate">{{ "EXAMPLES.TAB.COMMON.CONTENT_1" | translate }}</ids-tab>
    <ids-tab [label]="'EXAMPLES.TAB.COMMON.TAB_2' | translate">{{ "EXAMPLES.TAB.COMMON.CONTENT_2" | translate }}</ids-tab>
  </ids-tab-group>

  <span>comfortable</span>
  <ids-tab-group size="comfortable">
    <ids-tab [label]="'EXAMPLES.TAB.COMMON.TAB_1' | translate">{{ "EXAMPLES.TAB.COMMON.CONTENT_1" | translate }}</ids-tab>
    <ids-tab [label]="'EXAMPLES.TAB.COMMON.TAB_2' | translate">{{ "EXAMPLES.TAB.COMMON.CONTENT_2" | translate }}</ids-tab>
  </ids-tab-group>

  <span>spacious</span>
  <ids-tab-group size="spacious">
    <ids-tab [label]="'EXAMPLES.TAB.COMMON.TAB_1' | translate">{{ "EXAMPLES.TAB.COMMON.CONTENT_1" | translate }}</ids-tab>
    <ids-tab [label]="'EXAMPLES.TAB.COMMON.TAB_2' | translate">{{ "EXAMPLES.TAB.COMMON.CONTENT_2" | translate }}</ids-tab>
  </ids-tab-group>
</div>
