<app-tryout 
  [title]="'COMPONENTS.BREADCRUMB' | translate" 
  [hasDarkBackground]="breadcrumbDemoService.breadcrumbModel.variant === 'light'" 
  (resetted)="breadcrumbDemoService.reset()"
>
  <div component class="text-center">
    <ids-breadcrumb
      [hierarchy]="breadcrumbDemoService.hierarchy"
      [size]="breadcrumbDemoService.breadcrumbModel.size"
      [variant]="breadcrumbDemoService.breadcrumbModel.variant"
      [dividerType]="breadcrumbDemoService.breadcrumbModel.dividerType"
      [overlayAppearance]="breadcrumbDemoService.overlayPanelModel.appearance"
      [overlaySize]="breadcrumbDemoService.overlayPanelModel.size"
      [overlayVariant]="breadcrumbDemoService.overlayPanelModel.variant"
    />
    <ids-notification title="Note" variant="warning" size="compact" class="block w-1/2 text-left place-self-center mt-10">
      Breadcrumb size changes won't be applied on truncation panel due to overlay limitations (initial values are passed to the panel).
    </ids-notification>
  </div>

</app-tryout>
