<app-control-tryout>
  <app-control-table
    controls
    [controlName]="'Breadcrumb'"
    [configType]="'input'"
    [controlConfig]="breadcrumbDemoService.breadcrumbInputControlConfig"
    [(model)]="breadcrumbDemoService.breadcrumbModel"
    (resetted)="breadcrumbDemoService.reset()"
  />

  <app-control-table
    controls
    [controlName]="'Overlay panel'"
    [configType]="'input'"
    [controlConfig]="breadcrumbDemoService.overlayPanelInputControlConfig"
    [(model)]="breadcrumbDemoService.overlayPanelModel"
    (resetted)="breadcrumbDemoService.reset()"
  />
</app-control-tryout>
