<app-tryout [title]="'COMPONENTS.AVATAR' | translate" [hasDarkBackground]="model.variant === 'light'" (resetted)="reset()">
  <div component class="avatar-types">
    <div class="avatar-type">
      <h2>Initials</h2>
      <ids-avatar [size]="model.size" [sizeCollection]="model.sizeCollection" [variant]="model.variant" [initials]="model.initials" />
    </div>
    <div class="avatar-type">
      <h2>Icon</h2>
      <ids-avatar [size]="model.size" [sizeCollection]="model.sizeCollection" [variant]="model.variant">
        <ids-icon fontIcon="account-circle" />
      </ids-avatar>
    </div>
    <div class="avatar-type">
      <h2>With image</h2>
      <ids-avatar [size]="model.size" [sizeCollection]="model.sizeCollection" [variant]="model.variant">
        <img
          idsAvatarImage
          src="https://hips.hearstapps.com/harpersbazaaruk.cdnds.net/16/38/1600x1600/square-1474624165-scarlett-johansson.jpg"
          alt="Scarlett Johansson"
        />
      </ids-avatar>
    </div>
  </div>

  <app-control-table controls [configType]="'input'" [controlConfig]="_inputControlConfig" [(model)]="model" (resetted)="reset()" />
</app-tryout>
