<div class="flex flex-wrap gap-ids-container-gap-4">
  <button
    type="button"
    idsButton
    (click)="_open('dark', 'EXAMPLES.SNACKBAR.VARIANTS.CONTENT.DARK_MESSAGE')"
  >
    Dark
  </button>
  <button
    type="button"
    idsButton
    variant="info"
    (click)="_open('info', 'EXAMPLES.SNACKBAR.VARIANTS.CONTENT.INFO_MESSAGE')"
  >
    Info
  </button>
  <button
    type="button"
    idsButton
    variant="success"
    (click)="_open('success', 'EXAMPLES.SNACKBAR.VARIANTS.CONTENT.SUCCESS_MESSAGE')"
  >
    Success
  </button>
  <button
    type="button"
    idsButton
    variant="warning"
    (click)="_open('warning', 'EXAMPLES.SNACKBAR.VARIANTS.CONTENT.WARNING_MESSAGE')"
  >
    Warning
  </button>
  <button
    type="button"
    idsButton
    variant="error"
    (click)="_open('error', 'EXAMPLES.SNACKBAR.VARIANTS.CONTENT.ERROR_MESSAGE')"
  >
    Error
  </button>
</div>
