<h1>{{ "COMPONENTS.ICON" | translate }}</h1>

@for (variant of variants; track $index) {
  <section [class]="variant">
    <h2>{{ variant | uppercase }}</h2>
    <div class="icon-sources">
      <div>
        <h3>Font Icon</h3>
        <div class="icon-source">
          @for (sizeCollection of sizeCollectionType; track $index) {
            @for (size of sizes; track $index) {
              <ids-icon-v2 fontIcon="moon" [variant]="variant" [sizeCollection]="sizeCollection" [size]="size" />
            }
          }
        </div>
      </div>
      <div>
        <h3>Svg Icon</h3>
        <div class="icon-source">
          @for (sizeCollection of sizeCollectionType; track $index) {
            @for (size of sizes; track $index) {
              <ids-icon-v2 svgIcon="user" [variant]="variant" [sizeCollection]="sizeCollection" [size]="size" />
            }
          }
        </div>
      </div>
    </div>
  </section>
}
