ids-subnav {
  padding-left: 1rem;
  display: block;

  details {
    position: relative;
    summary {
      position: relative;
      height: 0;
      &::marker {
        content: "";
        display: none;
      }
    }
  }
}
