details {
  position: relative;
  summary {
    position: relative;
    height: 0;
    &::marker {
      content: "";
      display: none;
    }
  }
}

li > a,
.subnav-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  height: 2.5rem;
  background: #ffffff;
  border-radius: 0.5rem;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  user-select: none;
}
html:has(input[color-scheme]:checked) {
  li > a,
  .subnav-parent {
    background: var(--ids-smc-reference-container-color-bg-dark-default);
    &:hover {
      background: var(--ids-smc-reference-container-color-bg-dark-lighter-80);
    }
  }
}
