<div class="flex flex-col gap-8 w-full">
  <div class="grid gap-2">
    <span>dense</span>
    <ids-radio-group name="radio-sizes-dense" size="dense" [label]="'EXAMPLES.RADIO_GROUP.SIZES.CONTENT.LABEL' | translate">
      <ids-radio value="chicken">{{ "EXAMPLES.RADIO_GROUP.COMMON.CHICKEN" | translate }}</ids-radio>
      <ids-radio value="beef">{{ "EXAMPLES.RADIO_GROUP.COMMON.BEEF" | translate }}</ids-radio>
      <ids-radio value="pork">{{ "EXAMPLES.RADIO_GROUP.COMMON.PORK" | translate }}</ids-radio>
    </ids-radio-group>
  </div>

  <div class="grid gap-2">
    <span>compact</span>
    <ids-radio-group name="radio-sizes-compact" size="compact" [label]="'EXAMPLES.RADIO_GROUP.SIZES.CONTENT.LABEL' | translate">
      <ids-radio value="chicken">{{ "EXAMPLES.RADIO_GROUP.COMMON.CHICKEN" | translate }}</ids-radio>
      <ids-radio value="beef">{{ "EXAMPLES.RADIO_GROUP.COMMON.BEEF" | translate }}</ids-radio>
      <ids-radio value="pork">{{ "EXAMPLES.RADIO_GROUP.COMMON.PORK" | translate }}</ids-radio>
    </ids-radio-group>
  </div>

  <div class="grid gap-2">
    <span>comfortable</span>
    <ids-radio-group name="radio-sizes-comfortable" size="comfortable" [label]="'EXAMPLES.RADIO_GROUP.SIZES.CONTENT.LABEL' | translate">
      <ids-radio value="chicken">{{ "EXAMPLES.RADIO_GROUP.COMMON.CHICKEN" | translate }}</ids-radio>
      <ids-radio value="beef">{{ "EXAMPLES.RADIO_GROUP.COMMON.BEEF" | translate }}</ids-radio>
      <ids-radio value="pork">{{ "EXAMPLES.RADIO_GROUP.COMMON.PORK" | translate }}</ids-radio>
    </ids-radio-group>
  </div>

  <div class="grid gap-2">
    <span>spacious</span>
    <ids-radio-group name="radio-sizes-spacious" size="spacious" [label]="'EXAMPLES.RADIO_GROUP.SIZES.CONTENT.LABEL' | translate">
      <ids-radio value="chicken">{{ "EXAMPLES.RADIO_GROUP.COMMON.CHICKEN" | translate }}</ids-radio>
      <ids-radio value="beef">{{ "EXAMPLES.RADIO_GROUP.COMMON.BEEF" | translate }}</ids-radio>
      <ids-radio value="pork">{{ "EXAMPLES.RADIO_GROUP.COMMON.PORK" | translate }}</ids-radio>
    </ids-radio-group>
  </div>
</div>
