<div cdkMenuBar class="flex flex-wrap gap-2">
  <button type="button" idsMenuItem [label]="'EXAMPLES.MENU_ITEM.ICONS.CONTENT.LEADING' | translate">
    <ids-icon icon-leading aria-hidden="true" alt="" fontIcon="search" />
  </button>
  <button type="button" idsMenuItem [label]="'EXAMPLES.MENU_ITEM.ICONS.CONTENT.TRAILING' | translate">
    <ids-icon icon-trailing aria-hidden="true" alt="" fontIcon="chevron-right" />
  </button>
  <button type="button" idsMenuItem [label]="'EXAMPLES.MENU_ITEM.ICONS.CONTENT.BOTH' | translate">
    <ids-icon icon-leading aria-hidden="true" alt="" fontIcon="search" />
    <ids-icon icon-trailing aria-hidden="true" alt="" fontIcon="chevron-right" />
  </button>
</div>
