@let data = contentCardData();
<ids-card
  appearance="filled"
  size="compact"
  [variant]="data.variant || 'surface'"
  [orientation]="data.orientation"
  [class]="data.orientation === 'horizontal' ? 'flex flex-col md:flex-row  ' : ''"
  [class.transparent-bg]="data.transparent === true"
>
  @if (data.imageURL) {
    <div class="relative" [class]="data.orientation === 'horizontal' ? ' md:w-full ' : ''">
      @if (data.state) {
        <app-badge [state]="data.state" />
      }
      <app-image
        [aspectRatio]="data.aspectRatio"
        [imageBgColorVariant]="data.imageBgColorVariant"
        [orientation]="data.orientation"
        [state]="data.state"
        [imageCaption]="data.imageCaption"
        [imageUrlLight]="contentCardData().imageUrlLight ?? ''"
        [imageUrlDark]="contentCardData().imageUrlDark ?? ''"
        [data]="imageData()"
      />
    </div>
  }
  <ids-card-body [class]="data.orientation === 'horizontal' ? 'flex flex-col md:flex-row md:w-full ' : ''">
    <div class="flex flex-col gap-ids-container-gap-16 w-full">
      <div class="flex flex-col gap-0 relative">
        @if (data.overTitle) {
          <span class="text-body-small-prominent text-ids-page-fg-surface-lighter-20">{{ data.overTitle }}</span>
        }
        <div class="flex flex-col gap-ids-container-gap-8">
          @if (data.title) {
            <h3 class="text-title-large-prominent text-ids-page-fg-surface-default">{{ data.title }}</h3>
          }
          @if (data.description) {
            <div [innerHTML]="data.description | safeHtml"></div>
            <!-- <p class="text-body-medium text-ids-page-fg-surface-lighter-10">{{ data.description }}</p> -->
          }
        </div>
      </div>
      @if (data.buttonOne || data.buttonTwo) {
        <div class="flex gap-ids-container-gap-8 justify-end w-full">
          @if (data.buttonOne) {
            <button
              type="button"
              idsButton
              appearance="outlined"
              size="compact"
              variant="primary"
              (click)="handleButtonClick(data.buttonOneUrl)"
            >
              {{ data.buttonOne }}
            </button>
          }

          @if (data.buttonTwo) {
            <button
              type="button"
              idsButton
              appearance="filled"
              size="compact"
              variant="primary"
              (click)="handleButtonClick(data.buttonTwoUrl)"
            >
              {{ data.buttonTwo }}
            </button>
          }
        </div>
      }
    </div>
  </ids-card-body>
</ids-card>
