<ids-card
  appearance="filled"
  size="compact"
  [variant]="safeVariant"
  [orientation]="contentCardList.orientation"
  [class]="contentCardList.orientation === 'horizontal' ? 'flex flex-col md:flex-row  ' : ''"
  [class.transparent-bg]="contentCardList.transparent === true"
>
  @if (contentCardList.imageURL) {
    <div class="relative" [class]="contentCardList.orientation === 'horizontal' ? ' md:w-full ' : ''">
      @if (contentCardList.state) {
        <app-badge [state]="contentCardList.state" />
      }
      <app-image
        [aspectRatio]="contentCardList.aspectRatio"
        [imageBgColorVariant]="contentCardList.imageBgColorVariant"
        [orientation]="contentCardList.orientation"
        [state]="contentCardList.state"
        [imageURL]="contentCardList.imageURL"
        [imageCaption]="contentCardList.imageCaption"
      />
    </div>
  }
  <ids-card-body [class]="contentCardList.orientation === 'horizontal' ? 'flex flex-col md:flex-row md:w-full ' : ''">
    <div class="flex flex-col gap-ids-container-gap-16 w-full">
      <div class="flex flex-col gap-0 relative">
        @if (contentCardList.overTitle) {
          <span class="text-body-small-prominent text-ids-page-fg-surface-lighter-20">{{ contentCardList.overTitle }}</span>
        }
        <div class="flex flex-col gap-ids-container-gap-8">
          @if (contentCardList.title) {
            <h3 class="text-title-large-prominent text-ids-page-fg-surface-default">{{ contentCardList.title }}</h3>
          }
          @if (contentCardList.description) {
            <p class="text-body-medium text-ids-page-fg-surface-lighter-10">{{ contentCardList.description }}</p>
          }
        </div>
      </div>
      @if (contentCardList.buttonOne || contentCardList.buttonTwo) {
        <div class="flex gap-ids-container-gap-8 justify-end w-full">
          @if (contentCardList.buttonOne) {
            <button type="button" idsButton appearance="outlined" size="compact" variant="primary">{{ contentCardList.buttonOne }}</button>
          }
          @if (contentCardList.buttonTwo) {
            <button type="button" idsButton appearance="filled" size="compact" variant="primary">{{ contentCardList.buttonTwo }}</button>
          }
        </div>
      }
    </div>
  </ids-card-body>
</ids-card>
