.transparent-bg {
  background-color: transparent !important;
}

.ids-card .ids-button {
  border-style: solid !important;
}

.special-horizontal-filled {
  padding-left: 24px !important;
}

.special-horizontal-filled-2 {
  padding-left: 24px !important;
}