@let data = contentCardData();
<ids-card
  size="compact"
  [appearance]="data.card?.appearance || 'elevated'"
  [variant]="data.card?.variant || 'surface'"
  [orientation]="data.card?.orientation ?? 'vertical'"
  [class]="data.card?.orientation === 'horizontal' ? 'flex flex-col md:flex-row' : 'h-full'"
  [class.transparent-bg]="data.card?.transparent === true"
>
  @if (data.image?.imageUrl) {
    <div class="ids-container-gap-24 relative" [class]="data.card?.orientation === 'horizontal' ? ' md:w-full ' : ''">
      @if (data.image?.state) {
        <app-badge class="absolute" [state]="data.image?.state"/>
      }
      <app-image
        [aspectRatio]="data.image?.aspectRatio"
        [imageBgColorVariant]="data.image?.bgColorVariant"
        [orientation]="data.card?.orientation"
        [state]="data.image?.state"
        [imageCaption]="data.image?.caption"
        [imageUrlLight]="contentCardData().image?.lightUrl ?? ''"
        [imageUrlDark]="contentCardData().image?.darkUrl ?? ''"
        [data]="imageData()"
        [filledInContainer]="data.image?.filledInContainer ?? false"
        [showCaption]="showCaption()"
      />
    </div>
  }
  <ids-card-body
    [class]="
      data.card?.orientation === 'horizontal'
        ? data.image?.filledInContainer === true
          ? 'flex flex-col md:flex-row md:w-full special-horizontal-filled'
          : 'flex flex-col md:flex-row md:w-full special-horizontal-filled-2 '
        : ''
    "
  >
    @if (data.date || data.tags) {
      <div class="flex items-center gap-ids-container-gap-8">
        <ids-chip-group appearance="outlined" size="dense">
          <ids-chip variant="primary">
            {{ data.date }}
          </ids-chip>
          @for (tag of data.tags; track $index) {
            <ids-chip variant="secondary">
              {{ tag.title }}
            </ids-chip>
          }
        </ids-chip-group>
      </div>
    }

    <div class="flex flex-col gap-ids-container-gap-32 w-full pt-2">
      <div class="flex flex-col gap-0 relative">
        @if (data.overTitle) {
          <span class="text-body-small-prominent text-ids-page-fg-surface-lighter-20">{{ data.overTitle }}</span>
        }
        <div class="flex flex-col gap-ids-container-gap-8">
          @if (data.title) {
            <h3 class="text-title-large-prominent text-ids-page-fg-surface-default">{{ data.title }}</h3>
          }
          @if (data.description) {
            <div
              class="text-left text-body-medium ids-page-surface [&_ol]:list-decimal [&_ul]:list-disc [&_ol]:pl-5 [&_ul]:pl-5"
              [class]="(data.card?.orientation === 'horizontal' || fullDescription()) ? '' : 'line-clamp-3'"
              [innerHTML]="data.description | safeHtml"
            ></div>
          }
        </div>
      </div>
      @for (button of data.button; track $index) {
        <div class="flex flex-col gap-ids-container-gap-8 justify-end w-full">
          <button type="button" idsButton size="compact" variant="primary" appearance="outlined" (click)="handleButtonClick(button.url)">
            {{ button.text }}
          </button>
        </div>
      }
    </div>
  </ids-card-body>
</ids-card>
