@if(itemConfig().path) {
  <a class="sidenav-element" [class.light]="itemConfig().hasDarkBackground" [routerLink]="itemConfig().path" [routerLinkActive]="['active']">
    <ng-container [ngTemplateOutlet]="itemTemplate" />
    @if (itemConfig().items?.length) {
      <span class="icon">
        <ids-icon [fontIcon]="isOpen ? 'chevron-up' : 'chevron-down'" />
      </span>
    }
  </a>
  <!-- FIXME: fix details to be shown -->
  <!-- <details #details> -->
    <!-- <summary #summary></summary> -->
    @if (itemConfig().items?.length) {
      <ul>
        @for (subItem of itemConfig().items; track $index) {
          <li>
            <ids-section-item [itemConfig]="subItem" />
          </li>
        }
      </ul>
    }
  <!-- </details> -->
} @else {
  <div class="sidenav-element" [class.light]="itemConfig().hasDarkBackground" [class.active]="itemConfig().isActive">
    <ng-container [ngTemplateOutlet]="itemTemplate" />
    <button
      type="button"
      class="more"
      idsIconButton
      [size]="'compact'"
      [variant]="'surface'"
      [appearance]="'standard'"
      [disabled]="itemConfig().isDisabled"
      (click)="isOpen = !isOpen"
    >
      <span #trigger></span>
      <!-- TODO: icon size? -->
      <ids-icon aria-hidden="true" alt="" [fontIcon]="isOpen ? 'chevron-up' : 'chevron-down'" />
    </button>
    <!-- FIXME: fix details to be shown -->
    <!-- <details #details> -->
      <!-- <summary #summary></summary> -->
      @if (itemConfig().items?.length) {
        <ul>
          @for (subItem of itemConfig().items; track $index) {
            <li>
              <ids-section-item [itemConfig]="subItem" />
            </li>
          }
        </ul>
      }
    <!-- </details> -->
  </div>
}

<ng-template #itemTemplate>
  @if (itemConfig().leadingIcon) {
    <span class="icon">
      <ids-icon [fontIcon]="itemConfig().leadingIcon || ''" />
    </span>
  }
  @if (itemConfig().name) {
    <span class="name">{{ (itemConfig().name  || '') | translate }}</span>
  }
  @if (itemConfig().trailingIcon && !itemConfig().items?.length) {
    <span class="icon">
      <ids-icon [fontIcon]="itemConfig().trailingIcon || ''" />
    </span>
  }
</ng-template>