:host {
  padding-left: 1rem;
  display: block;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 0.5rem;

    li > a {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0.5rem;
      gap: 0.5rem;
      border-radius: 0.25rem;
      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;
      user-select: none;
      text-decoration: none;
      color: inherit;

      &.active,
      &:has(.active) {
        color: var(--ids-smc-colors-primary-darker-20);
      }
      &:hover {
        background: var(--ids-smc-colors-surface-darker-20);
      }
      &.light {
        color: var(--ids-smc-colors-surface-lighter-10);
        background-color: var(--ids-smc-colors-surface-darker-80);
      }
    }
  }
}
