<div class="flex flex-col gap-4">
  <div class="flex flex-wrap gap-4">
    <ids-tag variant="primary">Primary</ids-tag>
    <ids-tag variant="secondary">Secondary</ids-tag>
    <ids-tag variant="surface">Surface</ids-tag>
    <ids-tag variant="brand">Brand</ids-tag>
    <ids-tag variant="light">Light</ids-tag>
  </div>
  <div class="flex flex-wrap gap-4">
    <ids-tag variant="dark">Dark</ids-tag>
    <ids-tag variant="info">Info</ids-tag>
    <ids-tag variant="success">Success</ids-tag>
    <ids-tag variant="warning">Warning</ids-tag>
    <ids-tag variant="error">Error</ids-tag>
  </div>
</div>
