:root {
    --ids-comp-message-color-fg-icon-dark-default: light-dark(#404753, #bfc6d1);
    --ids-comp-message-color-fg-icon-dark-disabled: light-dark(#bfc6d1, #20242c);
    --ids-comp-message-color-fg-icon-dark-error-default: light-dark(#8e0000, #f84227);
    --ids-comp-message-color-fg-icon-dark-success-default: light-dark(#00430d, #00bf53);
    --ids-comp-message-color-fg-icon-light-default: light-dark(#f5f7fa, #0f1115);
    --ids-comp-message-color-fg-icon-light-disabled: light-dark(#ffffff80, #ffffff80);
    --ids-comp-message-color-fg-icon-light-error-default: light-dark(#e32100, #8e0000);
    --ids-comp-message-color-fg-icon-light-success-default: light-dark(#007b24, #00bf53);
    --ids-comp-message-color-fg-icon-surface-default: light-dark(#404753, #bfc6d1);
    --ids-comp-message-color-fg-icon-surface-disabled: light-dark(#bfc6d1, #20242c);
    --ids-comp-message-color-fg-icon-surface-error-default: light-dark(#d40d00, #ff8169);
    --ids-comp-message-color-fg-icon-surface-success-default: light-dark(#007b24, #00bf53);
    --ids-comp-message-color-fg-text-dark-default: light-dark(#404753, #bfc6d1);
    --ids-comp-message-color-fg-text-dark-disabled: light-dark(#bfc6d1, #20242c);
    --ids-comp-message-color-fg-text-dark-error-default: light-dark(#8e0000, #f84227);
    --ids-comp-message-color-fg-text-dark-success-default: light-dark(#00430d, #00bf53);
    --ids-comp-message-color-fg-text-light-default: light-dark(#f8fafc, #f8fafc);
    --ids-comp-message-color-fg-text-light-disabled: light-dark(#ffffff80, #ffffff80);
    --ids-comp-message-color-fg-text-light-error-default: light-dark(#e32100, #8e0000);
    --ids-comp-message-color-fg-text-light-success-default: light-dark(#007b24, #00bf53);
    --ids-comp-message-color-fg-text-surface-default: light-dark(#404753, #bfc6d1);
    --ids-comp-message-color-fg-text-surface-disabled: light-dark(#bfc6d1, #20242c);
    --ids-comp-message-color-fg-text-surface-error-default: light-dark(#d40d00, #ff8169);
    --ids-comp-message-color-fg-text-surface-success-default: light-dark(#007b24, #00bf53);
    --ids-comp-message-icon-typography-font-family-comfortable: I-DS-font-icon-remix;
    --ids-comp-message-icon-typography-font-family-compact: I-DS-font-icon-remix;
    --ids-comp-message-icon-typography-font-family-dense: I-DS-font-icon-remix;
    --ids-comp-message-icon-typography-font-family-spacious: I-DS-font-icon-remix;
    --ids-comp-message-icon-typography-font-size-comfortable: 14px;
    --ids-comp-message-icon-typography-font-size-compact: 14px;
    --ids-comp-message-icon-typography-font-size-dense: 14px;
    --ids-comp-message-icon-typography-font-size-spacious: 14px;
    --ids-comp-message-icon-typography-font-weight-comfortable: 400;
    --ids-comp-message-icon-typography-font-weight-compact: 400;
    --ids-comp-message-icon-typography-font-weight-dense: 400;
    --ids-comp-message-icon-typography-font-weight-spacious: 400;
    --ids-comp-message-icon-typography-line-height-comfortable: 16px;
    --ids-comp-message-icon-typography-line-height-compact: 12px;
    --ids-comp-message-icon-typography-line-height-dense: 12px;
    --ids-comp-message-icon-typography-line-height-spacious: 18px;
    --ids-comp-message-size-gap-comfortable: 4px;
    --ids-comp-message-size-gap-compact: 4px;
    --ids-comp-message-size-gap-dense: 4px;
    --ids-comp-message-size-gap-spacious: 4px;
    --ids-comp-message-size-icon-height-comfortable: 16px;
    --ids-comp-message-size-icon-height-compact: 16px;
    --ids-comp-message-size-icon-height-dense: 16px;
    --ids-comp-message-size-icon-height-spacious: 16px;
    --ids-comp-message-size-icon-width-comfortable: 16px;
    --ids-comp-message-size-icon-width-compact: 16px;
    --ids-comp-message-size-icon-width-dense: 16px;
    --ids-comp-message-size-icon-width-spacious: 16px;
    --ids-comp-message-size-padding-x-comfortable: 0px;
    --ids-comp-message-size-padding-x-compact: 0px;
    --ids-comp-message-size-padding-x-dense: 0px;
    --ids-comp-message-size-padding-x-spacious: 0px;
    --ids-comp-message-size-padding-y-comfortable: 4px;
    --ids-comp-message-size-padding-y-compact: 4px;
    --ids-comp-message-size-padding-y-dense: 4px;
    --ids-comp-message-size-padding-y-spacious: 4px;
    --ids-comp-message-typography-font-family-comfortable: Inter;
    --ids-comp-message-typography-font-family-compact: Inter;
    --ids-comp-message-typography-font-family-dense: Inter;
    --ids-comp-message-typography-font-family-spacious: Inter;
    --ids-comp-message-typography-font-size-comfortable: 14px;
    --ids-comp-message-typography-font-size-compact: 14px;
    --ids-comp-message-typography-font-size-dense: 16px;
    --ids-comp-message-typography-font-size-spacious: 16px;
    --ids-comp-message-typography-font-weight-comfortable: 700;
    --ids-comp-message-typography-font-weight-compact: 700;
    --ids-comp-message-typography-font-weight-dense: 700;
    --ids-comp-message-typography-font-weight-spacious: 700;
    --ids-comp-message-typography-letter-spacing-comfortable: 0em;
    --ids-comp-message-typography-letter-spacing-compact: 0em;
    --ids-comp-message-typography-letter-spacing-dense: 0em;
    --ids-comp-message-typography-letter-spacing-spacious: 0em;
    --ids-comp-message-typography-line-height-comfortable: 16px;
    --ids-comp-message-typography-line-height-compact: 12px;
    --ids-comp-message-typography-line-height-dense: 12px;
    --ids-comp-message-typography-line-height-spacious: 18px
}