:root {
    --ids-comp-overlay-panel-elevated-color-bg-light-default: light-dark(#ffffff, #000000);
    --ids-comp-overlay-panel-elevated-color-bg-surface-default: light-dark(#f5f7fa, #0f1115);
    --ids-comp-overlay-panel-elevated-color-border-light-default: #ffffff00;
    --ids-comp-overlay-panel-elevated-color-border-surface-default: #ffffff00;
    --ids-comp-overlay-panel-elevated-color-fg-light-on: light-dark(#404753, #bfc6d1);
    --ids-comp-overlay-panel-elevated-color-fg-light-on-disable: light-dark(#707a8a, #404753);
    --ids-comp-overlay-panel-elevated-color-fg-surface-on: light-dark(#404753, #bfc6d1);
    --ids-comp-overlay-panel-elevated-color-fg-surface-on-disable: light-dark(#707a8a, #404753);
    --ids-comp-overlay-panel-filled-color-bg-light-default: light-dark(#ffffff, #000000);
    --ids-comp-overlay-panel-filled-color-bg-surface-default: light-dark(#f5f7fa, #0f1115);
    --ids-comp-overlay-panel-filled-color-border-light-default: #ffffff00;
    --ids-comp-overlay-panel-filled-color-border-surface-default: #ffffff00;
    --ids-comp-overlay-panel-filled-color-fg-light-on: light-dark(#404753, #bfc6d1);
    --ids-comp-overlay-panel-filled-color-fg-light-on-disable: light-dark(#707a8a, #404753);
    --ids-comp-overlay-panel-filled-color-fg-surface-on: light-dark(#404753, #bfc6d1);
    --ids-comp-overlay-panel-filled-color-fg-surface-on-disable: light-dark(#707a8a, #404753);
    --ids-comp-overlay-panel-outlined-color-bg-light-default: light-dark(#ffffff, #000000);
    --ids-comp-overlay-panel-outlined-color-bg-surface-default: light-dark(#f5f7fa, #0f1115);
    --ids-comp-overlay-panel-outlined-color-border-light-default: light-dark(#a3abba, #2b3039);
    --ids-comp-overlay-panel-outlined-color-border-surface-default: light-dark(#a3abba, #2b3039);
    --ids-comp-overlay-panel-outlined-color-fg-light-default: light-dark(#ffffff, #000000);
    --ids-comp-overlay-panel-outlined-color-fg-surface-default: light-dark(#ffffff, #000000);
    --ids-comp-overlay-panel-size-border-comfortable: 1px;
    --ids-comp-overlay-panel-size-border-compact: 1px;
    --ids-comp-overlay-panel-size-border-dense: 1px;
    --ids-comp-overlay-panel-size-border-radius-comfortable: 24px;
    --ids-comp-overlay-panel-size-border-radius-compact: 16px;
    --ids-comp-overlay-panel-size-border-radius-dense: 12px;
    --ids-comp-overlay-panel-size-border-radius-spacious: 8px;
    --ids-comp-overlay-panel-size-border-spacious: 1px;
    --ids-comp-overlay-panel-size-gap-comfortable: 12px;
    --ids-comp-overlay-panel-size-gap-compact: 8px;
    --ids-comp-overlay-panel-size-gap-dense: 6px;
    --ids-comp-overlay-panel-size-gap-spacious: 16px;
    --ids-comp-overlay-panel-size-max-width-comfortable: 320px;
    --ids-comp-overlay-panel-size-max-width-compact: 320px;
    --ids-comp-overlay-panel-size-max-width-dense: 320px;
    --ids-comp-overlay-panel-size-max-width-spacious: 400px;
    --ids-comp-overlay-panel-size-padding-x-comfortable: 10px;
    --ids-comp-overlay-panel-size-padding-x-compact: 8px;
    --ids-comp-overlay-panel-size-padding-x-dense: 6px;
    --ids-comp-overlay-panel-size-padding-x-spacious: 16px;
    --ids-comp-overlay-panel-size-padding-y-comfortable: 10px;
    --ids-comp-overlay-panel-size-padding-y-compact: 8px;
    --ids-comp-overlay-panel-size-padding-y-dense: 6px;
    --ids-comp-overlay-panel-size-padding-y-spacious: 16px
}