:root {
    --ids-comp-switch-container-size-gap-comfortable: 8px;
    --ids-comp-switch-container-size-gap-compact: 8px;
    --ids-comp-switch-container-size-gap-dense: 8px;
    --ids-comp-switch-container-size-gap-spacious: 8px;
    --ids-comp-switch-focused-outline-color-light-focused: light-dark(#ffffff, #000000);
    --ids-comp-switch-focused-outline-color-primary-focused: light-dark(#647aff, #2b2695);
    --ids-comp-switch-focused-outline-color-surface-focused: light-dark(#647aff, #2b2695);
    --ids-comp-switch-focused-outline-outline-comfortable: 2px;
    --ids-comp-switch-focused-outline-outline-compact: 2px;
    --ids-comp-switch-focused-outline-outline-dense: 2px;
    --ids-comp-switch-focused-outline-outline-spacious: 2px;
    --ids-comp-switch-group-container-size-gap-comfortable: 24px;
    --ids-comp-switch-group-container-size-gap-compact: 24px;
    --ids-comp-switch-group-container-size-gap-dense: 24px;
    --ids-comp-switch-group-container-size-gap-spacious: 24px;
    --ids-comp-switch-group-container-size-padding-x-comfortable: 0px;
    --ids-comp-switch-group-container-size-padding-x-compact: 0px;
    --ids-comp-switch-group-container-size-padding-x-dense: 0px;
    --ids-comp-switch-group-container-size-padding-x-spacious: 0px;
    --ids-comp-switch-group-container-size-padding-y-comfortable: 0px;
    --ids-comp-switch-group-container-size-padding-y-compact: 0px;
    --ids-comp-switch-group-container-size-padding-y-dense: 0px;
    --ids-comp-switch-group-container-size-padding-y-spacious: 0px;
    --ids-comp-switch-handle-off-color-bg-light-default: light-dark(#ffffff, #000000);
    --ids-comp-switch-handle-off-color-bg-light-disabled: light-dark(#ffffff40, #ffffff40);
    --ids-comp-switch-handle-off-color-bg-primary-default: light-dark(#ffffff, #ffffff);
    --ids-comp-switch-handle-off-color-bg-primary-disabled: light-dark(#d1d7df, #1c1f26);
    --ids-comp-switch-handle-off-color-bg-surface-default: light-dark(#ffffff, #ffffff);
    --ids-comp-switch-handle-off-color-bg-surface-disabled: light-dark(#d1d7df, #1c1f26);
    --ids-comp-switch-handle-off-color-fg-icon-light-default: light-dark(#404753, #bfc6d1);
    --ids-comp-switch-handle-off-color-fg-icon-light-disabled: light-dark(#ffffff40, #ffffff40);
    --ids-comp-switch-handle-off-color-fg-icon-primary-default: light-dark(#404753, #bfc6d1);
    --ids-comp-switch-handle-off-color-fg-icon-primary-disabled: light-dark(#f5f7fa, #0f1115);
    --ids-comp-switch-handle-off-color-fg-icon-surface-default: light-dark(#404753, #bfc6d1);
    --ids-comp-switch-handle-off-color-fg-icon-surface-disabled: light-dark(#f5f7fa, #0f1115);
    --ids-comp-switch-handle-on-color-bg-light-default: light-dark(#ffffff, #000000);
    --ids-comp-switch-handle-on-color-bg-light-disabled: light-dark(#ffffff40, #ffffff40);
    --ids-comp-switch-handle-on-color-bg-primary-default: light-dark(#f8fafc, #f8fafc);
    --ids-comp-switch-handle-on-color-bg-primary-disabled: light-dark(#ffffff40, #ffffff40);
    --ids-comp-switch-handle-on-color-bg-surface-default: light-dark(#f8fafc, #f8fafc);
    --ids-comp-switch-handle-on-color-bg-surface-disabled: light-dark(#ffffff40, #ffffff40);
    --ids-comp-switch-handle-on-color-fg-icon-light-default: light-dark(#404753, #bfc6d1);
    --ids-comp-switch-handle-on-color-fg-icon-light-disabled: light-dark(#ffffff40, #ffffff40);
    --ids-comp-switch-handle-on-color-fg-icon-primary-default: light-dark(#4258ed, #4258ed);
    --ids-comp-switch-handle-on-color-fg-icon-primary-disabled: light-dark(#f5f7fa, #0f1115);
    --ids-comp-switch-handle-on-color-fg-icon-surface-default: light-dark(#404753, #bfc6d1);
    --ids-comp-switch-handle-on-color-fg-icon-surface-disabled: light-dark(#f5f7fa, #0f1115);
    --ids-comp-switch-handle-size-border-radius-comfortable: 1000px;
    --ids-comp-switch-handle-size-border-radius-compact: 1000px;
    --ids-comp-switch-handle-size-border-radius-dense: 1000px;
    --ids-comp-switch-handle-size-border-radius-spacious: 1000px;
    --ids-comp-switch-handle-size-height-comfortable: 16px;
    --ids-comp-switch-handle-size-height-compact: 16px;
    --ids-comp-switch-handle-size-height-dense: 16px;
    --ids-comp-switch-handle-size-height-spacious: 16px;
    --ids-comp-switch-handle-size-width-comfortable: 16px;
    --ids-comp-switch-handle-size-width-compact: 16px;
    --ids-comp-switch-handle-size-width-dense: 16px;
    --ids-comp-switch-handle-size-width-spacious: 16px;
    --ids-comp-switch-icon-size-height-comfortable: 16px;
    --ids-comp-switch-icon-size-height-compact: 16px;
    --ids-comp-switch-icon-size-height-dense: 16px;
    --ids-comp-switch-icon-size-height-spacious: 16px;
    --ids-comp-switch-icon-size-width-comfortable: 16px;
    --ids-comp-switch-icon-size-width-compact: 16px;
    --ids-comp-switch-icon-size-width-dense: 16px;
    --ids-comp-switch-icon-size-width-spacious: 16px;
    --ids-comp-switch-icon-typography-font-family-comfortable: I-DS-font-icon-remix;
    --ids-comp-switch-icon-typography-font-family-compact: I-DS-font-icon-remix;
    --ids-comp-switch-icon-typography-font-family-dense: I-DS-font-icon-remix;
    --ids-comp-switch-icon-typography-font-family-spacious: I-DS-font-icon-remix;
    --ids-comp-switch-icon-typography-font-size-comfortable: 14px;
    --ids-comp-switch-icon-typography-font-size-compact: 14px;
    --ids-comp-switch-icon-typography-font-size-dense: 14px;
    --ids-comp-switch-icon-typography-font-size-spacious: 14px;
    --ids-comp-switch-icon-typography-font-weight-comfortable: 400;
    --ids-comp-switch-icon-typography-font-weight-compact: 400;
    --ids-comp-switch-icon-typography-font-weight-dense: 400;
    --ids-comp-switch-icon-typography-font-weight-spacious: 400;
    --ids-comp-switch-icon-typography-line-height-comfortable: 20px;
    --ids-comp-switch-icon-typography-line-height-compact: 20px;
    --ids-comp-switch-icon-typography-line-height-dense: 20px;
    --ids-comp-switch-icon-typography-line-height-spacious: 20px;
    --ids-comp-switch-label-color-fg-light-default: light-dark(#f8fafc, #f8fafc);
    --ids-comp-switch-label-color-fg-light-disabled: light-dark(#ffffff80, #ffffff80);
    --ids-comp-switch-label-color-fg-light-focused: light-dark(#ffffff, #ffffff);
    --ids-comp-switch-label-color-fg-light-hovered: light-dark(#ffffff, #ffffff);
    --ids-comp-switch-label-color-fg-light-pressed: light-dark(#f8fafc, #f8fafc);
    --ids-comp-switch-label-color-fg-primary-default: light-dark(#404753, #bfc6d1);
    --ids-comp-switch-label-color-fg-primary-disabled: light-dark(#bfc6d1, #20242c);
    --ids-comp-switch-label-color-fg-primary-focused: light-dark(#404753, #bfc6d1);
    --ids-comp-switch-label-color-fg-primary-hovered: light-dark(#404753, #bfc6d1);
    --ids-comp-switch-label-color-fg-primary-pressed: light-dark(#404753, #bfc6d1);
    --ids-comp-switch-label-color-fg-surface-default: light-dark(#404753, #bfc6d1);
    --ids-comp-switch-label-color-fg-surface-disabled: light-dark(#bfc6d1, #20242c);
    --ids-comp-switch-label-color-fg-surface-focused: light-dark(#404753, #bfc6d1);
    --ids-comp-switch-label-color-fg-surface-hovered: light-dark(#404753, #bfc6d1);
    --ids-comp-switch-label-color-fg-surface-pressed: light-dark(#404753, #bfc6d1);
    --ids-comp-switch-label-typography-font-family-comfortable: Inter;
    --ids-comp-switch-label-typography-font-family-compact: Inter;
    --ids-comp-switch-label-typography-font-family-dense: Inter;
    --ids-comp-switch-label-typography-font-family-spacious: Inter;
    --ids-comp-switch-label-typography-font-size-comfortable: 18px;
    --ids-comp-switch-label-typography-font-size-compact: 16px;
    --ids-comp-switch-label-typography-font-size-dense: 14px;
    --ids-comp-switch-label-typography-font-size-spacious: 18px;
    --ids-comp-switch-label-typography-font-weight-comfortable: 400;
    --ids-comp-switch-label-typography-font-weight-compact: 400;
    --ids-comp-switch-label-typography-font-weight-dense: 400;
    --ids-comp-switch-label-typography-font-weight-spacious: 400;
    --ids-comp-switch-label-typography-letter-spacing-comfortable: 0em;
    --ids-comp-switch-label-typography-letter-spacing-compact: 0em;
    --ids-comp-switch-label-typography-letter-spacing-dense: 0em;
    --ids-comp-switch-label-typography-letter-spacing-spacious: 0em;
    --ids-comp-switch-label-typography-line-height-comfortable: 24px;
    --ids-comp-switch-label-typography-line-height-compact: 20px;
    --ids-comp-switch-label-typography-line-height-dense: 16px;
    --ids-comp-switch-label-typography-line-height-spacious: 32px;
    --ids-comp-switch-track-off-color-bg-light-default: light-dark(#d1d7df, #1c1f26);
    --ids-comp-switch-track-off-color-bg-light-disabled: light-dark(#648cb433, #ffffff33);
    --ids-comp-switch-track-off-color-bg-light-focused: light-dark(#bfc6d1, #20242c);
    --ids-comp-switch-track-off-color-bg-light-hovered: light-dark(#bfc6d1, #20242c);
    --ids-comp-switch-track-off-color-bg-light-pressed: light-dark(#bfc6d1, #20242c);
    --ids-comp-switch-track-off-color-bg-primary-default: light-dark(#0f172a, #0f172a);
    --ids-comp-switch-track-off-color-bg-primary-disabled: light-dark(#a3abba, #282c35);
    --ids-comp-switch-track-off-color-bg-primary-focused: light-dark(#404753, #bfc6d1);
    --ids-comp-switch-track-off-color-bg-primary-hovered: light-dark(#404753, #bfc6d1);
    --ids-comp-switch-track-off-color-bg-primary-pressed: light-dark(#353b46, #707a8a);
    --ids-comp-switch-track-off-color-bg-surface-default: light-dark(#606b7a, #d1d7df);
    --ids-comp-switch-track-off-color-bg-surface-disabled: light-dark(#a3abba, #282c35);
    --ids-comp-switch-track-off-color-bg-surface-focused: light-dark(#404753, #bfc6d1);
    --ids-comp-switch-track-off-color-bg-surface-hovered: light-dark(#404753, #bfc6d1);
    --ids-comp-switch-track-off-color-bg-surface-pressed: light-dark(#353b46, #707a8a);
    --ids-comp-switch-track-off-color-fg-icon-light-default: light-dark(#a3abba, #282c35);
    --ids-comp-switch-track-off-color-fg-icon-light-disabled: light-dark(#ffffff40, #ffffff40);
    --ids-comp-switch-track-off-color-fg-icon-primary-default: light-dark(#b2b9c6, #242830);
    --ids-comp-switch-track-off-color-fg-icon-primary-disabled: light-dark(#f5f7fa, #0f1115);
    --ids-comp-switch-track-off-color-fg-icon-surface-default: light-dark(#b2b9c6, #242830);
    --ids-comp-switch-track-off-color-fg-icon-surface-disabled: light-dark(#f5f7fa, #0f1115);
    --ids-comp-switch-track-on-color-bg-light-default: light-dark(#007b24, #00bf53);
    --ids-comp-switch-track-on-color-bg-light-disabled: light-dark(#648cb433, #ffffff33);
    --ids-comp-switch-track-on-color-bg-light-focused: light-dark(#005012, #009b37);
    --ids-comp-switch-track-on-color-bg-light-hovered: light-dark(#005012, #009b37);
    --ids-comp-switch-track-on-color-bg-light-pressed: light-dark(#00430d, #00bf53);
    --ids-comp-switch-track-on-color-bg-primary-default: light-dark(#4258ed, #4258ed);
    --ids-comp-switch-track-on-color-bg-primary-disabled: light-dark(#a3abba, #282c35);
    --ids-comp-switch-track-on-color-bg-primary-focused: light-dark(#3130ab, #647aff);
    --ids-comp-switch-track-on-color-bg-primary-hovered: light-dark(#3130ab, #647aff);
    --ids-comp-switch-track-on-color-bg-primary-pressed: light-dark(#2b2695, #929eff);
    --ids-comp-switch-track-on-color-bg-surface-default: light-dark(#007b24, #00bf53);
    --ids-comp-switch-track-on-color-bg-surface-disabled: light-dark(#a3abba, #282c35);
    --ids-comp-switch-track-on-color-bg-surface-focused: light-dark(#005012, #009b37);
    --ids-comp-switch-track-on-color-bg-surface-hovered: light-dark(#005012, #009b37);
    --ids-comp-switch-track-on-color-bg-surface-pressed: light-dark(#00430d, #00bf53);
    --ids-comp-switch-track-on-color-fg-icon-light-default: light-dark(#ffffff, #000000);
    --ids-comp-switch-track-on-color-fg-icon-light-disabled: light-dark(#f5f7fa, #0f1115);
    --ids-comp-switch-track-on-color-fg-icon-primary-default: light-dark(#ffffff, #000000);
    --ids-comp-switch-track-on-color-fg-icon-primary-disabled: light-dark(#f5f7fa, #0f1115);
    --ids-comp-switch-track-on-color-fg-icon-surface-default: light-dark(#ffffff, #000000);
    --ids-comp-switch-track-on-color-fg-icon-surface-disabled: light-dark(#f5f7fa, #0f1115);
    --ids-comp-switch-track-size-border-radius-comfortable: 1000px;
    --ids-comp-switch-track-size-border-radius-compact: 1000px;
    --ids-comp-switch-track-size-border-radius-dense: 1000px;
    --ids-comp-switch-track-size-border-radius-spacious: 1000px;
    --ids-comp-switch-track-size-padding-x-comfortable: 4px;
    --ids-comp-switch-track-size-padding-x-compact: 4px;
    --ids-comp-switch-track-size-padding-x-dense: 4px;
    --ids-comp-switch-track-size-padding-x-spacious: 4px;
    --ids-comp-switch-track-size-padding-y-comfortable: 4px;
    --ids-comp-switch-track-size-padding-y-compact: 4px;
    --ids-comp-switch-track-size-padding-y-dense: 4px;
    --ids-comp-switch-track-size-padding-y-spacious: 4px;
    --ids-comp-switch-track-size-width-comfortable: 40px;
    --ids-comp-switch-track-size-width-compact: 40px;
    --ids-comp-switch-track-size-width-dense: 40px;
    --ids-comp-switch-track-size-width-spacious: 40px
}