:root {
    --ids-comp-accordion-container-color-bg-default: #ffffff00;
    --ids-comp-accordion-container-color-border-default: #ffffff00;
    --ids-comp-accordion-container-size-border-radius-comfortable: 0px;
    --ids-comp-accordion-container-size-border-radius-compact: 0px;
    --ids-comp-accordion-container-size-border-radius-dense: 0px;
    --ids-comp-accordion-container-size-border-radius-spacious: 0px;
    --ids-comp-accordion-container-size-border-width-comfortable: 1px;
    --ids-comp-accordion-container-size-border-width-compact: 1px;
    --ids-comp-accordion-container-size-border-width-dense: 1px;
    --ids-comp-accordion-container-size-border-width-spacious: 1px;
    --ids-comp-accordion-container-size-gap-comfortable: 8px;
    --ids-comp-accordion-container-size-gap-compact: 2px;
    --ids-comp-accordion-container-size-gap-dense: 8px;
    --ids-comp-accordion-container-size-gap-spacious: 8px;
    --ids-comp-accordion-container-size-padding-x-comfortable: 0px;
    --ids-comp-accordion-container-size-padding-x-compact: 0px;
    --ids-comp-accordion-container-size-padding-x-dense: 0px;
    --ids-comp-accordion-container-size-padding-x-spacious: 0px;
    --ids-comp-accordion-container-size-padding-y-comfortable: 0px;
    --ids-comp-accordion-container-size-padding-y-compact: 0px;
    --ids-comp-accordion-container-size-padding-y-dense: 0px;
    --ids-comp-accordion-container-size-padding-y-spacious: 0px;
    --ids-comp-accordion-controls-size-gap-comfortable: 8px;
    --ids-comp-accordion-controls-size-gap-compact: 4px;
    --ids-comp-accordion-controls-size-gap-dense: 2px;
    --ids-comp-accordion-controls-size-gap-spacious: 16px;
    --ids-comp-accordion-controls-size-padding-x-comfortable: 0px;
    --ids-comp-accordion-controls-size-padding-x-compact: 0px;
    --ids-comp-accordion-controls-size-padding-x-dense: 0px;
    --ids-comp-accordion-controls-size-padding-x-spacious: 0px;
    --ids-comp-accordion-controls-size-padding-y-comfortable: 8px;
    --ids-comp-accordion-controls-size-padding-y-compact: 8px;
    --ids-comp-accordion-controls-size-padding-y-dense: 4px;
    --ids-comp-accordion-controls-size-padding-y-spacious: 16px;
    --ids-comp-accordion-details-color-bg-default: #ffffff00;
    --ids-comp-accordion-details-size-gap-comfortable: 8px;
    --ids-comp-accordion-details-size-gap-compact: 2px;
    --ids-comp-accordion-details-size-gap-dense: 16px;
    --ids-comp-accordion-details-size-gap-spacious: 16px;
    --ids-comp-accordion-details-size-padding-x-comfortable: 8px;
    --ids-comp-accordion-details-size-padding-x-compact: 2px;
    --ids-comp-accordion-details-size-padding-x-dense: 16px;
    --ids-comp-accordion-details-size-padding-x-spacious: 16px;
    --ids-comp-accordion-details-size-padding-y-comfortable: 10px;
    --ids-comp-accordion-details-size-padding-y-compact: 8px;
    --ids-comp-accordion-details-size-padding-y-dense: 16px;
    --ids-comp-accordion-details-size-padding-y-spacious: 16px;
    --ids-comp-accordion-item-color-bg-default: #ffffff00;
    --ids-comp-accordion-item-color-border-default: light-dark(#7e8797, #7e8797);
    --ids-comp-accordion-item-color-border-firstchild: #ffffff00;
    --ids-comp-accordion-item-size-border-radius-comfortable: 0px;
    --ids-comp-accordion-item-size-border-radius-compact: 0px;
    --ids-comp-accordion-item-size-border-radius-dense: 0px;
    --ids-comp-accordion-item-size-border-radius-spacious: 0px;
    --ids-comp-accordion-item-size-border-width-comfortable: 1px;
    --ids-comp-accordion-item-size-border-width-compact: 1px;
    --ids-comp-accordion-item-size-border-width-dense: 1px;
    --ids-comp-accordion-item-size-border-width-spacious: 1px;
    --ids-comp-accordion-item-size-gap-comfortable: 0px;
    --ids-comp-accordion-item-size-gap-compact: 0px;
    --ids-comp-accordion-item-size-gap-dense: 0px;
    --ids-comp-accordion-item-size-gap-spacious: 0px;
    --ids-comp-accordion-item-size-padding-x-comfortable: 0px;
    --ids-comp-accordion-item-size-padding-x-compact: 0px;
    --ids-comp-accordion-item-size-padding-x-dense: 0px;
    --ids-comp-accordion-item-size-padding-x-spacious: 0px;
    --ids-comp-accordion-item-size-padding-y-comfortable: 0px;
    --ids-comp-accordion-item-size-padding-y-compact: 0px;
    --ids-comp-accordion-item-size-padding-y-dense: 0px;
    --ids-comp-accordion-item-size-padding-y-spacious: 0px;
    --ids-comp-accordion-summary-filled-color-bg-default: light-dark(#b2b9c6, #242830);
    --ids-comp-accordion-summary-filled-color-bg-disabled: light-dark(#a3abba, #2b3039);
    --ids-comp-accordion-summary-filled-color-bg-focused: light-dark(#b2b9c6, #242830);
    --ids-comp-accordion-summary-filled-color-bg-hovered: light-dark(#a3abba, #2b3039);
    --ids-comp-accordion-summary-filled-color-bg-pressed: light-dark(#7e8797, #353b46);
    --ids-comp-accordion-summary-filled-color-border-default: #ffffff00;
    --ids-comp-accordion-summary-filled-color-border-disabled: #ffffff00;
    --ids-comp-accordion-summary-filled-color-border-focused: #ffffff00;
    --ids-comp-accordion-summary-filled-color-border-hovered: #ffffff00;
    --ids-comp-accordion-summary-filled-color-border-pressed: #ffffff00;
    --ids-comp-accordion-summary-filled-color-fg-icon-default: light-dark(#353b46, #d1d7df);
    --ids-comp-accordion-summary-filled-color-fg-icon-disabled: light-dark(#707a8a, #404753);
    --ids-comp-accordion-summary-filled-color-fg-icon-focused: light-dark(#4258ed, #929eff);
    --ids-comp-accordion-summary-filled-color-fg-icon-hovered: light-dark(#4258ed, #929eff);
    --ids-comp-accordion-summary-filled-color-fg-icon-pressed: light-dark(#4258ed, #929eff);
    --ids-comp-accordion-summary-filled-color-fg-label-default: light-dark(#353b46, #d1d7df);
    --ids-comp-accordion-summary-filled-color-fg-label-disabled: light-dark(#707a8a, #404753);
    --ids-comp-accordion-summary-filled-color-fg-label-focused: light-dark(#4258ed, #929eff);
    --ids-comp-accordion-summary-filled-color-fg-label-hovered: light-dark(#4258ed, #929eff);
    --ids-comp-accordion-summary-filled-color-fg-label-pressed: light-dark(#4258ed, #929eff);
    --ids-comp-accordion-summary-focused-outline-color-dark-focused: light-dark(#647aff, #2b2695);
    --ids-comp-accordion-summary-focused-outline-size-outline-comfortable: 3px;
    --ids-comp-accordion-summary-focused-outline-size-outline-compact: 3px;
    --ids-comp-accordion-summary-focused-outline-size-outline-dense: 3px;
    --ids-comp-accordion-summary-focused-outline-size-outline-spacious: 3px;
    --ids-comp-accordion-summary-icon-typography-font-family-comfortable: I-DS-font-icon-remix;
    --ids-comp-accordion-summary-icon-typography-font-family-compact: I-DS-font-icon-remix;
    --ids-comp-accordion-summary-icon-typography-font-family-dense: I-DS-font-icon-remix;
    --ids-comp-accordion-summary-icon-typography-font-family-spacious: I-DS-font-icon-remix;
    --ids-comp-accordion-summary-icon-typography-font-size-comfortable: 24px;
    --ids-comp-accordion-summary-icon-typography-font-size-compact: 20px;
    --ids-comp-accordion-summary-icon-typography-font-size-dense: 20px;
    --ids-comp-accordion-summary-icon-typography-font-size-spacious: 32px;
    --ids-comp-accordion-summary-icon-typography-font-weight-comfortable: 400;
    --ids-comp-accordion-summary-icon-typography-font-weight-compact: 400;
    --ids-comp-accordion-summary-icon-typography-font-weight-dense: 400;
    --ids-comp-accordion-summary-icon-typography-font-weight-spacious: 400;
    --ids-comp-accordion-summary-icon-typography-line-height-comfortable: 24px;
    --ids-comp-accordion-summary-icon-typography-line-height-compact: 20px;
    --ids-comp-accordion-summary-icon-typography-line-height-dense: 20px;
    --ids-comp-accordion-summary-icon-typography-line-height-spacious: 32px;
    --ids-comp-accordion-summary-size-border-radius-comfortable: 0px;
    --ids-comp-accordion-summary-size-border-radius-compact: 0px;
    --ids-comp-accordion-summary-size-border-radius-dense: 0px;
    --ids-comp-accordion-summary-size-border-radius-spacious: 0px;
    --ids-comp-accordion-summary-size-border-width-comfortable: 1px;
    --ids-comp-accordion-summary-size-border-width-compact: 1px;
    --ids-comp-accordion-summary-size-border-width-dense: 1px;
    --ids-comp-accordion-summary-size-border-width-spacious: 1px;
    --ids-comp-accordion-summary-size-gap-comfortable: 8px;
    --ids-comp-accordion-summary-size-gap-compact: 2px;
    --ids-comp-accordion-summary-size-gap-dense: 2px;
    --ids-comp-accordion-summary-size-gap-spacious: 16px;
    --ids-comp-accordion-summary-size-height-comfortable: 44px;
    --ids-comp-accordion-summary-size-height-compact: 24px;
    --ids-comp-accordion-summary-size-height-dense: 24px;
    --ids-comp-accordion-summary-size-height-spacious: 56px;
    --ids-comp-accordion-summary-size-icon-comfortable: 24px;
    --ids-comp-accordion-summary-size-icon-compact: 20px;
    --ids-comp-accordion-summary-size-icon-dense: 20px;
    --ids-comp-accordion-summary-size-icon-spacious: 28px;
    --ids-comp-accordion-summary-size-padding-x-comfortable: 8px;
    --ids-comp-accordion-summary-size-padding-x-compact: 2px;
    --ids-comp-accordion-summary-size-padding-x-dense: 2px;
    --ids-comp-accordion-summary-size-padding-x-spacious: 16px;
    --ids-comp-accordion-summary-size-padding-y-comfortable: 8px;
    --ids-comp-accordion-summary-size-padding-y-compact: 2px;
    --ids-comp-accordion-summary-size-padding-y-dense: 2px;
    --ids-comp-accordion-summary-size-padding-y-spacious: 16px;
    --ids-comp-accordion-summary-text-color-bg-default: #ffffff00;
    --ids-comp-accordion-summary-text-color-bg-disabled: #ffffff00;
    --ids-comp-accordion-summary-text-color-bg-focused: light-dark(#b2b9c6, #242830);
    --ids-comp-accordion-summary-text-color-bg-hovered: light-dark(#b2b9c6, #242830);
    --ids-comp-accordion-summary-text-color-bg-pressed: light-dark(#b2b9c6, #242830);
    --ids-comp-accordion-summary-text-color-border-default: #ffffff00;
    --ids-comp-accordion-summary-text-color-border-disabled: #ffffff00;
    --ids-comp-accordion-summary-text-color-border-focused: #ffffff00;
    --ids-comp-accordion-summary-text-color-border-hovered: #ffffff00;
    --ids-comp-accordion-summary-text-color-border-pressed: #ffffff00;
    --ids-comp-accordion-summary-text-color-fg-icon-default: light-dark(#606b7a, #a3abba);
    --ids-comp-accordion-summary-text-color-fg-icon-disabled: light-dark(#707a8a, #404753);
    --ids-comp-accordion-summary-text-color-fg-icon-focused: light-dark(#606b7a, #a3abba);
    --ids-comp-accordion-summary-text-color-fg-icon-hovered: light-dark(#606b7a, #a3abba);
    --ids-comp-accordion-summary-text-color-fg-icon-pressed: light-dark(#606b7a, #a3abba);
    --ids-comp-accordion-summary-text-color-fg-label-default: light-dark(#15181f, #f5f7fa);
    --ids-comp-accordion-summary-text-color-fg-label-disabled: light-dark(#707a8a, #404753);
    --ids-comp-accordion-summary-text-color-fg-label-focused: light-dark(#15181f, #f5f7fa);
    --ids-comp-accordion-summary-text-color-fg-label-hovered: light-dark(#15181f, #f5f7fa);
    --ids-comp-accordion-summary-text-color-fg-label-pressed: light-dark(#15181f, #f5f7fa);
    --ids-comp-accordion-summary-typography-font-family-comfortable: inter;
    --ids-comp-accordion-summary-typography-font-family-compact: inter;
    --ids-comp-accordion-summary-typography-font-family-dense: inter;
    --ids-comp-accordion-summary-typography-font-family-spacious: inter;
    --ids-comp-accordion-summary-typography-font-size-comfortable: 16px;
    --ids-comp-accordion-summary-typography-font-size-compact: 12px;
    --ids-comp-accordion-summary-typography-font-size-dense: 12px;
    --ids-comp-accordion-summary-typography-font-size-spacious: 16px;
    --ids-comp-accordion-summary-typography-font-weight-comfortable: 600;
    --ids-comp-accordion-summary-typography-font-weight-compact: 600;
    --ids-comp-accordion-summary-typography-font-weight-dense: 600;
    --ids-comp-accordion-summary-typography-font-weight-spacious: 600;
    --ids-comp-accordion-summary-typography-letter-spacing-comfortable: 0em;
    --ids-comp-accordion-summary-typography-letter-spacing-compact: 0em;
    --ids-comp-accordion-summary-typography-letter-spacing-dense: 0em;
    --ids-comp-accordion-summary-typography-letter-spacing-spacious: 0em;
    --ids-comp-accordion-summary-typography-line-height-comfortable: 20px;
    --ids-comp-accordion-summary-typography-line-height-compact: 16px;
    --ids-comp-accordion-summary-typography-line-height-dense: 16px;
    --ids-comp-accordion-summary-typography-line-height-spacious: 20px
}