:root {
    --ids-comp-dialog-backdrop-background: light-dark(#02061740, #020617b3);
    --ids-comp-dialog-backdrop-size-opacity-comfortable: 100%;
    --ids-comp-dialog-backdrop-size-opacity-compact: 100%;
    --ids-comp-dialog-backdrop-size-opacity-dense: 100%;
    --ids-comp-dialog-backdrop-size-opacity-spacious: 100%;
    --ids-comp-dialog-backdrop-size-padding-x-comfortable: 24px;
    --ids-comp-dialog-backdrop-size-padding-x-compact: 24px;
    --ids-comp-dialog-backdrop-size-padding-x-dense: 24px;
    --ids-comp-dialog-backdrop-size-padding-x-spacious: 72px;
    --ids-comp-dialog-backdrop-size-padding-y-comfortable: 24px;
    --ids-comp-dialog-backdrop-size-padding-y-compact: 24px;
    --ids-comp-dialog-backdrop-size-padding-y-dense: 24px;
    --ids-comp-dialog-backdrop-size-padding-y-spacious: 72px;
    --ids-comp-dialog-container-color-bg-default: light-dark(#ffffff, #000000);
    --ids-comp-dialog-container-color-border-surface-default: #ffffff00;
    --ids-comp-dialog-container-size-border-radius-comfortable: 32px;
    --ids-comp-dialog-container-size-border-radius-compact: 32px;
    --ids-comp-dialog-container-size-border-radius-dense: 32px;
    --ids-comp-dialog-container-size-border-radius-spacious: 32px;
    --ids-comp-dialog-container-size-border-width-comfortable: 0px;
    --ids-comp-dialog-container-size-border-width-compact: 0px;
    --ids-comp-dialog-container-size-border-width-dense: 0px;
    --ids-comp-dialog-container-size-border-width-spacious: 0px;
    --ids-comp-dialog-container-size-gap-comfortable: 24px;
    --ids-comp-dialog-container-size-gap-compact: 16px;
    --ids-comp-dialog-container-size-gap-dense: 16px;
    --ids-comp-dialog-container-size-gap-spacious: 24px;
    --ids-comp-dialog-container-size-min-height-comfortable: 256px;
    --ids-comp-dialog-container-size-min-height-compact: 256px;
    --ids-comp-dialog-container-size-min-height-dense: 256px;
    --ids-comp-dialog-container-size-min-height-spacious: 256px;
    --ids-comp-dialog-container-size-padding-x-comfortable: 48px;
    --ids-comp-dialog-container-size-padding-x-compact: 24px;
    --ids-comp-dialog-container-size-padding-x-dense: 24px;
    --ids-comp-dialog-container-size-padding-x-spacious: 48px;
    --ids-comp-dialog-container-size-padding-y-comfortable: 48px;
    --ids-comp-dialog-container-size-padding-y-compact: 24px;
    --ids-comp-dialog-container-size-padding-y-dense: 24px;
    --ids-comp-dialog-container-size-padding-y-spacious: 48px;
    --ids-comp-dialog-container-size-width-comfortable: 800px;
    --ids-comp-dialog-container-size-width-compact: 600px;
    --ids-comp-dialog-container-size-width-dense: 400px;
    --ids-comp-dialog-container-size-width-spacious: 800px;
    --ids-comp-dialog-content-color-bg-default: #ffffff00;
    --ids-comp-dialog-content-color-border-surface-default: light-dark(#a3abba, #2b3039);
    --ids-comp-dialog-content-fixed-size-padding-x-comfortable: 0px;
    --ids-comp-dialog-content-fixed-size-padding-x-compact: 0px;
    --ids-comp-dialog-content-fixed-size-padding-x-dense: 0px;
    --ids-comp-dialog-content-fixed-size-padding-x-spacious: 0px;
    --ids-comp-dialog-content-fixed-size-padding-y-comfortable: 0px;
    --ids-comp-dialog-content-fixed-size-padding-y-compact: 0px;
    --ids-comp-dialog-content-fixed-size-padding-y-dense: 0px;
    --ids-comp-dialog-content-fixed-size-padding-y-spacious: 0px;
    --ids-comp-dialog-content-scrollable-size-border-width-comfortable: 1px;
    --ids-comp-dialog-content-scrollable-size-border-width-compact: 1px;
    --ids-comp-dialog-content-scrollable-size-border-width-dense: 1px;
    --ids-comp-dialog-content-scrollable-size-border-width-spacious: 1px;
    --ids-comp-dialog-content-scrollable-size-padding-x-comfortable: 0px;
    --ids-comp-dialog-content-scrollable-size-padding-x-compact: 0px;
    --ids-comp-dialog-content-scrollable-size-padding-x-dense: 0px;
    --ids-comp-dialog-content-scrollable-size-padding-x-spacious: 0px;
    --ids-comp-dialog-content-scrollable-size-padding-y-comfortable: 24px;
    --ids-comp-dialog-content-scrollable-size-padding-y-compact: 24px;
    --ids-comp-dialog-content-scrollable-size-padding-y-dense: 24px;
    --ids-comp-dialog-content-scrollable-size-padding-y-spacious: 24px;
    --ids-comp-dialog-footer-color-bg-default: #ffffff00;
    --ids-comp-dialog-footer-gap-comfortable: 8px;
    --ids-comp-dialog-footer-gap-compact: 8px;
    --ids-comp-dialog-footer-gap-dense: 8px;
    --ids-comp-dialog-footer-gap-spacious: 8px;
    --ids-comp-dialog-footer-padding-x-comfortable: 0px;
    --ids-comp-dialog-footer-padding-x-compact: 0px;
    --ids-comp-dialog-footer-padding-x-dense: 0px;
    --ids-comp-dialog-footer-padding-x-spacious: 0px;
    --ids-comp-dialog-footer-padding-y-comfortable: 0px;
    --ids-comp-dialog-footer-padding-y-compact: 0px;
    --ids-comp-dialog-footer-padding-y-dense: 0px;
    --ids-comp-dialog-footer-padding-y-spacious: 0px;
    --ids-comp-dialog-header-color-bg-default: #ffffff00;
    --ids-comp-dialog-header-size-gap-comfortable: 0px;
    --ids-comp-dialog-header-size-gap-compact: 0px;
    --ids-comp-dialog-header-size-gap-dense: 0px;
    --ids-comp-dialog-header-size-gap-spacious: 0px;
    --ids-comp-dialog-header-size-padding-x-comfortable: 0px;
    --ids-comp-dialog-header-size-padding-x-compact: 0px;
    --ids-comp-dialog-header-size-padding-x-dense: 0px;
    --ids-comp-dialog-header-size-padding-x-spacious: 0px;
    --ids-comp-dialog-header-size-padding-y-comfortable: 0px;
    --ids-comp-dialog-header-size-padding-y-compact: 0px;
    --ids-comp-dialog-header-size-padding-y-dense: 0px;
    --ids-comp-dialog-header-size-padding-y-spacious: 0px;
    --ids-comp-dialog-header-subtitle-typography-font-family-comfortable: inter;
    --ids-comp-dialog-header-subtitle-typography-font-family-compact: inter;
    --ids-comp-dialog-header-subtitle-typography-font-family-dense: inter;
    --ids-comp-dialog-header-subtitle-typography-font-family-spacious: inter;
    --ids-comp-dialog-header-subtitle-typography-font-size-comfortable: 16px;
    --ids-comp-dialog-header-subtitle-typography-font-size-compact: 16px;
    --ids-comp-dialog-header-subtitle-typography-font-size-dense: 16px;
    --ids-comp-dialog-header-subtitle-typography-font-size-spacious: 16px;
    --ids-comp-dialog-header-subtitle-typography-font-weight-comfortable: 500;
    --ids-comp-dialog-header-subtitle-typography-font-weight-compact: 500;
    --ids-comp-dialog-header-subtitle-typography-font-weight-dense: 500;
    --ids-comp-dialog-header-subtitle-typography-font-weight-spacious: 500;
    --ids-comp-dialog-header-subtitle-typography-letter-spacing-comfortable: 0em;
    --ids-comp-dialog-header-subtitle-typography-letter-spacing-compact: 0em;
    --ids-comp-dialog-header-subtitle-typography-letter-spacing-dense: 0em;
    --ids-comp-dialog-header-subtitle-typography-letter-spacing-spacious: 0em;
    --ids-comp-dialog-header-subtitle-typography-line-height-comfortable: 24px;
    --ids-comp-dialog-header-subtitle-typography-line-height-compact: 24px;
    --ids-comp-dialog-header-subtitle-typography-line-height-dense: 24px;
    --ids-comp-dialog-header-subtitle-typography-line-height-spacious: 24px;
    --ids-comp-dialog-header-title-typography-font-family-comfortable: inter;
    --ids-comp-dialog-header-title-typography-font-family-compact: inter;
    --ids-comp-dialog-header-title-typography-font-family-dense: inter;
    --ids-comp-dialog-header-title-typography-font-family-spacious: inter;
    --ids-comp-dialog-header-title-typography-font-size-comfortable: 22px;
    --ids-comp-dialog-header-title-typography-font-size-compact: 22px;
    --ids-comp-dialog-header-title-typography-font-size-dense: 22px;
    --ids-comp-dialog-header-title-typography-font-size-spacious: 22px;
    --ids-comp-dialog-header-title-typography-font-weight-comfortable: 700;
    --ids-comp-dialog-header-title-typography-font-weight-compact: 700;
    --ids-comp-dialog-header-title-typography-font-weight-dense: 700;
    --ids-comp-dialog-header-title-typography-font-weight-spacious: 700;
    --ids-comp-dialog-header-title-typography-letter-spacing-comfortable: -0.0015em;
    --ids-comp-dialog-header-title-typography-letter-spacing-compact: 0em;
    --ids-comp-dialog-header-title-typography-letter-spacing-dense: 0em;
    --ids-comp-dialog-header-title-typography-letter-spacing-spacious: -0.0015em;
    --ids-comp-dialog-header-title-typography-line-height-comfortable: 28px;
    --ids-comp-dialog-header-title-typography-line-height-compact: 28px;
    --ids-comp-dialog-header-title-typography-line-height-dense: 28px;
    --ids-comp-dialog-header-title-typography-line-height-spacious: 28px
}