:root {
    --ids-comp-navbar-brand-and-menu-size-gap-comfortable: 16px;
    --ids-comp-navbar-brand-and-menu-size-gap-compact: 16px;
    --ids-comp-navbar-brand-and-menu-size-gap-dense: 16px;
    --ids-comp-navbar-brand-and-menu-size-gap-spacious: 16px;
    --ids-comp-navbar-feature-and-menu-size-gap-comfortable: 12px;
    --ids-comp-navbar-feature-and-menu-size-gap-compact: 12px;
    --ids-comp-navbar-feature-and-menu-size-gap-dense: 12px;
    --ids-comp-navbar-feature-and-menu-size-gap-spacious: 12px;
    --ids-comp-navbar-feature-size-gap-comfortable: 12px;
    --ids-comp-navbar-feature-size-gap-compact: 12px;
    --ids-comp-navbar-feature-size-gap-dense: 12px;
    --ids-comp-navbar-feature-size-gap-spacious: 12px;
    --ids-comp-navbar-menu-size-gap-comfortable: 12px;
    --ids-comp-navbar-menu-size-gap-compact: 12px;
    --ids-comp-navbar-menu-size-gap-dense: 12px;
    --ids-comp-navbar-menu-size-gap-spacious: 12px;
    --ids-comp-navbar-size-border-width-comfortable: 1px;
    --ids-comp-navbar-size-border-width-compact: 1px;
    --ids-comp-navbar-size-border-width-dense: 1px;
    --ids-comp-navbar-size-border-width-spacious: 1px;
    --ids-comp-navbar-size-height-comfortable: 96px;
    --ids-comp-navbar-size-height-compact: 96px;
    --ids-comp-navbar-size-height-dense: 96px;
    --ids-comp-navbar-size-height-spacious: 96px;
    --ids-comp-navbar-size-padding-x-comfortable: 16px;
    --ids-comp-navbar-size-padding-x-compact: 16px;
    --ids-comp-navbar-size-padding-x-dense: 16px;
    --ids-comp-navbar-size-padding-x-spacious: 16px;
    --ids-comp-navbar-size-padding-y-comfortable: 16px;
    --ids-comp-navbar-size-padding-y-compact: 16px;
    --ids-comp-navbar-size-padding-y-dense: 16px;
    --ids-comp-navbar-size-padding-y-spacious: 16px;
    --ids-comp-navbar-standard-light-color-bg-brand-default: light-dark(#4258ed, #929eff);
    --ids-comp-navbar-standard-light-color-bg-dark-default: light-dark(#15181f, #f5f7fa);
    --ids-comp-navbar-standard-light-color-bg-error-default: light-dark(#d40d00, #f84227);
    --ids-comp-navbar-standard-light-color-bg-light-default: light-dark(#ffffff, #000000);
    --ids-comp-navbar-standard-light-color-bg-primary-default: light-dark(#4258ed, #929eff);
    --ids-comp-navbar-standard-light-color-bg-secondary-default: light-dark(#64748b, #e2e8f0);
    --ids-comp-navbar-standard-light-color-bg-success-default: light-dark(#007b24, #00bf53);
    --ids-comp-navbar-standard-light-color-bg-surface-default: light-dark(#7e8797, #353b46);
    --ids-comp-navbar-standard-light-color-bg-warning-default: light-dark(#a65200, #f98900);
    --ids-comp-navbar-standard-light-color-border-surface-default: light-dark(#ffffff, #ffffff);
    --ids-comp-navbar-standard-surface-color-bg-brand-default: light-dark(#4258ed, #929eff);
    --ids-comp-navbar-standard-surface-color-bg-dark-default: light-dark(#15181f, #f5f7fa);
    --ids-comp-navbar-standard-surface-color-bg-error-default: light-dark(#d40d00, #f84227);
    --ids-comp-navbar-standard-surface-color-bg-light-default: light-dark(#ffffff, #000000);
    --ids-comp-navbar-standard-surface-color-bg-primary-default: light-dark(#4258ed, #929eff);
    --ids-comp-navbar-standard-surface-color-bg-secondary-default: light-dark(#64748b, #e2e8f0);
    --ids-comp-navbar-standard-surface-color-bg-success-default: light-dark(#007b24, #00bf53);
    --ids-comp-navbar-standard-surface-color-bg-surface-default: light-dark(#7e8797, #353b46);
    --ids-comp-navbar-standard-surface-color-bg-warning-default: light-dark(#a65200, #f98900);
    --ids-comp-navbar-standard-surface-color-border-surface-default: light-dark(#a3abba, #2b3039)
}