ids-nav {
  display: flex;
  width: 13rem;
  flex-direction: column;
  flex-shrink: 0;
  background-color: var(--ids-smc-colors-surface-lighter-10);
  padding: 0.625rem;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }
}

.nav-label {
  padding: 10px;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.00625rem;
}

ul {
  gap: 0.5rem;
}

li > a,
.subnav-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  height: 2.5rem;
  background: var(--ids-ids-smc-colors-surface-lighter-10);
  border-radius: 0.5rem;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  user-select: none;
  &.active,
  &:has(.active) {
    color: var(--ids-smc-colors-primary-darker-20);
  }
  &:hover {
    background: var(--ids-smc-colors-surface-darker-20);
  }
}

.subnav-parent {
  padding: 0.5rem 1rem;
  .more {
    display: flex;
  }
}
