ids-nav {
  @apply flex w-52 flex-col flex-shrink-0;
  background-color: var(--ids-base-color-light);
  padding: 0.625rem;
}
html:has(input[color-scheme]:checked) {
  ids-nav {
    background-color: var(--ids-base-color-dark);
  }
}

.nav-label {
  @apply p-[.625rem];
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.00625rem;
}

ul {
  gap: 0.5rem;
}

li > a,
.subnav-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  height: 2.5rem;
  background: var(--ids-smc-reference-container-color-bg-light-default);
  border-radius: 0.5rem;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  user-select: none;
  &.active,
  &:has(.active) {
    color: var(--ids-smc-reference-container-color-fg-primary-default);
  }
  &:hover {
    background: var(--ids-smc-reference-container-color-bg-light-darker-20);
  }
}
html:has(input[color-scheme]:checked) {
  li > a,
  .subnav-parent {
    background: var(--ids-smc-reference-container-color-bg-dark-default);
    &:hover {
      background: var(--ids-smc-reference-container-color-bg-dark-lighter-80);
    }
  }
}

.subnav-parent {
  padding: 0.5rem 1rem;
  .more {
    display: flex;
  }
}
