:host {
  display: flex;
  width: auto;
  flex-direction: column;
  flex-shrink: 0;
  background-color: var(--ids-smc-colors-surface-lighter-10);
  padding: 0.625rem;
  box-sizing: border-box;
  color: var(--ids-smc-colors-surface-darker-80);
  overflow-y: auto;
  scrollbar-gutter: stable;

  * {
    box-sizing: border-box;
  }
}

.nav-label {
  padding: 0.625rem;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.00625rem;
}