<nav idsSideNav>
  @for (menuConfig of menu(); track $index) {
    <ids-side-nav-section>
      @if (menuConfig.slug) {
        <a [routerLink]="menuConfig.path">
          <ids-side-nav-title class="nav-label" [label]="menuConfig.name!" />
        </a>
      } @else {
        <ids-side-nav-title class="nav-label" [label]="menuConfig.name!" />
      }
      <ul>
        @for (menuItem of menuConfig.children; track $index) {
          @if (menuItem.children?.length! > 0) {
            <li>
              <div class="subnav-parent">
                <a #rla="routerLinkActive" [routerLink]="menuItem.path" [routerLinkActive]="['active']">
                  <span class="icon">
                    @if (menuItem.icon) {
                      <ids-icon [fontIcon]="menuItem.icon" />
                    }
                  </span>
                  <ids-side-nav-item class="name" [label]="menuItem.name!" />
                </a>
                <span #trigger class="more"><ids-icon icon-trailing [fontIcon]="menuItem.$open ? 'chevron-up' : 'chevron-down'" /></span>
              </div>
              <ids-subnav [menuItem]="menuItem" [trigger]="trigger" [open]="rla.isActive" (opened)="menuItem.$open = $event" />
            </li>
          } @else {
            <li>
              <a [routerLink]="menuItem.path">
                <ids-side-nav-item class="icon" [label]="menuItem.name!" />
              </a>
            </li>
          }
        }
      </ul>
    </ids-side-nav-section>
  }
</nav>
