<nav idsSideNav>
  @for (menuConfig of menu(); track $index) {
    <ids-side-nav-section>
      @if (menuConfig.slug) {
        <ids-side-nav-item class="nav-label" [label]="menuConfig.name!" [target]="menuConfig.path ?? ''" />
      } @else {
        <ids-side-nav-title class="nav-label" [label]="menuConfig.name!" />
      }

      @for (menuItem of menuConfig.children; track $index) {
        @if (menuItem.children?.length! > 0) {
          <ids-side-nav-item class="name" [label]="menuItem.name!" [target]="menuItem.path ?? ''">
            @if (menuItem.icon) {
              <ids-icon icon-leading [fontIcon]="menuItem.icon" />
            }

            @for (subItem of menuItem.children; track $index) {
              <ids-side-nav-item [label]="subItem.name!" [target]="subItem.path ?? ''" [isActiveMatchOptions]="subsetMatchOptions">
                @if (subItem.icon) {
                  <ids-icon icon-leading [fontIcon]="subItem.icon" />
                }
              </ids-side-nav-item>
            }
          </ids-side-nav-item>
        } @else {
          <ids-side-nav-item class="icon" [label]="menuItem.name!" [target]="menuItem.path ?? ''">
            @if (menuItem.icon) {
              <ids-icon icon-leading [fontIcon]="menuItem.icon" />
            }
          </ids-side-nav-item>
        }
      }
    </ids-side-nav-section>
  }
</nav>
