:host {
  background-color: var(--ids-smc-colors-surface-lighter-10);
  box-sizing: content-box;
  overflow-x: hidden;
  overflow-y: auto;
  // sidenav section min width + padding (x-axis)
  width: calc(var(--ids-comp-sidenav-section-size-min-width-compact) + 1rem);
  padding: 0.5rem;
  scrollbar-gutter: stable;
}