<nav>
  @for (menuConfig of menu(); track $index) {
  <section>
    @if (menuConfig.name) {
    <h2 class="nav-label">{{ menuConfig.name | translate }}</h2>
    }
    <ul>
      @for (menuItem of menuConfig.children; track $index) {
        @if (menuItem.children?.length! > 0) {
        <li>
          <span class="subnav-parent">
            <a [routerLink]="menuItem.path">
              <span class="icon"></span
              ><span class="name">{{ menuItem.name! | translate }}</span></a
            ><span #trigger class="more"
              ><ids-icon [icon]="menuItem.$open ? iconOpened() : iconClosed()"></ids-icon></span></span
          ><app-subnav
            [menuItem]="menuItem"
            [trigger]="trigger"
            (onOpen)="menuItem.$open= $event"
          ></app-subnav>
        </li>
        } @else {
        <li>
          <a [routerLink]="menuItem.path"
            ><span class="icon"></span
            ><span class="name">{{ menuItem!.name! | translate }}</span></a
          >
        </li>
        }
      }
    </ul>
  </section>
  }
</nav>
