<button
  #switch
  role="switch"
  type="button"
  class="ids-switch__button"
  [tabIndex]="_isDisabled() ? -1 : tabIndex()"
  [disabled]="_isDisabled()"
  [id]="id()"
  [name]="name()"
  [attr.aria-label]="ariaLabel()"
  [attr.aria-labelledby]="ariaLabelledBy()"
  [attr.aria-describedby]="ariaDescribedBy()"
  [attr.aria-checked]="_isChecked()"
  [@switchAnimation]="_isChecked() ? 'on' : 'off'"
  (click)="_handleClick()"
>
  <div class="ids-switch__track">
    @if (_hasTrackIcon()) {
      <div class="ids-switch__track-icon">
        @if (_isChecked()) {
          <ids-icon aria-hidden="true" fontIcon="done" />
        }
      </div>
      <div class="ids-switch__track-icon">
        @if (!_isChecked()) {
          <ids-icon aria-hidden="true" fontIcon="close" />
        }
      </div>
    }
    <div class="ids-switch__handle">
      @if (_hasHandleIcon()) {
        <!-- needs to be here duplicate ids-icon because of animation :enter and :leave -->
        @if (_isChecked()) {
          <ids-icon aria-hidden="true" fontIcon="done" />
        } @else {
          <ids-icon aria-hidden="true" fontIcon="close" />
        }
      }
    </div>
  </div>
</button>

<label class="ids-switch__label" [for]="id()">{{ label() }}</label>
