$sizes: compact, comfortable, spacious, dense;

.ids-switch-group {
  display: flex;
  flex-direction: column;

  @each $size in $sizes {
    &.ids-switch-group-#{$size} {
      gap: var(--ids-comp-switch-group-container-size-gap-#{$size});
      padding: var(--ids-comp-switch-group-container-size-padding-y-#{$size})
        var(--ids-comp-switch-group-container-size-padding-x-#{$size});
    }
  }
}
