<button
  #switch
  role="switch"
  type="button"
  class="ids-switch__button"
  [tabIndex]="isDisabled() ? -1 : tabIndex()"
  [disabled]="isDisabled()"
  [id]="id()"
  [name]="name()"
  [attr.aria-label]="ariaLabel()"
  [attr.aria-labelledby]="ariaLabelledBy()"
  [attr.aria-describedby]="ariaDescribedBy()"
  [attr.aria-required]="required() || null"
  [attr.aria-checked]="isChecked()"
  (click)="handleClick()"
>
  <div class="ids-switch__track">
    @if (_hasTrackIcon()) {
      <ids-icon aria-hidden="true" [icon]="_offIcon" />
      <ids-icon aria-hidden="true" [icon]="_onIcon" />
    }
  </div>
  <div class="ids-switch__handle-track">
    <div class="ids-switch__handle">
      @if (_hasHandleIcon()) {
        <ids-icon aria-hidden="true" [icon]="isChecked() ? _onIcon : _offIcon" />
      }
    </div>
  </div>
</button>

<label class="ids-switch__label" [for]="id()"></label>
