<div class="flex flex-col gap-4 w-full">
  <span>top</span>
  <ids-tab-group indicatorPosition="top">
    <ids-tab [label]="'EXAMPLES.TAB.COMMON.TAB_1' | translate">{{ "EXAMPLES.TAB.COMMON.CONTENT_1" | translate }}</ids-tab>
    <ids-tab [label]="'EXAMPLES.TAB.COMMON.TAB_2' | translate">{{ "EXAMPLES.TAB.COMMON.CONTENT_2" | translate }}</ids-tab>
  </ids-tab-group>

  <span>bottom</span>
  <ids-tab-group indicatorPosition="bottom">
    <ids-tab [label]="'EXAMPLES.TAB.COMMON.TAB_1' | translate">{{ "EXAMPLES.TAB.COMMON.CONTENT_1" | translate }}</ids-tab>
    <ids-tab [label]="'EXAMPLES.TAB.COMMON.TAB_2' | translate">{{ "EXAMPLES.TAB.COMMON.CONTENT_2" | translate }}</ids-tab>
  </ids-tab-group>

  <span>left</span>
  <ids-tab-group class="h-32" indicatorPosition="left" orientation="vertical">
    <ids-tab [label]="'EXAMPLES.TAB.COMMON.TAB_1' | translate">{{ "EXAMPLES.TAB.COMMON.CONTENT_1" | translate }}</ids-tab>
    <ids-tab [label]="'EXAMPLES.TAB.COMMON.TAB_2' | translate">{{ "EXAMPLES.TAB.COMMON.CONTENT_2" | translate }}</ids-tab>
  </ids-tab-group>

  <span>right</span>
  <ids-tab-group class="h-32" indicatorPosition="right" orientation="vertical">
    <ids-tab [label]="'EXAMPLES.TAB.COMMON.TAB_1' | translate">{{ "EXAMPLES.TAB.COMMON.CONTENT_1" | translate }}</ids-tab>
    <ids-tab [label]="'EXAMPLES.TAB.COMMON.TAB_2' | translate">{{ "EXAMPLES.TAB.COMMON.CONTENT_2" | translate }}</ids-tab>
  </ids-tab-group>
</div>
