<div class="flex flex-col gap-ids-container-gap-16">
  <div class="flex gap-ids-container-gap-16 items-center">
    <ids-icon fontIcon="home" size="comfortable" />
    <ids-icon fontIcon="search" size="comfortable" />
    <ids-icon fontIcon="settings" size="comfortable" />
    <ids-icon fontIcon="account" size="comfortable" />
    <ids-icon fontIcon="notifications" size="comfortable" />
  </div>
  <div class="flex gap-ids-container-gap-16 items-center">
    <ids-icon svgIcon="favorite" size="comfortable" />
    <ids-icon svgIcon="cart" size="comfortable" />
    <ids-icon svgIcon="calendar-today" size="comfortable" />
    <ids-icon svgIcon="done" size="comfortable" />
    <ids-icon svgIcon="warning" size="comfortable" />
  </div>
</div>
