<nav idsSideNav>
  <ids-side-nav-section>
    <ids-side-nav-title [label]="'EXAMPLES.SIDE_NAV.ICONS.CONTENT.SECTION' | translate">
      <ids-icon icon-leading fontIcon="cart" />
      <ids-icon icon-trailing fontIcon="chevron-down" />
    </ids-side-nav-title>
    <ids-side-nav-item target="components/side-nav/demo" [label]="'EXAMPLES.SIDE_NAV.ICONS.CONTENT.HOME' | translate">
      <ids-icon icon-leading fontIcon="home" />
      <ids-icon icon-trailing fontIcon="chevron-right" />
    </ids-side-nav-item>
    <ids-side-nav-item target="components/icon/demo" [label]="'EXAMPLES.SIDE_NAV.ICONS.CONTENT.SETTINGS' | translate">
      <ids-icon icon-leading fontIcon="settings" />
      <ids-icon icon-trailing fontIcon="chevron-right" />
    </ids-side-nav-item>
  </ids-side-nav-section>
</nav>
