<div class="ids-checkbox-group__legend-wrapper">
  <div class="ids-checkbox-group__legend-container">
    @if (_shouldShowAsterisk) {
      <span class="ids-form-field__required-marker"></span>
    }
    <label class="ids-checkbox-group__legend-label" [for]="id()" [id]="_groupLabelId()">{{ groupLabel() }} </label>
  </div>
  @if (_hasHint()) {
    <ng-content select="ids-hint-message" />
  }
</div>
  @if (allowParent()) {
    <div class="ids-checkbox-group__parent">
      <ids-checkbox
        [checked]="_parentCheckboxChecked()"
        [indeterminate]="_parentCheckboxIndeterminate()"
        [disabled]="_parentCheckboxDisabled()"
        (change)="_handleParentChange($event)"
        >{{ parentCheckboxLabel() }}</ids-checkbox
      >
  </div>
  }
<div class="ids-checkbox-group__list">
  <ng-content select="ids-checkbox" />
</div>
<div class="ids-checkbox-group__error-container">
  <ng-content select="ids-error-message" />
</div>
