<div class="ids-checkbox__input-wrapper">
  <div class="ids-checkbox__touch-target" (click)="onTouchTargetClick()"></div>
  <input
    #inputEl
    type="checkbox"
    [class.ids-checkbox--selected]="_isChecked()"
    [id]="_inputId()"
    [disabled]="disabled()"
    [attr.aria-checked]="_isIndeterminate() ? 'mixed' : null"
    [attr.aria-label]="ariaLabel() || null"
    [attr.aria-labelledby]="ariaLabelledby()"
    [attr.aria-describedby]="ariaDescribedby()"
    [checked]="_isChecked()"
    [indeterminate]="_isIndeterminate()"
    [name]="name()"
    [required]="required()"
    [tabIndex]="!_isFocusable() ? -1 : tabIndex()"
    [value]="_nativeValue()"
    (blur)="onBlur()"
    (click)="onInputClick()"
    (change)="$event.stopPropagation()"
  />
  <div class="ids-checkbox__icon" aria-hidden="true">
    @if (_isIndeterminate()) {
      <ids-icon fontIcon="minus" aria-hidden="true" />
    }
    @if (_isChecked()) {
      <ids-icon fontIcon="check" aria-hidden="true" />
    }
  </div>
</div>

<div class="ids-checkbox__label-wrapper">
  <div class="ids-checkbox__label-container">
    <label class="ids-checkbox__label" [for]="_inputId()">
      <ng-content />
      @if (_hasRequiredValidator) {
        <span class="ids-form-field__required-marker"></span>
      }
    </label>
  </div>
  @let messages = displayedMessages;
  @if (messages) {
    <div class="ids-checkbox__message-container">
      @switch (messages) {
        @case ("error") {
          <ng-content select="ids-error-message" />
        }
        @case ("hint") {
          <ng-content select="ids-hint-message" />
        }
      }
    </div>
  }
</div>
