<div class="ids-checkbox__input-wrapper">
  <div
    class="ids-checkbox__touch-target"
    (click)="onTouchTargetClick()"
  ></div>
  <input
    #inputEl
    type="checkbox"
    [class.ids-checkbox--selected]="isChecked()"
    [id]="inputId()"
    [disabled]="isDisabled()"
    [attr.aria-checked]="isIndeterminate() ? 'mixed' : null"
    [checked]="isChecked()"
    [indeterminate]="isIndeterminate()"
    [name]="name()"
    [required]="required()"
    [tabIndex]="!isFocusable() ? -1 : tabIndex()"
    [value]="value()"
    (blur)="onBlur()"
    (click)="onInputClick()"
    (change)="$event.stopPropagation()"
  />
  <div
    class="ids-checkbox__icon"
    aria-hidden="true"
  >
    @if (isIndeterminate()) {
    <svg
      viewBox="0 0 20 20"
      focusable="false"
      aria-hidden="true"
    >
      <path
        d="M4 10H15.6667"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
    }
    @if (isChecked()) {
    <svg
      viewBox="0 0 20 20"
      focusable="false"
      fill="none"
      aria-hidden="true"
    >
      <path
        d="M3 10.5L9 16.5L18 3"
        stroke="currentColor"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
    }
  </div>
</div>

<div class="ids-checkbox__label-wrapper">
  <div class="ids-checkbox__label-container">
    <label
      class="ids-checkbox__label"
      [for]="inputId()"
    >
      <ng-content />
      @if (hasRequiredValidator) {
      <span class="ids-form-field__required-marker"></span>
      }
    </label>
  </div>
  @if (displayedMessages; as messages) {
  <div class="ids-checkbox__message-container">
    @switch (messages) {
    @case ('error') {
    <ng-content select="ids-error-message" />
    }
    @case ('hint') {
    <ng-content select="ids-hint-message" />
    }
    }
  </div>
  }
</div>