<picture
  class="flex"
  [class]="
    orientation === 'vertical'
      ? 'w-full px-ids-container-padding-16 pt-ids-container-padding-16   '
      : 'h-full pl-ids-container-padding-16 py-ids-container-padding-16'
  "
>
  <img
    src="https://images.unsplash.com/photo-1595409583957-5d1ec5869de9?q=80&w=2486&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    alt="hello"
    class="object-cover h-24 rounded-ids-container-xs w-full"
  />
</picture>
