<figure
  class="flex flex-col justify-center items-center gap-ids-container-gap-8"
  [class]="
    orientation() === 'vertical'
      ? ''
      : 'h-full px-ids-container-padding-16 pt-ids-container-padding-16 md:pl-ids-container-padding-16 md:pr-ids-container-padding-none md:py-ids-container-padding-16'
  "
>
  <div
    class="rounded-ids-container-xs overflow-hidden w-full flex flex-col justify-center items-center"
    [ngClass]="[borderClass(), colorVariantClass(), containerPaddingClass()]"
    [class.transparent-bg]="data().transparent === true"
  >
    <img class="w-full h-48 bg-gray-100 rounded-lg" [alt]="imageCaption() || ''" [src]="currentImageUrl" [ngClass]="[aspectRatioClass(), imgFilledClass()]" />
  </div>
  <!-- @if (imageCaption()) {
    <figcaption class="text-body-medium text-ids-page-fg-surface-lighter-10">{{ imageCaption() }}</figcaption>
  } -->
</figure>
