<figure
  class="flex flex-col gap-ids-container-gap-8"
  [class]="
    orientation === 'vertical'
      ? 'w-full px-ids-container-padding-16 pt-ids-container-padding-16   '
      : 'h-full px-ids-container-padding-16 pt-ids-container-padding-16 md:pl-ids-container-padding-16 md:py-ids-container-padding-16'
  "
>
  <div class="rounded-ids-container-xs overflow-hidden" [class]="getBorderClass() + ' ' + getColorVariantClass()">
    <img alt="hello" class="object-cover" [src]="imageURL" [class]="getAspectRatioClass()" />
  </div>
  @if (imageCaption) {
    <figcaption class="text-body-medium text-ids-page-fg-surface-lighter-10">{{ imageCaption }}</figcaption>
  }
</figure>
