/* You can add global styles to this file, and also import other style files */
@use "@angular/cdk" as cdk;


@import url("https://rsms.me/inter/inter.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@include cdk.overlay();

html:has(input[color-scheme]) {
  color-scheme: light;
}

html:has(input[color-scheme]:checked) {
  color-scheme: dark;
}

body {
  font-family:
    Montserrat,
    inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-feature-settings:
    "zero" 1,
    "liga" 1,
    "calt" 1,
    "cv05" 1,
    "cv08" 1 !important;
  background-color: var(--ids-smc-colors-surface-default);
  font-variant-numeric: tabular-nums slashed-zero !important;
  margin: 0;
}

// IDS core base
@font-face {
  font-family: "I-DS-font-icon-material";
  src:
    url(./assets/fonts/material/idsBase/I-DS-font-icon-material.ttf) format("truetype"),
    url(./assets/fonts/material/idsBase/I-DS-font-icon-material.woff) format("woff"),
    url(./assets/fonts/material/idsBase/I-DS-font-icon-material.woff2) format("woff2");
}

// IDS core default
@font-face {
  font-family: "Material Icons";
  src: url(./assets/fonts/material/default/MaterialIcons-Regular.ttf) format("truetype");
}

// IDS core unique
@font-face {
  font-family: "I-DS-font-icon-material-unique";
  src:
    url(./assets/fonts/material/unique/I-DS-font-icon-material-unique.ttf) format("woff2"),
    url(./assets/fonts/material/unique/I-DS-font-icon-material-unique.woff2) format("woff"),
    url(./assets/fonts/material/unique/I-DS-font-icon-material-unique.woff) format("truetype");
}

// DAP base
@font-face {
  font-family: "I-DS-font-icon-remix";
  src:
    url(./assets/fonts/remix/idsBase/I-DS-font-icon-remix.woff2) format("woff2"),
    url(./assets/fonts/remix/idsBase/I-DS-font-icon-remix.woff) format("woff"),
    url(./assets/fonts/remix/idsBase/I-DS-font-icon-remix.ttf) format("truetype");
  font-display: swap;
}

// DAP default
@font-face {
  font-family: "remixicon";
  //src: url(./assets/fonts/material/default/MaterialIcons-Regular.ttf) format("truetype");
  src: url(./assets/fonts/remix/default/remixicon.ttf) format("truetype");
}

// DAP unique
@font-face {
  font-family: "I-DS-font-icon-remix-unique";
  src:
    url(./assets/fonts/remix/unique/I-DS-font-icon-remix-unique.woff2) format("woff2"),
    url(./assets/fonts/remix/unique/I-DS-font-icon-remix-unique.woff) format("woff"),
    url(./assets/fonts/remix/unique/I-DS-font-icon-remix-unique.ttf) format("truetype");
  font-display: swap;
}

@mixin designScrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--ids-smc-colors-surface-darker-30) transparent;
}

* {
  @include designScrollbar();
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1 {
  @apply text-display-medium-prominent text-ids-page-fg-surface-default;
  margin-bottom: 16px;
}

h2 {
  @apply text-headline-small-prominent text-ids-page-fg-surface-default;
}
