/* You can add global styles to this file, and also import other style files */
@use "@angular/cdk" as cdk;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@include cdk.overlay();

html:has(input[color-scheme]) {
  color-scheme: light;
}

html:has(input[color-scheme]:checked) {
  color-scheme: dark;
}

body {
  font-family:
    Montserrat,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background-color: var(--ids-smc-colors-surface-default);
  margin: 0;
}

@font-face {
  font-family: "IDS Icons";
  src: url("./assets/fonts/I-DS-font-icon-default.eot");
  src:
    local("IDS Icons"),
    local("I-DS-font-icon-default"),
    url(./assets/fonts/I-DS-font-icon-default.woff2) format("woff2"),
    url(./assets/fonts/I-DS-font-icon-default.woff) format("woff"),
    url(./assets/fonts/I-DS-font-icon-default.ttf) format("truetype");
}

@mixin designScrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--ids-smc-colors-surface-darker-30) transparent;
}

* {
  @include designScrollbar();
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
