<app-tryout
  [title]="'COMPONENTS.OVERLAY_PANEL' | translate"
  [hasDarkBackground]="overlayPanelHelperModel.testBackgroundColor === 'dark'"
  (resetted)="reset()"
>
  <ng-container component>
    <button
      #trigger1="idsOverlayPanelTrigger"
      type="button"
      idsButton
      appearance="filled"
      size="comfortable"
      variant="primary"
      [idsOverlayPanelTriggerFor]="actionMenu"
    >
      Action menu
      <ids-icon icon-trailing aria-hidden="true" alt="" [fontIcon]="trigger1.isOpen ? 'chevron-up' : 'chevron-down'" />
    </button>

    <ng-template #actionMenu>
      <ids-overlay-panel [appearance]="overlayPanelModel.appearance" [size]="overlayPanelModel.size" [variant]="overlayPanelModel.variant">
        @for (_ of items; track $index) {
          <button
            type="button"
            idsMenuItem
            [appearance]="menuItemModel.appearance"
            [size]="menuItemModel.size"
            [variant]="menuItemModel.variant"
            [label]="$index !== 0 || menuItemHelperModel.showFirstItemLabel ? 'Menu item label ' + $index : ''"
            [disabled]="$index === 0 && menuItemHelperModel.hasDisabledItem"
          >
            @if (menuItemHelperModel.hasLeadingIcon) {
              <ids-icon icon-leading aria-hidden="true" alt="" fontIcon="search" />
            }
          </button>
        }
        <button
          type="button"
            idsMenuItem
            [appearance]="menuItemModel.appearance"
            [size]="menuItemModel.size"
            [variant]="menuItemModel.variant"
            [label]="'Menu item label ' + items.length"
            [idsActionMenuTriggerFor]="subMenu"
        >
          @if (menuItemHelperModel.hasLeadingIcon) {
            <ids-icon icon-leading aria-hidden="true" alt="" fontIcon="search" />
          }
          @if (menuItemHelperModel.hasTrailingIcon) {
            <ids-icon icon-trailing aria-hidden="true" alt="" fontIcon="chevron-right" />
          }
        </button>
      </ids-overlay-panel>
    </ng-template>

    <ng-template #subMenu>
      <ids-overlay-panel [appearance]="overlayPanelModel.appearance" [size]="overlayPanelModel.size" [variant]="overlayPanelModel.variant">
        @for (_ of items; track $index) {
          <button
            type="button"
            idsMenuItem
            [appearance]="menuItemModel.appearance"
            [size]="menuItemModel.size"
            [variant]="menuItemModel.variant"
            [label]="'Menu item label ' + $index"
            [disabled]="$index === 0 && menuItemHelperModel.hasDisabledItem"
          >
            @if (menuItemHelperModel.hasLeadingIcon) {
              <ids-icon icon-leading aria-hidden="true" alt="" fontIcon="search" />
            }
          </button>
        }
      </ids-overlay-panel>
    </ng-template>
  </ng-container>

  <app-control-table
    controls
    [controlName]="'Overlay panel'"
    [configType]="'input'"
    [controlConfig]="_overlayPanelInputControlConfig"
    [(model)]="overlayPanelModel"
    (resetted)="reset()"
  />
  <app-control-table
    controls
    [controlName]="'Overlay panel'"
    [configType]="'helper'"
    [controlConfig]="_overlayPanelHelperControlConfig"
    [(model)]="overlayPanelHelperModel"
    (resetted)="reset()"
  />
  <app-control-table
    controls
    [controlName]="'Menu item'"
    [configType]="'input'"
    [controlConfig]="_menuItemInputControlConfig"
    [(model)]="menuItemModel"
    (resetted)="reset()"
  />
  <app-control-table
    controls
    [controlName]="'Menu item'"
    [configType]="'helper'"
    [controlConfig]="_menuItemHelperControlConfig"
    [(model)]="menuItemHelperModel"
    (resetted)="reset()"
  />
</app-tryout>
