<app-control-tryout>
  <app-control-table-small
    controls
    [controlName]="'Overlay panel'"
    [configType]="'input'"
    [controlConfig]="overlayPanelDemoService.overlayPanelInputControlConfig"
    [(model)]="overlayPanelDemoService.overlayPanelModel"
    (resetted)="overlayPanelDemoService.reset()"
  />
  <app-control-table-small
    controls
    [controlName]="'Overlay panel'"
    [configType]="'helper'"
    [controlConfig]="overlayPanelDemoService.overlayPanelHelperControlConfig"
    [(model)]="overlayPanelDemoService.overlayPanelHelperModel"
    (resetted)="overlayPanelDemoService.reset()"
  />
  <app-control-table-small
    controls
    [controlName]="'Menu item'"
    [configType]="'input'"
    [controlConfig]="overlayPanelDemoService.menuItemInputControlConfig"
    [(model)]="overlayPanelDemoService.menuItemModel"
    (resetted)="overlayPanelDemoService.reset()"
  />
  <app-control-table-small
    controls
    [controlName]="'Menu item'"
    [configType]="'helper'"
    [controlConfig]="overlayPanelDemoService.menuItemHelperControlConfig"
    [(model)]="overlayPanelDemoService.menuItemHelperModel"
    (resetted)="overlayPanelDemoService.reset()"
  />
</app-control-tryout>