<div class="flex flex-col gap-8 max-w-2xl w-full">
  <div class="grid gap-2">
    <span>{{ "EXAMPLES.NOTIFICATION.ACTION_BUTTONS.CONTENT.ACTIONS_ON_THE_RIGHT" | translate }}</span>
    <ids-notification
      variant="info"
      class="w-full"
      [title]="'EXAMPLES.NOTIFICATION.ACTION_BUTTONS.CONTENT.TITLE' | translate"
      [closable]="false"
      [displayActionsAtBottom]="false"
    >
      {{ "EXAMPLES.NOTIFICATION.ACTION_BUTTONS.CONTENT.MESSAGE_RIGHT" | translate }}
      <button type="button" idsButton idsNotificationActionButton appearance="text" size="compact">
        <ids-icon icon-leading fontIcon="search" />
        {{ "EXAMPLES.NOTIFICATION.ACTION_BUTTONS.CONTENT.VIEW_DETAILS" | translate }}
        <ids-icon icon-trailing fontIcon="done" />
      </button>
      <button type="button" idsButton idsNotificationActionButton appearance="outlined" size="compact" disabled>
        {{ "EXAMPLES.NOTIFICATION.ACTION_BUTTONS.CONTENT.DISMISS" | translate }}
      </button>
    </ids-notification>
  </div>

  <div class="grid gap-2">
    <span>{{ "EXAMPLES.NOTIFICATION.ACTION_BUTTONS.CONTENT.ACTIONS_AT_BOTTOM" | translate }}</span>
    <ids-notification
      variant="info"
      class="w-full"
      [title]="'EXAMPLES.NOTIFICATION.ACTION_BUTTONS.CONTENT.TITLE' | translate"
      [closable]="false"
      [displayActionsAtBottom]="true"
    >
      {{ "EXAMPLES.NOTIFICATION.ACTION_BUTTONS.CONTENT.MESSAGE_BOTTOM" | translate }}
      <button type="button" idsButton idsNotificationActionButton appearance="text" size="compact">
        <ids-icon icon-leading fontIcon="search" />
        {{ "EXAMPLES.NOTIFICATION.ACTION_BUTTONS.CONTENT.VIEW_DETAILS" | translate }}
        <ids-icon icon-trailing fontIcon="done" />
      </button>
      <button type="button" idsButton idsNotificationActionButton appearance="outlined" size="compact" disabled>
        {{ "EXAMPLES.NOTIFICATION.ACTION_BUTTONS.CONTENT.DISMISS" | translate }}
      </button>
    </ids-notification>
  </div>
</div>
