.select-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;

  .ids-form-field {
    width: 100%;
  }
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
