.select-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 3rem;
  max-width: 100%;

  .ids-form-field {
    width: 100%;
  }
}

.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
