<div class="ids-tab-group__container">
  <ul
    class="ids-tab-group__header"
    role="tablist"
    [attr.aria-orientation]="orientation()"
    (keydown)="_onTabListKeydown($event)"
  >
    @for (item of _items(); track $index; let i = $index) {
      <li
        role="tab"
        [id]="item.id()"
        [class]="item.hostTabClasses()"
        [class.ids-tab--active]="_selectedTabIndex() === i"
        [attr.tabindex]="_focusedTabIndex() === i ? 0 : -1"
        [attr.aria-selected]="_selectedTabIndex() === i ? 'true' : 'false'"
        [attr.aria-disabled]="item.parentOrSelfDisabled() ? 'true' : 'false'"
        [attr.aria-controls]="item.panelId()"
        (click)="selectTab(i)"
        (focus)="focusTab(i)"
      >
        @let tabLeadingIcon = item.leadingIcon();
        @let tabTrailingIcon = item.trailingIcon();
        @if (tabLeadingIcon) {
          <ids-icon [fontIcon]="tabLeadingIcon" />
        }
        <span class="ids-tab__label">{{ item.label() }}</span>
        @if (tabTrailingIcon) {
          <ids-icon [fontIcon]="tabTrailingIcon" />
        }
        <span class="ids-tab__indicator">
          <span class="ids-tab__line"></span>
        </span>
      </li>
    }
  </ul>
</div>
<ng-template cdkPortalOutlet />
