table {
  caption {
    text-align-last: left;
    font-weight: 600;
  }

  & > tbody > tr > td {
    max-width: 300px;
  }
}

code {
  background-color: var(--ids-smc-colors-surface-darker-20);
  border-radius: 4px;
  padding: 2px 6px;
}
