.ids-card-title {
  color: var(--smc-reference-container-color-fg-secondary-fixed-darker-30, #1e293b);

  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.control-row {
  display: flex;
  align-items: center;
  padding: 10px 0; 
}

.control-name {
  flex: 0 0 150px;
  color: var(--smc-reference-container-color-fg-secondary-fixed-default, #64748b);
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.control-input {
  display: flex;
  align-items: center;
  flex: 1;
}

.component-width {
  width: 100%;
}
