<table [attr.cellPadding]="cellPadding()">
  <caption>
    <span>{{ _caption() | sentenceCase }} controls</span>
  </caption>

  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">Description</th>
      <th align="left">Type</th>
      <th align="left">Default</th>
      <th align="left">Value</th>
    </tr>
  </thead>

  <tbody>
    @for (control of _flatControls(); track $index) {
      <tr>
        <td width="15%">{{ control.name }}</td>
        <td>{{ control.description }}</td>
        <td width="15%">
          <code>{{ control.type }}</code>
        </td>
        <td width="10%">
          <code>{{ control.default }}</code>
        </td>
        <td width="20%">
          @let disabled = control.disabled ?? false;

          @switch (control.control) {
            @case (_demoControl.CHECKBOX) {
              <input
                type="checkbox"
                [name]="control.name"
                [id]="control.name"
                [disabled]="disabled"
                [(ngModel)]="model()[control.name]"
                (ngModelChange)="control.onModelChange?.()"
              />
            }
            @case (_demoControl.SELECT) {
              <select [disabled]="disabled" [(ngModel)]="model()[control.name]" (ngModelChange)="control.onModelChange?.()">
                @for (item of control.list; track $index) {
                  <option [value]="item">{{ item }}</option>
                }
              </select>
            }
            @case (_demoControl.NUMBER) {
              <input
                type="number"
                [name]="control.name"
                [id]="control.name"
                [disabled]="disabled"
                [attr.min]="control.min"
                [attr.step]="control.step"
                [(ngModel)]="model()[control.name]"
                (ngModelChange)="control.onModelChange?.()"
              />
            }
            @case (_demoControl.NUMBERARRAY) {
              <input
                type="text"
                [name]="control.name"
                [id]="control.name"
                [disabled]="disabled"
                [(ngModel)]="model()[control.name]"
                (ngModelChange)="_convertModelValueStringToNumberArray(control.name); control.onModelChange?.()"
              />
            }
            @default {
              <input
                type="text"
                [name]="control.name"
                [id]="control.name"
                [disabled]="disabled"
                [(ngModel)]="model()[control.name]"
                (ngModelChange)="control.onModelChange?.()"
              />
            }
          }
        </td>
      </tr>
    }
  </tbody>
</table>
