<ids-card appearance="filled" class="control-card-group">
  <header idsCardHeader>
    <h2 idsCardTitle>{{ _caption() | sentenceCase }} controls</h2>
  </header>

  <ids-card-body style="overflow: visible">
    @for (flatControl of _flatControls(); track $index) {
      <div class="control-row">
        <div class="control-name">{{ flatControl.name }}</div>

        <div class="control-input">
          @let disabled = flatControl.disabled ?? false;

          @switch (flatControl.control) {
            @case (_demoControl.SWITCH) {
              <ids-switch
                [hasIcon]="true"
                [name]="flatControl.name"
                [id]="flatControl.name"
                [disabled]="disabled"
                [(ngModel)]="model()[flatControl.name]"
                (ngModelChange)="flatControl.onModelChange?.($event)"
              />
            }
            @case (_demoControl.SELECT) {
              <ids-form-field class="component-width" style="z-index: 10; position: relative">
                <ids-select
                  class="component-width"
                  [disabled]="disabled"
                  [(ngModel)]="model()[flatControl.name]"
                  (ngModelChange)="flatControl.onModelChange?.($event)"
                >
                  <ids-option-group>
                    @for (item of flatControl.list; track $index) {
                      <ids-option [value]="item">{{ item }}</ids-option>
                    }
                  </ids-option-group>
                </ids-select>
              </ids-form-field>
            }
            @case (_demoControl.NUMBER) {
              <ids-form-field class="component-width" style="z-index: 10; position: relative">
                <input
                  idsInput
                  type="number"
                  class="component-width"
                  [name]="flatControl.name"
                  [id]="flatControl.name"
                  [disabled]="disabled"
                  [attr.min]="flatControl.min"
                  [attr.step]="flatControl.step"
                  [(ngModel)]="model()[flatControl.name]"
                  (ngModelChange)="flatControl.onModelChange?.($event)"
                />
              </ids-form-field>
            }

            @case (_demoControl.DATE) {
              <ids-form-field class="component-width" variant="surface">
                <input
                  #inputFieldModel="ngModel"
                  #datepicker="idsDatepicker"
                  idsInput
                  idsDatepicker
                  class="component-width"
                  [name]="flatControl.name"
                  [id]="flatControl.name"
                  [disabled]="disabled"
                  [(ngModel)]="model()[flatControl.name]"
                  (ngModelChange)="flatControl.onModelChange?.($event)"
                />

                <ids-datepicker-trigger idsSuffix [for]="datepicker" />
              </ids-form-field>
            }
            @case (_demoControl.NUMBERARRAY) {
              <ids-form-field class="component-width" variant="surface">
                <input
                  idsInput
                  type="text"
                  class="component-width"
                  [name]="flatControl.name"
                  [id]="flatControl.name"
                  [disabled]="disabled"
                  [(ngModel)]="model()[flatControl.name]"
                  (ngModelChange)="_convertModelValueStringToNumberArray(flatControl.name); flatControl.onModelChange?.($event)"
                />
              </ids-form-field>
            }
            @default {
              <ids-form-field class="component-width"  variant="surface">
                <input
                  #inputFieldModel="ngModel"
                  idsInput
                  type="text"
                  class="component-width"
                  [name]="flatControl.name"
                  [id]="flatControl.name"
                  [disabled]="disabled"
                  [(ngModel)]="model()[flatControl.name]"
                  (ngModelChange)="flatControl.onModelChange?.($event)"
                />
              </ids-form-field>
            }
          }
        </div>
      </div>
    }
  </ids-card-body>
</ids-card>
