$sizes: compact, comfortable, spacious, dense;
$variants: light, dark;

.ids-tooltip {
  position: absolute;
  display: block;

  & > .ids-tooltip__content {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    & > .ids-tooltip__caret {
      position: absolute;
      content: " ";
      transform: rotate(-45deg);
    }
  }

  @each $size in $sizes {
    &.ids-tooltip-#{$size} {
      & > .ids-tooltip__content {
        max-width: var(--ids-comp-tooltip-size-max-width-#{$size});
        padding: var(--ids-comp-tooltip-size-padding-y-#{$size}) var(--ids-comp-tooltip-size-padding-x-#{$size});
        border-radius: var(--ids-comp-tooltip-size-border-radius-#{$size});
        font-family: var(--ids-comp-tooltip-label-typography-font-family-#{$size});
        font-size: var(--ids-comp-tooltip-label-typography-font-size-#{$size});
        font-weight: var(--ids-comp-tooltip-label-typography-font-weight-#{$size});
        letter-spacing: var(--ids-comp-tooltip-label-typography-letter-spacing-#{$size});
        line-height: var(--ids-comp-tooltip-label-typography-line-height-#{$size});

        & > .ids-tooltip__caret {
          width: var(--ids-comp-tooltip-size-caret-size-#{$size});
          height: var(--ids-comp-tooltip-size-caret-size-#{$size});
        }
      }

      &.ids-tooltip-position {
        &-north {
          transform: translateY(calc(0px - var(--ids-comp-tooltip-size-caret-size-#{$size}) / sqrt(2)));
          & > .ids-tooltip__content > .ids-tooltip__caret {
            bottom: calc(0px - (var(--ids-comp-tooltip-size-caret-size-#{$size}) / 2));
          }
        }
        &-northeast {
          transform: translateY(calc(0px - var(--ids-comp-tooltip-size-caret-size-#{$size}) / sqrt(2)))
            translateX(calc(-10px - (var(--ids-comp-tooltip-size-caret-size-#{$size}) / sqrt(2))));
          & > .ids-tooltip__content > .ids-tooltip__caret {
            bottom: calc(0px - (var(--ids-comp-tooltip-size-caret-size-#{$size}) / 2));
          }
        }
        &-east {
          transform: translateX(calc(var(--ids-comp-tooltip-size-caret-size-#{$size}) / sqrt(2)));
          & > .ids-tooltip__content > .ids-tooltip__caret {
            left: calc(0px - (var(--ids-comp-tooltip-size-caret-size-#{$size}) / 2));
          }
        }
        &-southeast {
          transform: translateY(calc(var(--ids-comp-tooltip-size-caret-size-#{$size}) / sqrt(2)))
            translateX(calc(-10px - (var(--ids-comp-tooltip-size-caret-size-#{$size}) / sqrt(2))));
          & > .ids-tooltip__content > .ids-tooltip__caret {
            top: calc(0px - (var(--ids-comp-tooltip-size-caret-size-#{$size}) / 2));
          }
        }
        &-south {
          transform: translateY(calc(var(--ids-comp-tooltip-size-caret-size-#{$size}) / sqrt(2)));
          & > .ids-tooltip__content > .ids-tooltip__caret {
            top: calc(0px - (var(--ids-comp-tooltip-size-caret-size-#{$size}) / 2));
          }
        }
        &-southwest {
          transform: translateY(calc(var(--ids-comp-tooltip-size-caret-size-#{$size}) / sqrt(2)))
            translateX(calc(10px + var(--ids-comp-tooltip-size-caret-size-#{$size}) / sqrt(2)));
          & > .ids-tooltip__content > .ids-tooltip__caret {
            top: calc(0px - (var(--ids-comp-tooltip-size-caret-size-#{$size}) / 2));
          }
        }
        &-west {
          transform: translateX(calc(0px - var(--ids-comp-tooltip-size-caret-size-#{$size}) / sqrt(2)));
          & > .ids-tooltip__content > .ids-tooltip__caret {
            right: calc(0px - (var(--ids-comp-tooltip-size-caret-size-#{$size}) / 2));
          }
        }
        &-northwest {
          transform: translateY(calc(0px - var(--ids-comp-tooltip-size-caret-size-#{$size}) / sqrt(2)))
            translateX(calc(10px + var(--ids-comp-tooltip-size-caret-size-#{$size}) / sqrt(2)));
          & > .ids-tooltip__content > .ids-tooltip__caret {
            bottom: calc(0px - (var(--ids-comp-tooltip-size-caret-size-#{$size}) / 2));
          }
        }
      }
    }
  }

  @each $variant in $variants {
    &.ids-tooltip-#{$variant} {
      & > .ids-tooltip__content {
        background-color: var(--ids-comp-tooltip-color-bg-#{$variant}-default);
        color: var(--ids-comp-tooltip-color-fg-#{$variant}-default);

        & > .ids-tooltip__caret {
          background: var(--ids-comp-tooltip-color-bg-#{$variant}-default);
        }
      }
    }
  }

  &.ids-tooltip-position {
    &-north,
    &-south {
      text-align: center;
      & > .ids-tooltip__content > .ids-tooltip__caret {
        left: auto;
        right: auto;
      }
    }
    &-east,
    &-west {
      & > .ids-tooltip__content > .ids-tooltip__caret {
        top: auto;
        bottom: auto;
      }
    }
    &-northeast,
    &-southeast {
      text-align: left;
      & > .ids-tooltip__content > .ids-tooltip__caret {
        left: 10px;
      }
    }
    &-northwest,
    &-southwest {
      text-align: right;
      & > .ids-tooltip__content > .ids-tooltip__caret {
        right: 10px;
      }
    }
    &-east {
      text-align: left;
    }
    &-west {
      text-align: right;
    }
  }

  &.ids-tooltip-text-align > .ids-tooltip__content {
    &-center {
      text-align: center;
    }
    &-right {
      text-align: right;
    }
    &-left {
      text-align: left;
    }
  }
}
