<app-demo-and-code (resetDemo)="_menuItemDemoService.reset()">
  <div demo class="w-full h-full flex justify-center items-center">
    <app-tryout
      [title]="'COMPONENTS.MENU_ITEM' | translate"
      [hasDarkBackground]="_menuItemDemoService.menuItemHelperModel.testBackgroundColor === 'dark'"
      (resetted)="_menuItemDemoService.reset()"
    >
      <ng-container component>
        <div cdkMenuBar class="menu-bar">
          <div>
            <h2>Button</h2>
            <div
              idsActiveIndicator
              [active]="_menuItemDemoService.menuItemHelperModel.active"
              [class.extra-height]="_menuItemDemoService.menuItemHelperModel.active && _menuItemDemoService.menuItemHelperModel.extraHeight"
            >
              <button
                type="button"
                idsMenuItem
                [appearance]="_menuItemDemoService.menuItemModel.appearance"
                [size]="_menuItemDemoService.menuItemModel.size"
                [variant]="_menuItemDemoService.menuItemModel.variant"
                [label]="_menuItemDemoService.menuItemHelperModel.showLabel ? 'Menu item label' : ''"
                [disabled]="_menuItemDemoService.menuItemModel.disabled"
              >
                @if (_menuItemDemoService.menuItemHelperModel.hasLeadingIcon) {
                  <ids-icon icon-leading aria-hidden="true" alt="" fontIcon="search" />
                }
                @if (_menuItemDemoService.menuItemHelperModel.hasTrailingIcon) {
                  <ids-icon icon-trailing aria-hidden="true" alt="" fontIcon="chevron-right" />
                }
              </button>
            </div>
          </div>
          <div>
            <h2>Link</h2>
            <div
              idsActiveIndicator
              [active]="_menuItemDemoService.menuItemHelperModel.active"
              [class.extra-height]="_menuItemDemoService.menuItemHelperModel.active && _menuItemDemoService.menuItemHelperModel.extraHeight"
            >
              <a
                idsMenuItem
                routerLink="/components/menu-item"
                [appearance]="_menuItemDemoService.menuItemModel.appearance"
                [size]="_menuItemDemoService.menuItemModel.size"
                [variant]="_menuItemDemoService.menuItemModel.variant"
                [label]="_menuItemDemoService.menuItemHelperModel.showLabel ? 'Menu item label' : ''"
                [disabled]="_menuItemDemoService.menuItemModel.disabled"
              >
                @if (_menuItemDemoService.menuItemHelperModel.hasLeadingIcon) {
                  <ids-icon icon-leading aria-hidden="true" alt="" fontIcon="search" />
                }
                @if (_menuItemDemoService.menuItemHelperModel.hasTrailingIcon) {
                  <ids-icon icon-trailing aria-hidden="true" alt="" fontIcon="chevron-right" />
                }
              </a>
            </div>
          </div>
        </div>
      </ng-container>
    </app-tryout>
  </div>

  <div controls class="h-full">
    <app-tryout-controls>
      <app-control-table
        controls
        [controlName]="'Menu item'"
        [configType]="'input'"
        [controlConfig]="_menuItemDemoService.menuItemInputControlConfig"
        [(model)]="_menuItemDemoService.menuItemModel"
        (resetted)="_menuItemDemoService.reset()"
      />
      <app-control-table
        controls
        [controlName]="'Menu item'"
        [configType]="'helper'"
        [controlConfig]="_menuItemDemoService.menuItemHelperControlConfig"
        [(model)]="_menuItemDemoService.menuItemHelperModel"
        (resetted)="_menuItemDemoService.reset()"
      />
    </app-tryout-controls>
  </div>
</app-demo-and-code>
