<app-tryout
  [title]="'COMPONENTS.MENU_ITEM' | translate"
  [hasDarkBackground]="menuItemDemoService.menuItemHelperModel.testBackgroundColor === 'dark'"
  (resetted)="menuItemDemoService.reset()"
>
  <ng-container component>
    <div cdkMenuBar class="menu-bar">
      <div>
        <h2>Button</h2>
        <div idsActiveIndicator [active]="menuItemDemoService.menuItemHelperModel.active" [class.extra-height]="menuItemDemoService.menuItemHelperModel.active && menuItemDemoService.menuItemHelperModel.extraHeight">
          <button
            type="button"
            idsMenuItem
            [appearance]="menuItemDemoService.menuItemModel.appearance"
            [size]="menuItemDemoService.menuItemModel.size"
            [variant]="menuItemDemoService.menuItemModel.variant"
            [label]="menuItemDemoService.menuItemHelperModel.showLabel ? 'Menu item label' : ''"
            [disabled]="menuItemDemoService.menuItemModel.disabled"
          >
            @if (menuItemDemoService.menuItemHelperModel.hasLeadingIcon) {
              <ids-icon icon-leading aria-hidden="true" alt="" fontIcon="search" />
            }
            @if (menuItemDemoService.menuItemHelperModel.hasTrailingIcon) {
              <ids-icon icon-trailing aria-hidden="true" alt="" fontIcon="chevron-right" />
            }
          </button>
        </div>
      </div>
      <div>
        <h2>Link</h2>
        <div idsActiveIndicator [active]="menuItemDemoService.menuItemHelperModel.active" [class.extra-height]="menuItemDemoService.menuItemHelperModel.active && menuItemDemoService.menuItemHelperModel.extraHeight">
          <a
            idsMenuItem
            routerLink="/components/menu-item"
            [appearance]="menuItemDemoService.menuItemModel.appearance"
            [size]="menuItemDemoService.menuItemModel.size"
            [variant]="menuItemDemoService.menuItemModel.variant"
            [label]="menuItemDemoService.menuItemHelperModel.showLabel ? 'Menu item label' : ''"
            [disabled]="menuItemDemoService.menuItemModel.disabled"
          >
            @if (menuItemDemoService.menuItemHelperModel.hasLeadingIcon) {
              <ids-icon icon-leading aria-hidden="true" alt="" fontIcon="search" />
            }
            @if (menuItemDemoService.menuItemHelperModel.hasTrailingIcon) {
              <ids-icon icon-trailing aria-hidden="true" alt="" fontIcon="chevron-right" />
            }
          </a>
        </div>
      </div>
    </div>
  </ng-container>

</app-tryout>
