<app-tryout [title]="'COMPONENTS.DIVIDER' | translate" [hasDarkBackground]="model.variant === 'light'" (resetted)="reset()">
  <div component class="divider-container">
    <ids-divider
      [id]="model.variant + '-' + model.size + '-' + model.orientation + '-divider'"
      [orientation]="model.orientation"
      [size]="model.size"
      [variant]="model.variant"
      [width]="model.width"
      [height]="model.height"
    />
  </div>

  <app-control-table controls [configType]="'input'" [controlConfig]="_inputControlConfig" [(model)]="model" (resetted)="reset()" />
</app-tryout>
