<div class="grid grid-cols-2 gap-x-12 gap-y-4 max-w-3xl">
  <div class="grid gap-2">
    <span>primary</span>
    <ids-divider width="100%" variant="primary" />
  </div>
  <div class="grid gap-2">
    <span>secondary</span>
    <ids-divider width="100%" variant="secondary" />
  </div>
  <div class="grid gap-2">
    <span>brand</span>
    <ids-divider width="100%" variant="brand" />
  </div>
  <div class="grid gap-2">
    <span>surface</span>
    <ids-divider width="100%" variant="surface" />
  </div>
  <div class="grid gap-2">
    <span>success</span>
    <ids-divider width="100%" variant="success" />
  </div>
  <div class="grid gap-2">
    <span>warning</span>
    <ids-divider width="100%" variant="warning" />
  </div>
  <div class="grid gap-2">
    <span>error</span>
    <ids-divider width="100%" variant="error" />
  </div>
  <div class="grid gap-2">
    <span>info</span>
    <ids-divider width="100%" variant="info" />
  </div>
  <div class="grid gap-2">
    <span>light</span>
    <ids-divider width="100%" variant="light" />
  </div>
  <div class="grid gap-2">
    <span>dark</span>
    <ids-divider width="100%" variant="dark" />
  </div>
</div>
