<div class="flex flex-col gap-8 max-w-xs w-full">
  <div style="padding: 10px;">
    <nav idsSideNav variant="surface">
      <ids-side-nav-section>
        <ids-side-nav-title [label]="'EXAMPLES.SIDE_NAV.VARIANTS.CONTENT.SURFACE' | translate"/>
        <ids-side-nav-item target="components/side-nav/demo" [label]="'EXAMPLES.SIDE_NAV.VARIANTS.CONTENT.HOME' | translate">
          <ids-icon icon-leading fontIcon="home" />
        </ids-side-nav-item>
        <ids-side-nav-item target="components/button/demo" [label]="'EXAMPLES.SIDE_NAV.VARIANTS.CONTENT.SEARCH' | translate">
          <ids-icon icon-leading fontIcon="search" />
        </ids-side-nav-item>
      </ids-side-nav-section>
    </nav>
  </div>
  <div style="background-color: black; padding: 10px;">
    <nav idsSideNav variant="light">
      <ids-side-nav-section>
        <ids-side-nav-title [label]="'EXAMPLES.SIDE_NAV.VARIANTS.CONTENT.LIGHT' | translate"/>
        <ids-side-nav-item target="components/side-nav/demo" [label]="'EXAMPLES.SIDE_NAV.VARIANTS.CONTENT.HOME' | translate">
          <ids-icon icon-leading fontIcon="home" />
        </ids-side-nav-item>
        <ids-side-nav-item target="components/button/demo" [label]="'EXAMPLES.SIDE_NAV.VARIANTS.CONTENT.SEARCH' | translate">
          <ids-icon icon-leading fontIcon="search" />
        </ids-side-nav-item>
      </ids-side-nav-section>
    </nav>
  </div>
</div>
