<div class="ids-tab-group__container">
  <ul class="ids-tab-group__header">
    @for (item of _items(); track $index; let i = $index) {
      <li
        [class]="item.hostTabClasses()"
        [class.ids-tab-item--active]="selectedTabIndex() === i"
        [attr.tabindex]="item.safeDisabled() ? -1 : 0"
        (click)="selectTab(i)"
      >
        @if (item.hasLeadingIcon()) {
          <ids-icon [fontIcon]="item.leadingIcon()" />
        }
        <span [class]="item.labelClass">{{ item.label() }}</span>
        @if (item.hasTrailingIcon()) {
          <ids-icon [fontIcon]="item.trailingIcon()" />
        }
        <span class="ids-tab-item__indicator">
          <span class="ids-tab-item__line"></span>
        </span>
      </li>
    }
  </ul>
</div>
<ng-template cdkPortalOutlet />
