<div class="grid grid-cols-2 gap-8 max-w-3xl">
  <div class="grid gap-2">
    <span>{{ "EXAMPLES.DIVIDER.ORIENTATION.CONTENT.HORIZONTAL_FULL" | translate }}</span>
    <ids-divider orientation="horizontal" variant="primary" width="100%" />
  </div>

  <div class="grid gap-2">
    <span>{{ "EXAMPLES.DIVIDER.ORIENTATION.CONTENT.HORIZONTAL_PARTIAL" | translate }}</span>
    <ids-divider orientation="horizontal" variant="primary" width="10%" />
  </div>

  <div class="grid grid-rows-[auto_1fr] gap-2 h-32">
    <span>{{ "EXAMPLES.DIVIDER.ORIENTATION.CONTENT.VERTICAL_FULL" | translate }}</span>
    <ids-divider orientation="vertical" variant="primary" height="100%" />
  </div>

  <div class="grid grid-rows-[auto_1fr] gap-2 h-32">
    <span>{{ "EXAMPLES.DIVIDER.ORIENTATION.CONTENT.VERTICAL_PARTIAL" | translate }}</span>
    <ids-divider orientation="vertical" variant="primary" height="10%" />
  </div>
</div>
