<div class="flex flex-col gap-8">
  <div class="grid gap-2">
    <span>with pointer</span>
    <button
      type="button"
      idsButton
      [idsTooltipShowPointer]="true"
      [idsTooltipShowDelay]="0"
      [idsTooltip]="'EXAMPLES.TOOLTIP.COMMON.MESSAGE' | translate"
    >
      {{ "EXAMPLES.TOOLTIP.COMMON.TRIGGER" | translate }}
    </button>
  </div>

  <div class="grid gap-2">
    <span>without pointer</span>
    <button
      type="button"
      idsButton
      [idsTooltipShowPointer]="false"
      [idsTooltipShowDelay]="0"
      [idsTooltip]="'EXAMPLES.TOOLTIP.COMMON.MESSAGE' | translate"
    >
      {{ "EXAMPLES.TOOLTIP.COMMON.TRIGGER" | translate }}
    </button>
  </div>
</div>
