<app-demo-and-code (resetDemo)="_segmentedControlDemoService.reset()">
  <div demo class="w-full h-full flex justify-center items-center">
    <app-tryout
      [title]="'COMPONENTS.SEGMENTED_CONTROL' | translate"
      [hasDarkBackground]="_segmentedControlDemoService.model.variant === 'light'"
      (resetted)="_segmentedControlDemoService.reset()"
    >
      <ng-container component>
        <div component class="segmented-control-grid">
          <div class="segmented-control-item">
            <h2>Single selection</h2>
            <ids-segmented-control
              [appearance]="_segmentedControlDemoService.model.appearance"
              [variant]="_segmentedControlDemoService.model.variant"
              [size]="_segmentedControlDemoService.model.size"
              [disabled]="_segmentedControlDemoService.model.disabled"
              [(ngModel)]="_segmentedControlDemoService.singleSelectionValue"
            >
              <ids-segmented-control-item
                value="first"
                [label]="_segmentedControlDemoService.helperModel.itemHasLabel ? 'Label 1' : undefined"
                [disabled]="_segmentedControlDemoService.helperModel.onlyOneItemIsDisabled"
              >
                @if (_segmentedControlDemoService.helperModel.itemHasIcon) {
                  <ids-icon fontIcon="mail" />
                }
                @if (_segmentedControlDemoService.helperModel.itemHasSuffix) {
                  <span suffixContent>$</span>
                }
              </ids-segmented-control-item>
              <ids-segmented-control-item
                value="second"
                [label]="_segmentedControlDemoService.helperModel.itemHasLabel ? 'Label 2' : undefined"
              >
                @if (_segmentedControlDemoService.helperModel.itemHasIcon) {
                  <ids-icon fontIcon="account" />
                }
                @if (_segmentedControlDemoService.helperModel.itemHasSuffix) {
                  <span suffixContent>$</span>
                }
              </ids-segmented-control-item>
              <ids-segmented-control-item
                value="third"
                [label]="_segmentedControlDemoService.helperModel.itemHasLabel ? 'Label 3' : undefined"
              >
                @if (_segmentedControlDemoService.helperModel.itemHasIcon) {
                  <ids-icon fontIcon="access-time" />
                }
                @if (_segmentedControlDemoService.helperModel.itemHasSuffix) {
                  <span suffixContent>$</span>
                }
              </ids-segmented-control-item>
            </ids-segmented-control>
          </div>
          <div class="segmented-control-item">
            <h2>Multi selection</h2>
            <ids-segmented-control
              [appearance]="_segmentedControlDemoService.model.appearance"
              [variant]="_segmentedControlDemoService.model.variant"
              [size]="_segmentedControlDemoService.model.size"
              [multiSelect]="true"
              [disabled]="_segmentedControlDemoService.model.disabled"
              [ngModel]="_segmentedControlDemoService.multiSelectionValue"
            >
              <ids-segmented-control-item
                value="first"
                [label]="_segmentedControlDemoService.helperModel.itemHasLabel ? 'Label 1' : undefined"
                [disabled]="_segmentedControlDemoService.helperModel.onlyOneItemIsDisabled"
              >
                @if (_segmentedControlDemoService.helperModel.itemHasIcon) {
                  <ids-icon fontIcon="mail" />
                }
                @if (_segmentedControlDemoService.helperModel.itemHasSuffix) {
                  <span suffixContent>$</span>
                }
              </ids-segmented-control-item>
              <ids-segmented-control-item
                value="second"
                [label]="_segmentedControlDemoService.helperModel.itemHasLabel ? 'Label 2' : undefined"
              >
                @if (_segmentedControlDemoService.helperModel.itemHasIcon) {
                  <ids-icon fontIcon="account" />
                }
                @if (_segmentedControlDemoService.helperModel.itemHasSuffix) {
                  <span suffixContent>$</span>
                }
              </ids-segmented-control-item>
              <ids-segmented-control-item
                value="third"
                [label]="_segmentedControlDemoService.helperModel.itemHasLabel ? 'Label 3' : undefined"
              >
                @if (_segmentedControlDemoService.helperModel.itemHasIcon) {
                  <ids-icon fontIcon="access-time" />
                }
                @if (_segmentedControlDemoService.helperModel.itemHasSuffix) {
                  <span suffixContent>$</span>
                }
              </ids-segmented-control-item>
            </ids-segmented-control>
          </div>
        </div>
      </ng-container>
    </app-tryout>
  </div>

  <div controls class="h-full">
    <app-tryout-controls>
      <app-control-table
        controls
        configType="input"
        [controlConfig]="_segmentedControlDemoService.inputControlConfig"
        [(model)]="_segmentedControlDemoService.model"
        (resetted)="_segmentedControlDemoService.reset()"
      />
      <app-control-table
        controls
        configType="helper"
        [controlConfig]="_segmentedControlDemoService.helperControlConfig"
        [(model)]="_segmentedControlDemoService.helperModel"
        (resetted)="_segmentedControlDemoService.reset()"
      />
    </app-tryout-controls>
  </div>
</app-demo-and-code>
<div documentation class="w-full mt-8">
  <h3 class="text-lg font-bold mb-4">Props</h3>

  <app-prop-table [config]="[_segmentedControlDemoService.inputControlConfig, _segmentedControlDemoService.helperControlConfig]" />
</div>
