<app-tryout [title]="'COMPONENTS.SEGMENTED_CONTROL' | translate" [hasDarkBackground]="segmentedControlDemoService.model.variant === 'light'" (resetted)="segmentedControlDemoService.reset()">
  <ng-container component>
    <div component class="segmented-control-grid">
      <div class="segmented-control-item">
        <h2>Single selection</h2>
        <ids-segmented-control
          [appearance]="segmentedControlDemoService.model.appearance"
          [variant]="segmentedControlDemoService.model.variant"
          [size]="segmentedControlDemoService.model.size"
          [disabled]="segmentedControlDemoService.model.disabled"
          [(ngModel)]="segmentedControlDemoService.singleSelectionValue"
        >
          <ids-segmented-control-item
            value="first"
            [label]="segmentedControlDemoService.helperModel.itemHasLabel ? 'Label 1' : undefined"
            [disabled]="segmentedControlDemoService.helperModel.onlyOneItemIsDisabled"
          >
            @if (segmentedControlDemoService.helperModel.itemHasIcon) {
              <ids-icon fontIcon="envelope" />
            }
            @if (segmentedControlDemoService.helperModel.itemHasSuffix) {
              <span suffixContent>$</span>
            }
          </ids-segmented-control-item>
          <ids-segmented-control-item value="second" [label]="segmentedControlDemoService.helperModel.itemHasLabel ? 'Label 2' : undefined">
            @if (segmentedControlDemoService.helperModel.itemHasIcon) {
              <ids-icon fontIcon="user" />
            }
            @if (segmentedControlDemoService.helperModel.itemHasSuffix) {
              <span suffixContent>$</span>
            }
          </ids-segmented-control-item>
          <ids-segmented-control-item value="third" [label]="segmentedControlDemoService.helperModel.itemHasLabel ? 'Label 3' : undefined">
            @if (segmentedControlDemoService.helperModel.itemHasIcon) {
              <ids-icon fontIcon="clock" />
            }
            @if (segmentedControlDemoService.helperModel.itemHasSuffix) {
              <span suffixContent>$</span>
            }
          </ids-segmented-control-item>
        </ids-segmented-control>
      </div>
      <div class="segmented-control-item">
        <h2>Multi selection</h2>
        <ids-segmented-control
          [appearance]="segmentedControlDemoService.model.appearance"
          [variant]="segmentedControlDemoService.model.variant"
          [size]="segmentedControlDemoService.model.size"
          [multiSelect]="true"
          [disabled]="segmentedControlDemoService.model.disabled"
          [ngModel]="segmentedControlDemoService.multiSelectionValue"
        >
          <ids-segmented-control-item
            value="first"
            [label]="segmentedControlDemoService.helperModel.itemHasLabel ? 'Label 1' : undefined"
            [disabled]="segmentedControlDemoService.helperModel.onlyOneItemIsDisabled"
          >
            @if (segmentedControlDemoService.helperModel.itemHasIcon) {
              <ids-icon fontIcon="envelope" />
            }
            @if (segmentedControlDemoService.helperModel.itemHasSuffix) {
              <span suffixContent>$</span>
            }
          </ids-segmented-control-item>
          <ids-segmented-control-item value="second" [label]="segmentedControlDemoService.helperModel.itemHasLabel ? 'Label 2' : undefined">
            @if (segmentedControlDemoService.helperModel.itemHasIcon) {
              <ids-icon fontIcon="user" />
            }
            @if (segmentedControlDemoService.helperModel.itemHasSuffix) {
              <span suffixContent>$</span>
            }
          </ids-segmented-control-item>
          <ids-segmented-control-item value="third" [label]="segmentedControlDemoService.helperModel.itemHasLabel ? 'Label 3' : undefined">
            @if (segmentedControlDemoService.helperModel.itemHasIcon) {
              <ids-icon fontIcon="clock" />
            }
            @if (segmentedControlDemoService.helperModel.itemHasSuffix) {
              <span suffixContent>$</span>
            }
          </ids-segmented-control-item>
        </ids-segmented-control>
      </div>
    </div>
  </ng-container>


</app-tryout>
