<div class="flex gap-ids-container-gap-4">
  <ids-chip>
    <ids-avatar>
      <img
        idsAvatarImage
        src="https://hips.hearstapps.com/harpersbazaaruk.cdnds.net/16/38/1600x1600/square-1474624165-scarlett-johansson.jpg"
        alt="Scarlett Johansson"
      />
    </ids-avatar>
    Avatar
  </ids-chip>

  <ids-chip>
    <ids-icon fontIcon="key" idsLeadingIcon />
    Leading icon
  </ids-chip>

  <ids-chip>
    Trailing button
    <button type="button" idsIconButton>
      <ids-icon fontIcon="cart" />
    </button>
  </ids-chip>
</div>
