<nav idsSideNav>
  <ids-side-nav-section>
    <ids-side-nav-title [label]="'EXAMPLES.SIDE_NAV.BASIC.CONTENT.SECTION' | translate"/>
    <ids-side-nav-item
      target="components/side-nav/demo"
      [label]="'EXAMPLES.SIDE_NAV.BASIC.CONTENT.HOME' | translate"
    >
      <ids-icon icon-leading fontIcon="home" />
    </ids-side-nav-item>
    <ids-side-nav-item
      target="design-tokens"
      [label]="'EXAMPLES.SIDE_NAV.BASIC.CONTENT.DESIGN_TOKENS' | translate"
    >
      <ids-icon icon-leading fontIcon="filter" />
    </ids-side-nav-item>
    <ids-side-nav-item
      target="components/avatar/demo"
      [label]="'EXAMPLES.SIDE_NAV.BASIC.CONTENT.AVATAR' | translate"
    >
      <ids-icon icon-leading fontIcon="account" />
    </ids-side-nav-item>
  </ids-side-nav-section>
</nav>
