<div class="flex flex-col gap-ids-container-gap-4">
  <div class="flex gap-ids-container-gap-4 items-center">
    <button type="button" idsIconButton variant="primary">
      <ids-icon aria-hidden="true" alt="" fontIcon="search" />
    </button>
    <button type="button" idsIconButton variant="secondary">
      <ids-icon aria-hidden="true" alt="" fontIcon="search" />
    </button>
    <button type="button" idsIconButton variant="brand">
      <ids-icon aria-hidden="true" alt="" fontIcon="search" />
    </button>
    <button type="button" idsIconButton variant="surface">
      <ids-icon aria-hidden="true" alt="" fontIcon="search" />
    </button>
    <button type="button" idsIconButton variant="info">
      <ids-icon aria-hidden="true" alt="" fontIcon="search" />
    </button>
  </div>
  <div class="flex gap-ids-container-gap-4 items-center">
    <button type="button" idsIconButton variant="success">
      <ids-icon aria-hidden="true" alt="" fontIcon="search" />
    </button>
    <button type="button" idsIconButton variant="warning">
      <ids-icon aria-hidden="true" alt="" fontIcon="search" />
    </button>
    <button type="button" idsIconButton variant="error">
      <ids-icon aria-hidden="true" alt="" fontIcon="search" />
    </button>
    <button type="button" idsIconButton variant="light">
      <ids-icon aria-hidden="true" alt="" fontIcon="search" />
    </button>
    <button type="button" idsIconButton variant="dark">
      <ids-icon aria-hidden="true" alt="" fontIcon="search" />
    </button>
  </div>
</div>
