<app-tryout
  [title]="'COMPONENTS.SEGMENTED_CONTROL_TOGGLE' | translate"
  [hasDarkBackground]="model.variant === 'light'"
  (resetted)="reset()"
>
  <ng-container component>
    <ids-segmented-control-toggle
      ngModel="second"
      [appearance]="model.appearance"
      [variant]="model.variant"
      [buttonVariant]="model.buttonVariant"
      [size]="model.size"
      [disabled]="model.disabled"
    >
      <ids-segmented-control-toggle-item
        value="first"
        [label]="helperModel.itemHasLabel ? 'Label 1' : undefined"
        [disabled]="helperModel.onlyOneItemIsDisabled"
      >
        @if (helperModel.itemHasIcon) {
          <ids-icon fontIcon="mail" />
        }
        @if (helperModel.itemHasSuffix) {
          <span suffixContent>$</span>
        }
      </ids-segmented-control-toggle-item>
      <ids-segmented-control-toggle-item value="second" [label]="helperModel.itemHasLabel ? 'Label 2' : undefined">
        @if (helperModel.itemHasIcon) {
          <ids-icon fontIcon="account" />
        }
        @if (helperModel.itemHasSuffix) {
          <span suffixContent>$</span>
        }
      </ids-segmented-control-toggle-item>
      <ids-segmented-control-toggle-item value="third" [label]="helperModel.itemHasLabel ? 'Label 3' : undefined">
        @if (helperModel.itemHasIcon) {
          <ids-icon fontIcon="access-time" />
        }
        @if (helperModel.itemHasSuffix) {
          <span suffixContent>$</span>
        }
      </ids-segmented-control-toggle-item>
    </ids-segmented-control-toggle>
  </ng-container>

  <app-control-table controls [configType]="'input'" [controlConfig]="_inputControlConfig" [(model)]="model" (resetted)="reset()" />
  <app-control-table controls [configType]="'helper'" [controlConfig]="_helperControlConfig" [(model)]="helperModel" (resetted)="reset()" />
</app-tryout>
