<app-control-tryout>

  <app-control-table-small controls [configType]="'input'" [controlConfig]="segmentedControlToggleDemoService.inputControlConfig" [(model)]="segmentedControlToggleDemoService.model" (resetted)="segmentedControlToggleDemoService.reset()" />
  <app-control-table-small controls [configType]="'helper'" [controlConfig]="segmentedControlToggleDemoService.helperControlConfig" [(model)]="segmentedControlToggleDemoService.helperModel" (resetted)="segmentedControlToggleDemoService.reset()" />
</app-control-tryout>