<h1>{{ "COMPONENTS.SEGMENTED_CONTROL_TOGGLE" | translate }}</h1>

<section class="component" [class]="model.variant">
  <ids-segmented-control-toggle
    ngModel="second"
    [appearance]="model.appearance"
    [variant]="model.variant"
    [size]="model.size"
    [disabled]="model.disabled"
  >
    <ids-segmented-control-toggle-item
      value="first"
      [label]="model.itemHasLabel ? 'Label 1' : undefined"
      [disabled]="model.onlyOneItemIsDisabled"
    >
      @if (model.itemHasIcon) {
        <ids-icon fontIcon="envelope" />
      }
      @if (model.itemHasSuffix) {
        <span suffixContent>$</span>
      }
    </ids-segmented-control-toggle-item>
    <ids-segmented-control-toggle-item value="second" [label]="model.itemHasLabel ? 'Label 2' : undefined">
      @if (model.itemHasIcon) {
        <ids-icon fontIcon="user" />
      }
      @if (model.itemHasSuffix) {
        <span suffixContent>$</span>
      }
    </ids-segmented-control-toggle-item>
    <ids-segmented-control-toggle-item value="third" [label]="model.itemHasLabel ? 'Label 3' : undefined">
      @if (model.itemHasIcon) {
        <ids-icon fontIcon="clock" />
      }
      @if (model.itemHasSuffix) {
        <span suffixContent>$</span>
      }
    </ids-segmented-control-toggle-item>
  </ids-segmented-control-toggle>
</section>

<section class="controls">
  <table [cellPadding]="10">
    <caption>
      <div class="caption-group">
        <span>Controls</span>
        <button type="button" idsButton (click)="reset()">Reset</button>
      </div>
    </caption>

    <thead>
      <tr>
        <th align="left">Name</th>
        <th align="left">Description</th>
        <th align="left">Type</th>
        <th align="left">Default</th>
        <th align="left">Value</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>size</td>
        <td>Size of the segmented control toggle.</td>
        <td><code>IdsSizeType</code></td>
        <td>
          <code>{{ defaults.size }}</code>
        </td>
        <td>
          <select [(ngModel)]="model.size">
            @for (item of sizes; track $index) {
              <option [value]="item">{{ item }}</option>
            }
          </select>
        </td>
      </tr>
      <tr>
        <td>variant</td>
        <td>Variant of the segmented control toggle.</td>
        <td><code>IdsSegmentedControlVariantType</code></td>
        <td>
          <code>{{ defaults.variant }}</code>
        </td>
        <td>
          <select [(ngModel)]="model.variant">
            @for (item of variants; track $index) {
              <option [value]="item">{{ item }}</option>
            }
          </select>
        </td>
      </tr>
      <tr>
        <td>appearance</td>
        <td>Appearance of the segmented control toggle.</td>
        <td><code>IdsSegmentedControlAppearanceType</code></td>
        <td>
          <code>{{ defaults.appearance }}</code>
        </td>
        <td>
          <select [(ngModel)]="model.appearance">
            @for (item of appearances; track $index) {
              <option [value]="item">{{ item }}</option>
            }
          </select>
        </td>
      </tr>
      <tr>
        <td>disabled</td>
        <td>Whether the segmented control toggle is disabled or not.</td>
        <td><code>boolean</code></td>
        <td>
          <code>{{ defaults.disabled }}</code>
        </td>
        <td><input type="checkbox" [(ngModel)]="model.disabled" /></td>
      </tr>
    </tbody>
  </table>

  <table [cellPadding]="10">
    <caption>
      Helper controls
    </caption>

    <thead>
      <tr>
        <th align="left">Name</th>
        <th align="left">Description</th>
        <th align="left">Type</th>
        <th align="left">Value</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>itemHasLabel</td>
        <td>When true, items have labels.</td>
        <td><code>boolean</code></td>
        <td><input type="checkbox" [(ngModel)]="model.itemHasLabel" /></td>
      </tr>
      <tr>
        <td>itemHasIcon</td>
        <td>When true, items have icon.</td>
        <td><code>boolean</code></td>
        <td><input type="checkbox" [(ngModel)]="model.itemHasIcon" /></td>
      </tr>
      <tr>
        <td>itemHasSuffix</td>
        <td>When true, items have suffix.</td>
        <td><code>boolean</code></td>
        <td><input type="checkbox" [(ngModel)]="model.itemHasSuffix" /></td>
      </tr>
      <tr>
        <td>onlyOneItemIsDisabled</td>
        <td>When true, the first item will be disabled.</td>
        <td><code>boolean</code></td>
        <td><input type="checkbox" [(ngModel)]="model.onlyOneItemIsDisabled" /></td>
      </tr>
    </tbody>
  </table>
</section>
