<app-control-tryout>
  <app-control-table
    controls
    [configType]="'input'"
    [controlConfig]="segmentedControlToggleDemoService.inputControlConfig"
    [(model)]="segmentedControlToggleDemoService.model"
    (resetted)="segmentedControlToggleDemoService.reset()"
  />
  <app-control-table
    controls
    [configType]="'helper'"
    [controlConfig]="segmentedControlToggleDemoService.helperControlConfig"
    [(model)]="segmentedControlToggleDemoService.helperModel"
    (resetted)="segmentedControlToggleDemoService.reset()"
  />
</app-control-tryout>
