<app-tryout [title]="'COMPONENTS.FORM_FIELD' | translate" [variant]="formFieldModel.variant" (resetted)="reset()">
  <ng-container component>
    <div>
      <ids-form-field [size]="formFieldModel.size" [variant]="formFieldModel.variant">
        <ids-label>{{ formFieldHelperModel.label }}</ids-label>
        @if (formFieldHelperModel.hasLeadingIcon) {
          <ids-icon idsLeadingIcon fontIcon="sun" />
        }
        @if (formFieldHelperModel.hasPrefix) {
          <span idsPrefix>{{ formFieldHelperModel.prefix }}</span>
        }
        <input
          idsInput
          [placeholder]="inputModel.placeholder"
          [readonly]="inputModel.readonly"
          [disabled]="inputModel.disabled"
          [required]="inputModel.required"
          [canHandleSuccessState]="inputModel.canHandleSuccessState"
          [(ngModel)]="input"
        />
        @if (formFieldHelperModel.hasSuffix) {
          <span idsSuffix>{{ formFieldHelperModel.suffix }}</span>
        }
        @if (formFieldHelperModel.hasTrailingIcon) {
          <ids-icon idsTrailingIcon fontIcon="moon" />
        }
        @if (formFieldHelperModel.hasAction) {
          <div idsAction>
            <button type="button" idsIconButton appearance="standard" [variant]="formFieldModel.variant">
              <ids-icon aria-hidden="true" alt="" fontIcon="search" />
            </button>
          </div>
        }
        <ids-hint-message>{{ formFieldHelperModel.hintMessage }}</ids-hint-message>
        <ids-error-message>Name is mandatory</ids-error-message>
      </ids-form-field>
    </div>

    <div>
      <ids-form-field [size]="formFieldModel.size" [variant]="formFieldModel.variant">
        <ids-label>{{ formFieldHelperModel.label }}</ids-label>
        <textarea
          idsInput
          rows="3"
          [placeholder]="inputModel.placeholder"
          [readonly]="inputModel.readonly"
          [disabled]="inputModel.disabled"
          [required]="inputModel.required"
          [canHandleSuccessState]="inputModel.canHandleSuccessState"
          [(ngModel)]="textarea"
        ></textarea>
        <ids-hint-message>{{ formFieldHelperModel.hintMessage }}</ids-hint-message>
        <ids-error-message>Name is mandatory</ids-error-message>
      </ids-form-field>
    </div>
  </ng-container>

  <app-control-table
    controls
    [configType]="'input'"
    [controlConfig]="_formFieldInputControlConfig"
    [(model)]="formFieldModel"
    (resetted)="reset()"
  />
  <app-control-table
    controls
    [configType]="'helper'"
    [controlConfig]="_formFieldHelperControlConfig"
    [(model)]="formFieldHelperModel"
    (resetted)="reset()"
  />
  <app-control-table
    controls
    [configType]="'input'"
    [controlConfig]="_inputInputControlConfig"
    [(model)]="inputModel"
    (resetted)="reset()"
  />
</app-tryout>
