@let fieldName = "FORM_FIELD.LABEL.NAME" | translate;

<app-demo-and-code (resetDemo)="_formFieldDemoService.reset()">
  <div demo class="w-full h-full flex justify-center items-center">
    <app-tryout
      [title]="'COMPONENTS.FORM_FIELD' | translate"
      [hasDarkBackground]="_formFieldDemoService.formFieldModel.variant === 'light'"
      (resetted)="_formFieldDemoService.reset()"
    >
      <div component class="form-field-grid">
        <div>
          <h2>Input (template driven)</h2>
          <ids-form-field [size]="_formFieldDemoService.formFieldModel.size" [variant]="_formFieldDemoService.formFieldModel.variant">
            <ids-label>{{ _formFieldDemoService.formFieldHelperModel.label }}</ids-label>
            @if (_formFieldDemoService.formFieldHelperModel.hasLeadingIcon) {
              <ids-icon idsLeadingIcon fontIcon="key" />
            }
            @if (_formFieldDemoService.formFieldHelperModel.hasPrefix) {
              <span idsPrefix>{{ _formFieldDemoService.formFieldHelperModel.prefix }}</span>
            }
            <input
              #inputFieldModel="ngModel"
              idsInput
              pattern="[a-zA-Z]+(?:\s[a-zA-Z]+)?"
              [minlength]="3"
              [placeholder]="_formFieldDemoService.inputModel.placeholder"
              [readonly]="_formFieldDemoService.inputModel.readonly"
              [disabled]="_formFieldDemoService.inputModel.disabled"
              [required]="_formFieldDemoService.inputModel.required"
              [canHandleSuccessState]="_formFieldDemoService.inputModel.canHandleSuccessState"
              [(ngModel)]="_formFieldDemoService.input"
            />
            @if (_formFieldDemoService.formFieldHelperModel.hasSuffix) {
              <span idsSuffix>{{ _formFieldDemoService.formFieldHelperModel.suffix }}</span>
            }
            @if (_formFieldDemoService.formFieldHelperModel.hasTrailingIcon) {
              <ids-icon idsTrailingIcon fontIcon="cart" />
            }
            @if (_formFieldDemoService.formFieldHelperModel.hasAction) {
              <div idsFormFieldAction>
                <button type="button" idsIconButton appearance="standard" [variant]="_formFieldDemoService.formFieldModel.variant">
                  <ids-icon aria-hidden="true" alt="" fontIcon="search" />
                </button>
              </div>
            }
            <ids-hint-message>{{ _formFieldDemoService.formFieldHelperModel.hintMessage }}</ids-hint-message>
            <ids-error-message>
              <ids-error-def code="required">{{ "FORM_FIELD.ERROR.REQUIRED" | translate: { fieldName } }}</ids-error-def>
              <ids-error-def code="minlength">
                @let inputRequiredLength = inputFieldModel.control.errors?.["minlength"]?.requiredLength;
                {{ "FORM_FIELD.ERROR.MINLENGTH" | translate: { fieldName, requiredLength: inputRequiredLength } }}
              </ids-error-def>
              <ids-error-def code="pattern">{{ "FORM_FIELD.ERROR.PATTERN" | translate: { fieldName } }}</ids-error-def>
            </ids-error-message>
            <ids-success-message>{{ "FORM_FIELD.SUCCESS" | translate: { fieldName } }}</ids-success-message>
          </ids-form-field>
        </div>

        <div>
          <h2>Textarea (model driven)</h2>
          <ids-form-field [size]="_formFieldDemoService.formFieldModel.size" [variant]="_formFieldDemoService.formFieldModel.variant">
            <ids-label>{{ _formFieldDemoService.formFieldHelperModel.label }}</ids-label>
            <textarea
              idsInput
              rows="3"
              pattern="[a-zA-Z]+(?:\s[a-zA-Z]+)?"
              [minlength]="3"
              [placeholder]="_formFieldDemoService.inputModel.placeholder"
              [readonly]="_formFieldDemoService.inputModel.readonly"
              [required]="_formFieldDemoService.inputModel.required"
              [canHandleSuccessState]="_formFieldDemoService.inputModel.canHandleSuccessState"
              [formControl]="_formFieldDemoService.textarea"
            ></textarea>
            <ids-hint-message>{{ _formFieldDemoService.formFieldHelperModel.hintMessage }}</ids-hint-message>
            <ids-error-message>
              <ids-error-def code="required">{{ "FORM_FIELD.ERROR.REQUIRED" | translate: { fieldName } }}</ids-error-def>
              <ids-error-def code="minlength">
                @let textareaRequiredLength = _formFieldDemoService.textarea.errors?.["minlength"]?.requiredLength;
                {{ "FORM_FIELD.ERROR.MINLENGTH" | translate: { fieldName, requiredLength: textareaRequiredLength } }}
              </ids-error-def>
              <ids-error-def code="pattern">{{ "FORM_FIELD.ERROR.PATTERN" | translate: { fieldName } }}</ids-error-def>
            </ids-error-message>
            <ids-success-message>{{ "FORM_FIELD.SUCCESS" | translate: { fieldName } }}</ids-success-message>
          </ids-form-field>
        </div>
      </div>
    </app-tryout>
  </div>

  <div controls class="h-full">
    <app-tryout-controls>
      <app-control-table
        controls
        [controlName]="'Form field'"
        [configType]="'input'"
        [controlConfig]="_formFieldDemoService.formFieldInputControlConfig"
        [(model)]="_formFieldDemoService.formFieldModel"
        (resetted)="_formFieldDemoService.reset()"
      />
      <app-control-table
        controls
        [controlName]="'Form field'"
        [configType]="'helper'"
        [controlConfig]="_formFieldDemoService.formFieldHelperControlConfig"
        [(model)]="_formFieldDemoService.formFieldHelperModel"
        (resetted)="_formFieldDemoService.reset()"
      />
      <app-control-table
        controls
        [controlName]="'Form field'"
        [configType]="'input'"
        [controlConfig]="_formFieldDemoService.inputInputControlConfig"
        [(model)]="_formFieldDemoService.inputModel"
        (resetted)="_formFieldDemoService.reset()"
      />
    </app-tryout-controls>
  </div>
</app-demo-and-code>
<div documentation class="w-full mt-8">
  <h3 class="text-lg font-bold mb-4">Props</h3>

  <app-prop-table
    [config]="[
      _formFieldDemoService.formFieldInputControlConfig,
      _formFieldDemoService.formFieldHelperControlConfig,
      _formFieldDemoService.inputInputControlConfig,
    ]"
  />
</div>
