<div class="flex flex-wrap items-start gap-ids-container-gap-12">
  <ids-card orientation="vertical" class="max-w-64" appearance="elevated">
    <header idsCardHeader>
      <h2 idsCardTitle>{{ "EXAMPLES.CARD.ORIENTATION.CONTENT.VERTICAL_TITLE" | translate }}</h2>
      <h3 idsCardSubtitle>{{ "EXAMPLES.CARD.ORIENTATION.CONTENT.VERTICAL_SUBTITLE" | translate }}</h3>
    </header>
    <img idsCardMedia class="h-32 object-cover" src="https://images.photowall.com/products/50608/dandelion-meadow.jpg?h=699&q=85" alt="" />
    <ids-card-body>{{ "EXAMPLES.CARD.ORIENTATION.CONTENT.VERTICAL_BODY" | translate }}</ids-card-body>
  </ids-card>

  <ids-card orientation="horizontal" class="max-w-96" appearance="elevated">
    <img
      idsCardMedia
      class="w-32 h-32 object-cover"
      src="https://images.photowall.com/products/50608/dandelion-meadow.jpg?h=699&q=85"
      alt=""
    />
    <ids-card-body>{{ "EXAMPLES.CARD.ORIENTATION.CONTENT.HORIZONTAL_BODY" | translate }}</ids-card-body>
  </ids-card>
</div>
