<ids-tab-group>
  <ids-tab leadingIcon="mail" [label]="'EXAMPLES.TAB.ITEM_PROPERTIES.CONTENT.LEADING_ICON' | translate">
    {{ "EXAMPLES.TAB.ITEM_PROPERTIES.CONTENT.LEADING_CONTENT" | translate }}
  </ids-tab>
  <ids-tab trailingIcon="warning" [label]="'EXAMPLES.TAB.ITEM_PROPERTIES.CONTENT.TRAILING_ICON' | translate">
    {{ "EXAMPLES.TAB.ITEM_PROPERTIES.CONTENT.TRAILING_CONTENT" | translate }}
  </ids-tab>
  <ids-tab [disabled]="true" [label]="'EXAMPLES.TAB.ITEM_PROPERTIES.CONTENT.DISABLED' | translate">
    {{ "EXAMPLES.TAB.ITEM_PROPERTIES.CONTENT.DISABLED_CONTENT" | translate }}
  </ids-tab>
</ids-tab-group>
