<div class="flex flex-col gap-4 w-80">
  <ids-tab-group [stretchTabs]="true">
    <ids-tab [label]="'EXAMPLES.TAB.COMMON.TAB_1' | translate">{{ "EXAMPLES.TAB.COMMON.CONTENT_1" | translate }}</ids-tab>
    <ids-tab [label]="'EXAMPLES.TAB.COMMON.TAB_2' | translate">{{ "EXAMPLES.TAB.COMMON.CONTENT_2" | translate }}</ids-tab>
  </ids-tab-group>

  <ids-tab-group [stretchTabs]="false">
    <ids-tab [label]="'EXAMPLES.TAB.COMMON.TAB_1' | translate">{{ "EXAMPLES.TAB.COMMON.CONTENT_1" | translate }}</ids-tab>
    <ids-tab [label]="'EXAMPLES.TAB.COMMON.TAB_2' | translate">{{ "EXAMPLES.TAB.COMMON.CONTENT_2" | translate }}</ids-tab>
  </ids-tab-group>
</div>
