<div class="flex flex-wrap gap-ids-container-gap-4">
  <button type="button" idsButton (click)="_open('bottom-center')">bottom-center</button>
  <button type="button" idsButton (click)="_open('bottom-left')">bottom-left</button>
  <button type="button" idsButton (click)="_open('bottom-right')">bottom-right</button>
  <button type="button" idsButton (click)="_open('top-center')">top-center</button>
  <button type="button" idsButton (click)="_open('top-left')">top-left</button>
  <button type="button" idsButton (click)="_open('top-right')">top-right</button>
</div>
