@let fieldName = "EXAMPLES.SEGMENTED_CONTROL.COMMON.FIELD_NAME" | translate;

<form class="flex flex-col gap-ids-container-gap-4" (submit)="onSubmit($event)">
  <p>{{ "EXAMPLES.SEGMENTED_CONTROL.FORM_CONTROL.CONTENT.LABEL" | translate }}</p>
  <ids-segmented-control [formControl]="view">
    <ids-segmented-control-item value="day" [label]="'EXAMPLES.SEGMENTED_CONTROL.COMMON.DAY' | translate" />
    <ids-segmented-control-item value="week" [label]="'EXAMPLES.SEGMENTED_CONTROL.COMMON.WEEK' | translate" />
    <ids-segmented-control-item value="month" [label]="'EXAMPLES.SEGMENTED_CONTROL.COMMON.MONTH' | translate" />
  </ids-segmented-control>
  @if (view.touched && view.invalid) {
    <ids-error-message>{{ "FORM_FIELD.ERROR.REQUIRED" | translate: { fieldName } }}</ids-error-message>
  }
  <button type="submit" idsButton>{{ "EXAMPLES.SEGMENTED_CONTROL.FORM_CONTROL.CONTENT.SUBMIT" | translate }}</button>
</form>
