<ids-radio-group
  name="radio-label-hint"
  [label]="'EXAMPLES.RADIO_GROUP.LABEL_HINT.CONTENT.LABEL' | translate"
>
  <ids-hint-message>{{ "EXAMPLES.RADIO_GROUP.LABEL_HINT.CONTENT.HINT" | translate }}</ids-hint-message>
  <ids-radio value="chicken">{{ "EXAMPLES.RADIO_GROUP.COMMON.CHICKEN" | translate }}</ids-radio>
  <ids-radio value="beef">{{ "EXAMPLES.RADIO_GROUP.COMMON.BEEF" | translate }}</ids-radio>
  <ids-radio value="pork">{{ "EXAMPLES.RADIO_GROUP.COMMON.PORK" | translate }}</ids-radio>
</ids-radio-group>
