@if (header() === _idsSideSheetHeaderType.DEFAULT) {
  <div class="left-content">
    @if (backButton()) {
      <button class="back-btn" type="button" idsIconButton [variant]="'surface'" [appearance]="'standard'" (click)="_onBack()">
        <ids-icon aria-hidden="true" alt="" fontIcon="arrow-left" />
      </button>
    }
    <h2>{{ title() }}</h2>
  </div>
  @if (isClosable()) {
    <button
      class="close-btn"
      type="button"
      idsIconButton
      [variant]="'surface'"
      [appearance]="'standard'"
      [idsTooltip]="closeTooltipText()"
      (click)="_close()"
    >
      <ids-icon aria-hidden="true" alt="" fontIcon="close" />
    </button>
  }
}

@else if (header() === _idsSideSheetHeaderType.CUSTOM) {
  <ng-content/>
}
