:host {
  width: 100%;
}

.default-side-sheet-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.25rem;

  .left-content {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .close-btn {
    margin-left: auto;
  }
}

.custom-side-sheet-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 1.25rem;
}
