<app-tryout [title]="'COMPONENTS.TOOLTIP' | translate" (resetted)="reset()">
  <ng-container component>
    <button
      type="button"
      idsButton
      [variant]="model.variant !== 'light' ? 'primary' : 'light'"
      [idsTooltip]="model.tooltipText"
      [idsTooltipPosition]="model.position"
      [idsTooltipSize]="model.size"
      [idsTooltipVariant]="model.variant"
      [idsTooltipShowDelay]="model.showDelay"
      [idsTooltipHideDelay]="model.hideDelay"
      [idsTooltipDisabled]="model.disabled"
      [idsTooltipTouchGestures]="model.touchGestures"
      [idsTooltipTextAlign]="model.textAlign"
    >
      North
    </button>
  </ng-container>

  <app-control-table controls [configType]="'input'" [controlConfig]="_inputControlConfig" [(model)]="model" (resetted)="reset()" />
</app-tryout>
