<app-tryout [title]="'COMPONENTS.TOOLTIP' | translate" [hasDarkBackground]="model.variant === 'light'" (resetted)="reset()">
  <div class="component" component>
    <button
      type="button"
      idsButton
      [variant]="model.variant !== 'light' ? 'primary' : 'light'"
      [idsTooltip]="model.tooltipText"
      [idsTooltipPosition]="model.position"
      [idsTooltipSize]="model.size"
      [idsTooltipVariant]="model.variant"
      [idsTooltipShowDelay]="model.showDelay"
      [idsTooltipHideDelay]="model.hideDelay"
      [idsTooltipDisabled]="model.disabled"
      [idsTooltipTouchGestures]="model.touchGestures"
      [idsTooltipTextAlign]="model.textAlign"
    >
      Hover me
    </button>
    <p>Hover over the button to show a tooltip on {{ model.position }}.</p>
  </div>

  <app-control-table controls [configType]="'input'" [controlConfig]="_inputControlConfig" [(model)]="model" (resetted)="reset()" />
</app-tryout>
