<div class="grid">
  <div class="grid-item left">
    <button
      type="button"
      idsButton
      [idsTooltip]="'Tooltip szövege itt jelenik meg'"
      [idsTooltipHideDelay]="hideDelay"
      [idsTooltipPosition]="'northwest'"
    >
      North West
    </button>
  </div>
  <div class="grid-item center">
    <button
      type="button"
      idsButton
      [idsTooltip]="'Tooltip szövege itt jelenik meg'"
      [idsTooltipShowDelay]="showDelay"
      [idsTooltipHideDelay]="hideDelay"
      [idsTooltipPosition]="'north'"
    >
      North
    </button>
  </div>
  <div class="grid-item right">
    <button
      type="button"
      idsButton
      [idsTooltip]="'Tooltip szövege itt jelenik meg'"
      [idsTooltipShowDelay]="showDelay"
      [idsTooltipHideDelay]="hideDelay"
      [idsTooltipPosition]="'northeast'"
    >
      North East
    </button>
  </div>

  <div class="grid-item left">
    <button
      type="button"
      idsButton
      [idsTooltip]="'Tooltip szövege itt jelenik meg'"
      [idsTooltipShowDelay]="showDelay"
      [idsTooltipHideDelay]="hideDelay"
      [idsTooltipPosition]="'west'"
    >
      West
    </button>
  </div>
  <div class="grid-item center"></div>
  <div class="grid-item right">
    <button
      type="button"
      idsButton
      [idsTooltip]="'Tooltip szövege itt jelenik meg'"
      [idsTooltipShowDelay]="showDelay"
      [idsTooltipHideDelay]="hideDelay"
      [idsTooltipPosition]="'east'"
    >
      East
    </button>
  </div>

  <div class="grid-item left">
    <button
      type="button"
      idsButton
      [idsTooltip]="'Tooltip szövege itt jelenik meg'"
      [idsTooltipHideDelay]="hideDelay"
      [idsTooltipPosition]="'southwest'"
    >
      South West
    </button>
  </div>
  <div class="grid-item center">
    <button
      type="button"
      idsButton
      [idsTooltip]="'Tooltip szövege itt jelenik meg'"
      [idsTooltipShowDelay]="showDelay"
      [idsTooltipHideDelay]="hideDelay"
      [idsTooltipPosition]="'south'"
    >
      South
    </button>
  </div>
  <div class="grid-item right">
    <button
      type="button"
      idsButton
      [idsTooltip]="'Tooltip szövege itt jelenik meg'"
      [idsTooltipShowDelay]="showDelay"
      [idsTooltipHideDelay]="hideDelay"
      [idsTooltipPosition]="'southeast'"
    >
      South East
    </button>
  </div>
</div>
