<div class="grid grid-cols-2 gap-8 max-w-xl">
  <div class="grid gap-2">
    <span>surface</span>
    <ids-spinner variant="surface" aria-label="Loading" />
  </div>

  <div class="grid gap-2">
    <span>primary</span>
    <ids-spinner variant="primary" aria-label="Loading" />
  </div>

  <div class="grid gap-2">
    <span>secondary</span>
    <ids-spinner variant="secondary" aria-label="Loading" />
  </div>

  <div class="grid gap-2">
    <span>brand</span>
    <ids-spinner variant="brand" aria-label="Loading" />
  </div>

  <div class="grid gap-2 bg-black">
    <span class="text-white">light</span>
    <ids-spinner variant="light" aria-label="Loading" />
  </div>

  <div class="grid gap-2">
    <span>error</span>
    <ids-spinner variant="error" aria-label="Loading" />
  </div>

  <div class="grid gap-2">
    <span>success</span>
    <ids-spinner variant="success" aria-label="Loading" />
  </div>

  <div class="grid gap-2">
    <span>warning</span>
    <ids-spinner variant="warning" aria-label="Loading" />
  </div>
</div>
