<div class="flex flex-col gap-4">
  <div style="padding: 10px;">
    <div cdkMenuBar>
      <button
        type="button"
        idsMenuItem
        variant="surface"
        [label]="'EXAMPLES.MENU_ITEM.VARIANTS.CONTENT.SURFACE' | translate"
      >
      </button>
    </div>
  </div>
  <div style="background-color: black; padding: 10px;">
    <div cdkMenuBar>
      <button
        type="button"
        idsMenuItem
        variant="light"
        [label]="'EXAMPLES.MENU_ITEM.VARIANTS.CONTENT.LIGHT' | translate"
      >
      </button>
    </div>
  </div>
</div>
