<app-tryout [title]="'COMPONENTS.PAGINATOR' | translate" [hasDarkBackground]="model.variant === 'light'" (resetted)="reset()">
  <ng-container component>
    <ids-paginator
      [length]="model.length"
      [pageSize]="model.pageSize"
      [pageSizeOptions]="model.pageSizeOptions"
      [showFirstLastButton]="model.showFirstLastButton"
      [showPrevNextLabel]="model.showPrevNextLabel"
      [showPageInfo]="model.showPageInfo"
      [showPageButtons]="model.showPageButtons"
      [showAllPages]="model.showAllPages"
      [maxDisplayedItemCount]="model.maxDisplayedItemCount"
      [size]="model.size"
      [variant]="model.variant"
      [pageButtonAppearance]="model.pageButtonAppearance"
      [disabled]="model.disabled"
      [compactLayout]="model.compactLayout"
    />
  </ng-container>

  <app-control-table controls [configType]="'input'" [controlConfig]="_inputControlConfig" [(model)]="model" (resetted)="reset()" />
</app-tryout>
