<h1>{{ "COMPONENTS.PAGINATOR" | translate }}</h1>

@for (variant of variants; track $index) {
  <section [class]="variant">
    <h2>{{ variant | uppercase }}</h2>
    <div class="paginator-column">
      <h3>Default</h3>
      @for (size of sizes; track $index) {
        <h4>{{ size }}</h4>
        <div class="paginator-demo-container">
          <ids-paginator [length]="length" [size]="size" [variant]="variant" />
        </div>
      }
    </div>
    <div class="paginator-column">
      <h3>Disabled</h3>
      @for (size of sizes; track $index) {
        <h4>{{ size }}</h4>
        <div class="paginator-demo-container">
          <ids-paginator [length]="length" [size]="size" [variant]="variant" [disabled]="true" />
        </div>
      }
    </div>
  </section>
}
