<app-tryout [title]="'COMPONENTS.PAGINATOR' | translate" [hasDarkBackground]="paginatorDemoService.model.variant === 'light'" (resetted)="paginatorDemoService.reset()">
  <ng-container component>
    <ids-paginator
      [length]="paginatorDemoService.model.length"
      [pageSize]="paginatorDemoService.model.pageSize"
      [pageSizeOptions]="paginatorDemoService.model.pageSizeOptions"
      [showFirstLastButton]="paginatorDemoService.model.showFirstLastButton"
      [showPrevNextLabel]="paginatorDemoService.model.showPrevNextLabel"
      [showPageInfo]="paginatorDemoService.model.showPageInfo"
      [showPageButtons]="paginatorDemoService.model.showPageButtons"
      [showAllPages]="paginatorDemoService.model.showAllPages"
      [maxDisplayedItemCount]="paginatorDemoService.model.maxDisplayedItemCount"
      [size]="paginatorDemoService.model.size"
      [variant]="paginatorDemoService.model.variant"
      [pageButtonAppearance]="paginatorDemoService.model.pageButtonAppearance"
      [disabled]="paginatorDemoService.model.disabled"
      [compactLayout]="paginatorDemoService.model.compactLayout"
      (pageChanged)="paginatorDemoService.onPageChange($event)"
    />
  </ng-container>

</app-tryout>
