<app-control-tryout>
  <app-control-table
    controls
    [controlName]="'Checkbox'"
    [configType]="'input'"
    [controlConfig]="checkboxDemoService.inputControlConfig"
    [(model)]="checkboxDemoService.model"
    (resetted)="checkboxDemoService.reset()"
  />
  <app-control-table
    controls
    [controlName]="'Checkbox'"
    [configType]="'helper'"
    [controlConfig]="checkboxDemoService.helperControlConfig"
    [(model)]="checkboxDemoService.helperModel"
    (resetted)="checkboxDemoService.reset()"
  />
  <app-control-table
    controls
    [controlName]="'Checkbox group'"
    [configType]="'input'"
    [controlConfig]="checkboxDemoService.groupInputControlConfig"
    [(model)]="checkboxDemoService.groupModel"
    (resetted)="checkboxDemoService.reset()"
  />
</app-control-tryout>
