<div class="flex flex-col gap-8">
  <div class="grid gap-2">
    <span>left</span>
    <button
      type="button"
      idsButton
      idsTooltipTextAlign="left"
      [idsTooltipShowDelay]="0"
      [idsTooltip]="'EXAMPLES.TOOLTIP.TEXT_ALIGN.CONTENT.LONG_MESSAGE' | translate"
    >
      {{ "EXAMPLES.TOOLTIP.COMMON.TRIGGER" | translate }}
    </button>
  </div>

  <div class="grid gap-2">
    <span>center</span>
    <button
      type="button"
      idsButton
      idsTooltipTextAlign="center"
      [idsTooltipShowDelay]="0"
      [idsTooltip]="'EXAMPLES.TOOLTIP.TEXT_ALIGN.CONTENT.LONG_MESSAGE' | translate"
    >
      {{ "EXAMPLES.TOOLTIP.COMMON.TRIGGER" | translate }}
    </button>
  </div>

  <div class="grid gap-2">
    <span>right</span>
    <button
      type="button"
      idsButton
      idsTooltipTextAlign="right"
      [idsTooltipShowDelay]="0"
      [idsTooltip]="'EXAMPLES.TOOLTIP.TEXT_ALIGN.CONTENT.LONG_MESSAGE' | translate"
    >
      {{ "EXAMPLES.TOOLTIP.COMMON.TRIGGER" | translate }}
    </button>
  </div>
</div>
