<nav idsSideNav [hasLabel]="false">
  <ids-side-nav-section>
    <ids-side-nav-title [label]="'EXAMPLES.SIDE_NAV.ICON_ONLY.CONTENT.SECTION' | translate">
      <ids-icon icon-leading fontIcon="cart" />
    </ids-side-nav-title>
    <ids-side-nav-item
      target="components/side-nav/demo"
      [label]="'EXAMPLES.SIDE_NAV.ICON_ONLY.CONTENT.HOME' | translate"
      [hasTooltip]="true"
    >
      <ids-icon icon-leading fontIcon="home" />
    </ids-side-nav-item>
    <ids-side-nav-item
      target="components/avatar/demo"
      [label]="'EXAMPLES.SIDE_NAV.ICON_ONLY.CONTENT.AVATAR' | translate"
      [hasTooltip]="true"
    >
      <ids-icon icon-leading fontIcon="account" />
    </ids-side-nav-item>
    <ids-side-nav-item
      target="components/button/demo"
      [label]="'EXAMPLES.SIDE_NAV.ICON_ONLY.CONTENT.SEARCH' | translate"
      [hasTooltip]="true"
    >
      <ids-icon icon-leading fontIcon="search" />
    </ids-side-nav-item>
  </ids-side-nav-section>
</nav>
