<div
  #header
  role="button"
  [id]="_headerId"
  [attr.aria-expanded]="isExpanded ? 'true' : 'false'"
  [attr.aria-controls]="_contentId"
  [class]="_summaryClass"
  [attr.tabindex]="_parentOrSelfDisabled() ? -1 : 0"
  [attr.aria-disabled]="_parentOrSelfDisabled()"
  (click)="toggle()"
>
  @if (_parentOrSelfHasLeadingIcon()) {
    <ids-icon icon-leading [fontIcon]="_icon" />
  }
  <span [class]="_titleClass">{{ summary() }}</span>
  @if (_parentOrSelfHasTrailingIcon()) {
    <ids-icon icon-trailing [fontIcon]="_icon" />
  }
</div>
<div
  role="region"
  [id]="_contentId"
  [attr.aria-labelledby]="_headerId"
  [class]="_contentClass"
  [@accordionAnimations]="isExpanded ? 'expanded' : 'collapsed'"
>
  <ng-content />
</div>
