<div class="flex flex-col gap-8">
  <div class="grid gap-2">
    <span>dense</span>
    <button
      type="button"
      idsButton
      idsTooltipSize="dense"
      [idsTooltipShowDelay]="0"
      [idsTooltip]="'EXAMPLES.TOOLTIP.COMMON.MESSAGE' | translate"
    >
      {{ "EXAMPLES.TOOLTIP.COMMON.TRIGGER" | translate }}
    </button>
  </div>

  <div class="grid gap-2">
    <span>compact</span>
    <button
      type="button"
      idsButton
      idsTooltipSize="compact"
      [idsTooltipShowDelay]="0"
      [idsTooltip]="'EXAMPLES.TOOLTIP.COMMON.MESSAGE' | translate"
    >
      {{ "EXAMPLES.TOOLTIP.COMMON.TRIGGER" | translate }}
    </button>
  </div>

  <div class="grid gap-2">
    <span>comfortable</span>
    <button
      type="button"
      idsButton
      idsTooltipSize="comfortable"
      [idsTooltipShowDelay]="0"
      [idsTooltip]="'EXAMPLES.TOOLTIP.COMMON.MESSAGE' | translate"
    >
      {{ "EXAMPLES.TOOLTIP.COMMON.TRIGGER" | translate }}
    </button>
  </div>

  <div class="grid gap-2">
    <span>spacious</span>
    <button
      type="button"
      idsButton
      idsTooltipSize="spacious"
      [idsTooltipShowDelay]="0"
      [idsTooltip]="'EXAMPLES.TOOLTIP.COMMON.MESSAGE' | translate"
    >
      {{ "EXAMPLES.TOOLTIP.COMMON.TRIGGER" | translate }}
    </button>
  </div>
</div>
