.code-bg {
  border-bottom: 1px solid var(--smc-reference-container-color-border-surface-darker-70, #334155);
  background: var(--smc-reference-container-color-bg-surface-darker-80, #1e293b);
}

.example-bg{
  border-right: 1px solid var(--smc-reference-container-color-border-surface-darker-20, #E2E8F0);
}

.code-bg pre,
.code-bg code {
    color: #f8f8f2;
}

.code-bg code .token.punctuation {
    color: #a8b2c3;
}

.code-bg code .token.operator {
    color: #f8f8f2;
}
