.ids-example-viewer {
  &__code-pre {
    background: var(--ids-smc-colors-surface-darker-10);
    line-height: 1.6;
    white-space: pre;
    border-radius: 0 0 0.5rem 0.5rem;

    code {
      font-family: inherit;
    }
  }
}
