ids-chip,
#copy {
  border-style: solid;
}
#demo {
  gap: 0px !important;
}
#footer {
  @apply border-t border-solid border-ids-page-fg-surface-lighter-40;
}
#header {
  @apply border-b border-solid border-ids-page-fg-surface-lighter-40;
}

:host {
  display: block;
  height: 100%; // A szülőnek legyen magassága
  width: 100%;
}

.component-details-host {
  height: 100%; // A flex container töltse ki a hostot
}

.router-container {
  // Ez a container foglalja el a helyet a tabok alatt
  display: flex;
  flex-direction: column;

  // A varázslat: A router-outlet által beszúrt komponenst célozzuk meg
  // Ez a Guidelines, a Demo VAGY az API komponens
  &::ng-deep > :not(router-outlet) {
    display: block;
    width: 100%;
    height: 100%; // Most már működni fog, mert a szülő (.router-container) is 100%-os
    
    // Ha a betöltött komponens (pl. demo) maga is flexbox, akkor inkább:
    // display: flex;
    // flex-direction: column;
  }
}