<div class="flex flex-col gap-16">
  <!-- <app-hero [heroData]="heroDatas[0]" /> -->

  @if (heroData; as hero) {
    <app-hero [heroData]="hero" />
  }

  <ids-tab-group>
    <ids-tab label="Guidelines">
      <div class="flex flex-col gap-ids-container-gap-32">
        <div class="flex justify-between items-center">
          <ids-chip appearance="outlined" variant="surface" size="dense"> Updated 25 Feb 2025 </ids-chip>
          <button type="button" idsButton appearance="outlined" variant="primary" size="comfortable">Figma file</button>
        </div>

        @for (card of contentCardDataList; track card.id) {
          @if (card.heading) {
            <h2>{{ card.heading }}</h2>
          }
          <app-content-card [contentCardData]="card" />
        }
        <!-- <section class="flex flex-col gap-ids-container-gap-16">
          <h2 class="text-headline-medium-prominent">Usage</h2>
          @if (contentCardDatas.length > 0) {
            <app-content-card [contentCardData]="contentCardDatas[0]" />
          }
          @if (contentCardDatas.length > 1) {
            <app-content-card [contentCardData]="contentCardDatas[1]" />
          }
        </section>
        <section class="flex flex-col gap-ids-container-gap-16">
          <h2 class="text-headline-medium-prominent">Anatomy</h2>
          @if (contentCardDatas.length > 2) {
            <app-content-card [contentCardData]="contentCardDatas[2]" />
          }
        </section>
        <section class="flex flex-col gap-ids-container-gap-16">
          <h2 class="text-headline-medium-prominent">Variant</h2>
          @if (contentCardDatas.length > 3) {
            <app-content-card [contentCardData]="contentCardDatas[3]" />
          }
        </section>
        <section class="flex flex-col gap-ids-container-gap-16">
          <h2 class="text-headline-medium-prominent">Size</h2>
          @if (contentCardDatas.length > 4) {
            <app-content-card [contentCardData]="contentCardDatas[4]" />
          }
        </section>
        <section class="flex flex-col gap-ids-container-gap-16">
          <h2 class="text-headline-medium-prominent">Usage Guidelines</h2>
          @if (contentCardDatas.length > 5) {
            <app-content-card [contentCardData]="contentCardDatas[5]" />
          }
          @if (contentCardDatas.length > 6) {
            <app-content-card [contentCardData]="contentCardDatas[6]" />
          }
        </section>
        <section class="flex flex-col gap-ids-container-gap-16">
          <h2 class="text-headline-medium-prominent">Accessibility</h2>
          @if (contentCardDatas.length > 7) {
            <app-content-card [contentCardData]="contentCardDatas[7]" />
          }
          @if (contentCardDatas.length > 8) {
            <app-content-card [contentCardData]="contentCardDatas[8]" />
          }
        </section> -->
      </div>
    </ids-tab>
    <ids-tab label="Demo and Code"> Tab Content 2 </ids-tab>
    <ids-tab label="API">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum consequuntur voluptas numquam omnis dolorum iure, odio debitis sequi
      aut fugit magni, ullam eos natus quibusdam, ratione at repellendus harum eum.
    </ids-tab>
  </ids-tab-group>
</div>
