<div class="flex flex-col gap-8 w-full">
  <div class="grid gap-2">
    <span>vertical</span>
    <ids-radio-group
      name="radio-orientation-vertical"
      orientation="vertical"
      [label]="'EXAMPLES.RADIO_GROUP.ORIENTATION.CONTENT.VERTICAL' | translate"
    >
      <ids-radio value="chicken">{{ "EXAMPLES.RADIO_GROUP.COMMON.CHICKEN" | translate }}</ids-radio>
      <ids-radio value="beef">{{ "EXAMPLES.RADIO_GROUP.COMMON.BEEF" | translate }}</ids-radio>
      <ids-radio value="pork">{{ "EXAMPLES.RADIO_GROUP.COMMON.PORK" | translate }}</ids-radio>
    </ids-radio-group>
  </div>

  <div class="grid gap-2">
    <span>horizontal</span>
    <div class="horizontal-wrap w-80">
      <ids-radio-group
        name="radio-orientation-horizontal"
        orientation="horizontal"
        [label]="'EXAMPLES.RADIO_GROUP.ORIENTATION.CONTENT.HORIZONTAL' | translate"
      >
        <ids-radio value="chicken">{{ "EXAMPLES.RADIO_GROUP.COMMON.CHICKEN" | translate }}</ids-radio>
        <ids-radio value="beef">{{ "EXAMPLES.RADIO_GROUP.COMMON.BEEF" | translate }}</ids-radio>
        <ids-radio value="pork">{{ "EXAMPLES.RADIO_GROUP.COMMON.PORK" | translate }}</ids-radio>
        <ids-radio value="fish">{{ "EXAMPLES.RADIO_GROUP.COMMON.FISH" | translate }}</ids-radio>
        <ids-radio value="lamb">{{ "EXAMPLES.RADIO_GROUP.COMMON.LAMB" | translate }}</ids-radio>
        <ids-radio value="turkey">{{ "EXAMPLES.RADIO_GROUP.COMMON.TURKEY" | translate }}</ids-radio>
      </ids-radio-group>
    </div>
  </div>
</div>
