<div class="flex flex-wrap items-start gap-ids-container-gap-12">
  <ids-card class="max-w-64" appearance="elevated">
    <img
      idsCardMedia
      class="h-32 object-cover"
      src="https://images.photowall.com/products/50608/dandelion-meadow.jpg?h=699&q=85"
      alt=""
      [stretch]="true"
    />
    <ids-card-body>{{ "EXAMPLES.CARD.MEDIA.CONTENT.STRETCHED" | translate }}</ids-card-body>
  </ids-card>

  <ids-card class="max-w-64" appearance="elevated">
    <img
      idsCardMedia
      class="h-32 object-cover"
      src="https://images.photowall.com/products/50608/dandelion-meadow.jpg?h=699&q=85"
      alt=""
      [stretch]="false"
    />
    <ids-card-body>{{ "EXAMPLES.CARD.MEDIA.CONTENT.NON_STRETCHED" | translate }}</ids-card-body>
  </ids-card>
</div>
