<div class="grid grid-cols-3 gap-4 place-items-center w-72 mx-auto py-8">
  <button
    type="button"
    idsButton
    size="dense"
    idsTooltipPosition="northwest"
    [idsTooltipShowDelay]="0"
    [idsTooltip]="'EXAMPLES.TOOLTIP.COMMON.MESSAGE' | translate"
  >
    northwest
  </button>

  <button
    type="button"
    idsButton
    size="dense"
    idsTooltipPosition="north"
    [idsTooltipShowDelay]="0"
    [idsTooltip]="'EXAMPLES.TOOLTIP.COMMON.MESSAGE' | translate"
  >
    north
  </button>

  <button
    type="button"
    idsButton
    size="dense"
    idsTooltipPosition="northeast"
    [idsTooltipShowDelay]="0"
    [idsTooltip]="'EXAMPLES.TOOLTIP.COMMON.MESSAGE' | translate"
  >
    northeast
  </button>

  <button
    type="button"
    idsButton
    size="dense"
    idsTooltipPosition="west"
    [idsTooltipShowDelay]="0"
    [idsTooltip]="'EXAMPLES.TOOLTIP.COMMON.MESSAGE' | translate"
  >
    west
  </button>

  <span aria-hidden="true"></span>

  <button
    type="button"
    idsButton
    size="dense"
    idsTooltipPosition="east"
    [idsTooltipShowDelay]="0"
    [idsTooltip]="'EXAMPLES.TOOLTIP.COMMON.MESSAGE' | translate"
  >
    east
  </button>

  <button
    type="button"
    idsButton
    size="dense"
    idsTooltipPosition="southwest"
    [idsTooltipShowDelay]="0"
    [idsTooltip]="'EXAMPLES.TOOLTIP.COMMON.MESSAGE' | translate"
  >
    southwest
  </button>

  <button
    type="button"
    idsButton
    size="dense"
    idsTooltipPosition="south"
    [idsTooltipShowDelay]="0"
    [idsTooltip]="'EXAMPLES.TOOLTIP.COMMON.MESSAGE' | translate"
  >
    south
  </button>

  <button
    type="button"
    idsButton
    size="dense"
    idsTooltipPosition="southeast"
    [idsTooltipShowDelay]="0"
    [idsTooltip]="'EXAMPLES.TOOLTIP.COMMON.MESSAGE' | translate"
  >
    southeast
  </button>
</div>
