<div cdk-overlay-origin class="ids-select-trigger" (click)="open()" #fallbackOverlayOrigin="cdkOverlayOrigin" #trigger>
  <div class="ids-select-value">
    @if (_empty()) {
      <span class="ids-select-placeholder ids-select-min-line">{{ placeholder() }}</span>
    } @else {
      <span class="ids-select-value-text">
        <span class="ids-select-min-line">{{ _triggerValue() }}</span>
      </span>
    }
  </div>

  <div class="ids-select-arrow-wrapper">
    <div class="ids-select-arrow">
      <!-- Use an inline SVG, because it works better than a CSS triangle in high contrast mode. -->
      <svg viewBox="0 0 24 24" width="24px" height="24px" focusable="false" aria-hidden="true">
        <path d="M7 10l5 5 5-5z" />
      </svg>
    </div>
  </div>
</div>

<ng-template
  cdk-connected-overlay
  cdkConnectedOverlayLockPosition
  cdkConnectedOverlayHasBackdrop
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  [cdkConnectedOverlayOrigin]="_preferredOverlayOrigin || fallbackOverlayOrigin"
  [cdkConnectedOverlayOpen]="isPanelOpen()"
  [cdkConnectedOverlayPositions]="_connectedPositions"
  [cdkConnectedOverlayWidth]="_overlayWidth"
  (backdropClick)="close()"
  (attach)="_panelAttached()"
  (detach)="close()"
>
  <div
    #panel
    role="listbox"
    tabindex="-1"
    [attr.id]="id + '-panel'"
    [attr.aria-multiselectable]="multiSelect()"
    [attr.aria-label]="ariaLabel() || null"
    [attr.aria-labelledby]="ariaLabelledby()"
    [class]="_panelClasses()"
    (keydown)="_handleKeydown($event)"
  >
    <ng-content></ng-content>
  </div>
</ng-template>
