<ids-card appearance="elevated" class="max-w-64">
  <header idsCardHeader>
    <h2 idsCardTitle>{{ "EXAMPLES.CARD.FULL_COMPOSITION.CONTENT.TITLE" | translate }}</h2>
    <h3 idsCardSubtitle>{{ "EXAMPLES.CARD.FULL_COMPOSITION.CONTENT.SUBTITLE" | translate }}</h3>
  </header>
  <img
    idsCardMedia
    class="h-32 object-cover"
    src="https://images.photowall.com/products/50608/dandelion-meadow.jpg?h=699&q=85"
    alt="Dandelion meadow"
  />
  <ids-card-body>
    {{ "EXAMPLES.CARD.FULL_COMPOSITION.CONTENT.BODY" | translate }}
  </ids-card-body>
  <footer idsCardFooter>
    <button type="button" idsButton appearance="text">{{ "EXAMPLES.CARD.FULL_COMPOSITION.CONTENT.FOOTER_BUTTON" | translate }}</button>
  </footer>
</ids-card>
