<h1>{{ "COMPONENTS.ACTION_PANEL" | translate }}</h1>

@for (appearance of appearances; track $index) {
  @for (size of sizes; track $index) {
    <h3>{{ appearance + "-" + size + "-panel" }}</h3>
    <ids-action-panel [id]="appearance + '-' + size + '-panel'" [size]="size" [appearance]="appearance">
      @for (_ of items; track $index) {
        <button type="button" idsActionItem appearance="filled" size="comfortable" [label]="'Menu Item Label ' + $index">
          <ids-icon icon-leading aria-hidden="true" alt="" [icon]="mdiSearch" />
          <ids-icon icon-trailing aria-hidden="true" alt="" [icon]="mdiChevron" />
        </button>
      }
    </ids-action-panel>
  }
}
