<div class="flex flex-col gap-4 max-w-2xl w-full">
  <div class="grid gap-2">
    <span>surface</span>
    <ids-notification variant="surface" class="w-full" [title]="'EXAMPLES.NOTIFICATION.VARIANTS.CONTENT.SURFACE_TITLE' | translate">
      {{ "EXAMPLES.NOTIFICATION.VARIANTS.CONTENT.SURFACE_MESSAGE" | translate }}
    </ids-notification>
  </div>

  <div class="grid gap-2">
    <span>light</span>
    <ids-notification variant="light" class="w-full" [title]="'EXAMPLES.NOTIFICATION.VARIANTS.CONTENT.LIGHT_TITLE' | translate">
      {{ "EXAMPLES.NOTIFICATION.VARIANTS.CONTENT.LIGHT_MESSAGE" | translate }}
    </ids-notification>
  </div>

  <div class="grid gap-2">
    <span>dark</span>
    <ids-notification variant="dark" class="w-full" [title]="'EXAMPLES.NOTIFICATION.VARIANTS.CONTENT.DARK_TITLE' | translate">
      {{ "EXAMPLES.NOTIFICATION.VARIANTS.CONTENT.DARK_MESSAGE" | translate }}
    </ids-notification>
  </div>

  <div class="grid gap-2">
    <span>info</span>
    <ids-notification variant="info" class="w-full" [title]="'EXAMPLES.NOTIFICATION.VARIANTS.CONTENT.INFO_TITLE' | translate">
      {{ "EXAMPLES.NOTIFICATION.VARIANTS.CONTENT.INFO_MESSAGE" | translate }}
    </ids-notification>
  </div>

  <div class="grid gap-2">
    <span>success</span>
    <ids-notification variant="success" class="w-full" [title]="'EXAMPLES.NOTIFICATION.VARIANTS.CONTENT.SUCCESS_TITLE' | translate">
      {{ "EXAMPLES.NOTIFICATION.VARIANTS.CONTENT.SUCCESS_MESSAGE" | translate }}
    </ids-notification>
  </div>

  <div class="grid gap-2">
    <span>warning</span>
    <ids-notification variant="warning" class="w-full" [title]="'EXAMPLES.NOTIFICATION.VARIANTS.CONTENT.WARNING_TITLE' | translate">
      {{ "EXAMPLES.NOTIFICATION.VARIANTS.CONTENT.WARNING_MESSAGE" | translate }}
    </ids-notification>
  </div>

  <div class="grid gap-2">
    <span>error</span>
    <ids-notification variant="error" class="w-full" [title]="'EXAMPLES.NOTIFICATION.VARIANTS.CONTENT.ERROR_TITLE' | translate">
      {{ "EXAMPLES.NOTIFICATION.VARIANTS.CONTENT.ERROR_MESSAGE" | translate }}
    </ids-notification>
  </div>
</div>
