<div class="flex flex-col gap-8">
  <div class="grid gap-2">
    <span>dense</span>
    <ids-segmented-control size="dense" [(ngModel)]="dense">
      <ids-segmented-control-item value="day" [label]="'EXAMPLES.SEGMENTED_CONTROL.COMMON.DAY' | translate" />
      <ids-segmented-control-item value="week" [label]="'EXAMPLES.SEGMENTED_CONTROL.COMMON.WEEK' | translate" />
      <ids-segmented-control-item value="month" [label]="'EXAMPLES.SEGMENTED_CONTROL.COMMON.MONTH' | translate" />
    </ids-segmented-control>
  </div>

  <div class="grid gap-2">
    <span>compact</span>
    <ids-segmented-control size="compact" [(ngModel)]="compact">
      <ids-segmented-control-item value="day" [label]="'EXAMPLES.SEGMENTED_CONTROL.COMMON.DAY' | translate" />
      <ids-segmented-control-item value="week" [label]="'EXAMPLES.SEGMENTED_CONTROL.COMMON.WEEK' | translate" />
      <ids-segmented-control-item value="month" [label]="'EXAMPLES.SEGMENTED_CONTROL.COMMON.MONTH' | translate" />
    </ids-segmented-control>
  </div>

  <div class="grid gap-2">
    <span>comfortable</span>
    <ids-segmented-control size="comfortable" [(ngModel)]="comfortable">
      <ids-segmented-control-item value="day" [label]="'EXAMPLES.SEGMENTED_CONTROL.COMMON.DAY' | translate" />
      <ids-segmented-control-item value="week" [label]="'EXAMPLES.SEGMENTED_CONTROL.COMMON.WEEK' | translate" />
      <ids-segmented-control-item value="month" [label]="'EXAMPLES.SEGMENTED_CONTROL.COMMON.MONTH' | translate" />
    </ids-segmented-control>
  </div>

  <div class="grid gap-2">
    <span>spacious</span>
    <ids-segmented-control size="spacious" [(ngModel)]="spacious">
      <ids-segmented-control-item value="day" [label]="'EXAMPLES.SEGMENTED_CONTROL.COMMON.DAY' | translate" />
      <ids-segmented-control-item value="week" [label]="'EXAMPLES.SEGMENTED_CONTROL.COMMON.WEEK' | translate" />
      <ids-segmented-control-item value="month" [label]="'EXAMPLES.SEGMENTED_CONTROL.COMMON.MONTH' | translate" />
    </ids-segmented-control>
  </div>
</div>
