<h1>{{ "COMPONENTS.TAG" | translate }}</h1>

<section class="component" [class]="model.variant">
  <div class="tag-types">
    <div class="tag-type">
      <h2>{{ "COMMON.NON-INTERACTIVE" | translate }}</h2>
      <ids-tag
        tabindex="0"
        [appearance]="model.appearance"
        [size]="model.size"
        [variant]="model.variant"
        (click)="onClick(model.appearance + '-' + model.size + '-' + model.variant)"
      >
        <ids-icon icon-leading aria-hidden="true" alt="" [icon]="mdiSearch" />
        {{ model.appearance + "-" + model.size + "-" + model.variant }} tag
        <ids-icon icon-trailing aria-hidden="true" alt="" [icon]="mdiDone" />
      </ids-tag>
    </div>

    <div class="tag-type">
      <h2>{{ "COMMON.INTERACTIVE" | translate }}</h2>
      <button
        type="button"
        idsTag
        tabindex="0"
        [appearance]="model.appearance"
        [size]="model.size"
        [variant]="model.variant"
        (click)="onClick(model.appearance + '-' + model.size + '-' + model.variant)"
      >
        <ids-icon icon-leading aria-hidden="true" alt="" [icon]="mdiSearch" />
        {{ model.appearance + "-" + model.size + "-" + model.variant }} tag
        <ids-icon icon-trailing aria-hidden="true" alt="" [icon]="mdiDone" />
      </button>
    </div>
  </div>
</section>

<section class="controls">
  <table [cellPadding]="10">
    <thead>
      <tr>
        <th align="left">Name</th>
        <th align="left">Description</th>
        <th align="left">Type</th>
        <th align="left">Default</th>
        <th align="left">Value</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>appearance</td>
        <td>Tag's appearance.</td>
        <td><code>TooltipPositionType</code></td>
        <td>
          <code>{{ appearances[0] }}</code>
        </td>
        <td>
          <select [(ngModel)]="model.appearance">
            @for (item of appearances; track $index) {
              <option [value]="item">{{ item }}</option>
            }
          </select>
        </td>
      </tr>
      <tr>
        <td>size</td>
        <td>Tag's size.</td>
        <td><code>SizeType</code></td>
        <td>
          <code>{{ sizes[2] }}</code>
        </td>
        <td>
          <select [(ngModel)]="model.size">
            @for (item of sizes; track $index) {
              <option [value]="item">{{ item }}</option>
            }
          </select>
        </td>
      </tr>
      <tr>
        <td>variant</td>
        <td>Tag's variant.</td>
        <td><code>TooltipVariantType</code></td>
        <td>
          <code>{{ variants[0] }}</code>
        </td>
        <td>
          <select [(ngModel)]="model.variant">
            @for (item of variants; track $index) {
              <option [value]="item">{{ item }}</option>
            }
          </select>
        </td>
      </tr>
    </tbody>
  </table>
</section>
