<div class="flex flex-col gap-8">
  <div class="grid gap-2">
    <span>dense</span>
    <ids-switch size="dense" [label]="'EXAMPLES.SWITCH.COMMON.LABEL' | translate" [(ngModel)]="dense" />
  </div>

  <div class="grid gap-2">
    <span>compact</span>
    <ids-switch size="compact" [label]="'EXAMPLES.SWITCH.COMMON.LABEL' | translate" [(ngModel)]="compact" />
  </div>

  <div class="grid gap-2">
    <span>comfortable</span>
    <ids-switch size="comfortable" [label]="'EXAMPLES.SWITCH.COMMON.LABEL' | translate" [(ngModel)]="comfortable" />
  </div>

  <div class="grid gap-2">
    <span>spacious</span>
    <ids-switch size="spacious" [label]="'EXAMPLES.SWITCH.COMMON.LABEL' | translate" [(ngModel)]="spacious" />
  </div>
</div>
