<app-tryout [title]="'COMPONENTS.CARD' | translate" [variant]="model.variant" (resetted)="reset()">
  <ng-container component>
    @if (helperModel.clickable) {
      <ids-card
        [appearance]="model.appearance"
        [size]="model.size"
        [variant]="model.variant"
        [orientation]="model.orientation"
        [disabled]="model.disabled"
        (click)="onClick()"
      >
        @if (model.orientation === "vertical") {
          <header idsCardHeader>
            <h2 idsCardTitle>This is the title</h2>
            <h3 idsCardSubtitle>This is the subtitle</h3>
          </header>
        }
        <img
          idsCardMedia
          src="https://images.photowall.com/products/50608/dandelion-meadow.jpg?h=699&q=85"
          alt=""
          [stretch]="mediaModel.stretch"
        />
        <ids-card-body>This is the body</ids-card-body>
        @if (model.orientation === "vertical") {
          <footer idsCardFooter>This is the footer</footer>
        }
      </ids-card>
    } @else {
      <ids-card [appearance]="model.appearance" [size]="model.size" [variant]="model.variant" [orientation]="model.orientation">
        @if (model.orientation === "vertical") {
          <header idsCardHeader>
            <h2 idsCardTitle>This is the title</h2>
            <h3 idsCardSubtitle>This is the subtitle</h3>
          </header>
        }
        <img
          idsCardMedia
          src="https://images.photowall.com/products/50608/dandelion-meadow.jpg?h=699&q=85"
          alt=""
          [stretch]="mediaModel.stretch"
        />
        <ids-card-body>This is the body</ids-card-body>
        @if (model.orientation === "vertical") {
          <footer idsCardFooter>This is the footer</footer>
        }
      </ids-card>
    }
  </ng-container>

  <app-control-table
    controls
    [controlName]="'Card'"
    [configType]="'input'"
    [controlConfig]="_inputControlConfig"
    [(model)]="model"
    (resetted)="reset()"
  />
  <app-control-table
    controls
    [controlName]="'Card media'"
    [configType]="'input'"
    [controlConfig]="_mediaInputControlConfig"
    [(model)]="mediaModel"
    (resetted)="reset()"
  />
  <app-control-table controls [configType]="'helper'" [controlConfig]="_helperControlConfig" [(model)]="helperModel" (resetted)="reset()" />
</app-tryout>
