app-card-demo {
  display: flex;
  gap: 2rem;
  margin: 40px;

  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .ids-card {
    &.ids-card-vertical {
      width: 400px;
    }
    &.ids-card-horizontal {
      width: 600px;
      .ids-card-media {
        width: 400px;
      }
    }
  }
}
