:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

h1 {
  margin-top: 0;
}

.card-demo__container {
  display: flex;
  gap: 2rem;

  form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .ids-card {
    &.ids-card-vertical {
      width: 400px;
    }
    &.ids-card-horizontal {
      width: 600px;
      .ids-card-media {
        width: 400px;
      }
    }
  }
}
