<app-control-tryout>
  <app-control-table
    controls
    [controlName]="'Card'"
    [configType]="'input'"
    [controlConfig]="cardDemoService.inputControlConfig"
    [(model)]="cardDemoService.model"
    (resetted)="cardDemoService.reset()"
  />
  <app-control-table
    controls
    [controlName]="'Card media'"
    [configType]="'input'"
    [controlConfig]="cardDemoService.mediaInputControlConfig"
    [(model)]="cardDemoService.mediaModel"
    (resetted)="cardDemoService.reset()"
  />
  <app-control-table
    controls
    [controlName]="'Card'"
    [configType]="'helper'"
    [controlConfig]="cardDemoService.helperControlConfig"
    [(model)]="cardDemoService.helperModel"
    (resetted)="cardDemoService.reset()"
  />
</app-control-tryout>
