<button
  #button
  type="button"
  [id]="id()"
  [attr.role]="multiSelect() ? 'button' : 'radio'"
  [attr.tabindex]="isDisabled() ? -1 : tabIndex()"
  [attr.aria-pressed]="multiSelect() ? selected : null"
  [attr.aria-checked]="!multiSelect() ? selected : null"
  [disabled]="isDisabled() || null"
  [attr.name]="buttonName()"
  [attr.aria-label]="ariaLabel()"
  [attr.aria-labelledby]="ariaLabelledBy()"
  (click)="onClick()"
>
  @if (selected) {
    <ids-icon [icon]="iconChecked" />
  }
  <ng-content select="ids-icon" />

  <ng-content />

  <ng-content select="[suffixContent]" />
</button>
