<app-demo-and-code (resetDemo)="badgeDemoService.reset()">
  <div demo class="w-full h-full flex justify-center items-center">
    <app-tryout [title]="'COMPONENTS.BADGE' | translate" (resetted)="badgeDemoService.reset()">
      <div component>
        <div
          idsBadge
          [badgeVariant]="badgeDemoService.model.variant"
          [badgeSize]="badgeDemoService.model.size"
          [badgeLabel]="badgeDemoService.model.label"
          [badgeShowLeadingElement]="badgeDemoService.model.hasLeadingIcon"
          [badgeLimit]="badgeDemoService.model.limit"
        >
          @if (badgeDemoService.model.hasLeadingIcon) {
            <ids-icon icon-leading fontIcon="search" />
          }
          Text
        </div>
      </div>
    </app-tryout>
  </div>
  <div controls class="h-full">
    <app-tryout-controls>
      <app-control-table
        controls
        [controlName]="'Badge'"
        [configType]="'input'"
        [controlConfig]="badgeDemoService.inputControlConfig"
        [(model)]="badgeDemoService.model"
        (resetted)="badgeDemoService.reset()"
      />
    </app-tryout-controls>
  </div>
</app-demo-and-code>
