<app-tryout
[title]="'COMPONENTS.BADGE' | translate" (resetted)="badgeDemoService.reset()">
  <div component>
    <div
      idsBadge
      [badgeVariant]="badgeDemoService.model.variant"
      [badgeSize]="badgeDemoService.model.size"
      [badgeLabel]="badgeDemoService.model.label"
      [badgeShowLeadingElement]="badgeDemoService.model.hasLeadingIcon"
      [badgeLimit]="badgeDemoService.model.limit"
    >
      @if (badgeDemoService.model.hasLeadingIcon) {
        <ids-icon
          icon-leading
          fontIcon="search"
        />
      }
      Text
    </div>
  </div>

</app-tryout>
