<app-tryout
[title]="'COMPONENTS.BADGE' | translate" (resetted)="reset()">
  <div component>
    <div
      idsBadge
      [badgeVariant]="model.variant"
      [badgeSize]="model.size"
      [badgeLabel]="model.label"
      [badgeShowLeadingElement]="model.hasLeadingIcon"
      [badgeLimit]="model.limit"
    >
      @if (model.hasLeadingIcon) {
        <ids-icon
          icon-leading
          fontIcon="search"
        />
      }
      Text
    </div>
  </div>

  <app-control-table
    controls
    [controlName]="'Badge'"
    [configType]="'input'"
    [controlConfig]="_inputControlConfig"
    [(model)]="model"
    (resetted)="reset()"
  />
</app-tryout>
