<h2>Buttons</h2>
@for (appearance of appearances; track $index) {
  @for (size of sizes; track $index) {
    @for (variant of variants; track $index) {
      <button
        type="button"
        idsButton
        [id]="appearance + '-' + variant + '-' + size + '-button'"
        [appearance]="appearance"
        [size]="size"
        [variant]="variant"
        (click)="onClick(appearance + '-' + variant + '-' + size)"
      >
        <ids-icon icon-leading aria-hidden="true" alt="" [icon]="mdiSearch" />
        {{ appearance + " " + variant + " " + size }} button
        <ids-icon icon-trailing aria-hidden="true" alt="" [icon]="mdiDone" />
      </button>
    }
  }
}
<h2>Disabled Buttons</h2>
@for (appearance of appearances; track $index) {
  @for (size of sizes; track $index) {
    @for (variant of baseVariants; track $index) {
      <button
        type="button"
        idsButton
        disabled
        [id]="appearance + '-' + variant + '-' + size + '-disabled-button'"
        [appearance]="appearance"
        [size]="size"
        [variant]="variant"
      >
        <ids-icon icon-leading aria-hidden="true" alt="" [icon]="mdiSearch" />
        {{ appearance + " " + variant + " " + size }} button
        <ids-icon icon-trailing aria-hidden="true" alt="" [icon]="mdiDone" />
      </button>
    }
  }
}
