<app-control-tryout>  

  <app-control-table-small
  controls
  [controlName]="'Button'"
  [configType]="'input'"
  [controlConfig]="buttonDemoService.inputControlConfig"
  [(model)]="buttonDemoService.model"
  (resetted)="buttonDemoService.reset()"
  />
  <app-control-table-small
  controls
  [controlName]="'Button'"
  [configType]="'helper'"
  [controlConfig]="buttonDemoService.helperControlConfig"
  [(model)]="buttonDemoService.helperModel"
  (resetted)="buttonDemoService.reset()"
  />
  <app-control-table-small
  controls
  [controlName]="'Button group'"
  [configType]="'input'"
  [controlConfig]="buttonDemoService.groupInputControlConfig"
  [(model)]="buttonDemoService.groupModel"
  (resetted)="buttonDemoService.reset()"
  />
</app-control-tryout>