<div class="flex flex-col gap-4 max-w-xs w-full">
  <nav idsSideNav size="dense">
    <ids-side-nav-section>
      <ids-side-nav-title label="Dense"/>
      <ids-side-nav-item target="components/side-nav/demo" [label]="'EXAMPLES.SIDE_NAV.SIZES.CONTENT.HOME' | translate">
        <ids-icon icon-leading fontIcon="home" />
      </ids-side-nav-item>
      <ids-side-nav-item target="components/button/demo" [label]="'EXAMPLES.SIDE_NAV.SIZES.CONTENT.SEARCH' | translate">
        <ids-icon icon-leading fontIcon="search" />
      </ids-side-nav-item>
    </ids-side-nav-section>
  </nav>
  <nav idsSideNav size="compact">
    <ids-side-nav-section>
      <ids-side-nav-title label="Compact"/>
      <ids-side-nav-item target="components/side-nav/demo" [label]="'EXAMPLES.SIDE_NAV.SIZES.CONTENT.HOME' | translate">
        <ids-icon icon-leading fontIcon="home" />
      </ids-side-nav-item>
      <ids-side-nav-item target="components/button/demo" [label]="'EXAMPLES.SIDE_NAV.SIZES.CONTENT.SEARCH' | translate">
        <ids-icon icon-leading fontIcon="search" />
      </ids-side-nav-item>
    </ids-side-nav-section>
  </nav>
  <nav idsSideNav size="comfortable">
    <ids-side-nav-section>
      <ids-side-nav-title label="Comfortable"/>
      <ids-side-nav-item target="components/side-nav/demo" [label]="'EXAMPLES.SIDE_NAV.SIZES.CONTENT.HOME' | translate">
        <ids-icon icon-leading fontIcon="home" />
      </ids-side-nav-item>
      <ids-side-nav-item target="components/button/demo" [label]="'EXAMPLES.SIDE_NAV.SIZES.CONTENT.SEARCH' | translate">
        <ids-icon icon-leading fontIcon="search" />
      </ids-side-nav-item>
    </ids-side-nav-section>
  </nav>
  <nav idsSideNav size="spacious">
    <ids-side-nav-section>
      <ids-side-nav-title label="Spacious"/>
      <ids-side-nav-item target="components/side-nav/demo" [label]="'EXAMPLES.SIDE_NAV.SIZES.CONTENT.HOME' | translate">
        <ids-icon icon-leading fontIcon="home" />
      </ids-side-nav-item>
      <ids-side-nav-item target="components/button/demo" [label]="'EXAMPLES.SIDE_NAV.SIZES.CONTENT.SEARCH' | translate">
        <ids-icon icon-leading fontIcon="search" />
      </ids-side-nav-item>
    </ids-side-nav-section>
  </nav>
</div>
