.overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
}

.side-sheet-container {
  background-color: aqua;
  display: flex;
  width: var(--comp-size-sidesheet-container-orientation-right-size-width, 320px);
  height: 100%;
  min-height: var(--comp-size-sidesheet-container-orientation-left-size-min-height, 256px);
  padding: var(--comp-size-sidesheet-container-orientation-left-size-padding-y, 24px) var(--comp-size-sidesheet-container-orientation-left-size-padding-x, 24px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--comp-size-sidesheet-container-orientation-left-size-gap, 24px);

  .custom-header-top-row {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &:has(> :nth-child(2)) {
      justify-content: space-between;
    }
  }

  .custom-side-sheet-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.25rem;
  }

  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;

  &.right {
    left: auto;
    right: 0;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  }
}

.side-sheet-container-inline {
  position: sticky;
  top: 0;
  left: 0;
  width: var(--comp-size-sidesheet-container-orientation-right-size-width, 320px);
  height: 100%;
  min-height: var(--comp-size-sidesheet-container-orientation-left-size-min-height, 256px);
  padding: var(--comp-size-sidesheet-container-orientation-left-size-padding-y, 24px) var(--comp-size-sidesheet-container-orientation-left-size-padding-x, 24px);
  background: #fff;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);

  .custom-header-top-row {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &:has(> :nth-child(2)) {
      justify-content: space-between;
    }
  }

  .default-side-sheet-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.25rem;

    .left-content {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .close-btn {
      margin-left: auto;
    }
  }

  &.right {
    left: auto;
    right: 0;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  }
}


.close-btn {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.custom-trigger {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 1;
}


.side-sheet-footer {
  padding-top: 12px;
  border-top: 1px solid gray;
  width: 100%;
}
