<div class="flex flex-col gap-4 items-center">
  <span>filled</span>
  <ids-segmented-control-toggle appearance="filled" [(ngModel)]="filled">
    <ids-segmented-control-toggle-item value="day" [label]="'EXAMPLES.SEGMENTED_CONTROL_TOGGLE.COMMON.DAY' | translate" />
    <ids-segmented-control-toggle-item value="week" [label]="'EXAMPLES.SEGMENTED_CONTROL_TOGGLE.COMMON.WEEK' | translate" />
    <ids-segmented-control-toggle-item value="month" [label]="'EXAMPLES.SEGMENTED_CONTROL_TOGGLE.COMMON.MONTH' | translate" />
  </ids-segmented-control-toggle>

  <span>outlined</span>
  <ids-segmented-control-toggle appearance="outlined" [(ngModel)]="outlined">
    <ids-segmented-control-toggle-item value="day" [label]="'EXAMPLES.SEGMENTED_CONTROL_TOGGLE.COMMON.DAY' | translate" />
    <ids-segmented-control-toggle-item value="week" [label]="'EXAMPLES.SEGMENTED_CONTROL_TOGGLE.COMMON.WEEK' | translate" />
    <ids-segmented-control-toggle-item value="month" [label]="'EXAMPLES.SEGMENTED_CONTROL_TOGGLE.COMMON.MONTH' | translate" />
  </ids-segmented-control-toggle>
</div>
