<app-tryout [title]="'COMPONENTS.TABLE' | translate" (resetted)="_reset()">
  <div component class="table-wrapper">
    <div class="table-master-detail-actions">
      <button idsButton type="button" (click)="table.expandAll()">{{ 'TABLE.BUTTON.EXPAND_DETAILS' | translate }}</button>
      <button idsButton type="button" [variant]="'error'" (click)="table.collapseAll()">{{ 'TABLE.BUTTON.COLLAPSE_DETAILS' | translate }}</button>
    </div>
    <ids-paginator
      [length]="_totalRows()"
      [(pageIndex)]="_currentPageIndex"
      (pageChanged)="_dataSource.page($event)"
    />
    <ids-table
      #table="idsTable"
      [columnDefs]="_colDefs"
      [dataSource]="_dataSource"
      [appearance]="_model.appearance"
      [size]="_model.size"
      [variant]="_model.variant"
      [enableRowSelection]="_model.enableRowSelection"
      [enableSorting]="_model.enableSorting"
      [masterDetail]="_model.masterDetail"
      [showDetailHeader]="_model.showDetailHeader"
      [detailTemplateName]="'customDetailTemplate'"
      [detailStickyColumns]="_model.detailStickyColumns"
      [hasDetailRow]="_hasDetailRow"
      [withBorder]="_model.withBorder"
      (sortChange)="_dataSource.sort($event)"
      (cellClick)="onCellClick()"
      (rowClick)="onRowClick()"
      (rowKeydown)="onRowKeydown($event)"
      (contentChanged)="onContentChanged()"
    >
      <span *idsCellTemplate="'symbol'; let row" class="ids-table-cell-template-translate2">{{ row.symbol }}</span>
      <ng-template let-value="cellValue" idsCellTemplate="translate1">
        <span class="ids-table-cell-template-translate1">{{ value | translate }}</span>
      </ng-template>
      <span *idsCellTemplate="'translate2'; let value=cellValue" class="ids-table-cell-template-translate2">{{ value | translate }}</span>
      <span *idsCellTemplate="'customDetailTemplate'; let row" class="ids-table-cell-template-detail">{{ row?.summary }}</span>
    </ids-table>
    <ids-paginator
      [length]="_totalRows()"
      [(pageIndex)]="_currentPageIndex"
      (pageChanged)="_dataSource.page($event)"
    />
  </div>

  <app-control-table
    controls
    [controlName]="'Table'"
    [configType]="'input'"
    [controlConfig]="_inputControlConfig"
    [(model)]="_model"
    (resetted)="_reset()"
  />
</app-tryout>
