<app-control-tryout>
  <app-control-table
    controls
    [controlName]="'Scrollbar'"
    [configType]="'input'"
    [controlConfig]="scrollbarDemoService.controlConfig"
    [(model)]="scrollbarDemoService.model"
    (resetted)="scrollbarDemoService.reset()"
  />
  <app-control-table
    controls
    [controlName]="'Scrollbar'"
    [configType]="'helper'"
    [controlConfig]="scrollbarDemoService.helperControlConfig"
    [(model)]="scrollbarDemoService.helperModel"
    (resetted)="scrollbarDemoService.reset()"
  />
</app-control-tryout>
