<div class="ids-form-field__wrapper">
  <label [for]="inputId()">
    <ng-content select="ids-label" />
    @if (hasRequiredValidator) {
      <span class="ids-form-field__required-marker"></span>
    }
  </label>

  <div class="ids-form-field__fix-container">
    <div class="ids-form-field__icon-prefix">
      <ng-content select="[idsPrefix], [idsIconPrefix]" />
    </div>
    <div class="ids-form-field__text-prefix">
      <ng-content select="[idsTextPrefix]" />
    </div>
    <div class="ids-form-field__infix">
      <ng-content />
    </div>
    <div class="ids-form-field__text-suffix">
      <ng-content select="[idsTextSuffix]" />
    </div>
    <div class="ids-form-field__icon-suffix">
      <ng-content select="[idsSuffix], [idsIconSuffix]" />
    </div>
  </div>
</div>

<div class="ids-form-field__subscript-wrapper">
  @if (displayedMessages; as messages) {
    <div class="ids-form-field__message-container">
      @switch (messages) {
        @case ("error") {
          <ng-content select="ids-error-message" />
        }
        @case ("hint") {
          <ng-content select="ids-hint-message" />
        }
      }
    </div>
  }
</div>
