$sizes: compact, comfortable, spacious, dense;
$variants: surface, light;

.ids-form-field {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;

  & > .ids-form-field__label {
    flex: 1 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: normal;
  }

  & > .ids-form-field__field-wrapper {
    display: flex;
    align-items: center;
    align-self: stretch;
    flex-shrink: 0;
    border-style: solid;

    & > .ids-form-field__field-wrapper__container {
      display: flex;
      align-items: center;
      flex: 1 0 0;

      & > .ids-form-field__leading-icon,
      & > .ids-form-field__prefix,
      & > .ids-form-field__duffix,
      & > .ids-form-field__trailing-icon {
        display: flex;
        align-items: center;
      }

      & > .ids-form-field__infox {
        display: flex;
        align-items: center;
        flex: 1 0 0;
      }
    }

    & > .ids-form-field__field-wrapper__action {
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: stretch;
      border-style: solid;
    }
  }

  @each $size in $sizes {
    &.ids-form-field-#{$size} {
      gap: var(--ids-comp-forms-field-standard-size-gap-#{$size});

      & > .ids-form-field__label {
        padding: var(--ids-comp-forms-form-field-standard-label-size-padding-y-#{$size}) 0px;
        font-family: var(--ids-comp-forms-form-field-standard-label-typography-font-family-#{$size});
        font-size: var(--ids-comp-forms-form-field-standard-label-typography-font-size-#{$size});
        font-weight: var(--ids-comp-forms-form-field-standard-label-typography-font-weight-#{$size});
        letter-spacing: var(--ids-comp-forms-form-field-standard-label-typography-letter-spacing-#{$size});
        line-height: var(--ids-comp-forms-form-field-standard-label-typography-line-height-#{$size});
      }

      & > .ids-form-field__field-wrapper {
        min-height: var(--ids-comp-forms-form-field-standard-field-wrapper-size-height-#{$size});
        padding: var(--ids-comp-forms-form-field-standard-field-wrapper-size-padding-y-#{$size})
          var(--ids-comp-forms-form-field-standard-field-wrapper-size-padding-x-#{$size});
        gap: var(--ids-comp-forms-form-field-standard-field-wrapper-size-gap-#{$size});
        border-radius: var(--ids-comp-forms-form-field-standard-field-wrapper-size-border-radius-#{$size});
        border-width: var(--ids-comp-forms-form-field-standard-field-wrapper-size-border-width-#{$size});

        & > .ids-form-field__field-wrapper__container {
          padding: var(--ids-comp-forms-form-field-standard-field-wrapper-container-size-padding-y-#{$size})
            var(--ids-comp-forms-form-field-standard-field-wrapper-container-size-padding-x-#{$size});
          gap: var(--ids-comp-forms-form-field-standard-field-wrapper-container-size-gap-#{$size});

          & > .ids-form-field__leading-icon .ids-icon {
            height: var(--ids-comp-forms-form-field-standard-field-wrapper-leading-icon-size-height-#{$size});
            width: var(--ids-comp-forms-form-field-standard-field-wrapper-leading-icon-size-width-#{$size});
          }

          & > .ids-form-field__prefix {
            font-family: var(--ids-comp-forms-form-field-standard-field-wrapper-prefix-typography-font-family-#{$size});
            font-size: var(--ids-comp-forms-form-field-standard-field-wrapper-prefix-typography-font-size-#{$size});
            font-weight: var(--ids-comp-forms-form-field-standard-field-wrapper-prefix-typography-font-weight-#{$size});
            letter-spacing: var(--ids-comp-forms-form-field-standard-field-wrapper-prefix-typography-letter-spacing-#{$size});
            line-height: var(--ids-comp-forms-form-field-standard-field-wrapper-prefix-typography-line-height-#{$size});
          }

          & > .ids-form-field__infix {
            font-family: var(--ids-comp-forms-form-field-standard-field-wrapper-input-typography-filled-font-family-#{$size});
            font-size: var(--ids-comp-forms-form-field-standard-field-wrapper-input-typography-filled-font-size-#{$size});
            font-weight: var(--ids-comp-forms-form-field-standard-field-wrapper-input-typography-filled-font-weight-#{$size});
            letter-spacing: var(--ids-comp-forms-form-field-standard-field-wrapper-input-typography-filled-letter-spacing-#{$size});
            line-height: var(--ids-comp-forms-form-field-standard-field-wrapper-input-typography-filled-line-height-#{$size});

            input::placeholder {
              font-family: var(--ids-comp-forms-form-field-standard-field-wrapper-input-typography-empty-font-family-#{$size});
              font-size: var(--ids-comp-forms-form-field-standard-field-wrapper-input-typography-empty-font-size-#{$size});
              font-weight: var(--ids-comp-forms-form-field-standard-field-wrapper-input-typography-empty-font-weight-#{$size});
              letter-spacing: var(--ids-comp-forms-form-field-standard-field-wrapper-input-typography-empty-letter-spacing-#{$size});
              line-height: var(--ids-comp-forms-form-field-standard-field-wrapper-input-typography-empty-line-height-#{$size});
            }
          }

          & > .ids-form-field__suffix {
            font-family: var(--ids-comp-forms-form-field-standard-field-wrapper-suffix-typography-font-family-#{$size});
            font-size: var(--ids-comp-forms-form-field-standard-field-wrapper-suffix-typography-font-size-#{$size});
            font-weight: var(--ids-comp-forms-form-field-standard-field-wrapper-suffix-typography-font-weight-#{$size});
            letter-spacing: var(--ids-comp-forms-form-field-standard-field-wrapper-suffix-typography-letter-spacing-#{$size});
            line-height: var(--ids-comp-forms-form-field-standard-field-wrapper-suffix-typography-line-height-#{$size});
          }

          & > .ids-form-field__trailing-icon .ids-icon {
            height: var(--ids-comp-forms-form-field-standard-field-wrapper-trailing-icon-size-height-#{$size});
            width: var(--ids-comp-forms-form-field-standard-field-wrapper-trailing-icon-size-width-#{$size});
          }
        }

        & > .ids-form-field__field-wrapper__action {
          padding: 0px
            var(--ids-comp-forms-form-field-standard-field-wrapper-action-size-padding-right-#{$size})
            0px
            var(--ids-comp-forms-form-field-standard-field-wrapper-action-size-padding-left-#{$size});
          border-left-width: var(--ids-comp-forms-form-field-standard-field-wrapper-action-size-border-left-#{$size});
        }
      }
    }
  }

  @each $variant in $variants {
    &.ids-form-field-#{$variant} {
      & > .ids-form-field__label {
        color: var(--ids-comp-forms-form-field-standard-label-color-fg-#{$variant}-default);
      }

      & > .ids-form-field__field-wrapper {
        border-color: var(--ids-comp-forms-form-field-standard-field-wrapper-container-color-border-#{$variant}-default);
        background: var(--ids-comp-forms-form-field-standard-field-wrapper-container-color-bg-#{$variant}-default);

        & > .ids-form-field__field-wrapper__container {
          & > .ids-form-field__leading-icon .ids-icon {
            color: var(--ids-comp-forms-form-field-standard-field-wrapper-leading-icon-color-fg-#{$variant}-default);
          }

          & > .ids-form-field__prefix {
            color: var(--ids-comp-forms-form-field-standard-field-wrapper-prefix-color-fg-#{$variant}-default);
          }

          & > .ids-form-field__infix {
            color: var(--ids-comp-forms-form-field-standard-field-wrapper-input-filled-color-fg-#{$variant}-default);

            input::placeholder {
              color: var(--ids-comp-forms-form-field-standard-field-wrapper-input-empty-color-fg-#{$variant}-default);
            }
          }

          & > .ids-form-field__suffix {
            color: var(--ids-comp-forms-form-field-standard-field-wrapper-suffix-color-fg-#{$variant}-default);
          }

          & > .ids-form-field__trailing-icon .ids-icon {
            color: var(--ids-comp-forms-form-field-standard-field-wrapper-trailing-icon-color-fg-#{$variant}-default);
          }
        }

        & > .ids-form-field__field-wrapper__action {
          border-left-color: var(--ids-comp-forms-form-field-standard-field-wrapper-action-color-border-#{$variant}-default);
          background: var(--ids-comp-forms-form-field-standard-field-wrapper-action-color-bg-#{$variant}-default);
        }
      }
    }
  }
}
