<app-tryout [title]="'COMPONENTS.TAB' | translate" [hasDarkBackground]="model.variant === 'light'" (resetted)="reset()">
  <ng-container component>
    <ids-tab-group
      [size]="model.size"
      [variant]="model.variant"
      [orientation]="model.orientation"
      [stretchTabs]="model.stretchTabs"
      [tabPosition]="model.tabPosition"
      [indicatorPosition]="model.indicatorPosition"
      [disabled]="model.disabled"
    >
      <ids-tab
        [label]="helperModel.tabItem1Label"
        [leadingIcon]="helperModel.tabItem1LeadingIcon"
        [trailingIcon]="helperModel.tabItem1TrailingIcon"
        [disabled]="helperModel.tabItem1Disabled"
      >
        Tab Content 1
      </ids-tab>
      <ids-tab
        [label]="helperModel.tabItem2Label"
        [leadingIcon]="helperModel.tabItem2LeadingIcon"
        [trailingIcon]="helperModel.tabItem2TrailingIcon"
        [disabled]="helperModel.tabItem2Disabled"
      >
        Tab Content 2
      </ids-tab>
      <ids-tab
        [label]="helperModel.tabItem3Label"
        [leadingIcon]="helperModel.tabItem3LeadingIcon"
        [trailingIcon]="helperModel.tabItem3TrailingIcon"
        [disabled]="helperModel.tabItem3Disabled"
      >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum consequuntur voluptas numquam omnis dolorum iure, odio debitis sequi
        aut fugit magni, ullam eos natus quibusdam, ratione at repellendus harum eum.
      </ids-tab>
    </ids-tab-group>
  </ng-container>

  <app-control-table controls [configType]="'input'" [controlConfig]="_inputControlConfig" [(model)]="model" (resetted)="reset()" />
  <app-control-table controls [configType]="'helper'" [controlConfig]="_helperControlConfig" [(model)]="helperModel" (resetted)="reset()" />
</app-tryout>
