<app-control-tryout>
  <app-control-table
    controls
    [configType]="'input'"
    [controlConfig]="tabDemoService.inputControlConfig"
    [(model)]="tabDemoService.model"
    (resetted)="tabDemoService.reset()"
  />
  @if (tabDemoService.isLoaded()) {
    <app-control-table
      controls
      [configType]="'helper'"
      [controlConfig]="tabDemoService.helperControlConfig()"
      [(model)]="tabDemoService.helperModel"
      (resetted)="tabDemoService.reset()"
    />
  } @else {
    <div>Loading...</div>
  }
</app-control-tryout>
