:host {
  .no-padding & {
    padding: 0;
  }
}

.hero {
  background: var(--smc-colors-surface-darker-10, #f1f5f9);
}

.back {
  position: absolute;
  top: 18px;
  left: 32px;
}

.gradient-outline-blue {
  border: 1rem solid transparent;
  border-radius: 50em;
  background:
    linear-gradient(#f1f5f9, #f1f5f9) padding-box,
    linear-gradient(180deg, #6488ff, transparent) border-box;
}

.glassy-bg-on-light-lighter {
  background: linear-gradient(180deg, #ffffff08, #fff0);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow:
    inset 0 0 40px #ffffff4d,
    inset 0 2.268px 2.268px #fffc;
}

.content-title {
  color: var(--smc-reference-container-color-fg-surface-darker-70, #334155);

  /* ids/display/medium/prominent */
  font-family: Montserrat;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 115.556% */
  text-transform: uppercase;
}
