<button
  type="button"
  idsIconButton
  allowCustomContent
  aria-haspopup="true"
  [size]="'dense'"
  [variant]="'surface'"
  [disabled]="_parent.disabled()"
  [attr.aria-label]="ariaLabel() || _intl.triggerButtonLabel"
  [attr.aria-expanded]="datepicker() ? datepicker().opened() : null"
  (click)="datepicker().open()"
>
  <ng-content select="[slot='icon']">
    <ids-icon aria-hidden="true" fontIcon="calendar-month-outline" [attr.alt]="ariaLabel() || _intl.triggerButtonLabel" />
  </ng-content>
</button>
