<div class="flex flex-col gap-4 max-w-xl">
  <div class="grid gap-2">
    <span>dense</span>
    <ids-divider variant="primary" width="100%" size="dense" />
  </div>
  <div class="grid gap-2">
    <span>compact</span>
    <ids-divider variant="primary" width="100%" size="compact" />
  </div>
  <div class="grid gap-2">
    <span>comfortable</span>
    <ids-divider variant="primary" width="100%" size="comfortable" />
  </div>
  <div class="grid gap-2">
    <span>spacious</span>
    <ids-divider variant="primary" width="100%" size="spacious" />
  </div>
</div>
