$sizes: compact, comfortable, spacious, dense;
$variants: dark, info, success, error, warning;

.ids-snackbar-group {
  display: flex;

  &.ids-snackbar-group-position {
    &-top-left,
    &-top-center,
    &-top-right {
      flex-direction: column-reverse;
      &.ids-snackbar-group-newest-at-start {
        flex-direction: column;
      }
    }
    &-bottom-left,
    &-bottom-center,
    &-bottom-right {
      flex-direction: column;
      &.ids-snackbar-group-newest-at-start {
        flex-direction: column-reverse;
      }
    }
  }

  @each $size in $sizes {
    &.ids-snackbar-group-#{$size} {
      gap: var(--ids-comp-snackbar-group-container-size-gap-comfortable);
    }
  }
}
