<div class="ids-snackbar__content-wrapper" cdkTrapFocus cdkTrapFocusAutoCapture="true">
  @let safeIcon = _safeIcon();
  @if (safeIcon) {
    <div class="ids-snackbar__leading-element">
      <ids-icon [fontIcon]="safeIcon" />
    </div>
  }

  <div class="ids-snackbar__message-action-container">
    <div class="ids-snackbar__message">{{ message() }}</div>
    <div class="ids-snackbar__action">
      @for (action of actions(); track $index) {
        <button
          type="button"
          idsButton
          [size]="_size.COMPACT"
          [appearance]="buttonAppearance.OUTLINED"
          [variant]="_buttonVariant()"
          (click)="callAction(action.action)"
        >
          {{ action.label }}
        </button>
      }
      @let safeCloseButtonLabel = allowDismiss() && closeButtonLabel();
      @if (safeCloseButtonLabel) {
        <button
          type="button"
          role="button"
          aria-label="Close notification"
          idsButton
          [size]="_size.COMPACT"
          [appearance]="buttonAppearance.OUTLINED"
          [variant]="_buttonVariant()"
          (click)="close()"
        >
          {{ safeCloseButtonLabel }}
        </button>
      }
    </div>
  </div>

  @if (allowDismiss() && !closeButtonLabel()) {
    <button
      type="button"
      role="button"
      aria-label="Close notification"
      idsIconButton
      [size]="_size.COMPACT"
      [appearance]="iconButtonAppearance.STANDARD"
      [variant]="_buttonVariant()"
      (click)="close()"
    >
      <ids-icon aria-hidden="true" alt="" fontIcon="close" />
    </button>
  }
</div>
