<div class="flex flex-col gap-ids-container-gap-4">
  <div class="flex gap-ids-container-gap-4 items-center">
    <ids-avatar sizeCollection="small" size="dense" initials="DS" />
    <ids-avatar sizeCollection="small" size="compact" initials="CT" />
    <ids-avatar sizeCollection="small" size="comfortable" initials="CF" />
    <ids-avatar sizeCollection="small" size="spacious" initials="SP" />
  </div>
  <div class="flex gap-ids-container-gap-4 items-center">
    <ids-avatar sizeCollection="big" size="dense" initials="DS" />
    <ids-avatar sizeCollection="big" size="compact" initials="CT" />
    <ids-avatar sizeCollection="big" size="comfortable" initials="CF" />
    <ids-avatar sizeCollection="big" size="spacious" initials="SP" />
  </div>
</div>
