<app-control-tryout>
  @if (notificationDemoService.isLoaded()) {
    <app-control-table
      controls
      [configType]="'input'"
      [controlConfig]="notificationDemoService.inputControlConfig()"
      [(model)]="notificationDemoService.model"
      (resetted)="notificationDemoService.reset()"
    />
  } @else {
    <div>Loading...</div>
  }
  <app-control-table
    controls
    [configType]="'helper'"
    [controlConfig]="notificationDemoService.helperControlConfig"
    [(model)]="notificationDemoService.helperModel"
    (resetted)="notificationDemoService.reset()"
  />
</app-control-tryout>
