<app-demo-and-code (resetDemo)="notificationDemoService.reset()">
  <div demo class="w-full h-full flex justify-center items-center">
    <app-tryout
      [title]="'COMPONENTS.NOTIFICATION' | translate"
      [hasDarkBackground]="notificationDemoService.model.variant === 'light'"
      (resetted)="notificationDemoService.reset()"
    >
      <ng-container component>
        @if (notificationDemoService.displayComponent()) {
          <ids-notification
            [appearance]="notificationDemoService.model.appearance"
            [variant]="notificationDemoService.model.variant"
            [size]="notificationDemoService.model.size"
            [icon]="notificationDemoService.model.icon"
            [title]="notificationDemoService.model.title"
            [closeButtonSize]="notificationDemoService.model.closeButtonSize"
            [closeButtonLabel]="notificationDemoService.model.closeButtonLabel"
            [closeLabelButtonAppearance]="notificationDemoService.model.closeLabelButtonAppearance"
            [urgent]="notificationDemoService.model.urgent"
            [displayActionsAtBottom]="notificationDemoService.model.displayActionsAtBottom"
            (closed)="notificationDemoService.delete()"
          >
            This is a notification with a long content and an action. Notice how the text wraps to multiple lines when the max-width is
            reached.
            @if (notificationDemoService.helperModel.showAction1Button) {
              <button
                type="button"
                idsButton
                idsNotificationActionButton
                [appearance]="notificationDemoService.helperModel.action1Appearance"
                [size]="notificationDemoService.helperModel.action1Size"
                [disabled]="notificationDemoService.helperModel.action1Disabled"
                (click)="
                  notificationDemoService.onClick(
                    notificationDemoService.helperModel.action1Appearance + '-' + notificationDemoService.helperModel.action1Size
                  )
                "
              >
                @if (notificationDemoService.helperModel.action1HasLeadingIcon) {
                  <ids-icon icon-leading fontIcon="search" />
                }
                {{ notificationDemoService.helperModel.action1Text }}
                @if (notificationDemoService.helperModel.action1HasTrailingIcon) {
                  <ids-icon icon-trailing fontIcon="done" />
                }
              </button>
            }
            @if (notificationDemoService.helperModel.showAction2Button) {
              <button
                type="button"
                idsButton
                idsNotificationActionButton
                [appearance]="notificationDemoService.helperModel.action2Appearance"
                [size]="notificationDemoService.helperModel.action2Size"
                [disabled]="notificationDemoService.helperModel.action2Disabled"
                (click)="
                  notificationDemoService.onClick(
                    notificationDemoService.helperModel.action2Appearance + '-' + notificationDemoService.helperModel.action2Size
                  )
                "
              >
                @if (notificationDemoService.helperModel.action2HasLeadingIcon) {
                  <ids-icon icon-leading fontIcon="search" />
                }
                {{ notificationDemoService.helperModel.action2Text }}
                @if (notificationDemoService.helperModel.action2HasTrailingIcon) {
                  <ids-icon icon-trailing fontIcon="done" />
                }
              </button>
            }
          </ids-notification>
        } @else {
          <button type="button" idsButton (click)="notificationDemoService.onRestoreButtonClick()">Restore notification</button>
        }
      </ng-container>
    </app-tryout>
  </div>

  <div controls class="h-full">
    <app-tryout-controls>
      @if (notificationDemoService.isLoaded()) {
        <app-control-table
          controls
          [configType]="'input'"
          [controlConfig]="notificationDemoService.inputControlConfig()"
          [(model)]="notificationDemoService.model"
          (resetted)="notificationDemoService.reset()"
        />
      } @else {
        <div>Loading...</div>
      }
      <app-control-table
        controls
        [configType]="'helper'"
        [controlConfig]="notificationDemoService.helperControlConfig"
        [(model)]="notificationDemoService.helperModel"
        (resetted)="notificationDemoService.reset()"
      />
    </app-tryout-controls>
  </div>
</app-demo-and-code>
