<div class="flex flex-col gap-8">
  <div class="grid gap-2">
    <span>{{ "EXAMPLES.SNACKBAR.DISMISS.CONTENT.WITH_ICON_BUTTON" | translate }}</span>
    <button type="button" idsButton (click)="_openWithIconClose()">
      {{ "EXAMPLES.SNACKBAR.COMMON.OPEN" | translate }}
    </button>
  </div>

  <div class="grid gap-2">
    <span>{{ "EXAMPLES.SNACKBAR.DISMISS.CONTENT.WITH_LABEL_BUTTON" | translate }}</span>
    <button type="button" idsButton (click)="_openWithLabelClose()">
      {{ "EXAMPLES.SNACKBAR.COMMON.OPEN" | translate }}
    </button>
  </div>
</div>
