<nav idsSideNav>
  <ids-side-nav-section>
    <ids-side-nav-title [label]="'EXAMPLES.SIDE_NAV.NESTED.CONTENT.SECTION' | translate"/>
    <ids-side-nav-item target="components/side-nav/demo" [label]="'EXAMPLES.SIDE_NAV.NESTED.CONTENT.HOME' | translate">
      <ids-icon icon-leading fontIcon="home" />
    </ids-side-nav-item>
    <ids-side-nav-item [label]="'EXAMPLES.SIDE_NAV.NESTED.CONTENT.COMPONENTS' | translate" [expanded]="true">
      <ids-icon icon-leading fontIcon="more-horiz" />
      <ids-side-nav-item target="components/avatar/demo" [label]="'EXAMPLES.SIDE_NAV.NESTED.CONTENT.AVATAR' | translate">
        <ids-icon icon-leading fontIcon="account" />
      </ids-side-nav-item>
      <ids-side-nav-item target="components/button/demo" [label]="'EXAMPLES.SIDE_NAV.NESTED.CONTENT.SEARCH' | translate">
        <ids-icon icon-leading fontIcon="search" />
      </ids-side-nav-item>
      <ids-side-nav-item target="components/side-nav/demo" [label]="'EXAMPLES.SIDE_NAV.NESTED.CONTENT.SIDE_NAV' | translate">
        <ids-icon icon-leading fontIcon="menu" />
      </ids-side-nav-item>
    </ids-side-nav-item>
  </ids-side-nav-section>
</nav>
