<div class="flex flex-col gap-8 w-full">
  <div class="grid gap-2">
    <span>primary</span>
    <ids-paginator variant="primary" [length]="120" />
  </div>

  <div class="grid gap-2">
    <span>secondary</span>
    <ids-paginator variant="secondary" [length]="120" />
  </div>

  <div class="grid gap-2">
    <span>surface</span>
    <ids-paginator variant="surface" [length]="120" />
  </div>

  <div class="grid gap-2">
    <span>light</span>
    <div class="bg-black">
      <ids-paginator variant="light" [length]="120" />
    </div>
  </div>
</div>
