<app-control-tryout>
    <app-control-table-small
    controls
    [controlName]="'SideNav'"
    [configType]="'input'"
    [controlConfig]="_sideNavDemoService.sideNavInputControlConfig"
    [(model)]="_sideNavDemoService.model"
    (resetted)="_sideNavDemoService.reset()"
  />
  <app-control-table-small
    controls
    [controlName]="'SideNav'"
    [configType]="'helper'"
    [controlConfig]="_sideNavDemoService.helperControlConfig"
    [(model)]="_sideNavDemoService.helperModel"
    (resetted)="_sideNavDemoService.reset()"
  />
</app-control-tryout>