<app-tryout [title]="'COMPONENTS.SIDE_NAV' | translate" [hasDarkBackground]="model.variant === 'light'" (resetted)="reset()">
  <ng-container component>
    <nav
      idsSideNav
      [appearance]="model.appearance"
      [size]="model.size"
      [variant]="model.variant"
      [hasActiveIndicator]="helperModel.hasActiveIndicator"
      [hasLabel]="helperModel.hasLabel"
      [hasTooltip]="helperModel.hasTooltip"
    >
      <!-- initiate sections, title and items using side-nav related component selectors... -->
      <ids-side-nav-section>
        <ids-side-nav-title label="Built with component selectors">
          @if (helperModel.hasLeadingIcon) {
            <ids-icon icon-leading fontIcon="moon" />
          }
          @if (helperModel.hasTrailingIcon) {
            <ids-icon icon-trailing fontIcon="moon" />
          }
        </ids-side-nav-title>
        <ids-side-nav-item label="Design Tokens" target="design-tokens" [disabled]="helperModel.disabled">
          @if (helperModel.hasLeadingIcon) {
            <ids-icon icon-leading fontIcon="adjustments-horizontal" />
          }
          @if (helperModel.hasTrailingIcon) {
            <ids-icon icon-trailing fontIcon="adjustments-horizontal" />
          }
        </ids-side-nav-item>
        <ids-side-nav-item label="Home" target="/" [disabled]="helperModel.disabled">
          @if (helperModel.hasLeadingIcon) {
            <ids-icon icon-leading fontIcon="home-filled" />
          }
          @if (helperModel.hasTrailingIcon) {
            <ids-icon icon-trailing fontIcon="home-filled" />
          }
        </ids-side-nav-item>
        <ids-side-nav-item label="Components" target="components" [disabled]="helperModel.disabled">
          @if (helperModel.hasLeadingIcon) {
            <ids-icon icon-leading fontIcon="more-horizontal" />
          }
          @if (helperModel.hasTrailingIcon) {
            <ids-icon icon-trailing fontIcon="more-horizontal" />
          }
          <ids-side-nav-item [label]="helperModel.text" [target]="helperModel.target" [disabled]="helperModel.disabled">
            @if (helperModel.hasLeadingIcon) {
              <ids-icon icon-leading fontIcon="question-mark-circle-filled" />
            }
            @if (helperModel.hasTrailingIcon) {
              <ids-icon icon-trailing fontIcon="question-mark-circle-filled" />
            }
          </ids-side-nav-item>
          <ids-side-nav-item label="Avatar" target="components/avatar" [disabled]="helperModel.disabled">
            @if (helperModel.hasLeadingIcon) {
              <ids-icon icon-leading fontIcon="user" />
            }
            @if (helperModel.hasTrailingIcon) {
              <ids-icon icon-trailing fontIcon="user" />
            }
          </ids-side-nav-item>
          <ids-side-nav-item label="Side Navigation" target="components/side-nav" [disabled]="helperModel.disabled">
            @if (helperModel.hasLeadingIcon) {
              <ids-icon icon-leading fontIcon="bars-3" />
            }
            @if (helperModel.hasTrailingIcon) {
              <ids-icon icon-trailing fontIcon="bars-3" />
            }
          </ids-side-nav-item>
        </ids-side-nav-item>
      </ids-side-nav-section>

      <!-- ...OR... -->

      <!-- ...use with semantic elements (as list) -->
      <ul idsSideNavSection>
        <li idsSideNavTitle label="Built with semantic elements">
          @if (helperModel.hasLeadingIcon) {
            <ids-icon icon-leading fontIcon="sun" />
          }
          @if (helperModel.hasTrailingIcon) {
            <ids-icon icon-trailing fontIcon="sun" />
          }
        </li>
        <li idsSideNavItem label="Design Tokens" target="design-tokens" [disabled]="helperModel.disabled">
          @if (helperModel.hasLeadingIcon) {
            <ids-icon icon-leading fontIcon="adjustments-horizontal" />
          }
          @if (helperModel.hasTrailingIcon) {
            <ids-icon icon-trailing fontIcon="adjustments-horizontal" />
          }
        </li>
        <li idsSideNavItem label="Home" target="/" [disabled]="helperModel.disabled">
          @if (helperModel.hasLeadingIcon) {
            <ids-icon icon-leading fontIcon="home-filled" />
          }
          @if (helperModel.hasTrailingIcon) {
            <ids-icon icon-trailing fontIcon="home-filled" />
          }
        </li>
        <li idsSideNavItem label="Components" target="components" [disabled]="helperModel.disabled">
          @if (helperModel.hasLeadingIcon) {
            <ids-icon icon-leading fontIcon="more-horizontal" />
          }
          @if (helperModel.hasTrailingIcon) {
            <ids-icon icon-trailing fontIcon="more-horizontal" />
          }
          <!-- in this case children should be listed in a template, marked with '#idsSideNavItemChildren' variable name-->
          <ng-template #idsSideNavItemChildren>
            <li idsSideNavItem [label]="helperModel.text" [target]="helperModel.target" [disabled]="helperModel.disabled">
              @if (helperModel.hasLeadingIcon) {
                <ids-icon icon-leading fontIcon="question-mark-circle-filled" />
              }
              @if (helperModel.hasTrailingIcon) {
                <ids-icon icon-trailing fontIcon="question-mark-circle-filled" />
              }
            </li>
            <li idsSideNavItem label="Avatar" target="components/avatar" [disabled]="helperModel.disabled">
              @if (helperModel.hasLeadingIcon) {
                <ids-icon icon-leading fontIcon="user" />
              }
              @if (helperModel.hasTrailingIcon) {
                <ids-icon icon-trailing fontIcon="user" />
              }
            </li>
            <li idsSideNavItem label="Side Navigation" target="components/side-nav" [disabled]="helperModel.disabled">
              @if (helperModel.hasLeadingIcon) {
                <ids-icon icon-leading fontIcon="bars-3" />
              }
              @if (helperModel.hasTrailingIcon) {
                <ids-icon icon-trailing fontIcon="bars-3" />
              }
            </li>
          </ng-template>
        </li>
      </ul>
    </nav>
  </ng-container>

  <app-control-table
    controls
    [controlName]="'SideNav'"
    [configType]="'input'"
    [controlConfig]="_sideNavInputControlConfig"
    [(model)]="model"
    (resetted)="reset()"
  />
  <app-control-table
    controls
    [controlName]="'SideNav'"
    [configType]="'helper'"
    [controlConfig]="_helperControlConfig"
    [(model)]="helperModel"
    (resetted)="reset()"
  />
</app-tryout>
