<div class="flex flex-col gap-8 max-w-md w-full">
  <div style="padding: 10px;">
    <fieldset idsFieldset variant="surface" [legend]="'EXAMPLES.FIELDSET.VARIANTS.CONTENT.SURFACE_LEGEND' | translate">
      <ids-fieldset-row>
        <ids-form-field>
          <ids-label>{{ "EXAMPLES.FIELDSET.VARIANTS.CONTENT.EMAIL" | translate }}</ids-label>
          <input idsInput type="email" [(ngModel)]="email" />
        </ids-form-field>
      </ids-fieldset-row>
    </fieldset>
  </div>
  <div style="background-color: black; padding: 10px;">
    <fieldset idsFieldset variant="light" [legend]="'EXAMPLES.FIELDSET.VARIANTS.CONTENT.LIGHT_LEGEND' | translate">
      <ids-fieldset-row>
        <ids-form-field>
          <ids-label>{{ "EXAMPLES.FIELDSET.VARIANTS.CONTENT.EMAIL" | translate }}</ids-label>
          <input idsInput type="email" [(ngModel)]="email" />
        </ids-form-field>
      </ids-fieldset-row>
    </fieldset>
  </div>
</div>
