<app-demo-and-code (resetDemo)="switchDemoService.reset()">
  <div demo class="w-full h-full flex justify-center items-center">
    <app-tryout
      [title]="'COMPONENTS.SWITCH' | translate"
      [hasDarkBackground]="switchDemoService.model.variant === 'light'"
      (resetted)="switchDemoService.reset()"
    >
      <div component class="switch-grid">
        <div class="switch-item">
          <h2>{{ "COMMON.STANDALONE" | translate }}</h2>
          <ids-switch
            [label]="switchDemoService.model.label"
            [readonly]="switchDemoService.model.readonly"
            [size]="switchDemoService.model.size"
            [variant]="switchDemoService.model.variant"
            [hasIcon]="switchDemoService.model.hasIcon"
            [iconPosition]="switchDemoService.model.iconPosition"
            [labelPosition]="switchDemoService.model.labelPosition"
            [disabled]="switchDemoService.model.disabled"
            [aria-label]="switchDemoService.model['aria-label']"
            [aria-labelledby]="switchDemoService.model['aria-labelledby']"
            [aria-describedby]="switchDemoService.model['aria-describedby']"
            [(ngModel)]="switchDemoService.value"
          />
        </div>
        <div class="switch-item">
          <h2>{{ "COMMON.GROUPED" | translate }}</h2>
          <ids-switch-group
            [size]="switchDemoService.groupModel.size"
            [hasIcon]="switchDemoService.groupModel.hasIcon"
            [iconPosition]="switchDemoService.groupModel.iconPosition"
            [labelPosition]="switchDemoService.groupModel.labelPosition"
          >
            <ids-switch
              [label]="switchDemoService.model.label"
              [readonly]="switchDemoService.model.readonly"
              [variant]="switchDemoService.model.variant"
              [disabled]="switchDemoService.model.disabled"
              [aria-label]="switchDemoService.model['aria-label']"
              [aria-labelledby]="switchDemoService.model['aria-labelledby']"
              [aria-describedby]="switchDemoService.model['aria-describedby']"
              [(ngModel)]="switchDemoService.groupValue[0]"
            />
            <ids-switch
              [label]="switchDemoService.model.label"
              [readonly]="switchDemoService.model.readonly"
              [variant]="switchDemoService.model.variant"
              [disabled]="switchDemoService.model.disabled"
              [aria-label]="switchDemoService.model['aria-label']"
              [aria-labelledby]="switchDemoService.model['aria-labelledby']"
              [aria-describedby]="switchDemoService.model['aria-describedby']"
              [(ngModel)]="switchDemoService.groupValue[1]"
            />
            <ids-switch
              [label]="switchDemoService.model.label"
              [readonly]="switchDemoService.model.readonly"
              [variant]="switchDemoService.model.variant"
              [disabled]="switchDemoService.model.disabled"
              [aria-label]="switchDemoService.model['aria-label']"
              [aria-labelledby]="switchDemoService.model['aria-labelledby']"
              [aria-describedby]="switchDemoService.model['aria-describedby']"
              [(ngModel)]="switchDemoService.groupValue[2]"
            />
          </ids-switch-group>
        </div>
      </div>
    </app-tryout>
  </div>

  <div controls class="h-full">
    <app-tryout-controls>
      <app-control-table
        controls
        [controlName]="'Switch'"
        [configType]="'input'"
        [controlConfig]="switchDemoService.inputControlConfig"
        [(model)]="switchDemoService.model"
        (resetted)="switchDemoService.reset()"
      />
      <app-control-table
        controls
        [controlName]="'Switch group'"
        [configType]="'input'"
        [controlConfig]="switchDemoService.groupInputControlConfig"
        [(model)]="switchDemoService.groupModel"
        (resetted)="switchDemoService.reset()"
      />
    </app-tryout-controls>
  </div>
</app-demo-and-code>
