<div class="flex flex-col gap-4 max-w-2xl w-full">
  <div class="grid gap-2">
    <span>filled</span>
    <ids-notification appearance="filled" variant="info" class="w-full" [title]="'EXAMPLES.NOTIFICATION.APPEARANCES.CONTENT.FILLED_TITLE' | translate">
      {{ "EXAMPLES.NOTIFICATION.APPEARANCES.CONTENT.FILLED_MESSAGE" | translate }}
    </ids-notification>
  </div>

  <div class="grid gap-2">
    <span>outlined</span>
    <ids-notification appearance="outlined" variant="info" class="w-full" [title]="'EXAMPLES.NOTIFICATION.APPEARANCES.CONTENT.OUTLINED_TITLE' | translate">
      {{ "EXAMPLES.NOTIFICATION.APPEARANCES.CONTENT.OUTLINED_MESSAGE" | translate }}
    </ids-notification>
  </div>
</div>
