<app-tryout [title]="'COMPONENTS.CHIP' | translate" [hasDarkBackground]="model.variant === 'light'" (resetted)="reset()">
  <div component class="chip-grid">
    <div class="chip-item">
      <h2>{{ "COMMON.NON-INTERACTIVE" | translate }}</h2>
      <ids-chip [appearance]="model.appearance" [size]="model.size" [variant]="model.variant" (removed)="onChipRemove($event)">
        @if (helperModel.hasAvatar) {
          <ids-avatar>
            <ids-icon svgIcon="user-avatar" />
          </ids-avatar>
        }
        @if (helperModel.hasLeadingIcon) {
          <ids-icon fontIcon="key" idsLeadingIcon />
        }
        {{ helperModel.label }}
        @if (helperModel.hasTrailingIconButton) {
          <button type="button" idsIconButton>
            <ids-icon fontIcon="cart" />
          </button>
        }
      </ids-chip>
    </div>

    <div class="chip-item">
      <h2>{{ "COMMON.INTERACTIVE" | translate }}</h2>
      @if (interactivChipIsVisible) {
        <button
          idsChip
          type="button"
          [appearance]="model.appearance"
          [size]="model.size"
          [variant]="model.variant"
          [removable]="model.removable"
          [disabled]="model.disabled"
          (removed)="onChipRemove($event)"
        >
          @if (helperModel.hasAvatar) {
            <ids-avatar>
              <ids-icon svgIcon="user-avatar" />
            </ids-avatar>
          }
          @if (helperModel.hasLeadingIcon) {
            <ids-icon fontIcon="key" idsLeadingIcon />
          }
          {{ helperModel.label }}
          @if (helperModel.hasTrailingIconButton) {
            <button type="button" idsIconButton>
              <ids-icon fontIcon="cart" />
            </button>
          }
        </button>
      }
    </div>

    <div class="chip-item">
      <h2>{{ "COMMON.GROUPED" | translate }}</h2>
      @if (groupHelperModel.chipsAreInteractive) {
        <ids-chip-group [appearance]="groupModel.appearance" [size]="groupModel.size" [disabled]="groupModel.disabled">
          @for (chip of chipList; track chip.label) {
            <button
              idsChip
              type="button"
              [variant]="chip.variant"
              [removable]="model.removable"
              (removed)="onChipRemoveFromGroup($event, $index, chip.label)"
            >
              @if (helperModel.hasAvatar) {
                <ids-avatar>
                  <ids-icon svgIcon="user-avatar" />
                </ids-avatar>
              }
              @if (helperModel.hasLeadingIcon) {
                <ids-icon fontIcon="key" idsLeadingIcon />
              }
              {{ chip.label }}
              @if (helperModel.hasTrailingIconButton) {
                <button type="button" idsIconButton>
                  <ids-icon fontIcon="cart" />
                </button>
              }
            </button>
          }
        </ids-chip-group>
      } @else {
        <ids-chip-group [appearance]="groupModel.appearance" [size]="groupModel.size" [disabled]="groupModel.disabled">
          @for (chip of chipList; track chip.label) {
            <ids-chip [variant]="chip.variant">
              @if (helperModel.hasAvatar) {
                <ids-avatar>
                  <ids-icon svgIcon="user-avatar" />
                </ids-avatar>
              }
              @if (helperModel.hasLeadingIcon) {
                <ids-icon fontIcon="key" idsLeadingIcon />
              }
              {{ chip.label }}
              @if (helperModel.hasTrailingIconButton) {
                <button type="button" idsIconButton>
                  <ids-icon fontIcon="cart" />
                </button>
              }
            </ids-chip>
          }
        </ids-chip-group>
      }
    </div>
  </div>

  <app-control-table
    controls
    [controlName]="'Chip'"
    [configType]="'input'"
    [controlConfig]="_inputControlConfig"
    [(model)]="model"
    (resetted)="reset()"
  />
  <app-control-table
    controls
    [controlName]="'Chip'"
    [configType]="'helper'"
    [controlConfig]="_helperControlConfig"
    [(model)]="helperModel"
    (resetted)="reset()"
  />
  <app-control-table
    controls
    [controlName]="'Chip group'"
    [configType]="'input'"
    [controlConfig]="_groupInputControlConfig"
    [(model)]="groupModel"
    (resetted)="reset()"
  />
  <app-control-table
    controls
    [controlName]="'Chip group'"
    [configType]="'helper'"
    [controlConfig]="_groupHelperControlConfig"
    [(model)]="groupHelperModel"
    (resetted)="reset()"
  />
</app-tryout>
