:root {
  --ids-comp-size-compact-cards-size-border: var(--ids-smc-reference-container-border-width-md);
  --ids-comp-size-compact-cards-size-border-none: var(--ids-smc-reference-container-border-width-none);
  --ids-comp-size-compact-cards-size-border-radius: var(--ids-smc-reference-container-border-radius-md);
  --ids-comp-size-compact-cards-size-gap: var(--ids-smc-reference-container-gap-8);
  --ids-comp-size-compact-cards-size-padding-bottom: var(--ids-smc-reference-container-padding-8);
  --ids-comp-size-compact-cards-size-padding-media-x: var(--ids-smc-reference-container-spacing-0);
  --ids-comp-size-compact-cards-size-padding-media-y: var(--ids-smc-reference-container-spacing-0);
  --ids-comp-size-compact-cards-size-padding-top: var(--ids-smc-reference-container-padding-8);
  --ids-comp-size-compact-cards-size-padding-x: var(--ids-smc-reference-container-padding-8);
  --ids-comp-size-compact-avatar-size-padding-x: var(--ids-smc-reference-container-padding-4);
  --ids-comp-size-compact-avatar-size-padding-y: var(--ids-smc-reference-container-padding-4);
  --ids-comp-size-compact-avatar-size-border-radius: var(--ids-smc-reference-container-border-radius-full);
  --ids-comp-size-compact-avatar-size-icon: var(--ids-smc-reference-container-icons-nested-compact);
  --ids-comp-size-compact-avatar-size-height: var(--ids-smc-reference-container-size-height-24);
  --ids-comp-size-compact-avatar-size-width: var(--ids-smc-reference-container-size-width-24);
  --ids-comp-size-compact-avatar-size-gap: var(--ids-smc-reference-container-gap-8);
  --ids-comp-size-compact-avatar-size-border: var(--ids-smc-reference-container-border-width-sm);
  --ids-comp-size-compact-buttons-size-padding-x: var(--ids-smc-reference-container-padding-8);
  --ids-comp-size-compact-buttons-size-padding-y: var(--ids-smc-reference-container-padding-6);
  --ids-comp-size-compact-buttons-size-border-radius: var(--ids-smc-reference-container-border-radius-full);
  --ids-comp-size-compact-buttons-size-icon: var(--ids-smc-reference-container-icons-nested-compact);
  --ids-comp-size-compact-buttons-size-height: var(--ids-smc-reference-container-size-height-24);
  --ids-comp-size-compact-buttons-size-min-width: var(--ids-smc-reference-container-size-height-24);
  --ids-comp-size-compact-buttons-size-gap: var(--ids-smc-reference-container-gap-4);
  --ids-comp-size-compact-buttons-size-border: var(--ids-smc-reference-container-border-width-sm);
  --ids-comp-size-compact-icon-button-size-padding-x: var(--ids-smc-reference-container-padding-4);
  --ids-comp-size-compact-icon-button-size-padding-y: var(--ids-smc-reference-container-padding-4);
  --ids-comp-size-compact-icon-button-size-border-radius: var(--ids-smc-reference-container-border-radius-full);
  --ids-comp-size-compact-icon-button-size-icon: var(--ids-smc-reference-container-icons-nested-compact);
  --ids-comp-size-compact-icon-button-size-width: var(--ids-smc-reference-container-size-width-24);
  --ids-comp-size-compact-icon-button-size-height: var(--ids-smc-reference-container-size-height-24);
  --ids-comp-size-compact-icon-button-size-border: var(--ids-smc-reference-container-border-width-sm);
  --ids-comp-size-compact-action-panel-size-padding-x: var(--ids-smc-reference-container-padding-8);
  --ids-comp-size-compact-action-panel-size-padding-y: var(--ids-smc-reference-container-padding-8);
  --ids-comp-size-compact-action-panel-size-border-radius: var(--ids-smc-reference-container-border-radius-md);
  --ids-comp-size-compact-action-panel-size-border: var(--ids-smc-reference-container-border-width-md);
  --ids-comp-size-compact-action-panel-size-gap: var(--ids-smc-reference-container-gap-8);
  --ids-comp-size-compact-divider-size-width: var(--ids-smc-reference-container-size-height-1);
  --ids-comp-size-compact-divider-size-height: var(--ids-smc-reference-container-size-height-1);
  --ids-comp-size-compact-divider-size-border-radius: var(--ids-smc-reference-container-border-radius-none);
  --ids-comp-size-compact-action-item-button-size-padding-x: var(--ids-smc-reference-container-padding-4);
  --ids-comp-size-compact-action-item-button-size-padding-y: var(--ids-smc-reference-container-padding-4);
  --ids-comp-size-compact-action-item-button-size-border-radius: var(--ids-smc-reference-container-border-radius-2xs);
  --ids-comp-size-compact-action-item-button-size-gap: var(--ids-smc-reference-container-gap-4);
  --ids-comp-size-compact-action-item-button-size-icon: var(--ids-smc-reference-container-icons-nested-compact);
  --ids-comp-size-compact-action-item-button-size-height: var(--ids-smc-reference-container-size-height-24);
  --ids-comp-size-compact-action-item-button-size-border-width: var(--ids-smc-reference-container-border-width-sm);
  --ids-comp-size-compact-paginator-size-gap: var(--ids-smc-reference-container-gap-4);
  --ids-comp-size-compact-accordion-button-size-padding-x: var(--ids-smc-reference-container-padding-4);
  --ids-comp-size-compact-accordion-button-size-padding-y: var(--ids-smc-reference-container-padding-4);
  --ids-comp-size-compact-accordion-button-size-border-radius: var(--ids-smc-reference-container-border-radius-none);
  --ids-comp-size-compact-accordion-button-size-gap: var(--ids-smc-reference-container-gap-4);
  --ids-comp-size-compact-accordion-button-size-icon: var(--ids-smc-reference-container-icons-nested-compact);
  --ids-comp-size-compact-accordion-button-size-height: var(--ids-smc-reference-container-size-height-24);
  --ids-comp-size-compact-accordion-button-size-border-width: var(--ids-smc-reference-container-border-width-sm);
  --ids-comp-size-compact-accordion-panel-size-padding-x: var(--ids-smc-reference-container-padding-4);
  --ids-comp-size-compact-accordion-panel-size-padding-y: var(--ids-smc-reference-container-padding-8);
  --ids-comp-size-compact-accordion-panel-size-gap: var(--ids-smc-reference-container-gap-4);
  --ids-comp-size-compact-accordions-size-border-radius: var(--ids-smc-reference-container-border-radius-none);
  --ids-comp-size-compact-accordions-size-gap: var(--ids-smc-reference-container-gap-4);
  --ids-comp-size-compact-accordions-size-border: var(--ids-smc-reference-container-border-width-sm);
  --ids-comp-size-compact-tag-size-padding-x: var(--ids-smc-reference-container-padding-8);
  --ids-comp-size-compact-tag-size-padding-y: var(--ids-smc-reference-container-padding-8);
  --ids-comp-size-compact-tag-size-border-radius: var(--ids-smc-reference-container-border-radius-2xs);
  --ids-comp-size-compact-tag-size-icon: var(--ids-smc-reference-container-icons-nested-compact);
  --ids-comp-size-compact-tag-size-height: var(--ids-smc-reference-container-size-height-24);
  --ids-comp-size-compact-tag-size-gap: var(--ids-smc-reference-container-gap-4);
  --ids-comp-size-compact-tag-size-border: var(--ids-smc-reference-container-border-width-sm);
}