:root {
  --ids-comp-size-spacious-cards-size-border: var(--ids-smc-reference-container-border-width-md);
  --ids-comp-size-spacious-cards-size-border-none: var(--ids-smc-reference-container-border-width-none);
  --ids-comp-size-spacious-cards-size-border-radius: var(--ids-smc-reference-container-border-radius-xl);
  --ids-comp-size-spacious-cards-size-gap: var(--ids-smc-reference-container-gap-24);
  --ids-comp-size-spacious-cards-size-padding-bottom: var(--ids-smc-reference-container-padding-24);
  --ids-comp-size-spacious-cards-size-padding-media-x: var(--ids-smc-reference-container-spacing-0);
  --ids-comp-size-spacious-cards-size-padding-media-y: var(--ids-smc-reference-container-spacing-0);
  --ids-comp-size-spacious-cards-size-padding-top: var(--ids-smc-reference-container-padding-24);
  --ids-comp-size-spacious-cards-size-padding-x: var(--ids-smc-reference-container-padding-24);
  --ids-comp-size-spacious-avatar-size-padding-x: var(--ids-smc-reference-container-padding-6);
  --ids-comp-size-spacious-avatar-size-padding-y: var(--ids-smc-reference-container-padding-6);
  --ids-comp-size-spacious-avatar-size-border-radius: var(--ids-smc-reference-container-border-radius-full);
  --ids-comp-size-spacious-avatar-size-icon: var(--ids-smc-reference-icon-xl);
  --ids-comp-size-spacious-avatar-size-height: var(--ids-smc-reference-container-size-height-64);
  --ids-comp-size-spacious-avatar-size-width: var(--ids-smc-reference-container-size-width-64);
  --ids-comp-size-spacious-avatar-size-gap: var(--ids-smc-reference-container-gap-12);
  --ids-comp-size-spacious-avatar-size-border: var(--ids-smc-reference-container-border-width-sm);
  --ids-comp-size-spacious-buttons-size-padding-x: var(--ids-smc-reference-container-padding-24);
  --ids-comp-size-spacious-buttons-size-padding-y: var(--ids-smc-reference-container-padding-16);
  --ids-comp-size-spacious-buttons-size-border-radius: var(--ids-smc-reference-container-border-radius-full);
  --ids-comp-size-spacious-buttons-size-icon: var(--ids-smc-reference-container-icons-nested-spacious);
  --ids-comp-size-spacious-buttons-size-height: var(--ids-smc-reference-container-size-height-56);
  --ids-comp-size-spacious-buttons-size-min-width: var(--ids-smc-reference-container-size-height-56);
  --ids-comp-size-spacious-buttons-size-gap: var(--ids-smc-reference-container-gap-8);
  --ids-comp-size-spacious-buttons-size-border: var(--ids-smc-reference-container-border-width-sm);
  --ids-comp-size-spacious-icon-button-size-padding-x: var(--ids-smc-reference-container-padding-4);
  --ids-comp-size-spacious-icon-button-size-padding-y: var(--ids-smc-reference-container-padding-4);
  --ids-comp-size-spacious-icon-button-size-border-radius: var(--ids-smc-reference-container-border-radius-full);
  --ids-comp-size-spacious-icon-button-size-icon: var(--ids-smc-reference-container-icons-nested-spacious);
  --ids-comp-size-spacious-icon-button-size-width: var(--ids-smc-reference-container-size-width-56);
  --ids-comp-size-spacious-icon-button-size-height: var(--ids-smc-reference-container-size-height-56);
  --ids-comp-size-spacious-icon-button-size-border: var(--ids-smc-reference-container-border-width-sm);
  --ids-comp-size-spacious-action-panel-size-padding-x: var(--ids-smc-reference-container-padding-16);
  --ids-comp-size-spacious-action-panel-size-padding-y: var(--ids-smc-reference-container-padding-16);
  --ids-comp-size-spacious-action-panel-size-border-radius: var(--ids-smc-reference-container-border-radius-xl);
  --ids-comp-size-spacious-action-panel-size-border: var(--ids-smc-reference-container-border-width-md);
  --ids-comp-size-spacious-action-panel-size-gap: var(--ids-smc-reference-container-gap-16);
  --ids-comp-size-spacious-divider-size-width: var(--ids-smc-reference-container-size-height-4);
  --ids-comp-size-spacious-divider-size-height: var(--ids-smc-reference-container-size-height-4);
  --ids-comp-size-spacious-divider-size-border-radius: var(--ids-smc-reference-container-border-radius-none);
  --ids-comp-size-spacious-action-item-button-size-padding-x: var(--ids-smc-reference-container-padding-16);
  --ids-comp-size-spacious-action-item-button-size-padding-y: var(--ids-smc-reference-container-padding-16);
  --ids-comp-size-spacious-action-item-button-size-border-radius: var(--ids-smc-reference-container-border-radius-md);
  --ids-comp-size-spacious-action-item-button-size-gap: var(--ids-smc-reference-container-gap-16);
  --ids-comp-size-spacious-action-item-button-size-icon: var(--ids-smc-reference-container-icons-nested-spacious);
  --ids-comp-size-spacious-action-item-button-size-height: var(--ids-smc-reference-container-size-height-56);
  --ids-comp-size-spacious-action-item-button-size-border-width: var(--ids-smc-reference-container-border-width-sm);
  --ids-comp-size-spacious-paginator-size-gap: var(--ids-smc-reference-container-gap-12);
  --ids-comp-size-spacious-accordion-button-size-padding-x: var(--ids-smc-reference-container-padding-16);
  --ids-comp-size-spacious-accordion-button-size-padding-y: var(--ids-smc-reference-container-padding-16);
  --ids-comp-size-spacious-accordion-button-size-border-radius: var(--ids-smc-reference-container-border-radius-none);
  --ids-comp-size-spacious-accordion-button-size-gap: var(--ids-smc-reference-container-gap-16);
  --ids-comp-size-spacious-accordion-button-size-icon: var(--ids-smc-reference-container-icons-nested-spacious);
  --ids-comp-size-spacious-accordion-button-size-height: var(--ids-smc-reference-container-size-height-56);
  --ids-comp-size-spacious-accordion-button-size-border-width: var(--ids-smc-reference-container-border-width-sm);
  --ids-comp-size-spacious-accordion-panel-size-padding-x: var(--ids-smc-reference-container-padding-16);
  --ids-comp-size-spacious-accordion-panel-size-padding-y: var(--ids-smc-reference-container-padding-16);
  --ids-comp-size-spacious-accordion-panel-size-gap: var(--ids-smc-reference-container-gap-16);
  --ids-comp-size-spacious-accordions-size-border-radius: var(--ids-smc-reference-container-border-radius-none);
  --ids-comp-size-spacious-accordions-size-gap: var(--ids-smc-reference-container-gap-8);
  --ids-comp-size-spacious-accordions-size-border: var(--ids-smc-reference-container-border-width-sm);
  --ids-comp-size-spacious-tag-size-padding-x: var(--ids-smc-reference-container-padding-24);
  --ids-comp-size-spacious-tag-size-padding-y: var(--ids-smc-reference-container-padding-16);
  --ids-comp-size-spacious-tag-size-border-radius: var(--ids-smc-reference-container-border-radius-full);
  --ids-comp-size-spacious-tag-size-icon: var(--ids-smc-reference-container-icons-nested-spacious);
  --ids-comp-size-spacious-tag-size-height: var(--ids-smc-reference-container-size-height-56);
  --ids-comp-size-spacious-tag-size-gap: var(--ids-smc-reference-container-gap-8);
  --ids-comp-size-spacious-tag-size-border: var(--ids-smc-reference-container-border-width-sm);
}