:root {
  --ids-comp-size-comfortable-cards-size-border: var(--ids-smc-reference-container-border-width-md);
  --ids-comp-size-comfortable-cards-size-border-none: var(--ids-smc-reference-container-border-width-none);
  --ids-comp-size-comfortable-cards-size-border-radius: var(--ids-smc-reference-container-border-radius-lg);
  --ids-comp-size-comfortable-cards-size-gap: var(--ids-smc-reference-container-gap-16);
  --ids-comp-size-comfortable-cards-size-padding-bottom: var(--ids-smc-reference-container-padding-16);
  --ids-comp-size-comfortable-cards-size-padding-media-x: var(--ids-smc-reference-container-spacing-0);
  --ids-comp-size-comfortable-cards-size-padding-media-y: var(--ids-smc-reference-container-spacing-0);
  --ids-comp-size-comfortable-cards-size-padding-top: var(--ids-smc-reference-container-padding-16);
  --ids-comp-size-comfortable-cards-size-padding-x: var(--ids-smc-reference-container-padding-16);
  --ids-comp-size-comfortable-avatar-size-padding-x: var(--ids-smc-reference-container-padding-4);
  --ids-comp-size-comfortable-avatar-size-padding-y: var(--ids-smc-reference-container-padding-4);
  --ids-comp-size-comfortable-avatar-size-border-radius: var(--ids-smc-reference-container-border-radius-full);
  --ids-comp-size-comfortable-avatar-size-icon: var(--ids-smc-reference-container-icons-nested-comfortable);
  --ids-comp-size-comfortable-avatar-size-height: var(--ids-smc-reference-container-size-height-40);
  --ids-comp-size-comfortable-avatar-size-width: var(--ids-smc-reference-container-size-width-40);
  --ids-comp-size-comfortable-avatar-size-gap: var(--ids-smc-reference-container-gap-8);
  --ids-comp-size-comfortable-avatar-size-border: var(--ids-smc-reference-container-border-width-sm);
  --ids-comp-size-comfortable-buttons-size-padding-x: var(--ids-smc-reference-container-padding-20);
  --ids-comp-size-comfortable-buttons-size-padding-y: var(--ids-smc-reference-container-padding-10);
  --ids-comp-size-comfortable-buttons-size-border-radius: var(--ids-smc-reference-container-border-radius-full);
  --ids-comp-size-comfortable-buttons-size-icon: var(--ids-smc-reference-container-icons-nested-comfortable);
  --ids-comp-size-comfortable-buttons-size-height: var(--ids-smc-reference-container-size-height-40);
  --ids-comp-size-comfortable-buttons-size-min-width: var(--ids-smc-reference-container-size-height-40);
  --ids-comp-size-comfortable-buttons-size-gap: var(--ids-smc-reference-container-gap-8);
  --ids-comp-size-comfortable-buttons-size-border: var(--ids-smc-reference-container-border-width-sm);
  --ids-comp-size-comfortable-icon-button-size-padding-x: var(--ids-smc-reference-container-padding-4);
  --ids-comp-size-comfortable-icon-button-size-padding-y: var(--ids-smc-reference-container-padding-4);
  --ids-comp-size-comfortable-icon-button-size-border-radius: var(--ids-smc-reference-container-border-radius-full);
  --ids-comp-size-comfortable-icon-button-size-icon: var(--ids-smc-reference-container-icons-nested-comfortable);
  --ids-comp-size-comfortable-icon-button-size-width: var(--ids-smc-reference-container-size-width-40);
  --ids-comp-size-comfortable-icon-button-size-height: var(--ids-smc-reference-container-size-height-40);
  --ids-comp-size-comfortable-icon-button-size-border: var(--ids-smc-reference-container-border-width-sm);
  --ids-comp-size-comfortable-action-panel-size-padding-x: var(--ids-smc-reference-container-padding-10);
  --ids-comp-size-comfortable-action-panel-size-padding-y: var(--ids-smc-reference-container-padding-10);
  --ids-comp-size-comfortable-action-panel-size-border-radius: var(--ids-smc-reference-container-border-radius-lg);
  --ids-comp-size-comfortable-action-panel-size-border: var(--ids-smc-reference-container-border-width-md);
  --ids-comp-size-comfortable-action-panel-size-gap: var(--ids-smc-reference-container-gap-12);
  --ids-comp-size-comfortable-divider-size-width: var(--ids-smc-reference-container-size-height-2);
  --ids-comp-size-comfortable-divider-size-height: var(--ids-smc-reference-container-size-height-2);
  --ids-comp-size-comfortable-divider-size-border-radius: var(--ids-smc-reference-container-border-radius-none);
  --ids-comp-size-comfortable-action-item-button-size-padding-x: var(--ids-smc-reference-container-padding-8);
  --ids-comp-size-comfortable-action-item-button-size-padding-y: var(--ids-smc-reference-container-padding-8);
  --ids-comp-size-comfortable-action-item-button-size-border-radius: var(--ids-smc-reference-container-border-radius-xs);
  --ids-comp-size-comfortable-action-item-button-size-gap: var(--ids-smc-reference-container-gap-8);
  --ids-comp-size-comfortable-action-item-button-size-icon: var(--ids-smc-reference-container-icons-nested-comfortable);
  --ids-comp-size-comfortable-action-item-button-size-height: var(--ids-smc-reference-container-size-height-44);
  --ids-comp-size-comfortable-action-item-button-size-border-width: var(--ids-smc-reference-container-border-width-sm);
  --ids-comp-size-comfortable-paginator-size-gap: var(--ids-smc-reference-container-gap-8);
  --ids-comp-size-comfortable-accordion-button-size-padding-x: var(--ids-smc-reference-container-padding-8);
  --ids-comp-size-comfortable-accordion-button-size-padding-y: var(--ids-smc-reference-container-padding-8);
  --ids-comp-size-comfortable-accordion-button-size-border-radius: var(--ids-smc-reference-container-border-radius-none);
  --ids-comp-size-comfortable-accordion-button-size-gap: var(--ids-smc-reference-container-gap-8);
  --ids-comp-size-comfortable-accordion-button-size-icon: var(--ids-smc-reference-container-icons-nested-comfortable);
  --ids-comp-size-comfortable-accordion-button-size-height: var(--ids-smc-reference-container-size-height-44);
  --ids-comp-size-comfortable-accordion-button-size-border-width: var(--ids-smc-reference-container-border-width-sm);
  --ids-comp-size-comfortable-accordion-panel-size-padding-x: var(--ids-smc-reference-container-padding-8);
  --ids-comp-size-comfortable-accordion-panel-size-padding-y: var(--ids-smc-reference-container-padding-10);
  --ids-comp-size-comfortable-accordion-panel-size-gap: var(--ids-smc-reference-container-gap-8);
  --ids-comp-size-comfortable-accordions-size-border-radius: var(--ids-smc-reference-container-border-radius-none);
  --ids-comp-size-comfortable-accordions-size-gap: var(--ids-smc-reference-container-gap-8);
  --ids-comp-size-comfortable-accordions-size-border: var(--ids-smc-reference-container-border-width-sm);
  --ids-comp-size-comfortable-tag-size-padding-x: var(--ids-smc-reference-container-padding-20);
  --ids-comp-size-comfortable-tag-size-padding-y: var(--ids-smc-reference-container-padding-6);
  --ids-comp-size-comfortable-tag-size-border-radius: var(--ids-smc-reference-container-border-radius-xs);
  --ids-comp-size-comfortable-tag-size-icon: var(--ids-smc-reference-container-icons-nested-comfortable);
  --ids-comp-size-comfortable-tag-size-height: var(--ids-smc-reference-container-size-height-32);
  --ids-comp-size-comfortable-tag-size-gap: var(--ids-smc-reference-container-gap-8);
  --ids-comp-size-comfortable-tag-size-border: var(--ids-smc-reference-container-border-width-sm);
}