<div class="flex flex-col gap-8">
  <div class="grid gap-2">
    <span>small</span>
    <div class="flex gap-8 items-center">
      <ids-spinner sizeCollection="small" size="dense" aria-label="Loading" />
      <ids-spinner sizeCollection="small" size="compact" aria-label="Loading" />
      <ids-spinner sizeCollection="small" size="comfortable" aria-label="Loading" />
      <ids-spinner sizeCollection="small" size="spacious" aria-label="Loading" />
    </div>
  </div>

  <div class="grid gap-2">
    <span>big</span>
    <div class="flex gap-8 items-center">
      <ids-spinner sizeCollection="big" size="dense" aria-label="Loading" />
      <ids-spinner sizeCollection="big" size="compact" aria-label="Loading" />
      <ids-spinner sizeCollection="big" size="comfortable" aria-label="Loading" />
      <ids-spinner sizeCollection="big" size="spacious" aria-label="Loading" />
    </div>
  </div>
</div>
