<div class="ids-pseudo-checkbox__input-wrapper">
  <input
    type="checkbox"
    [disabled]="disabled()"
    [attr.aria-checked]="_isIndeterminate() ? 'mixed' : null"
    [checked]="_isChecked()"
    [indeterminate]="_isIndeterminate()"
    (change)="$event.stopPropagation()"
  />
  <div class="ids-pseudo-checkbox__icon" aria-hidden="true">
    @if (_isIndeterminate()) {
      <ids-icon fontSet="idsbase" fontIcon="remove" aria-hidden="true" />
    }
    @if (_isChecked()) {
      <ids-icon fontSet="idsbase" fontIcon="done" aria-hidden="true" />
    }
  </div>
</div>
