<app-demo-and-code (resetDemo)="_radioDemoService.reset()">
  <div demo class="w-full h-full flex justify-center items-center">
    <app-tryout
      [title]="'COMPONENTS.RADIO' | translate"
      [hasDarkBackground]="_radioDemoService.model.variant === 'light'"
      (resetted)="_radioDemoService.reset()"
    >
      <div component class="flex gap-12" [ngStyle]="{ 'flex-direction': _radioDemoService.model.orientation === 'horizontal' ? 'column' : 'row' }">
        <div class="flex flex-col gap-4">
          <h2>Grouped with validator</h2>
          <form [formGroup]="_radioDemoService.form" (ngSubmit)="_radioDemoService.form.markAllAsTouched()">
            <ids-radio-group
              formControlName="selection"
              [name]="_radioDemoService.model.name + '-grouped-with-validator'"
              [size]="_radioDemoService.model.size"
              [variant]="_radioDemoService.model.variant"
              [orientation]="_radioDemoService.model.orientation"
              [labelPosition]="_radioDemoService.model.labelPosition"
              [label]="_radioDemoService.helperModel.showGroupLabel ? _radioDemoService.model.name + '-simple' : ''"
            >
              @if (_radioDemoService.helperModel.showGroupHintMessage) {
                <ids-hint-message [disabled]="_radioDemoService.model.disabled">{{ _radioDemoService.helperModel.hintMessage }}</ids-hint-message>
              }

              <ids-radio value="chicken">Chicken
                @if (_radioDemoService.helperModel.allowHint) {
                  <ids-hint-message [disabled]="_radioDemoService.model.disabled">{{ _radioDemoService.helperModel.hintMessage }}</ids-hint-message>
                }
              </ids-radio>
              <ids-radio value="beef" [disabled]="_radioDemoService.helperModel.onlyOneItemIsDisabled">Beef
                @if (_radioDemoService.helperModel.allowHint) {
                  <ids-hint-message [disabled]="_radioDemoService.model.disabled">{{ _radioDemoService.helperModel.hintMessage }}</ids-hint-message>
                }
              </ids-radio>
              <ids-radio value="pork">Pork
                @if (_radioDemoService.helperModel.allowHint) {
                  <ids-hint-message [disabled]="_radioDemoService.model.disabled">{{ _radioDemoService.helperModel.hintMessage }}</ids-hint-message>
                }
              </ids-radio>
              <ids-radio value="fish">Fish
                @if (_radioDemoService.helperModel.allowHint) {
                  <ids-hint-message [disabled]="_radioDemoService.model.disabled">{{ _radioDemoService.helperModel.hintMessage }}</ids-hint-message>
                }
              </ids-radio>
              <ids-error-message>
                <ids-error-def code="required">This field is required</ids-error-def>
              </ids-error-message>
            </ids-radio-group>
            <button type="submit">Submit</button>
          </form>
          <h2>Simple group</h2>
          <ids-radio-group
            [name]="_radioDemoService.model.name + '-simple'"
            [required]="_radioDemoService.model.required"
            [disabled]="_radioDemoService.model.disabled"
            [size]="_radioDemoService.model.size"
            [variant]="_radioDemoService.model.variant"
            [orientation]="_radioDemoService.model.orientation"
            [labelPosition]="_radioDemoService.model.labelPosition"
            [label]="_radioDemoService.helperModel.showGroupLabel ? _radioDemoService.model.name + '-simple' : ''"
            [(ngModel)]="_radioDemoService.simpleValue"
          >
            @if (_radioDemoService.helperModel.showGroupHintMessage) {
              <ids-hint-message [disabled]="_radioDemoService.model.disabled">{{ _radioDemoService.helperModel.hintMessage }}</ids-hint-message>
            }

            <ids-radio value="chicken">Chicken
              @if (_radioDemoService.helperModel.allowHint) {
                <ids-hint-message [disabled]="_radioDemoService.model.disabled">{{ _radioDemoService.helperModel.hintMessage }}</ids-hint-message>
              }
            </ids-radio>
            <ids-radio value="beef" [disabled]="_radioDemoService.helperModel.onlyOneItemIsDisabled">Beef
              @if (_radioDemoService.helperModel.allowHint) {
                <ids-hint-message [disabled]="_radioDemoService.model.disabled">{{ _radioDemoService.helperModel.hintMessage }}</ids-hint-message>
              }
            </ids-radio>
            <ids-radio value="pork">Pork
              @if (_radioDemoService.helperModel.allowHint) {
                <ids-hint-message [disabled]="_radioDemoService.model.disabled">{{ _radioDemoService.helperModel.hintMessage }}</ids-hint-message>
              }
            </ids-radio>
            <ids-radio value="fish">Fish
              @if (_radioDemoService.helperModel.allowHint) {
                <ids-hint-message [disabled]="_radioDemoService.model.disabled">{{ _radioDemoService.helperModel.hintMessage }}</ids-hint-message>
              }
            </ids-radio>

            @if (_radioDemoService.model.required) {
              <ids-error-message>
                This field is required
              </ids-error-message>
            }
          </ids-radio-group>
        </div>
        <div class="flex flex-col gap-4">
          <h2>Wrapped in cards</h2>
          <ids-radio-group
            #radioGroup
            [name]="_radioDemoService.model.name + '-cards'"
            [required]="_radioDemoService.model.required"
            [disabled]="_radioDemoService.model.disabled"
            [size]="_radioDemoService.model.size"
            [variant]="_radioDemoService.model.variant"
            [orientation]="_radioDemoService.model.orientation"
            [labelPosition]="_radioDemoService.model.labelPosition"
            [label]="_radioDemoService.helperModel.showGroupLabel ? _radioDemoService.model.name + '-wrapped' : ''"
            [(ngModel)]="_radioDemoService.wrappedValue"
          >
            @if (_radioDemoService.helperModel.showGroupHintMessage) {
              <ids-hint-message [disabled]="_radioDemoService.model.disabled">{{ _radioDemoService.helperModel.hintMessage }}</ids-hint-message>
            }
            <ids-card appearance="outlined" size="comfortable">
              <ids-radio value="chicken">Chicken
                @if (_radioDemoService.helperModel.allowHint) {
                  <ids-hint-message [disabled]="_radioDemoService.model.disabled">{{ _radioDemoService.helperModel.hintMessage }}</ids-hint-message>
                }
              </ids-radio>
            </ids-card>
            <ids-card appearance="outlined" size="comfortable">
              <ids-radio value="beef" [disabled]="_radioDemoService.helperModel.onlyOneItemIsDisabled || _radioDemoService.model.disabled">Beef
                @if (_radioDemoService.helperModel.allowHint) {
                  <ids-hint-message [disabled]="_radioDemoService.model.disabled || _radioDemoService.helperModel.onlyOneItemIsDisabled">{{ _radioDemoService.helperModel.hintMessage }}</ids-hint-message>
                }
              </ids-radio>
            </ids-card>
            <ids-card appearance="outlined" size="comfortable">
              <ids-radio value="pork">Pork
                @if (_radioDemoService.helperModel.allowHint) {
                  <ids-hint-message [disabled]="_radioDemoService.model.disabled">{{ _radioDemoService.helperModel.hintMessage }}</ids-hint-message>
                }
              </ids-radio>
            </ids-card>
            <ids-card appearance="outlined" size="comfortable">
              <ids-radio value="fish">Fish
                @if (_radioDemoService.helperModel.allowHint) {
                  <ids-hint-message [disabled]="_radioDemoService.model.disabled">{{ _radioDemoService.helperModel.hintMessage }}</ids-hint-message>
                }
              </ids-radio>
            </ids-card>
          </ids-radio-group>
        </div>
      </div>
    </app-tryout>
  </div>

  <div controls class="h-full">
    <app-tryout-controls>
      <app-control-table
        controls
        configType="input"
        [controlConfig]="_radioDemoService.inputControlConfig"
        [(model)]="_radioDemoService.model"
        (resetted)="_radioDemoService.reset()"
      />
      <app-control-table
        controls
        configType="helper"
        [controlConfig]="_radioDemoService.helperControlConfig"
        [(model)]="_radioDemoService.helperModel"
        (resetted)="_radioDemoService.reset()"
      />
    </app-tryout-controls>
  </div>
</app-demo-and-code>
