<div class="flex flex-col gap-12">
@if (heroData; as hero) {
    <app-hero [heroData]="hero"/>
  }  

  <div class="grid md:grid-cols-2 lg:grid-cols-2 gap-8">
    
    @if (componentBlocks.length) {
      @for (item of componentBlocks; track $index) {
          @if (item.type === "heading") {
            <div>
              <h2 class="text-headline-small-prominent text-ids-page-fg-surface-default">
                {{ item.heading }}
              </h2>
            </div>
          }
          
          <div>  
            @if (item.type === "card") {
              <app-content-card [contentCardData]="item"  />
            }
          </div>

        }
    }
  </div>
</div>
