<button
  #button
  type="button"
  [id]="_buttonId()"
  [attr.role]="_role()"
  [attr.tabindex]="_parentOrSelfDisabled() ? -1 : tabIndex()"
  [attr.aria-pressed]="_ariaPressed()"
  [attr.aria-checked]="_ariaChecked()"
  [disabled]="_parentOrSelfDisabled() || null"
  [attr.name]="_buttonName()"
  [attr.aria-label]="ariaLabel()"
  [attr.aria-labelledby]="ariaLabelledBy()"
  [class]="_buttonClasses()"
  (click)="onClick()"
>
  @if (selected()) {
    <ids-icon fontSet="idsbase" aria-hidden="true" fontIcon="done" />
  }
  @if (!selected() || !label()) {
    <ng-content select="ids-icon" />
  }

  {{ label() }}

  <ng-content select="[suffixContent]" />
</button>
