$sizes: compact, comfortable, spacious, dense;

ids-icon {
  display: inline-flex;

  svg {
    color: currentColor;
    fill: currentColor;
  }

  @each $size in $sizes {
    &.ids-icon-#{$size} {
      // FIXME: using icon-button's icon size tokens for now
      width: var(--ids-comp-icon-button-size-icon-#{$size});
      height: var(--ids-comp-icon-button-size-icon-#{$size});
    }
  }
}
