<app-tryout [title]="'COMPONENTS.ICON_BUTTON' | translate" (resetted)="reset()">
  <ng-container component>
    <button
      type="button"
      idsIconButton
      [id]="model.appearance + '-' + model.variant + '-' + model.size + '-icon-button'"
      [size]="model.size"
      [variant]="model.variant"
      [appearance]="model.appearance"
      [disabled]="model.disabled"
      (click)="onClick(model.appearance + '-' + model.variant + '-' + model.size)"
    >
      <ids-icon aria-hidden="true" alt="" fontIcon="search" />
    </button>
  </ng-container>

  <app-control-table controls [configType]="'input'" [controlConfig]="_inputControlConfig" [(model)]="model" (resetted)="reset()" />
</app-tryout>
