<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayPositions]="positions()"
  [cdkConnectedOverlayOrigin]="origin()"
  [cdkConnectedOverlayOpen]="open()"
  [cdkConnectedOverlayPanelClass]="_hostClasses()"
  [cdkConnectedOverlayScrollStrategy]="_scrollStrategy"
  (overlayOutsideClick)="_close()"
  (detach)="_close()"
>
  <div
    cdkTrapFocus
    [ngClass]="[panelClasses(), _panelClasses()]"
    [style.visibility]="_originHidden() ? 'hidden' : null"
  >
    <ng-content/>
  </div>
</ng-template>
