<div class="flex flex-col gap-ids-container-gap-12">
  <div class="flex flex-wrap gap-ids-container-gap-12">
    <ids-card variant="primary" appearance="elevated"
      ><ids-card-body>{{ "EXAMPLES.CARD.VARIANTS.CONTENT.PRIMARY" | translate }}</ids-card-body></ids-card
    >
    <ids-card variant="secondary" appearance="elevated"
      ><ids-card-body>{{ "EXAMPLES.CARD.VARIANTS.CONTENT.SECONDARY" | translate }}</ids-card-body></ids-card
    >
    <ids-card variant="brand" appearance="elevated"
      ><ids-card-body>{{ "EXAMPLES.CARD.VARIANTS.CONTENT.BRAND" | translate }}</ids-card-body></ids-card
    >
    <ids-card variant="surface" appearance="elevated"
      ><ids-card-body>{{ "EXAMPLES.CARD.VARIANTS.CONTENT.SURFACE" | translate }}</ids-card-body></ids-card
    >
    <ids-card variant="success" appearance="elevated"
      ><ids-card-body>{{ "EXAMPLES.CARD.VARIANTS.CONTENT.SUCCESS" | translate }}</ids-card-body></ids-card
    >
  </div>
  <div class="flex flex-wrap gap-ids-container-gap-12">
    <ids-card variant="warning" appearance="elevated"
      ><ids-card-body>{{ "EXAMPLES.CARD.VARIANTS.CONTENT.WARNING" | translate }}</ids-card-body></ids-card
    >
    <ids-card variant="error" appearance="elevated"
      ><ids-card-body>{{ "EXAMPLES.CARD.VARIANTS.CONTENT.ERROR" | translate }}</ids-card-body></ids-card
    >
    <ids-card variant="info" appearance="elevated"
      ><ids-card-body>{{ "EXAMPLES.CARD.VARIANTS.CONTENT.INFO" | translate }}</ids-card-body></ids-card
    >
    <ids-card variant="light" appearance="elevated"
      ><ids-card-body>{{ "EXAMPLES.CARD.VARIANTS.CONTENT.LIGHT" | translate }}</ids-card-body></ids-card
    >
    <ids-card variant="dark" appearance="elevated"
      ><ids-card-body>{{ "EXAMPLES.CARD.VARIANTS.CONTENT.DARK" | translate }}</ids-card-body></ids-card
    >
  </div>
</div>
