<div class="side-sheet-sizes-grid">
  <div class="side-sheet-sizes-item">
    <ids-side-sheet type="inline" size="dense" title="Dense" [open]="true">
      <p>{{ "EXAMPLES.SIDE_SHEET.SIZES.CONTENT.BODY" | translate }}</p>
    </ids-side-sheet>
  </div>
  <div class="side-sheet-sizes-item">
    <ids-side-sheet type="inline" size="compact" title="Compact" [open]="true">
      <p>{{ "EXAMPLES.SIDE_SHEET.SIZES.CONTENT.BODY" | translate }}</p>
    </ids-side-sheet>
  </div>
  <div class="side-sheet-sizes-item">
    <ids-side-sheet type="inline" size="comfortable" title="Comfortable" [open]="true">
      <p>{{ "EXAMPLES.SIDE_SHEET.SIZES.CONTENT.BODY" | translate }}</p>
    </ids-side-sheet>
  </div>
  <div class="side-sheet-sizes-item">
    <ids-side-sheet type="inline" size="spacious" title="Spacious" [open]="true">
      <p>{{ "EXAMPLES.SIDE_SHEET.SIZES.CONTENT.BODY" | translate }}</p>
    </ids-side-sheet>
  </div>
</div>
